[2021-11-11 15:48] sbrannen commented on #1247
Blocked by:

- https://github.com/graalvm/native-build-tools/issues/162

[2021-11-11 16:24] sdeleuze commented on #1247
I am not sure to understand why `native-agent` mode configuration [has been removed](https://github.com/spring-projects-experimental/spring-native/commit/0d6cd88ef01caa0f3bd7ab2c82c7c6d5ad96b8de#diff-c49e07941ee78a48d0b48116b91254aad0cc9c200ad0715c583b3fba20828b9eL68), could you please share more about that?

[2021-11-11 16:56] sdeleuze opened #1253 "Skip Maven AOT test generation when there is no test"
Will avoid native build tools to fail with Maven when there is no test.

[2021-11-11 17:25] #1253 closed

[2021-11-11 17:45] sdeleuze commented on #1244
Likely already fixed via https://github.com/spring-projects/spring-boot/issues/28437 by [this commit](https://github.com/spring-projects/spring-boot/commit/837e2ac277bf9496e07238431710251c083c7a0b#diff-eeafdb972416cd3b95198ce3acd830206b4031920363e8cdac43ff76e0b30df3R402) which will be part of Spring Boot 2.6.0.

[2021-11-11 17:45] #1244 closed

[2021-11-11 17:47] sdeleuze commented on #1228
We do not provide MyBatis support yet, see #404.

[2021-11-11 17:47] #1228 closed

[2021-11-11 18:12] sdeleuze commented on #1252
In fact, [that does not work](https://ci.spring.io/teams/spring-native/pipelines/spring-native-0.11.x/jobs/build-samples-java11/builds/91) so I will fix that regression with related tests asap.

[2021-11-11 18:15] sdeleuze commented on #1215
The compile script seems to be broken (deploy does not work, wrong version used for the Docker image) but doing `mvn clean package -P docker-image-native` then `docker run --name callee-service-native --rm -p50900:50900 goafabric/callee-service-native:1.1.1-native11-SNAPSHOT` works for me.

@goafabric Could you please double check on your side?

[2021-11-11 18:19] sdeleuze commented on #1242
This is breaking `petclinic-jdbc` tests (at least) so let's try to solve it for RC1.

[2021-11-11 19:58] sergey-morenets commented on #1251
@sdeleuze Thank you, I will try that.

[2021-11-11 20:07] sergey-morenets opened #1254 "Spring Cloud Consul and org.springframework.boot.context.config.ConfigDataResourceNotFoundException"
Hi

We're using Spring Cloud Consul in our application to store and fetch distributed configuration:

[code]

When we try to generate native image using the latest version of Aot plugin (0.11.0-M2) we receive an error that consul host is not found (it's available only in production):

[code]

Our build script:

[code]

[2021-11-12 07:23] goafabric commented on #1215
@sdeleuze
you are right, the build-native script is incorrect .. which doesn't matter because everything is built through github actions
additionally spring security was deactivated on that branch .. sry i should have made that clear

i reactivated and triggered a new build .. which will break eventually

[2021-11-12 07:27] sdeleuze commented on #1169
@sbrannen Could you please provide an updated status for this issue?

[2021-11-12 07:35] goafabric commented on #1215
build works .. but the docker run from maven then crashes
                                    <goals>
                                        <goal>exec</goal>
                                    </goals>
                                    <configuration>
                                        <executable>docker</executable>
                                        <arguments>

[2021-11-12 09:00] sbrannen commented on #1247
Good catch!

That was an experiment that I forgot to undo before committing.

I'll add it back.

[2021-11-12 10:03] ttddyy opened #1255 "Calls to beanFactory.getType() can return null and are not properly guarded"
### Problem

When a `FactoryBean` resolves its supporting type dynamically, code generation fails with NPE due to `beanFactory.getType(beanName)` cannot resolve the target type.
This is because the `beanFactory` used in AOT does not instantiate the factory beans.
If they are instantiated, the `BeanFactory#getType()` calls `FactoryBean#getObjectType()` on the target factory's bean instance to resol

[2021-11-12 10:18] sbrannen opened #1256 "Document Maven compatibility issues with Native Build Tools"
## Overview

See https://github.com/spring-projects-experimental/spring-native/pull/1206#issuecomment-961674277

## Related Issues

- https://github.com/graalvm/native-build-tools/issues/151

[2021-11-12 10:25] sbrannen commented on #1169
In 7c600f721f44b681249502fc2af39811f6f7b5e5, I pushed the **second approach** using the AABPP in a new TestExecutionListener.

All of the key samples are working with `@Autowired` fields in test classes.

So we can go with this approach for now and revisit if we want to switch to the **first approach** later.

In light of that, I am leaving this issue open for further discussion.

[2021-11-12 10:44] sbrannen commented on #1169
That's correct.

Funny you should suggest that.

"Funny" because you suggested we do something like several weeks ago, and I told you it was not possible with the standard feature set of the TCF.

But... it turns out that Spring Boot 1.4.1 actually introduced a mechanism for doing just that, the `DefaultTestExecutionListenersPostProcessor` SPI supported by the `SpringBootTestContextBootstrapper` w

[2021-11-12 10:49] snicoll commented on #1169
That's not what I am talking about though. If we rewrite spring.factories, we could filter the entries as well. We're doing that in other places.

[2021-11-12 10:50] bitbaggi opened #1257 "LinkedHashSet.<init>() method not found"
Hello guys,

in our test-application for spring-native builds/starts are failing since today.
With the spring-native release of yesterday building and starting was successful.

Build is working fine, but when we start the application we got a NoSuchMethodException.

This is the failing log of the application:
`app      | 10:40:40.386 [main] INFO org.springframework.boot.SpringApplication - AOT mod

[2021-11-12 10:58] sbrannen commented on #1169
Yes, I know what you're talking about.

Spring Boot's mechanism kicks in after the list of class names for TestExecutionListeners has been loaded from `spring.factories`.

That post processor from Boot replaces `DependencyInjectionTestExecutionListener.class` with `SpringBootDependencyInjectionTestExecutionListener.class` in the list of class names to instantiate.

All of our sample applications c

[2021-11-12 12:11] #1257 closed

[2021-11-12 12:11] #1252 closed

[2021-11-12 14:22] #1208 closed

[2021-11-12 14:28] sdeleuze commented on #1130
Remaining ones are listed [here](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-native-configuration/src/main/resources/META-INF/services/org.springframework.nativex.type.ComponentProcessor).

[2021-11-14 04:21] ttddyy opened #1258 "AotDependencyInjectionTestExecutionListener fails to run with vanilla Boot tests"
The new `AotDependencyInjectionTestExecutionListener` is part of the `spring.factories` and loaded automatically regardless of the tests have AOT generated code or not.

When running tests **without AOT generated code**, it fails with the following error:

[code]

The `AotDependencyInjectionTestExecutionListener` listener [assigns an `AotContextLoader` instance in a static variable](https://github

[2021-11-14 14:56] hdeadman commented on #1226
I made this PR to get past this issue: https://github.com/spring-projects-experimental/spring-native/pull/1259

[2021-11-15 07:24] sdeleuze commented on #1169
@snicoll @sbrannen Could you please synchronize to define remaining tasks required before closing this issue and update it accordingly?

[2021-11-15 07:30] #1205 closed

[2021-11-15 08:59] sbrannen commented on #1169
Resolution of this issue is closely related to #1258.

[2021-11-15 09:44] snicoll commented on #1169
IMO one of those issues should be closed. It's quite confusing that a proposal for this issue has been pushed and a bug, in a separate issue has been raised while this one is still open.

[2021-11-15 09:49] snicoll commented on #1242
@sbrannen can you please give us a status update of what you've tried so that I don't duplicate the effort?

[2021-11-15 09:52] sdeleuze commented on #1169
@sbrannen Since we have autowiring working on a sample and indeed #1258 opened, let's maybe close that one otherwise that's confusing (at least to me). We can create follow-up more focused issues for refinements.

[2021-11-15 12:00] snicoll commented on #1242
Everything goes in the direction of being able to swap the `TestContextBootstrapper` that the test uses. We won't be able to get that short term so rewriting `spring.factories` to remove `org.springframework.boot.test.context.ImportsContextCustomizerFactory` could be one good option.

[2021-11-15 12:49] sbrannen commented on #1242
Indeed, that may be the most robust solution in the end.

I thought about that as well, but the thing is that the context customizers have to be present/instantiated/registered in order for the `MergedContextConfiguration` to do its job as the key for the `ContextCache`.

[2021-11-15 12:55] sbrannen commented on #1242
I didn't have a solution in place. Rather, I was investigating/contemplating possible solutions.

One thing I was considering was "caching" the calculated `ContextCustomizerKey` (or what it needs as input) for the `ImportsContextCustomizer` at build time, making that available via some generated factory (or similar approach), and then implementing a native substitution for the `ImportsContextCusto

[2021-11-15 13:14] snicoll opened #1262 "Fix MergedContextConfiguration cache key for runtime contexts"
While #1242 prevents certain `ContextCustomizerFactory` implementations from running again at runtime and lets us support more test use cases in a native image, it has the side effect of not providing the same key for the created `MergedContextConfiguration` as some of these implementations have an impact on the key.

We already know at build time which tests corresponds to which "context" as give

[2021-11-15 13:21] #1242 closed

[2021-11-15 13:22] snicoll commented on #1242
Let's follow-up on #1262 for the cache key problem.

[2021-11-15 13:24] snicoll commented on #1169
Closed by 7c600f721f44b6812. Let's follow-up on #1258.

[2021-11-15 13:24] #1169 closed

[2021-11-15 15:39] snicoll commented on #1243
The problem is a different order of processing for `BeanDefinitionRegistryPostProcessor`. I have changed a custom code to use a callback of framework and that fixed the issue. Unfortunately, calling these has the side effects of contributing quite some more bean definitions, certain with not the type I'd expect. I am investigating.

[2021-11-16 01:48] mrtian2019 commented on #1148
I have the same problem

[2021-11-16 07:33] cschaible commented on #778
For documentation purposes - I created a [PR](https://github.com/spring-projects-experimental/spring-native/pull/1260) that was rejected and closed for various reasons. If someone wants to create a PR again, it may make sense to take a quick look at it.

[2021-11-16 11:31] #1258 closed

[2021-11-16 11:32] sbrannen opened #1264 "Dynamically replace DITEL with AotDependencyInjectionTestExecutionListener"
## Overview

This is a follow up to #1258.

## Deliverables

- [x] Dynamically replace the standard `DependencyInjectionTestExecutionListener` with the `AotDependencyInjectionTestExecutionListener`

[2021-11-16 11:33] sbrannen commented on #1258
@ttddyy, please let me know if the fix works for you.

Additional improvements will be performed in conjunction with #1264.

[2021-11-16 14:28] snicoll commented on #1213
This turned out to bring a lot of subtle difference in the way bean definitions are registered. I've made a lot of progress with the help of @jhoeller but there are still a few cases that aren't working anymore. Investigating.

[2021-11-16 18:23] sbrannen commented on #1264
Current work on this issue can be viewed in the following feature branch.

https://github.com/spring-projects-experimental/spring-native/compare/main...sbrannen:issues/gh-1264-revise-AOT-DITEL

[2021-11-16 20:31] ViniciusArnhold opened #1266 "Adding two methods with the same name lead to duplicated method names in generated code"
Hi, while trying to compile a project which uses [Playtika/feign-reactive](https://github.com/Playtika/feign-reactive) with spring-native 0.11.0-SNAPSHOT we've been hitting the following compilation error:

[code]
[build action log](https://github.com/ViniciusArnhold/spring-native-experiments/runs/4229965595?check_suite_focus=true )

<details>
  <summary>reactivefeign/spring/config/ContextBootstra

[2021-11-17 00:25] ttddyy commented on #1258
@sbrannen Yes, confirmed no error thrown and works as expected.
Thanks!!

[2021-11-17 08:06] sdeleuze commented on #1093
@aclement Could you please check if that's of interest for us?

[2021-11-17 09:30] snicoll commented on #1266
@ViniciusArnhold thanks for the report. I doubt feign would work in its current form as it  creates a child context at runtime that isn't supported by Spring AOT.

Do you mean your sample worked with `0.11.0.M1` ?

[2021-11-17 09:34] snicoll opened #1267 "NativeConfigurationRegistry registers reflection configuration against the cglib proxy rather than user class"
When the registry is contributing a member of a class, `getDeclaringClass` is used to identify to which class entry the metadata should be added. With a cglib proxy, the name of the proxy is used rather than the user class.

[2021-11-17 09:35] sdeleuze opened #1268 "Add native test support in scripts"

[2021-11-17 09:36] #1267 closed

[2021-11-17 09:39] #1268 closed

[2021-11-17 09:40] snicoll commented on #1255
Thanks @ttddyy, I am working on a different approach for `BeanFactory` build time preparation that might fix this issue.

[2021-11-17 10:08] snicoll opened #1269 "BeanInstanceExecutableSupplier does not detect factory method when target type is set to the type it produces"
Consider the following example:

[code]

And a `BeanDefinition` where the target type is set to `MyBean` with a `beanClass` set to `MyFactory`. The algorithm currently uses the target type as the primary candidate, falling back to the beanClass if necessary.

In the case of a factory method, this is wrong and we should improve the logic to consider the beanClass use case.

[2021-11-17 10:36] #1226 closed

[2021-11-17 13:22] snicoll opened #1270 "Infer reflection configuration for TestContextBootstrapper implementations"
The `boot-features` sample fail atm with the following:

[code]

We should be able to infer the implementations that require to be instantiated via reflection.

[2021-11-17 13:44] dsyer opened #1271 "Liveness and readiness probes not exposed with WebFlux"
The actuator samples don't expose the `actuator/health/*` endpoints. If you run the jar file they work (as long as you set `management.endpoint.health.probes.enabled=true` manually).

[2021-11-17 13:54] snicoll commented on #1213
We're down to only the hibernate sample failing.

[2021-11-17 13:56] snicoll commented on #1271
I don't understand the report. The actuator sample [has the property set](https://github.com/spring-projects-experimental/spring-native/blob/af74d99490c40c3679b3e5aebce1663cc81df9f0/samples/actuator-webmvc/src/main/resources/application.properties#L2), and the verify script is [testing that the readiness probe](https://github.com/spring-projects-experimental/spring-native/blob/af74d99490c40c3679b3

[2021-11-17 14:14] sbrannen opened #1272 "Gradle plugin adds generated sources JAR to end of the test classpath"
As discussed in https://github.com/spring-projects-experimental/spring-native/pull/1265#issuecomment-971592481, the AOT testing support in the Gradle plugin currently adds the `*-aot-test.jar` (containing generated sources and resources) to the end of the original test classpath.

This results in generated code not being able to override existing code.

For example, the generated `SpringFactoriesL

[2021-11-17 14:16] dsyer commented on #1271
I was trying with the webflux samples (I guess those checks are not in place there):

[code]

[2021-11-17 14:20] snicoll commented on #1170
FTR, we no longer have an assumption about Spring Boot test for the mapping as this is taken care of by the `AotTestContextProcessor` implementation now.

[2021-11-17 14:21] sdeleuze commented on #1271
Indeed they are not on WebFlux side.

[2021-11-17 14:37] snicoll opened #1273 "Native reflection configuration for fields are not detected when the bean type is a cglib proxy"
Similar to #1267 but with the detection of field injection.

[2021-11-17 15:03] #1272 closed

[2021-11-17 15:07] dsyer opened #1274 "Liveness and readiness probes not exposed in Kubernetes"
With the `actuator-webmvc` sample:

[code]

[2021-11-17 15:26] sbrannen opened #1275 "Reintroduce support for Spring Boot's ConditionEvaluationReport in AOT and native tests"
## Overview

As discussed in https://github.com/spring-projects-experimental/spring-native/issues/1169#issuecomment-967002442, `SpringBootDependencyInjectionTestExecutionListener` is no longer used in AOT and native tests. Consequently, Spring Boot's `ConditionEvaluationReport` support has been lost for Spring integration tests.

## Analysis

`AotDependencyInjectionTestExecutionListener` is curren

[2021-11-17 15:26] dsyer opened #1276 "Actuator endpoints not enabled even when explicitly exposed"
[code]

cf with the JVM:

[code]

[2021-11-17 15:27] sbrannen commented on #1275
I raised this issue to make us all aware of the fact that `ConditionEvaluationReport` support has been lost for Spring integration tests.

However, I do not see this as a high priority issue.

We can address this at a later date.

[2021-11-17 15:50] snicoll opened #1277 "Upgrade to Spring Cloud 2021.0.0-RC1"

[2021-11-17 16:06] #1269 closed

[2021-11-17 16:06] #1273 closed

[2021-11-17 16:08] #1264 closed

[2021-11-17 16:35] snicoll commented on #1276
That is the expected behavior. Configuration that affects the auto-configuration must be set at build time as conditions are evaluated at that time. If the endpoint is not configured to be exposed, AOT just doesn't generate the bean definitions for them. We need to follow-up with a doc update for this for sure.

[2021-11-17 16:35] #1276 closed

[2021-11-17 16:38] snicoll opened #1278 "Document expectations of the AOT engine"
See #1276

We need to update the getting started so that users are aware of what the requirements are. A typical one is that the configuration of the application must be available at build time so that condition evaluations and native configuration inference happens as expected.

[2021-11-17 16:52] dsyer commented on #1271
I just found out that you need all the properties to be specified at build time. Hence the actuator-webmvc sample works because it has

[code]

But the webflux sample still doesn't work if I add those lines to `application.properties`. I guess that's the bug.

[2021-11-17 17:03] snicoll commented on #1274
This is working as expected as all the conditions are evaulated at build time at the moment. We're going to improve the doc as part of #1278

[2021-11-17 17:06] dsyer commented on #1274
But this sample has `management.endpoint.health.probes.enabled=true` in `application.properties`. So it should be unconditionally exposed right? I'm not sure I understand, but it still seems like a bug to me.

[2021-11-17 17:11] bclozel commented on #1274
Liveness and Readiness probes are not enabled by default in Spring Boot, they're really enabled depending on the Cloud Platform (see spring-projects/spring-boot#22825). As Stephane said, conditions are evaluated at build time (for now) and without a configuration property set, I believe this is the expected behavior. That's a behavior we want to fix in the future, but it's just not possible in the

[2021-11-17 17:14] snicoll commented on #1274
We can't really triage an issue reliably if you provide mixed information. There's "automatically in Kubernetes" in the title and it's hard to not think about what Brian and I just mentioned.

[2021-11-17 17:14] bclozel commented on #1274
Don't we need `management.health.livenessstate.enabled=true` in this case as well?

[2021-11-17 17:28] #1270 closed

[2021-11-17 17:47] sdeleuze opened #1279 "Use NativeConfigurationRegistry in NativeConfiguration"
That's a big one but I can't imagine releasing 0.11.0 without it. In order to finish the migration to the new AOT engine, my proposal is to update [NativeConfiguration](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot/src/main/java/org/springframework/nativex/type/NativeConfiguration.java) to this signature:

[code]

[2021-11-17 17:55] snicoll opened #1280 "InitDestroyMethodsDiscoverer should discover lifecycle methods on the target type"
See sample on #1263

If we provide a destroy method name on a bean definition that is managed  by the factory bean, it should be detected on the target type that it produces, not the factory bean implementation itself.

[2021-11-17 22:33] snicoll commented on #1280
With the help of @jhoeller, the destroy methods are meant on the factory bean here so it really is a duplicate of  #1263

[2021-11-17 22:33] #1280 closed

[2021-11-17 23:28] jeffreyhilaire opened #1281 "Adding spring-boot-starter-hateoas to spring native project results in java.lang.NoClassDefFoundError: javax/servlet/http/HttpServletRequest"
Hi,

I am trying to configure a spring web flux application with the intent of building a native image later on. So far, I am able to build a dummy application into an image using spring native, run it and get a hello world response without issues.

As soon as I add spring-boot-starter-hateoas ( while excluding spring-boot-starter-tomcat because I don't want to use Tomcat but rather Netty with fun

[2021-11-18 07:35] phlahut commented on #1148
sorry for missied the msg, I use the sample's json to solve the problem.
link is
https://github.com/spring-projects-experimental/spring-native/blob/af0e804e49887b77567721b73efebb18e2992e79/samples/batch-io/src/main/resources/META-INF/native-image/a/b/reflect-config.json#L1733

[2021-11-18 07:38] phlahut commented on #1148
@mrtian2019
sorry for missied the msg, I use the sample's json to solve the problem.
link is
spring-native/samples/batch-io/src/main/resources/META-INF/native-image/a/b/reflect-config.json

[2021-11-18 08:09] #1213 closed

[2021-11-18 08:31] #1243 closed

[2021-11-18 08:32] snicoll commented on #1243
This was already fixed as part of #1213 but I've added a test to validate the behaviour. @OlgaMaciaszek your sample app still doesn't work unfortunately as Spring Integration is not yet supported.

[2021-11-18 08:54] sdeleuze opened #1282 "Running native tests using "mvn -Pnative test" fails with "No processor found""

[2021-11-18 09:01] snicoll commented on #1271
@dsyer can you share an actual sample that demonstrates what you've described. I've copy/pasted the two line above in the `actuator-webflux` sample and it works as expected.

[2021-11-18 09:02] #1282 closed

[2021-11-18 09:17] #1277 closed

[2021-11-18 09:48] sdeleuze commented on #1130
[Ongoing full build](https://ci.spring.io/teams/spring-native/pipelines/spring-native-0.11.x/jobs/build-samples-java11/builds/100) after @aclement changes before doing the final cleanup.

[2021-11-18 09:52] dsyer commented on #1271
I was using the same sample, and it looks like I must have forgotten to save the properties file or something because it works now. How about making that change to the properties file permanent and/or documenting why it doesn't work? Is there a way to defer the condition processing to runtime (I noticed a section on `buildTimePropertiesChecks` in the docs but it didn't make a lot of sense without

[2021-11-18 10:24] #1271 closed

[2021-11-18 10:35] sdeleuze commented on #1271
This will be likely documented by #1278. `buildTimePropertiesChecks` is a Spring Native 0.10 thing, I don't think we still mention it in 0.11 doc.

[2021-11-18 10:52] snicoll commented on #1275
This isn't test specific, the evaluation report for the main app is also gone and should be reintroduced in some form.

[2021-11-18 11:04] OlgaMaciaszek commented on #1243
Ok - the users will need to wait till that's done then for these kinds of projects. Anyway, that user-provided sample has allowed us to discover and fix at least 3 different issues :) . Thanks, @matus753.

[2021-11-18 11:07] wilkinsona commented on #1275
Probably worth noting that `SpringBootDependencyInjectionTestExecutionListener` only outputs the report upon refresh failure and that, currently, it [doesn't work as intended](https://github.com/spring-projects/spring-boot/issues/24888).

[2021-11-18 11:45] snicoll commented on #1255
I've noticed that other processors are also calling `beanFactory#getBean` so we might need to guard them.

[2021-11-18 11:55] sbrannen commented on #1275
Ahhhh.... that's good to know. Thanks for sharing. I subscribed to the Boot issue.

[2021-11-18 12:12] sdeleuze opened #1283 "Fix session-redis-webflux unit tests on native"
Tests are green on JVM + AOT but red on native, leading me to think there are missing hints. It seems `@WithMockUser` is not taken in account properly leading to a failed test.

I tried to add `@TypeHint(types = org.springframework.security.test.context.support.WithMockUser.class)` and `@JdkProxyHint(types = {org.springframework.security.test.context.support.WithMockUser.class, org.springframework

[2021-11-18 15:00] #1255 closed

[2021-11-18 15:28] sbrannen commented on #1262
#### Update

I'm making progress on this, but I do not foresee completing this in time for RC1.

[2021-11-18 16:36] jeffreyhilaire commented on #1281
I have just read this statement from the docs https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#web.spring-hateoas indicating that spring-boot-starter-hateoas is not compatible with spring-native so I switched to including only spring-hateoas but the end result is the same. As long as I don't include Tomcat into the mix, I get a class not found error related to javax/s

[2021-11-18 17:22] sbrannen commented on #1262
Current work on this issue can be viewed in the following feature branch.

https://github.com/spring-projects-experimental/spring-native/compare/main...sbrannen:issues/gh-1262-AOT-MergedContextConfiguration

[2021-11-18 17:45] #1283 closed

[2021-11-18 22:28] Nikolas-Charalambidis opened #1286 "Spring Boot cannot build a Java 17 native Docker image because native-image is failing to unresolved method"
I have a simple Spring Boot application using Java 17 and Maven with the following dependencies I would like to build using `spring-boot-maven-plugin` as a native Docker image. The parent version is `2.6.0`:
- `org.springframework.boot`:`spring-boot-starter-data-r2dbc`
- `org.springframework.boot`:`spring-boot-starter-webflux`
- `org.springframework.boot`:`spring-boot-starter-actuator`
- `org.spri

[2021-11-19 00:12] #1130 closed

[2021-11-19 00:12] aclement commented on #1130
Done!  All ComponentProcessors migrated and `ComponentProcessor` interface deleted. Now whether the new classes should be `BeanFactoryNativeConfigurationProcessor`s or just `BeanNativeConfigurationProcessor`s. That is something to review at some point.

[2021-11-19 05:55] sdeleuze commented on #1286
Please use at least 0.11.0-M2 for Java 17 support.

[2021-11-19 05:56] #1286 closed

[2021-11-19 07:23] snicoll opened #1287 "Update support section of the reference guide"
The need to stick to a very specific patch version of Spring Boot is not a strong requirement anymore with the AOT engine. There are probably also a number of entries for starter that are outdated by now. We should probably revisit [the whole section](https://docs.spring.io/spring-native/docs/current-SNAPSHOT/reference/htmlsingle/#support-spring-boot).

[2021-11-19 07:50] sdeleuze opened #1288 "Bring back native testing documentation"

[2021-11-19 07:52] #1288 closed

[2021-11-19 08:04] #1197 closed

[2021-11-19 08:05] #1278 closed

[2021-11-19 08:29] sdeleuze opened #1289 "Refine remaining BeanFactoryNativeConfigurationProcessor implementation created during 0.11.0-RC1"
Some `BeanFactoryNativeConfigurationProcessor` created as part of #1130 and related ones (data, security) should be reviewed and maybe refined. A specific concern is the for loop with component scanning performed in some of those. I am not sure we should perform this kind of component scanning anymore, and some of them should maybe become `BeanNativeConfigurationProcessor` instead of `BeanFactoryN

[2021-11-19 08:30] sdeleuze commented on #1130
Thanks, I have created #1289 as a follow-up issue.

[2021-11-19 09:56] sdeleuze opened #1290 "Upgrade to Native Build Tools 0.9.8"

[2021-11-19 10:12] Nikolas-Charalambidis commented on #1286
@sdeleuze Thanks for a quick answer. I have updated to `0.11.0-M2` but the very same error remains.

[2021-11-19 14:24] sdeleuze commented on #1290
To be backported on `main` as well.

[2021-11-19 18:01] dr-eme opened #1291 "Regression on OAuth2 client and resource server with WebFlux"
With the latest Spring Native 0.11 (neither M1, M2, RC1 nor SNAPSHOT), using spring-boot-starter-oauth2-client fails to start when compiled as native image.

Both compiled with JVM+AOT, as well as native compilation wIth previous spring native versions (0.8.x, 0.9.x, 0.10.x) had no issues.

Here a sample project of the issue, starting from the latest start.spring.io
[demo-oauth2.zip](https://githu

[2021-11-20 16:12] snicoll commented on #1291
Thanks for the report and the sample. Here is the error:

[code]

[2021-11-21 11:13] snicoll commented on #1281
Unfortunately, Spring HATEOAS has no WebFlux support as far as I am aware (see https://github.com/spring-projects/spring-boot/issues/16020#issue-413499902). I am going to close this as it doesn't seem Spring Native specific.

[2021-11-21 11:13] #1281 closed

[2021-11-21 11:15] snicoll commented on #1254
This is to be expected unfortunately. AOT evaluates condition at build time to build an optimized view of your application, and therefore requires to resolve the environment. If you're default configuration is contacting such as service, it will be resolved at build time. If you don't want that, you need to move this to a profile that you enable only when running the app.

[2021-11-21 11:15] #1254 closed

[2021-11-21 11:16] snicoll commented on #1241
What is remaining here?

[2021-11-21 11:18] snicoll commented on #1134
Running the integration samples now leads to:

[code]

I suspect that something has been called at build time and is called again at runtime and attempt to register a bean that's already there. @artembilan do you have some cycles to resume this? I intend to spend a bit of time next week on this so any insight would be much appreciated.

[2021-11-21 12:21] sergey-morenets commented on #1254
Thank you, @snicoll

Is it mentioned somewhere in the documentation? Unfortunately I couldn't find that.

[2021-11-21 13:06] snicoll commented on #1254
https://docs.spring.io/spring-native/docs/0.11.0-RC1/reference/htmlsingle/#spring-aot

[2021-11-21 13:15] jeffreyhilaire commented on #1281
@snicoll

I must admit, it's very confusing. On one hand you say spring hateoas is not supported with webflux, on the other hand spring-hateoas lists example of using it with webflux here https://github.com/spring-projects/spring-hateoas/blob/main/src/test/java/org/springframework/hateoas/support/WebFluxEmployeeController.java.

Also my question is about the conflict between spring-native and spri

[2021-11-21 18:14] snicoll commented on #1281
Yes. You mentioned "spring-boot-starter-hateoas" which is the Spring Boot integration of Spring HATEOAS. The link in my previous comment should hopefully clarify that such support doesn't exist. You adding this starter brings Tomcat and WebMVC so that webflux application isn't one really ([read the note in the section of the doc](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle

[2021-11-21 19:49] ttddyy opened #1292 "Fail to inject to a parameterized type with FactoryBean"
### About

This is another corner case of `FactoryBean` usage but essentially used by `@JsonTest` slice test.

The following sample is a simplified version of what `JsonTestersAutoConfiguration` does.

### Code

This sample test works in pure JVM but fails with AOT generated code in JVM.

[code]

### Failure

[code]

### Observation

In short, what I found is a difference in the `beantype` in BD.

[2021-11-21 21:04] jeffreyhilaire commented on #1281
@snicoll I appreciate your looking into this, I have posted on Github where I am unable to build a native image as soon as I add spring-hateoas on a branch named "native-build-broken-with-hateoas" (https://github.com/jeffreyhilaire/hateoas-webflux-demo/tree/native-build-broken-with-hateoas)

You will see that the "main" branch (https://github.com/jeffreyhilaire/hateoas-webflux-demo/tree/main) buil

[2021-11-21 23:31] SentryMan opened #1293 "Docker aborts image build when using native image to build (0.11.0-RC1)"
Yeah, so I'm trying to build my app with the new release of spring native, but docker is aborting the build with the below error. here is my docker file, please inform if I have made any misstep. https://github.com/SentryMan/Manga-Spring-Backend/blob/jdk-17/Dockerfile

also here is my pom file. https://github.com/SentryMan/Manga-Spring-Backend/blob/jdk-17/pom.xml

[code]

[2021-11-22 07:45] goafabric commented on #1215
So what's the status of this Ticket ?
Upgrading not 11-RC1 did not help .. but what i found out is, that setting a Typehint for
AuthenticationFailureBadCredentialsEvent, seems to work.
But only to crash with the next class that is not accessible.
Something odd is going on here

[2021-11-22 07:56] vferrandiz opened #1294 "Add support and sample for spring-boot-starter-artemis"
We are trying to implement a JMS publisher in ArtemisMQ broker using Spring Native. When we try to compile or execute app in native mode app is crashing in compile time (without hints) or in execution time (with hints).

We tried to apply same comments than in #438

We attach the logs:

Without Hints:

[code]

With hints:

[code]

Please add support to spring-boot-starter-artemis in native mode.

[2021-11-22 09:02] snicoll commented on #1215
You are the reporter so I suspect you are subscribed to it and you can see that the team hasn't got the time to look into it. Sorry we didn't make it in time for RC1 but submitting a PR or investigating what the next type hint is could help us track down a solution for this.

[2021-11-22 09:19] snicoll commented on #1292
Thanks @ttddyy, talking to @jhoeller, it looks like your last finding is the right way to go, indeed.

[2021-11-22 11:45] goafabric commented on #1215
@snicoll thx 4 letting me know...
judging from the logs the next Typehint would be "AuthenticationFailureExpiredEvent", but from the experience i have with native images until know, i don't think it will stop there. And everything worked perfectly fine with 10.x .. so that is the strange thing here

[2021-11-23 08:10] aks-wp opened #1295 "Spring Cloud Function - Failed to locate function when using scanBasePackages"
Context: Migrating Spring Cloud Function AWS apps to use Spring Native

I've been able to run dsyer's spring cloud function aws demo successfully, but when migrating my existing cloud function apps to spring native, I get the error "Failed to locate function".
Running in debug mode, I can see it does try to look for my function

_c.f.c.c.BeanFactoryAwareFunctionRegistry : Function '****' is not av

[2021-11-23 09:39] dr-eme commented on #1291
A similar error happens when enabling WebFluxSecurity with oauth2-resource-server.
For reference, I'm attaching a sample demo and the error:
[demo-oauth2-resource-server.zip](https://github.com/spring-projects-experimental/spring-native/files/7586978/demo-oauth2-resource-server.zip)
`org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframewor

[2021-11-24 08:25] ttddyy commented on #1241
The tests I wrote covers:

- Servlet-based test with a random port and a TestRestTemplate
  -  `RandomPortTests` in webmvc-tomcat
- Servlet-based mock test (regular @SpringBootTest) with the MockMvc support
  - `WebmvcControllerMockTests` in webmvc-tomcat
- WebFlux-based test with a random port and a WebTestClient
  - `RandomPortTests` in webflux-netty
- Webflux-based mock test (regular @SpringBoo

[2021-11-24 10:24] sdeleuze commented on #1293
I tried to build your app with `mvn spring-boot:build-image` and it seems to work as expected, so I suspect something is wrong in your custom `Dockerfile`. Maybe for that kind of image you should refer to https://www.graalvm.org/reference-manual/native-image/StaticImages/#build-mostly-static-native-image. If you can't make it work with your custom `Dockerfile`, I would suggest to use `mvn spring-b

[2021-11-24 10:24] #1293 closed

[2021-11-24 11:12] sdeleuze commented on #1295
Could you please double check that your application is working as expected without AOT? I am asking that because:
 - I did some tests with `scanBasePackages` with an AOT application and it seems to work as expected (both on JVM and native)
 - Shouldn't `@SpringBootApplication(scanBasePackages = "com.xyz.package.*")` be `@SpringBootApplication(scanBasePackages = "com.xyz.package")`?

[2021-11-24 11:15] sdeleuze commented on #955
Please provide a repro for this using `0.11.0-RC1` and I will have a deeper loop. Please avoid adding `springdoc-openapi-ui ` to the mix.

[2021-11-24 12:29] sdeleuze commented on #1215
I can indeed reproduce the `org.springframework.security.authentication.event.AuthenticationFailureExpiredEvent has no suitable constructor` error.

@eleftherias Could you please have a deeper look to check if we missed type hints on classes like `AuthenticationFailureExpiredEvent`?

[2021-11-24 15:14] aks-wp commented on #1295
Yes, the original app actually doesn't have the wildcard at the end, but without it, the native image would complain about missing dependencies...

[2021-11-24 17:12] snicoll commented on #1241
For the record, I have restored JsonTest as I believe I've fixed the related issue.

[2021-11-25 00:03] bojanv55 opened #1300 "Cannot make custom validator working"
I'm using latest spring boot/native/graalvm (made project with https://start.spring.io/, and selected lombok+native+validation). Trying to run this code sample:

[code]

If run normally (not native-compiled), I get expected output:

[code]

If I compile it, and run, I get:

[code]

and I guess it does not recognize and register validator at all...

Then, I run `native-image-agent` and copied it's

[2021-11-25 00:55] aks-wp commented on #1295
With regards to running the app without AOT... I get the following error

[code]

[2021-11-25 07:10] sdeleuze commented on #1300
We probably need to add special handing for constructs like `@Constraint(validatedBy = LicenseValidator.class)`.

[2021-11-25 07:11] sdeleuze commented on #1300
In fact that's a duplicate of #783.

[2021-11-25 07:11] #1300 closed

[2021-11-25 07:29] sdeleuze opened #1301 "Upgrade to Spring Boot 2.6.1"
See [related milestone](https://github.com/spring-projects/spring-boot/milestone/248) on Spring Boot side.

[2021-11-25 07:51] sdeleuze commented on #617
Not effective enough to be usable, the comparison between what exists would need to be "more clever" about comparing declared methods versus public methods versus specific list of methods. So I move it back to the backlog.

[2021-11-25 08:05] sdeleuze commented on #1193
There is potentially an issue in how we escape filenames autodetected in `src/main/resources` and `src/test/resources`. @aclement Could you please let me know where is the code in charge of this?

[2021-11-25 08:52] bojanv55 commented on #1300
Is there anything I could do now, to make this work?

[2021-11-25 09:03] snicoll commented on #203
@sdeleuze looking at the history of this issue, I am not sure what is remaining.

[2021-11-25 09:19] snicoll commented on #928
@sdeleuze I am not sure this one is still applicable. It might and we could infer those hints perhaps if you can guide me?

[2021-11-25 09:21] snicoll commented on #998
I believe this one is now a duplicate of #1297. Please reopen if I have misunderstood.

[2021-11-25 09:21] #998 closed

[2021-11-25 11:48] spring-projects-issues commented on #1266
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-11-25 12:21] Nikolas-Charalambidis commented on #1286
@sdeleuze Would you reopen this issue?

[2021-11-25 12:49] bojanv55 commented on #1300
I think the problem in this code:

[code]

Is that there is no default constructor? But again, this should not be the problem, since it is working OK if I run it normally (without native-image-compilation).

This code is working, but it is not good, since we have hard wired dependency in the code:

[code]

This one has default constructor, but it is actually not injecting the bean - I get null poi

[2021-11-25 14:31] kwencel opened #1302 "Possible regression from 0.10.5 regarding management port setting"
I have noticed that when running a native image of a Spring Boot 2.6.0 app with `id("org.springframework.experimental.aot") version "0.11.0-RC1"` plugin enabled in Gradle, run with the following arguments:
[code]
shows the following exception on startup and the application stops:
[code]

It does not happen on 0.10.5 and Spring Boot 2.5.6, therefore I believe there is a regression of some kind.

I

[2021-11-25 15:21] kwencel opened #1303 "Refine Logback XML support documentation"
From what I read [here](https://docs.spring.io/spring-native/docs/0.11.0-RC1/reference/htmlsingle/#_starters_requiring_no_special_dependency_management) you started to support external Logback XML configuration in 0.11.0-RC1.

However, when I run a Spring Boot 2.6.0 app with 0.11.0-R1 Gradle plugin and `removeXmlSupport` set to `false`, with the following arguments:
[code]
it displays the followin

[2021-11-25 16:40] bojanv55 commented on #1300
This one also works in spring-native (but still, not good solution):

[code]

[2021-11-26 08:28] goafabric commented on #955
@sdeleuze thx for your time and support .. Service Interface seems to work with 0.11.0-RC1 and for the Spring Security Problem we already have another issue .. so i think you can close this one

one more thing, concerning https://github.com/spring-projects-experimental/spring-native/issues/949 I added another comment after it's closed, at least with 10.4 the issue is till open for me
but i can ret

[2021-11-26 09:33] snicoll commented on #1302
I am afraid this is the expected behavior. The improvements in terms of build time, startup time, and RSS memory are due to the new AOT engine that has been designed in 0.11. Such engine processes condition at build-time and therefore the fact that a separate management port is required should be set at build-time so that the appropriate infrastructure is generated.

See also [this note in the doc

[2021-11-26 09:33] #1302 closed

[2021-11-26 10:27] #1291 closed

[2021-11-26 11:46] goafabric commented on #1215
Add alle the TypeHints below at least now allows the application to be bootstrapped
But then during access we run into the next error:

-- cut ---
Caused by: org.springframework.expression.spel.SpelEvaluationException: EL1008E: Property or field 'permitAll' cannot be found on object of type 'org.springframework.security.web.access.expression.WebSecurityExpressionRoot' - maybe not public or not val

[2021-11-26 12:40] snicoll commented on #1215
@goafabric you've already stated that and I don't think that's constructive to repeat that over again. This issue is still open and we intend to fix. Perhaps it would help to mention that Spring Native 0.11.x is a major rewrite of what we had in 0.10 and is still an experimental project. We've done our best to keep things running for people while fixing structural problems with build time and memo

[2021-11-26 13:07] goafabric commented on #1215
@snicoll i get your point and sorry for that ...
but as a long term (15 years+) spring user, and getting used to how amazingly stable Spring APIs always where,
it's a little bit frustrating how fragile Spring Native sometimes seems ...
but sure .. it's still  a beta the 11.0 is just an RC .. and I can only imagine how much effort it is
to migrate such a massively dynamic Framework like Spring to t

[2021-11-26 13:16] snicoll commented on #1215
it's a little bit frustrating how fragile Spring Native sometimes seems ...
but sure .. it's still a beta the 11.0 is just an RC ..

To conclude on this topic, Spring Native is an experimental _project_. I wasn't talking about the milestones or the RC. The whole project is experimental, see the name of the GitHub org and [the readme of the project]. As such, comparing it with the maturity of the c

[2021-11-27 04:45] aks-wp commented on #1295
@sdeleuze Thank you for the pointer about the wildcard used at the end of scanBasePackages -  that seems to have caused the issue about being unable to locate the function.
Interestingly, when I used the functional style earlier, I didn't get the same issue with the wildcard, so I didn't think too much of it.

Now I'm working through a different issue with a NPE by adding hints. (Since these are f

[2021-11-28 08:02] ndopj opened #1304 "Spring AOT - overridden bean without new name results in IllegalArgumentException"
It seems that creating beans already defined by spring boot auto-configuration without a change in that beans name results in IllegalArgumentException during spring-aot-maven-plugin code generation phase.

- **Spring Boot**: _2.6.0_
- **Spring Native**: _0.11.0-RC1_

Simple project with spring boot main class and configuration class for reactive-mongo (active mongo service is not required).
[demo.

[2021-11-28 08:14] ndopj commented on #1304
Closing this as I found out that `@Bean(name = "reactiveMongo")` results in:

`java.lang.IllegalStateException: ERROR: in 'com.example.demo.PersistenceConfiguration' these methods are directly invoking methods marked @Bean: [reactiveMongoTemplate, validatingMongoEventListener] - due to the enforced proxyBeanMethods=false for components in a native-image, please consider refactoring to use instance

[2021-11-28 08:14] #1304 closed

[2021-11-28 14:19] #1279 closed

[2021-11-28 14:33] sdeleuze commented on #949
I mean with `0.11`.

[2021-11-28 14:34] #955 closed

[2021-11-29 08:50] julb opened #1305 "org.hibernate.validator.constraints.CodePointLength$NormalizationStrategy was unintentionally initialized at build time"
Dear Spring team,

Thanks for what you are doing, that's an awesome job!

I tried to compile a Spring Cloud Function as native.
The build was working file, but started to fail as soon as I add dependency to spring-boot-starter-validation.

Using: GraalVM 21.3.0, Java 17 and 0.11.0-RC1.

Here is the output:
[code]

Note: I get it working by adding this in my `build.gradle`:
[code]

Thanks for your

[2021-11-29 09:13] snicoll commented on #1292
Unfortunately, the current fix is too agressive as it attempts to resolve some types in the native image. We should change things so that this is computed upfront.

[2021-11-29 09:16] snicoll opened #1306 "Add logging to BeanDefinitionRegistrar"
While trying to debug another issue, it became apparent that startup failure in the native image aren't easy to spot as we don't have a track record of what bean definition lead to a failure.

We should try to mimic what framework does so that the exception is wrapped into something that refers at least to the bean name.

[2021-11-29 12:58] #1292 closed

[2021-11-29 13:55] #1306 closed

[2021-11-29 14:18] sdeleuze opened #1307 "Remove org.springframework.core.type.classreading.TypeSystem"

[2021-11-29 15:12] #1307 closed

[2021-11-29 15:40] sdeleuze commented on #1256
I think the current "Required with Maven Surefire 2.x" comment in the Maven code snippet of https://github.com/spring-projects-experimental/spring-native/blob/main/spring-native-docs/src/main/asciidoc/getting-started-native-build-tools.adoc#add-the-native-build-tools-plugin bring by 81ac63bb9f9eac37d1973b4e59c361d3ea477026 is good enough.

[2021-11-29 15:40] #1256 closed

[2021-11-29 16:08] sdeleuze opened #1308 "Remove ReflectionHandler#register"

[2021-11-29 16:19] sdeleuze opened #1309 "Deprecate org.springframework.nativex.type.TypeSystem"
`NativeConfiguration`, `BeanFactoryNativeConfigurationProcessor` or `BeanNativeConfigurationProcessor` should be used instead.

[2021-11-29 16:30] #1308 closed

[2021-11-29 16:30] #1309 closed

[2021-11-29 17:46] aclement commented on #1193
I don't think we have any general handling. The place we saw the issue was inner class references and `ResourcesDescriptor` does that case in a specific way:

[code]

The other cases we saw with the agent and they decided to handle that directly by simply encasing all entries with `\\Q` `\\E` (https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html) - this allowed any old characters

[2021-11-30 06:39] #1301 closed

[2021-11-30 07:14] aks-wp commented on #1295
Okay, so @sdeleuze  I found a work around from an existing issue (https://github.com/spring-projects-experimental/spring-native/issues/241) . The trick seemed to be to generate spring.components in the dependencies and use that jar instead.

However, Autowiring dependencies still seems to be an issue and I get `NoSuchBeanDefinitionException`. Since I'm using 0.10.4, I'd be safe to assume (https://

[2021-11-30 07:19] sdeleuze commented on #875
Fixed by 8ce2019cbfae6dbc1545fe44602cf5f8365b9dd3 and 6ba10575efd0ada99bb6a5fe95c56cb5b947e5c1.

[2021-11-30 07:19] #875 closed

[2021-11-30 07:39] sdeleuze commented on #203
`batch` sample is fine, `batch-io` is not since [it is still using JSON configuration file](https://github.com/spring-projects-experimental/spring-native/tree/main/samples/batch-io/src/main/resources/META-INF/native-image). I will try to turn that to general batch hints, and add application specific hints to the application class which already contains an `@AotProxyHint` [here](https://github.com/

[2021-11-30 07:45] ttddyy opened #1313 "AOT test code gen fails when same name test classes exist in different package"
When there are test classes with the same name in different packages that have independent `MergedContextConfiguration`, the AOT test code generation fails.

For example, if `MyTest` class exists in `com.example.foo` and `com.example.bar` packages, the following exception is thrown.

[code]

This is because when a `MergedContextConfiguration` is different, `TestContextConfigurationDescriptorFactor

[2021-11-30 08:10] #203 closed

[2021-11-30 08:14] sdeleuze commented on #1241
Let's go with what we have for 0.11.0.

[2021-11-30 08:14] #1241 closed

[2021-11-30 08:20] sdeleuze commented on #1287
We still have substitutions of critical classes like `SpringApplication`, so I have mixed feelings about relaxing the documentation of using a specific patch version of Boot. Any thoughts?

I will update the list of starters supported based on the 0.11 changelog and the samples.

[2021-11-30 08:27] snicoll commented on #1287
That is a good point and there's nothing wrong with keeping things as they are if you feel this way, but:

1. I don't expect things like `SpringApplication` being changed any further in patch releases. It could happen and us tracking snapshots and building daily should help us figure out if a recent snapshot broke us or not
2. If we keep this route, we'll have to keep our rigid range on start.spri

[2021-11-30 10:15] bojanv55 commented on #1300
@sdeleuze Are you sure this is duplicate? Seems that spring `@Autowire` is not working here, so not sure that is exactly the same problem as in other issue?

[2021-11-30 10:43] sdeleuze commented on #1193
I can't reproduce this issue, Spring Native configures entries for default directories which do not contain specific characters, not per files entries, and manual ones can be escaped when specifyed.

Please update with a repro project if still relevant WITH `0.11.0-SNAPSHOT`.

[2021-11-30 10:43] #1193 closed

[2021-11-30 10:47] sdeleuze commented on #1313
@snicoll Should we consider this one for for `0.11.0.`?

[2021-11-30 10:48] snicoll commented on #1313
Yes

[2021-11-30 12:41] metlaivan opened #1315 "spring-aot-maven-plugin don't generate records in the 'target/test-classes/META-INF/native-image/org.springframework.aot/spring-aot/resource-config.json' for 'src/main/resources'"
During run test
` mvn clean -Pnative test`
the spring-aot-maven-plugin don't generate records in the 'target/test-classes/META-INF/native-image/org.springframework.aot/spring-aot/resource-config.json' for resources located in the main space 'src/main/resources'

Versions:
spring-aot-maven-plugin = 0.10.5
spring-native = 0.10.5
GraalVM = CE 21.2.0
junit-platform-native = 0.9.4

[2021-11-30 12:45] bojanv55 commented on #1193
@sdeleuze just tried this with `0.11.0-SNAPSHOT`. got same problem:

[code]

Just to ask - did you try to reproduce this on **WINDOWS** ?

[2021-11-30 13:02] sbrannen opened #1316 "Upgrade to Native Build Tools 0.9.8"
https://github.com/graalvm/native-build-tools/releases/tag/0.9.8

[2021-11-30 13:03] #1290 closed

[2021-11-30 13:10] sbrannen commented on #1316
Duplicate of #1290

[2021-11-30 13:10] #1316 closed

[2021-11-30 13:31] #1170 closed

[2021-11-30 13:34] sdeleuze opened #1317 "Use Flag instead of AccessBits in @TypeHint"
Replace `int access() default 0;` by `Flag[] flags() default {};` in order to have a more strongly typed API, benefits from autocomplete and be consistent with NativeConfigurationRegistry. So in term of use case, that would transform `@TypeHint(access = AccessBits.DECLARED_CONSTRUCTORS | AccessBits.DECLARED_METHODS)` to `@TypeHint(flags = { Flag.allDeclaredConstructors, Flag.allDeclaredMethods })`

[2021-11-30 13:41] sdeleuze opened #1318 "Migrate BootstrapContributor to spring.factories"
This is the last one using service loaders instead of spring factories. It should probably be excluded in `IgnoredFactoriesCodeContributor`.

[2021-11-30 14:24] sdeleuze commented on #1134
Require at least Spring Integration `5.5.7`.

[2021-11-30 14:36] eleftherias commented on #1215
The problem is when you exclude the `SecurityAutoConfiguration`.
[code]
Many of the [security hints](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-native-configuration/src/main/java/org/springframework/boot/autoconfigure/security/servlet/SecurityHints.java#L53) use this class as a trigger. It's still not clear to me why this worked in 0.10.x, since this has always

[2021-11-30 14:37] #1287 closed

[2021-11-30 14:38] sdeleuze commented on #1287
I see the value of relaxing a bit our recommendation, I have refined the wording with "Spring Native {version} has been tested against Spring Boot {spring-boot-version}" among other updates, feel free to refine if needed.

[2021-11-30 14:41] snicoll commented on #1215
Using an auto-configuration as a trigger feels generally a bad idea to me as the user could configure things themselves and the auto-configuration could back-off early as well. Using components that would be available for the relevant hints sounds both more robust and more precise regarding what needs what.

[2021-11-30 14:47] eleftherias commented on #1215
Thanks @snicoll, that makes sense to me. I'll submit a PR to update the hints.

[2021-11-30 15:00] snicoll commented on #1134
Technically this would work for anyone using `0.10.0` and overriding the spring integration version to use. I agree we shouldn't claim it's compatible but if no other changes are required, maybe we could close this one?

[2021-11-30 16:04] sdeleuze opened #1319 "Improve Windows support documentation"
- Maven parent pom should probably updated to provide support for long commend lines, see [related PR](https://github.com/spring-projects-experimental/spring-native/pull/1311/files#diff-375ce63e702a0cada157a290b8347dfa13f0b4fba4036c346746957f463cd3bcR79-R126) from @artembilan
- Documentation should be updated accordingly
- Shaded JAR support should be tested on the CI even if running on Linux
- To

[2021-11-30 16:16] sdeleuze commented on #342
As discussed with @snicoll and @eleftherias [here](https://github.com/spring-projects-experimental/spring-native/issues/1215#issuecomment-982700338):

[2021-11-30 16:17] sdeleuze commented on #1215
Make sense, see #342 related issue.

[2021-11-30 16:30] artembilan commented on #1319
Here is official Native Build Tools docs about Windows support: https://graalvm.github.io/native-build-tools/latest/maven-plugin.html#long_classpath_and_shading_support.

Another Windows issue comes from Netty and its default `AddressResolverGroup` against DNS from JNDI.
See more info here: https://github.com/spring-projects/spring-framework/issues/27749.
When that one is fixed in the next Spring

[2021-11-30 16:44] aclement opened #1320 "Remove resources handler remaining component processing"
With component processors now migrated there is just a bit of remaining custom handling in `ResourcesHandler` that applies to 'all components'. We should delete that and migrate any important behaviour still required explicitly into into the specific native configuration processors. This will unlock deleting a bunch more code.

[2021-11-30 16:59] sdeleuze commented on #1289
@aclement I will remove the remaining `NativeConfigurationUtils.doWithComponents` usages to let you focus on #1320.

[2021-11-30 17:07] sdeleuze commented on #1289
After that `NativeConfigurationUtils#doWithComponents` can probably be removed.

[2021-11-30 17:53] #1210 closed

[2021-11-30 17:53] #1318 closed

[2021-12-01 00:38] ViniciusArnhold commented on #1266
Ok, thanks for the explanation.

I meant the usage of other spring projects, such as spring-data, this specific sample never worked.

[2021-12-01 06:19] snicoll commented on #1266
Thanks fir the follow up. Let's see if we can do something about the supplicants still.

[2021-12-01 06:37] sdeleuze commented on #1193
After a discussion with @aclement it seems there is indeed something to fix, I will have another look later.

[2021-12-01 06:43] sdeleuze commented on #1134
We could but I thought it would be better to keep it open until we remove the version override in order to have it mentioned in the changelog when effectively supported out of the box (I guess you meant 0.11.0).

[2021-12-01 07:32] sdeleuze opened #1321 "Populate properly AotOptions in GenerateTestBootstrapCommand"
Unlike `GenerateBootstrapCommand`, `GenerateTestBootstrapCommand` does not populate properly `AotOptions`, as a consequence the mode or the support to enable or not (XML, Yaml, etc.) are not configured properly for test code generation.

[2021-12-01 07:36] sdeleuze commented on #1315
Could you please check with `0.11.0-RC1` or `0.11.0-SNAPSHOT` as well?

[2021-12-01 07:57] #1313 closed

[2021-12-01 08:00] sdeleuze commented on #928
With `0.11.0-SNAPSHOT`, we only need the `@AotProxyHint(targetClass = Foo.class, interfaces = { ScopedObject.class, Serializable.class, AopInfrastructureBean.class })` part for `Foo` beans annotated with `@RequestScope`.

@snicoll Could you please provide quick guidance on where/how to implement that?

[2021-12-01 08:16] snicoll commented on #1134
Yes sorry I meant `0.11.0`. Spring Native does not provide dependency management and if nothing here is required, it's a bit artificial to keep the issue open. If Spring Integration ships its version in Spring Boot `2.6.2`, then there is no need for a `0.10.1` release to make this work...

[2021-12-01 09:16] metlaivan commented on #1315
Thx a lot. This is fixed in 0.11.0-RC1.

[2021-12-01 09:16] #1315 closed

[2021-12-01 09:36] snicoll commented on #928
Something like this?

[code]

That would take all scope so you may want to narrow it down as not all scope requires a proxy.

[2021-12-01 09:45] sdeleuze commented on #928
Ok thanks I will try and let you know.

[2021-12-01 09:49] #1134 closed

[2021-12-01 09:54] #1321 closed

[2021-12-01 09:56] snicoll opened #1322 "Remove Spring Integration version override"
As soon as Spring Integration 5.5.7 is released and integrated in the Spring Boot bom, see https://github.com/spring-projects-experimental/spring-native/blob/22eeac314ad454874c462e1aeada79862f3a1dde/samples/integration/pom.xml#L20

[2021-12-01 10:00] snicoll commented on #1322
And we should remove the line in the docs that mention the version, see https://github.com/spring-projects-experimental/spring-native/commit/00479fb548037da02cb2b855c7924e0fedca628b

[2021-12-01 10:13] christophstrobl opened #1323 "StackOverflow in ProtectedAccessAnalyzer.analyze(...)"
Inspecting the following structure (extracted from [odrotbohm/spring-restbucks](https://github.com/odrotbohm/spring-restbucks)) via it's `BeanInstanceDescriptor` for the jpa repository declaration leads to `StackOverflowError` on `ProtectedAccessAnalyzer.analyze`.

[code]

[2021-12-01 11:24] sdeleuze commented on #1247
So far it seems we are blocked by an issue on GraalVM 21.3.

When executing the agent on tests, it generates this kind of entry that make native tests fail:
[code]
With this error:
[code]
This error happen when executing native test, native compilation of the app is fine.

Also when using `queryAllPublicMethods` instead of `allPublicMethods`, it works as expected:
[code]
We need to bring that to G

[2021-12-01 12:27] sbrannen commented on #1170
Great work, @snicoll! 👏

[2021-12-01 15:45] snicoll opened #1324 "Spring Data Repository with unresolved generics cannot be injected anymore"
Regression reported by @christophstrobl.

What we've done in #1292 means that we will remove the generic type of a bean definition that has unresolved generics.

Consider the following repository:

[code]

Because the target entity is a `Something<?>` we do remove the generics and this prevents `SomethingRepository` to be found as a candidate bean. We should fix that problem, which may require cha

[2021-12-01 15:55] snicoll commented on #1324
Closed by 82dac3f04b561

[2021-12-01 15:55] #1324 closed

[2021-12-01 20:29] #1289 closed

[2021-12-01 23:13] #1317 closed

[2021-12-02 09:00] christophstrobl opened #1328 "Missing hint for org.hibernate.cfg.beanvalidation.TypeSafeActivator."
Though the project ([odrotbohm/spring-restbucks](https://github.com/odrotbohm/spring-restbucks/tree/hacking/native-0.11)) does not make use of `javax.validation` within its code there's an error on startup caused by missing reflection configuration for `org.hibernate.cfg.beanvalidation.TypeSafeActivator`.

spring-native: 0.11.0-SNAPSHOT
Branch: [odrotbohm/spring-restbucks/native-0.11](https://gith

[2021-12-02 09:18] christophstrobl opened #1329 "Method signature types for methods of javax.persistence.AttributeConverter no longer included in configuration."
spring-native: 0.11.0-SNAPSHOT

In the sample below, both `MonetaryAmountAttributeConverter` and `MonetaryAmount` are added to the configuration, but the more concrete return type `org.javamoney.moneta.Money` of  `convertToEntityAttribute(...)` ist not.
[code]

this leads to the following warn on startup
[code]

[2021-12-02 10:08] #1215 closed

[2021-12-02 11:43] sdeleuze opened #1330 "Optimize hints"
Remove entries which look like not needed anymore with the new AOT engine after testing related samples.

[2021-12-02 11:51] #1330 closed

[2021-12-02 12:07] snicoll commented on #1266
@ViniciusArnhold I've repurposed this issue to focus on the duplication. The sample should build now but feign won't work until we add support for that. Thanks for the sample!

[2021-12-02 12:09] #1266 closed

[2021-12-02 12:09] sdeleuze commented on #1328
We have [a related hint](https://github.com/spring-projects-experimental/spring-native/blob/d82371b478ad299a788cc19ea91719b866008431/spring-native-configuration/src/main/java/org/springframework/boot/autoconfigure/orm/jpa/HibernateJpaHints.java#L131) which is probably using the wrong trigger or is defined with a too narrow access. Could you refine it based on your findings on this sample?

[2021-12-02 12:16] sdeleuze commented on #1295
@olegz @OlgaMaciaszek Could you please check why `spring.components` is needed here with Spring Cloud Function (we should not rely on that) and if that's Spring Cloud Function specific or a more global issue?

[2021-12-02 12:36] olegz commented on #1295
Is there a sample application that demonstrates the issue?
Both https://github.com/spring-projects-experimental/spring-native/tree/main/samples/cloud-function-aws and https://github.com/spring-projects-experimental/spring-native/tree/main/samples/cloud-function-netty have ben tested in AWS without issues. I basically need a way to reproduce it so a sample app with bare minimum in github somewhere

[2021-12-02 13:39] #1323 closed

[2021-12-02 13:39] snicoll commented on #1323
Thanks for the sample!

[2021-12-02 13:40] snicoll commented on #1328
Closing in favor of #1331

[2021-12-02 13:40] #1328 closed

[2021-12-02 13:52] sdeleuze commented on #1295
@aks-wp Please provide a repro project.

[2021-12-02 15:45] sdeleuze opened #1332 "Prevent printing "AOT mode disabled" during test code generation"

[2021-12-02 15:48] #1332 closed

[2021-12-02 15:57] sdeleuze opened #1333 "Handle correctly the log level when running AOT tests"
When running AOT tests by default I see logs like `DEBUG org.springframework.boot.test.context.SpringBootTestContextBootstrapper` even if by default only `INFO` ones and more critical should be displayed. I guess something is broken on test logging configuration side.

Notice we configure it on testing side as well [here](https://github.com/spring-projects-experimental/spring-native/blob/main/spri

[2021-12-02 20:11] julb opened #1334 "Properties from @PropertySource are not available in the environment"
Dear team,
I tried to run an app using `@PropertySource`.
It works fine with Spring boot standard but not once converted to Native.
I'm using Spring native 0.11.0-RC1 / Spring boot 2.6.0

Example:

com/example/demo/DemoApplication.java
[code]
test.properties:
[code]

build.gradle:
[code]

Result with Spring boot:
[code]

Result with Spring native:
[code]

I have the same issue when I also use `@Co

[2021-12-03 07:07] aks-wp commented on #1295
@olegz Yeah, I've had no problem with running a simple demo app. In the first link you shared, the only difference is, instead of Function<String, String>, I use Function<FooBar, FooBar> and FooBar is a from a different package dependency.
There's no problem starting the app locally, but it fails on AWS.
I'll try to get the repro over the weekend.

[2021-12-03 07:14] voduku opened #1335 "[Question/Feature] Compile Time DI"
Does spring-native come with compile time DI like Dagger 2? If not, will this be added anytime soon as this seems like a very important feature for DI libraries which remove the dependency on reflection.

[2021-12-03 07:36] olegz commented on #1295
Ok, i'll give it a shot shortly based on your description, see if I can reproduce

[2021-12-03 09:19] snicoll commented on #1335
Compile-time DI is an unrelated concern, really and we don't believe that reflection is such a problem that it should be banned the way you mean. If we ever wanted to support compile-time dependency injection, we'd do that at the core framework level and such a topic [has already been raised](https://github.com/spring-projects/spring-framework/issues/20906) in the past.

[2021-12-03 09:19] #1335 closed

[2021-12-03 09:42] olegz commented on #1295
I seemed to reproduced something, but it is not what you have.
Basically i modified the sample to look like
[code]
with `Person` looking like
[code]

And i get this
[code]

. .  which is very weird and most definitely leads me to believe that there is some native voodoo going on here since this is the simplest possible example and runs find locally and in AWS without native.

Will keep on digging.

[2021-12-03 11:19] olegz commented on #1295
@aks-wp I just updated the sample - https://github.com/spring-projects-experimental/spring-native/tree/main/samples/cloud-function-aws to use POJO and successfully tested it in AWS. Please take a look and let me know if I am missing something as I still can not reproduce your error

[2021-12-03 12:12] liudonghua123 commented on #905
I have a similar issue on this. See https://github.com/oracle/graal/issues/403#issuecomment-985385284.

[2021-12-03 14:39] snicoll opened #1337 "Missing reflection hints for @EntityScan"

[2021-12-03 14:40] #1337 closed

[2021-12-03 20:10] julb opened #1338 "Allow to not invoke the test aot task with Gradle"
Dear team,

I was thinking that I could be interesting to have an easy way to disable AOT for unit tests.
Indeed, for example, I'm currently building a Spring cloud function and I haveimplemented unit tests as indicated in Spring Cloud Function docs.
I will package this function with Native, but I don't want to tackle the native part for unit tests, the classic unit tests are fine.

In the gradle

[2021-12-04 10:04] sdeleuze commented on #1337
Reverted by 5ac30a9d7ef04c53b7a258e3c9f9d8a2a443689d since with since with 58246caa77a7e55ceb66902ae15bac2c31c0577e this is now done at build time.

[2021-12-04 10:31] sdeleuze commented on #1247
Will require NBT 0.9.9 due to https://github.com/graalvm/native-build-tools/issues/179.

[2021-12-04 12:09] sdeleuze opened #1339 "Re-enable agent samples"
With related documentation update. See related #1247 issue.

[2021-12-04 12:13] #1339 closed

[2021-12-04 13:30] #928 closed

[2021-12-04 13:34] julb commented on #1305
Note that I retry with the 0.11.0-SNAPSHOT version built from `main` and the problem has gone.
Seems to be fixed, but don't know why.

[2021-12-04 14:24] olegz commented on #1338
But isn't disabling AOT is as simple as setting VM option `-DspringAot=false`?

[2021-12-04 14:37] julb commented on #1338
Hello,
Thanks for your feedback.

I tried with:
[code]
or using `./gradlew test -DspringAot=false` and it has no effect.

The classpath for unit tests and the system properties are still modified by the plugin.

[2021-12-05 07:12] aks-wp commented on #1295
Thanks @olegz - I've forked your sample. For simplicity sake, I've moved Person to a different package (in reality, this would be it's own module) but my main point was using scanBasePackages seems to cause issues for me - https://github.com/aks-wp/spring-native/blob/main/samples/cloud-function-aws/src/main/java/com/example/demo/DemoApplication.java#L10

[2021-12-05 09:34] sdeleuze commented on #1338
AOT mode for tests is useful for both JVM and native since it allows to ensure that the AOT flavor run fines on JVM (fast feedback loop) before going on native side (slower).

I think for now, AOT generation for test happen unconditionally (IMO not a major issue) and execution of tests in AOT mode (JVM or native) happen if generated test files are detected. I don't think we support `-DspringAot=fa

[2021-12-05 13:45] sdeleuze opened #1340 "Refine HateoasHints to generate a more focused reflection configuration"
The analysis that has ended up in creating this issue started from a `com.oracle.graal.pointsto.util.AnalysisError: guarantee failed` error on https://github.com/odrotbohm/spring-restbucks, which has shown that the `reflect-config.json` entry responsible for this error was:

[code]

After a deeper look, it appears that `HateoasHints` is generating far too much reflection entries via (at least) `Ha

[2021-12-05 19:09] ivangfr commented on #659
Hi @sdeleuze @aclement

I've updated my **spring-kafka** project to **spring-boot** `2.6.1` and **spring-native** `0.11.0-RC1` (also tried `0.11.0-SNAPSHOT`) and the problem described in this issue is back.

[2021-12-05 19:13] ivangfr commented on #1227
Hi @sdeleuze btw, this issue seems to be resolved in **spring-native** `0.11.0-RC1` and current `0.11.0-SNAPSHOT`

[2021-12-06 05:24] sdeleuze commented on #1329
Could you a please share a minimal repro?

[2021-12-06 06:22] sdeleuze commented on #1334
@snicoll Issue confirmed with AOT + JVM, could you please give it a look?

[2021-12-06 06:33] AuroraTwinkle commented on #723
@Paradox98 Hello, have you solved this problem? I  have a problem like this: **could not find target field: private java.util.List org.springframework.nativex.substitutions.framework.Target_ResourceHttpRequestHandler.locationResources**

[2021-12-06 06:45] sdeleuze commented on #1303
You probably miss the `org.codehaus.janino:janino` dependency, I will refine the documentation to clarify it is required.

[2021-12-06 06:47] #1303 closed

[2021-12-06 06:49] sdeleuze commented on #625
See also my [recent update of Logback support documentation](https://github.com/spring-projects-experimental/spring-native/commit/00a3d85ba3a623c28aeb99151c69b6b8a2f2407a) with explain how to specify configuration with `logback-config.xml` at runtime.

[2021-12-06 06:53] sdeleuze commented on #723
Wrong version of Spring Framework / Spring Boot used maybe, check the recommended version in the support doc of the version you use.

[2021-12-06 06:55] sdeleuze commented on #659
@ivangfr Could you please the URL repo, branch and command to run to reproduce?

[2021-12-06 07:03] sdeleuze commented on #1305
Thanks for the update, please reopen if you know how to reproduce.

[2021-12-06 07:03] #1305 closed

[2021-12-06 07:07] sdeleuze opened #1342 "Upgrade to Spring Cloud 2021.0.0"

[2021-12-06 07:10] #1342 closed

[2021-12-06 07:29] sdeleuze opened #1343 "MockitoPostProcessor should be disabled in AOT since not supported yet"
While working on #1084 updated to Spring Native `0.11.0-SNAPSHOT` and following the same repro instructions with https://github.com/sdeleuze/spring-cloud-stream-event-routing-cloudevents, I see the following error during AOT code generation:

[code]

Any thoughts @snicoll ?

[2021-12-06 07:33] sdeleuze commented on #783
Please use the repro described in https://github.com/spring-projects-experimental/spring-native/issues/1300#issuecomment-982488944 to check it works.

[2021-12-06 07:34] sdeleuze commented on #1300
We will use your repro to validate it works as part of #783.

[2021-12-06 07:40] sdeleuze commented on #1286
We validate all our samples with Java 17 now, and the build is green with `0.11.0-SNAPSHOT` as well as with `0.11.0-RC1`. Please provide a repro in order to allow me to check if your use case require us to fix something.

[2021-12-06 07:47] snicoll commented on #1343
Yes. One parameter there is not supported, I'll have a look.

[2021-12-06 07:52] sdeleuze commented on #93
Please provide a repro project with instructions to reproduce and we will have a look.

[2021-12-06 08:08] olegz commented on #1295
@aks-wp i see, but `scanBasePackages` is part of the spring-boot, so I am not sure what relevance does it have for s-c-function. Perhaps I am missing something. May be @sdeleuze @snicoll can chime in?

[2021-12-06 08:12] olegz commented on #1295
Actually, just chatted with @sdeleuze , so let me modify the sample and test it again. Will let you know once done

[2021-12-06 08:26] snicoll commented on #1334
Good catch, the environment is prepared at build time but this is lost at runtime as there is no bean that translates this change. Probably something relatively easy to fix.

[2021-12-06 08:27] julb commented on #1338
Thanks @sdeleuze for this feedback 👍

In the meantime, if someone else is interested by having a workaround, I did this for now in a `subprojects` block:

[code]

[2021-12-06 08:27] snicoll commented on #1343
That's `MockitoPostProcessor` that contains a set of `Definition` and these are quite complex so I don't think it is reasonable to pre-process them at build time. I'll see what  we can do.

[2021-12-06 08:29] sdeleuze opened #1344 "Do not apply AOT plugin on POM projects"
See c07a40dd31a25d6ecd787317fd9a0f6848f30ce7.

[2021-12-06 08:29] #1344 closed

[2021-12-06 08:36] snicoll opened #1345 "Bean post processors should not be registered at build-time"
The preparation of the `BeanFactory` is going one step too far, registering bean post processors that are meant to work on instances only and don't make sense at build-time.

[2021-12-06 08:41] #1345 closed

[2021-12-06 09:08] sdeleuze commented on #927
You can use `NativeHint(options = "--trace-object-instantiation=org.apache.commons.logging.impl.SLF4JLocationAwareLog")`. Feel free to comment if you think we should update default initialization hint based on your findings.

[2021-12-06 09:28] ivangfr commented on #659
Sure

- git clone https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot.git
- cd graalvm-quarkus-micronaut-springboot
- git checkout update-frameworks-version
- cd producer-consumer/springboot-producer-consumer
- cd producer-api && ./docker-build.sh native && cd ..
- docker-compose up -d kafka zookeeper
- docker run --rm --name springboot-producer-api-native -p 9105:8080 -e SPRING_PROFIL

[2021-12-06 11:15] olegz commented on #1295
@aks-wp I now think there is no issue as I just tested it with
[code]
Now, couple of problems that could get you off track:

1. if you add asterisk (e.g., `scanBasePackages = "com.example.demo.*`) that would simply be the wrong syntax and would not work. By definition of _'base package'_ it (the asterisk) is not needed, since it already implies _"start scanning from here and recursively scan the r

[2021-12-06 12:11] #1295 closed

[2021-12-06 12:59] snicoll opened #1349 "Provide an SPI to exclude a bean definition to be written"
Right now we have a centralized list of things that we don't want to generate in code (infrastructure mostly). We need to open that up as there are test infrastructure beans as well and we can't keep everything in a single list, see #1343

[2021-12-06 13:51] ahmedeldeeb25 opened #1352 "org.apache.tomcat.util.threads.res.LocalStrings, has not been found. If the bundle is part of a module"
I have created a simple spring boot app and added spring-web and spring-native dependencies.
when I'm trying to build the native image with `mvn clean package spring-boot:build-image `, I have this error

[code]

[2021-12-06 13:53] #1349 closed

[2021-12-06 14:34] sdeleuze commented on #1352
Likely not the source of the error (see the `INFO` level), more likely memory configuration issue, see https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_out_of_memory_error_when_building_the_native_image.

About removing this message, the native config is provided by Tomcat itself so worth to submit a PR in https://github.com/apache/tomcat/pulls to fix this if you can.

[2021-12-06 14:34] #1352 closed

[2021-12-06 14:43] sdeleuze opened #1353 "Fix petclinic-jdbc sample tests"
When executing `./build.sh -t` on the `petclinic-jdbc` sample, we got this error.

[code]

I am wondering if [here](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-native/src/main/java/org/springframework/aot/test/boot/AotSpringBootConfigContextLoader.java#L135) we are sure to always have a `WebMergedContextConfiguration` and never a `ReactiveWebMergedContextConfigur

[2021-12-06 15:29] #1353 closed

[2021-12-06 15:50] snicoll commented on #1338
For the record, this is only a problem with Gradle as far as I can see as Maven has two separate goals and you could decide to include them or not. If I understood correctly, generateTestAot is invoked with no way to disable it? I wouldn't put pressure on fixing this but that looks a little odd to me.

[2021-12-06 15:58] snicoll commented on #1343
So I've managed to disable it but as we don't trigger any initializer at runtime anymore, the infrastructure is not created at all and it fails with:

[code]

Considering that mockito doesn't work in native, it would be nice to go a little further and skip the whole infrastructure but no injection would be equally confusing as this stacktrace IMO.

[2021-12-06 16:08] sdeleuze opened #1354 "Enable native tests on CI full sample build"

[2021-12-06 16:47] sdeleuze opened #1355 "Restore testing buildpacks-based builds on the CI"

[2021-12-06 16:47] #1355 closed

[2021-12-06 17:05] sdeleuze commented on #1338
I am not sure I agree since with Maven `test` invoke AOT generation and someone could need to execute tests in regular mode without having to modify the `pom.xml`.

[2021-12-06 17:26] snicoll commented on #1338
Yes but that's not the same problem. I understand there is no easy way to not invoke the test aot task with Gradle. IMO it is a more severe limitations than what you've described.

[2021-12-06 20:29] bclozel commented on #1338
It is the way it is right now because we initially decided to make it the default.
But we could create a new `aotTest` task that depends on `check`.

[2021-12-07 00:31] aclement commented on #1320
done via https://github.com/spring-projects-experimental/spring-native/commit/a7ce6cf112da5943e0af56ff6eeb7a8789245ad1 - 1200 deletions

[2021-12-07 00:31] #1320 closed

[2021-12-07 07:18] sdeleuze opened #1356 "Provide a way to execute tests with regular code path (not AOT one)"
Currently, tests are executed using the AOT code path when AOT test code has been generated. This is the default because most of the time, it brings added value to validate the AOT codepath on the JVM before going to native and allows to debug the code as it will run on native. On application side, the default is to not use AOT by default (and allow to enable AOT codepath via `-DspringAot=true`) i

[2021-12-07 07:20] sdeleuze commented on #1338
I renamed this issue to clarify it is about allowing to not invoke the test aot task with Gradle, and created #1356 about providing a way to use regular codepath for test execution.

[2021-12-07 08:16] #1340 closed

[2021-12-07 08:16] sdeleuze opened #1357 "Update documentation for Bellsoft Liberica NIK usage"

[2021-12-07 09:00] christophstrobl commented on #1329
closed via: 906925e by #1347

[2021-12-07 09:00] #1329 closed

[2021-12-07 14:31] #1262 closed

[2021-12-07 18:13] snicoll opened #1358 "Revisit Spring AOT section"
We need to provide more  details about what is going on at build time so that users can register additional processing if necessary. In particular, being able to register processors that infer native configurations for custom use case is important.

[2021-12-08 08:15] sdeleuze opened #1359 "Deprecate TypeProcessor"
Relates to #1309.

[2021-12-08 11:46] #1358 closed

[2021-12-08 12:26] sdeleuze opened #1360 "Move Mode class to org.springframework.nativex package"

[2021-12-08 12:27] #1359 closed

[2021-12-08 12:27] sdeleuze opened #1361 "Add Javadoc for classes used for adding native configurations"

[2021-12-08 13:43] #1360 closed

[2021-12-08 13:43] #1361 closed

[2021-12-08 14:28] #1357 closed

[2021-12-10 06:51] Anu-cool-007 opened #1364 "Windows Defender is flagging GraalVM's svm.jar during build on windows"
When running the command: `mvnw -Pnative clean package` Windows defender quarantines the svm.jar present in the directory **..\graalvm-ce-java17-21.3.0\lib\svm\builder\**

The step was the execution of
..\graalvm-ce-java17-21.3.0\bin\native-image.cmd -cp ...

![image](https://user-images.githubusercontent.com/16525919/145527230-70238182-79c2-4e63-92f2-090f1f377df2.png)

I had to mark the file as s

[2021-12-10 13:09] AndersClausen opened #1365 "IllegalArgumentException: Code should not be empty"
Hi

I'm using spring boot 2.6.2-SNAPSHOT, Java 17 and spring native 0.11.1-SNAPSHOT and I'm getting an error when running `mvn clean install`, which I'm not quite sure how to debug. This is the error I'm seeing:

[code]

Any ideas or suggestions to how I can debug it further or get past this? Many thanks

[2021-12-10 15:30] RMostapha opened #1366 "Add Spring Cloud Config Vault support"
Hello everyone,
I'm trying to run a POC for spring native project using:
- graalVM (21.2.0.r11-grl)
- spring boot (2.6.1)
- spring cloud config (2021.0.0)
- spring native (0.11.0)
My app just expose two endpoint using restController , and retrieve config from Vault (using token authentication method).
my pom.xml :
[code]
**my application.yml**
[code]

**and my application-local.yml looks like :**

[2021-12-10 21:59] bdemers opened #1367 "EnvironmentPostProcessor implementations are not invoked at build-time"
Conditional beans whose properties are defined by an `EnvironmentPostProcessor` are not available.

For example, if I create a `EnvironmentPostProcessor` that adds a `PropertySource` containing the property `foo`:

[code]

Beans dependent on this property such as:

[code]

Will not be available, and will throw a `NoSuchBeanDefinitionException` exception at runtime.

Injecting the property with a `

[2021-12-11 14:23] liupengpop opened #1368 "spring-data-jpa @EnableJpaRepositories not supported?"
@EnableJpaRepositories(repositoryBaseClass = MyJpaRepository.class)
not supported?

***************************
APPLICATION FAILED TO START
***************************

Description:

Native reflection configuration for com.test.MyJpaRepository is missing.

Action:

Native configuration for a class accessed reflectively is likely missing.
You can try to configure native hints in order to specify it

[2021-12-11 17:16] liupengpop opened #1369 "Proxy classes need to be defined at image build time by specifying the list of interfaces that they implement"
[code]

[2021-12-11 19:28] Nikolas-Charalambidis commented on #1286
@sdeleuze I have created a repository where I reproduce the error. Please, check it out: https://github.com/Nikolas-Charalambidis/spring-native-1286. The error can be also seen in Github Actions build: https://github.com/Nikolas-Charalambidis/spring-native-1286/runs/4494241258?check_suite_focus=true

[2021-12-12 09:22] goafabric opened #1370 "Regression in ClientHttpRequestFactoryHints"
**Intro**
Two Nativehints that where fixed in previous Versions of Spring native,
are broken again in native11.
I was able to get everything working by readding the Typehints again, with the now changed "TypeAccess"
My proposal might by a bit verbose, but the DEFAULT does not work
Would be nice if these are fixed in 11 again

**setConnectionTimeout**
https://github.com/spring-projects-experimental

[2021-12-12 09:28] goafabric opened #1371 "Support for ApplicationContextAware (followup)"
According to this issue, ApplicationContextaware should now be supported in native 11 final
https://github.com/spring-projects-experimental/spring-native/issues/949

At least in Combination with EntityListeners, i still can get it working, there is still a Nullpointer when
calling .getBean().

Demo Project:
https://github.com/goafabric/person-service/blob/native-11-github/.github/workflows/maven.y

[2021-12-12 11:40] goafabric opened #1372 "Injection of EntityManager not working since 0.11 final"
The Injection of EntityManager does not work since the final Version 0.11

A simple
@Autowired EntityManager entityManager;

Now results in the exception below.

Can be mitigated by adding an
@Qualifier("org.springframework.orm.jpa.SharedEntityManagerCreator#0")
but besides beeing a hack .. this crashes in normal JVM mode.

So in native mode 2 Entitymanager seems to get created.
I am using complet

[2021-12-12 21:38] joshlong opened #1373 "`@EventListener` annotations on `@Configuration` classes seems to fail compilation"
Hi, if I compile against Boot 2.6.1 and Spring Native 0.11 I encounter an error on compiling when using `@EventListeners` in a `@Configuration` class.

[code]

I get an error:

[code]

basically, the generated `ContextBootstrapInitializer.java` is trying to reference the proxied name of the `@Configuration` class (`IndexConfiguration$$EnhancerBySpringCGLIB$$798cc92e`), not `IndexConfiguration` its

[2021-12-13 05:40] siaron opened #1374 "Undertow + SpringBoot 2.6.1 native starter Failed."
- Compile is ok
- when starter .
[code]

[2021-12-13 05:47] siaron commented on #1374
undertown current is not support . close it.

[2021-12-13 05:47] #1374 closed

[2021-12-13 08:46] snicoll commented on #1373
Good catch, it looks like something there isn't taking the user class as it should.

[2021-12-13 08:50] snicoll commented on #1372
@goafabric you'll have to share a sample I am afraid rather than code snippet like this. Please do so as a zip attached to this issue or a link to a GitHub repository.

[2021-12-13 08:53] snicoll commented on #1369
@liupengpop thanks for the report but there's not much we can help you with only a stacktrace. How is `MyDataService` is defined? Please share a small sample that we can run ourselves.

[2021-12-13 08:55] snicoll commented on #1368
@liupengpop it is hard to give you support with this level of details. Spring Data JPA is supported. You haven't shared which version of Spring Native you're using or what your setup looks like. For us to be able to help you, we'd need that information.

[2021-12-13 09:00] snicoll commented on #1367
Thanks for the sample. `AotApplicationContextFactory` does not invoke EnvPP when preparing the environment at build-time. I don't remember why that is or what was the constraints. Do you @bclozel?

[2021-12-13 09:03] snicoll commented on #1365
One of the possible reasons is that the AOT engine is trying to write a parameter that it does not handle (which reminds me we should improve error handling).

It is impossible for us to say without a small sample that replicate the problem. Can you please share that?

[2021-12-13 09:24] bclozel commented on #1367
@snicoll I don't know if we wanted to start with something minimal there and never got to this use case, or if there were concerns about EnvPP instances doing "clever" things that could be incompatible with build time processing.
In any case I think we can try and fix this issue.

[2021-12-13 10:09] #1369 closed

[2021-12-13 10:56] #1373 closed

[2021-12-13 11:41] liupengpop commented on #1372
@PersistenceContext
	private EntityManager entityManager;

[2021-12-13 14:20] sdeleuze commented on #1364
Please report this issue on https://github.com/oracle/graal/issues instead.

[2021-12-13 14:20] #1364 closed

[2021-12-13 15:43] sdeleuze commented on #1343
Can be reproduced via https://github.com/ddn4/spring-stocks with `./mvnw -pl :market-service clean package -Pnative -Dspring.aot.debug=true`.

[2021-12-13 16:24] goafabric commented on #1372
@snicoll
thx 4 your fast reply and looking so fast into the other tickets
its basically the same github as inside the other tickets:
https://github.com/goafabric/person-service/tree/native-11-github

But basically its really simple .. the class is AuditJPAListener . which is a dirty class and also the problem of the other tickets.
And it may be currently disabled because of these

But it doesnt ma

[2021-12-13 16:57] mraible commented on #1365
I encountered this when trying to upgrade my JHipster examples to use Spring Native 0.11.0. You can reproduce with the following steps:

[code]

Results in:

[code]

My Java version:

[code]

[2021-12-13 17:01] snicoll commented on #1365
@mraible thanks for the sample. There are more than one reason why such a generic exception could be raised and I'd like @AndersClausen to share his sample and that yours is in a separate issue potentially. From a quick look at your project, you are using mockito and it isn't supported (never was) see #1343. If you're still having that issue after removing the use of Mockito, please create a separ

[2021-12-13 17:20] mraible opened #1375 "Spring Security OAuth endpoint not available when native app"
I'm updating my JHipster examples to use Spring Native 0.11.0. I've found that when I have Spring Security OAuth integrated, it works fine in JVM mode, but not in native mode. The `http://localhost:8080/oauth2/authorization/oidc` results in a 404 in native mode. Or rather, the forwarding mechanism to this endpoint doesn't work.

Steps to reproduce:

[code]

You should be able to log in at http://l

[2021-12-13 18:19] mraible commented on #1365
@snicoll Thanks for the tip. Removing Mockito as a dependency and any tests that referenced it solved this issue for me.

[2021-12-13 23:11] phejl opened #1376 "Regression in generateAot"
I'll try to provide more details. For now it looks like app compilable in 0.11.0-RC1 can't be compiled with 0.11.0 (after update of AccessBits to TypeAccess) as generateAot task fails.

[code]

[2021-12-14 00:25] joshlong opened #1377 "Please add a `@TypeHint` for `JwtDecoder.class` for Spring Security's hints"
The class is used reflectively in the bowels of Spring Security's OAuth / OIDC support and will stop the build from proceeding.

see https://github.com/okta-samples/okta-spring-boot-sample/pull/27  for an example

cc @mraible

[2021-12-14 00:29] mraible commented on #1375
@joshlong and I were able to figure this out with the help of Steve Riesenberg. It was caused by having a `SpaWebFilter` with a `@Component` annotation. We were also manually configuring it in JHipster's `SecurityConfiguration`:

[code]

Removing the `@Component` annotation makes it work the same in JVM and native mode.

[2021-12-14 13:55] sdeleuze commented on #1377
@eleftherias Could you please take care of this one?

Since non-annotation triggers now leverage static analysis capabilities, maybe something like `@NativeHint(trigger = JwtDecoder.class, types = @TypeHint(types = JwtDecoder.class))` will be enough. That said, worth to test it and analyze why it is needed.

[2021-12-14 13:57] sdeleuze commented on #1376
Ok please share a repro and I will have a look.

[2021-12-14 13:57] goafabric commented on #1372
@liupengpop
thx 4 your hint .. this actually seems to work ..
so this means i have been doing this all wrong for ages now ?

@snicoll
liupengpop hint worked .. don't know what is the expected behaviour here
works for me, it's up to you how to deal with the ticket

[2021-12-14 14:07] sdeleuze commented on #1375
Thanks for your feedback. As I read [this](https://github.com/mraible/spring-native-examples/commit/993d143506fab88586e66a06f95ff057244592c9#diff-1194561cbea346acb1bea37d81fdf5c70def982dcbb0c64eca2a96bc51941124R242) my understanding of the issue when using `@Component` is that it is on JHipster side, so I will close this issue. Please comment otherwise.

[2021-12-14 14:07] #1375 closed

[2021-12-14 14:16] sdeleuze commented on #1372
I will try to extract a minimal repro.

[2021-12-14 15:27] mraible opened #1378 "Property or field 'idToken' cannot be found on object of type 'org.springframework.security.oauth2.core.oidc.user.DefaultOidcUser' - maybe not public or not valid?"
I'm trying to get a JHipster-generated Spring MVC app to work with the latest version of Spring Native. When the user tries to log out, the following error shows up in the logs and logout fails.

[code]

I tried adding a `@TypeHint` for `DefaultOidcUser.class`, but that doesn't help. Here's my method signature:

[code]

Another error that happens is:

[code]

The method signature for this class is

[2021-12-14 15:27] eleftherias commented on #1377
I see the issue, looking into the best way to fix it now.

[2021-12-14 18:10] mraible commented on #1378
I was able to fix the 2nd issue by adding a name to the `@RequestParam` annotation:

[code]

I noticed something similar when I try to edit a post:

[code]

The method signature is:

[code]

Changing it to the following solves the problem:

[code]

Thanks to [this blog post](https://edwin.baculsoft.com/2013/05/a-java-lang-illegalargumentexception-when-using-springmvc-pathvariable/) for helping me

[2021-12-14 18:48] mraible commented on #1378
I was able to fix the initial issue by removing `(expression = "idToken")` and just getting the `OidcUser`.

[code]

Should I keep this one open for the `HttpMessageConversionException` or open a new one for that?

[2021-12-14 19:10] mraible commented on #1365
@snicoll Do you know why removing Mockito is necessary for Spring MVC but not WebFlux? Everything builds just fine in my WebFlux app and it has Mockito as a dependency:

[code]

[2021-12-15 11:38] snicoll commented on #1365
Having mockito on the classpath is not a problem at all. It's using it in a test that will cause a definition to be created. If you're not using mockito, the post processor will be created with an empty set of definitions.

[2021-12-15 17:47] mraible commented on #1365
@snicoll That's not the behavior I'm seeing. For Spring MVC, I had to exclude Mockito and then delete the tests for `./mvnw package -Pnative,prod -DskipTests` to work. For Spring WebFlux, I have to do neither and the same command works. I do have tests that import Mockito with WebFlux. If I exclude Mockito in these tests, the `./mvnw` command fails:

[code]

[2021-12-15 20:42] AndersClausen commented on #1365
I'm sorry @snicoll / @mraible - I'll provide a small sample very soon. The Log4J issue has kept busy the last few days :-)

[2021-12-16 10:14] martintw commented on #766
^ this worked on Spring Native 0.10.5 and Spring Boot 2.5.x

Sadly this is broken again on Spring Native 0.11.0 and Spring Boot 2.6.1. The above workaround no longer works

[2021-12-16 10:24] goafabric opened #1380 "ConditionalyProperties (of Spring Sleuth) resolved during build time"
So this is more of a question ... but the type question is not available here.
From one of the recent blog posts i understand that @ConditionalProperty is now resolved during build time.
Which is not my favorite behaviour, but en par with with Quarkus does.

This of course yields to the situation that i cannot enable things, during runtime, that where disabled during build.

Not a big deal for my

[2021-12-16 12:20] lukas-krecan opened #1381 "Gradle nativeBuild does not with Bellsoft Liberica NIK SDK"
The documentation [recommends](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started-native-image-system-requirements) to use Bellsoft Liberica NIK SDK but if you run `./gradlew nativeBuild` you get
[code]
If I switch to grl SDK, it works

It would be nice to either fix the docs or the build.

[2021-12-16 14:46] sdeleuze commented on #1381
I tried and it works for me. Please make sure you ran `gu install native-image` with Liberica NIK before since this is a per SDK command to run. Side note : `nativeBuild` is now deprecated in favor of `nativeCompile`.

Please let me know how it goes.

[2021-12-16 15:00] sdeleuze commented on #1380
Relates to #764, discussing that with the team and will provide a feedback later.

[2021-12-16 15:03] sdeleuze commented on #766
@OlgaMaciaszek Could you please confirm `spring-cloud-openfeign` requires child application context support?

[2021-12-16 15:03] spencergibb commented on #766
it does require child application contexts

[2021-12-16 15:09] sdeleuze commented on #1378
Could you please let me know if the original issue is native specific or also happen on the JVM with the AOT mode enabled?

Please create another issue for the `HttpMessageConversionException` error, I think we only configure class reflection and need to configure constructors reflection as well for Java types.

[2021-12-16 15:11] sdeleuze commented on #766
Thanks @spencergibb, so I confirm this won't be supported in 0.11.x, but we are well aware of that limitation in our support plan to have this proper supported in 2022. If you really need it, please use Spring Native 0.10.x. Thanks for your understanding.

[2021-12-16 15:12] #1377 closed

[2021-12-16 16:00] prettymama opened #1382 "Regression in 0.11.0 - Prometheus Actuator endpoint not registered"
After updating to 0.11.0 (from 0.10.5), the Prometheus Actuator endpoint ceased to be registered and is not available in native-image. The Health endpoint, for example, is still functional. Seems to be a regression from #423, where it has been fixed.

[2021-12-16 16:05] lukas-krecan commented on #1381
I did `gu install native-image` (I spent around an hour trying fixing it). Can you try to uninstall the `grl`? My suspicion is that Gradle looks for `GraalVM` vendor and if you have it installed, it just finds it.

[2021-12-16 16:51] sdeleuze commented on #1381
Yes I will, maybe the is something specific we should fine tune on https://github.com/graalvm/native-build-tools side.

[2021-12-16 17:19] sdeleuze commented on #764
Let's try to see if we can allow to set AOT profiles with maybe predefined ones for `aot` ant `aot-test` in 0.11.1.

[2021-12-16 17:20] #1380 closed

[2021-12-17 11:27] lgklein commented on #766
Can you please give me a light on why application context stop working?

[2021-12-17 13:40] ivangfr commented on #1365
Hi, I am facing the same problem

Steps
[code]

- To reproduce by running unit and integration tests
[code]

- To reproduce when trying to build the Docker native image
[code]

[2021-12-17 16:38] sdeleuze commented on #1381
Ok so short term we are going to disable toolchain support as implemented via https://github.com/graalvm/native-build-tools/issues/164 and document that as part of Spring Native `0.11.1`, see [related documentation](https://graalvm.github.io/native-build-tools/latest/gradle-plugin.html#configuration-toolchains-disabling).

Middle term, Gradle Toolchain support should be made more powerful to suppo

[2021-12-17 17:14] sdeleuze commented on #1381
At the moment, the documented workaround does not seems to work:
[code]
I have asked NBT team feedback on this and will keep you informed.

[2021-12-17 17:21] sdeleuze commented on #1376
@phejl Could you please share a repro ?

[2021-12-17 18:43] phejl commented on #1376
@sdeleuze Unfortunately I can't (employer's code). But I'll try to either debug or share some repro case. I just need a bit of a free time. I'm sorry end of year is a bit busy for me.

[2021-12-17 23:34] Nikolas-Charalambidis commented on #1286
@sdeleuze Would you take a look at the issue in my repository where I reproduce it?

[2021-12-17 23:56] mraible commented on #1378
It happens in JVM mode. I didn't test AOT-mode enabled. I can do that, as well as enter a new issue when I'm back from vacation in January. Happy holidays!

[2021-12-18 14:34] sdeleuze commented on #1381
I think I understand why it does not work, and it looks like a NBT 0.9.8 bug from what I can say. I created https://github.com/graalvm/native-build-tools/issues/183 and will try to see how fast we can get NBT 0.9.9 to fix it.

For now, with Gradle and Native Build Tools use GraalVM CE.

[2021-12-19 00:35] joshlong commented on #914
Hi - i have an example that demonstrates Spring GraphQL and the graphiql console working with [Spring Native 0.11.x here](https://github.com/joshlong/graphql-spring-native)

[2021-12-20 07:50] sdeleuze commented on #1063
Mockito support need to be added at Spring AOT level, see related [this related comment](https://github.com/spring-projects-experimental/spring-native/issues/1343#issuecomment-986545626).

[2021-12-20 08:05] sdeleuze opened #1384 "Remove exclusion of spring-boot-starter-logging in samples"
It was kept to be able to compare 0.10.x to 0.11.0 data points, but now that it is released, it will be better to have full logging capabilities especially on basic and widely used samples like `commandlinerunner`.

[2021-12-20 08:09] #1343 closed

[2021-12-20 08:09] #1384 closed

[2021-12-20 08:13] sdeleuze commented on #1365
@ivangfr Your project is using Mockito which is unsupported for now, see #1343 and #1063 related issues.

@AndersClausen Sinec #/1343 is now fixed in Spring Native `0.11.1-SNAPSHOT`, feel free to try your use case generating this error with it. If you see a `No qualifying bean of type 'org.springframework.boot.test.mock.mockito.MockitoPostProcessor'` error, it is Mockito and this issue can be clos

[2021-12-20 09:38] snicoll commented on #1365
@mraible mockito on the classpath shouldn't be an issue. You can put it again with your deleted tests and it shouldn't make any difference.

Using mockito manually in the test perhaps? (rather than `@MockBean` or something that would trigger Spring Boot's support for Mockito.

[2021-12-20 11:57] snicoll commented on #1382
@prettymama thanks for the report. 0.11 is very different from 0.10.5. Have you made sure that the endpoint is enabled in the configuration that is used at build time. See [this section](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#spring-aot-bean-factory-preparation) in particular.

If that is the case, please share a small sample that reproduces the problem.

[2021-12-20 11:58] snicoll opened #1385 "Provide more context when a bean definition could not be processed"
Issue #1365 shows that such a generic error message isn't helpful. We should revisit the processor to at least mention the affected bean.

[2021-12-20 12:09] #1385 closed

[2021-12-20 12:15] snicoll opened #1386 "Lower dependency to spring-beans if possible"
BeanRegistration happens at the bean factory level and yet we use an `ApplicationContext` everywhere. It would be better if we fix that for consistency.

[2021-12-20 12:30] sdeleuze commented on #1343
Meaningful error messages are now provided when `@MockBean` or `@SpyBean` are used.

[2021-12-20 12:31] sdeleuze commented on #1365
With `0.11.1-SNAPSHOT`, meaningful error messages are now provided when @MockBean or @SpyBean are used.

[2021-12-20 12:35] sdeleuze commented on #1381
The bug is now confirmed and fixed in Native Build Tools `0.9.9-SNAPSHOT`.

I am waiting to know if a quick NBT `0.9.9` release is possible, in that case, we will disable by default Gradle toolchain for native compilation.

Otherwise, I will move that issue to Spring Native `0.11.2` milestone and document in `0.11.1` that Liberica NIK is not yet supported with NBT + Gradle.

[2021-12-20 12:36] #1368 closed

[2021-12-20 12:38] sdeleuze opened #1387 "Upgrade to Spring Boot 2.6.2"

[2021-12-20 12:40] sdeleuze commented on #1378
Ok so I will close that one and let you create the other one when you are back. Happy holidays too.

[2021-12-20 13:05] halimpuckjava opened #1388 "Netty native build failure"
hi

i use java 17.0.1, graalvm 21.3.0.r17-grl, spring boot 2.6.2-snapshot, when generate a native executable

[code]

[2021-12-20 13:43] #1386 closed

[2021-12-20 14:18] sdeleuze opened #1389 "Upgrade to Native Build Tools 0.9.9"

[2021-12-20 18:05] cnolte commented on #914
Thank you so much. With your help I was able to run my App native.

[2021-12-21 06:59] westinyang opened #1390 "“AOT mode enabled” logs printed in Spring-native 0.11.0.jar cannot be masked"
A line of log printed at startup

[code]

My application.properties

[code]

I found the log print in Spring-native 0.11.0.jar, but I don't know why I can't turn it off by configuration.
`org.springframework.nativex.substitutions.boot.Target_SpringApplication` line 97 and 105.

[code]

[2021-12-21 08:32] sdeleuze commented on #1390
AOT logging was done too early, that should be fine now.

[2021-12-21 08:33] sdeleuze commented on #1388
As usual, please provide a repro. Could you also share what OS are you using and if that happens with Naytive Build Tools only, Buildpacks only, or both.

[2021-12-21 08:49] sdeleuze commented on #1286
@Nikolas-Charalambidis You have not configured `spring-aot-maven-plugin`, see [related documentation ](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_add_the_spring_aot_plugin).

[2021-12-21 10:24] #1381 closed

[2021-12-21 10:24] #1389 closed

[2021-12-21 11:16] sdeleuze opened #1391 "Avoid java.lang.Object declared method reflection entries"
Regression between `0.11.0-RC1` and `0.11.0`.

[2021-12-21 11:28] sdeleuze opened #1392 "Review Spring Security hints for servlet"
After having a look on a footprint regression between `0.11.0-RC1` and `0.11.0-0`, I am wondering if full public method reflection is needed for `HttpServletRequestWrapper`, `ServletRequestWrapper` and `ServletRequest`. See [related hints](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-native-configuration/src/main/java/org/springframework/security/config/annotation

[2021-12-21 11:37] sdeleuze opened #1393 "Remove method reflection config from WebMvcHints"
Regression between `0.11.0-RC1` and `0.11.0`.

[2021-12-21 11:37] #1391 closed

[2021-12-21 11:37] #1393 closed

[2021-12-21 14:56] #1322 closed

[2021-12-21 17:09] sdeleuze commented on #1388
We see this error with Spring Boot `2.6.2-SNAPSHOT` so this should be fixed before releasing `0.11.1`. See for example https://ci.spring.io/teams/spring-native/pipelines/spring-native-0.11.x/jobs/build-key-samples-java11/builds/410.

[2021-12-21 17:10] sdeleuze commented on #1387
See related #1388 issue.

[2021-12-21 17:13] sdeleuze opened #1394 "Fix gradle bootRun AOT documentation"
What is documented [here](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#build-setup-modes) does not enable the AOT mode as expected:

Instead of documenting:
[code]

We should probably advise to configure a system property as documented [here](https://docs.spring.io/spring-boot/docs/current/gradle-plugin/reference/htmlsingle/#running-your-application.passing-system-proper

[2021-12-21 17:41] sdeleuze opened #1395 "Find how to avoid "No auto configuration classes found in META-INF/spring.factories" error in IntelliJ IDEA"
Seems to happen when:
 - Both main and test generated sources/resources/classes are present in Maven projects
 - The app is ran without `-DspringAot=true`

Based on my test with IDEA 2021.3, when I run `CommandLineRunnerApplication` in the `commandlinerunner` sample, `ClassUtils.isPresent("org.springframework.aot.TestContextBootstrapInitializer", null)` return `true`, leading to `AotModeDetector#i

[2021-12-21 17:52] sdeleuze commented on #1388
Like related to [Netty 4.1.72.Final upgrade](https://github.com/spring-projects/spring-boot/issues/29005).

[2021-12-21 18:47] nbruno opened #1396 "NPE during AOT generation when @ConfigurationProperties contains generic property"
With a dependency on consul-api and a `@ConfigurationProperties` bean that contains a `ConsulClient` field, AOT generation fails with a NullPointerException. While this particular use-case may be strange (having a `ConsulClient` field within `@ConfigurationProperties`), there is a more general case that reproduces this issue.

The dependency to add (Gradle):

    implementation 'com.ecwid.consul:c

[2021-12-21 19:15] nbruno commented on #1366
I was able to solve this by adding the following native hint to my project:

    @NativeHint(
        types = @TypeHint(
            types = {
                VaultConfigDataLocationResolver.class
            },
            typeNames = {
                // These two taken from org.springframework.cloud.vault.config.VaultConfigDataLoader#reconfigureLoggers
                "org.springframework.vault

[2021-12-21 19:21] #1388 closed

[2021-12-21 19:21] #1394 closed

[2021-12-21 19:44] sdeleuze commented on #1390
Need to fine tune logs during tests.

[2021-12-21 19:48] #1390 closed

[2021-12-21 21:07] Nikolas-Charalambidis commented on #1286
@sdeleuze The missing plugin fixed my issue. I have missed the plugin in the documentation. Thanks a lot!

[2021-12-22 05:31] JackyChan opened #1397 "Throw AnnotationException show that has no persistent id property"
My project contain composite id class. Compile to GraalVM native is success, but throw AnnotationException when running. The message show that the composite id class has no persistent id property.

[code]

Caused by: org.hibernate.AnnotationException: Keys has no persistent id property

How to fix it?

[2021-12-22 06:13] #1387 closed

[2021-12-22 07:40] yinyuncan opened #1398 "java.lang.StackOverflowError An error occurred during build-image"
run  `mvn -Pnative clean package`

[code]
[code]

[2021-12-22 08:08] snicoll commented on #1398
@yinyuncan the stackoverflow occurs on one of your domain classes, specifically a `@ConfigurationProperties`-annotated type that we introspect to add native configuration. To make progress here, we'll need you to share a small sample that reproduces the problem as the stacktrace alone isn't enough.

[2021-12-22 08:11] snicoll commented on #1396
Thanks for the detailed report. This is related to #1252

[2021-12-22 08:13] snicoll commented on #1395
If the test classpath is present when running a main app, this is a bug that should be reported to Jetbrains.

[2021-12-22 09:22] yinyuncan commented on #1398
The project is too big to give an example sorry

[2021-12-22 09:32] snicoll commented on #1398
I am not asking for your project. I am asking for a small example that reproduces the problem.

[2021-12-22 10:13] goafabric commented on #1382
@prettymama
are you sure that it's not working ?
despite some changes in 0.11 that where already mentioned,
prometheus still works for me as expected with native.

my setup:
- spring boot 2.6.1
- native 11.0
- ...web.expure.include: ""health,prometheus"
- dependency
   <dependency>
            <groupId>io.micrometer</groupId>
            <artifactId>micrometer-registry-prometheus</artifactId>

[2021-12-22 13:35] prettymama commented on #1382
@snicoll, @goafabric thanks to both for your feedback. I played around with it in the meantime and I believe I found the problem: my configuration resides in application.yml and this file is not on the classpath, but it is externalized and located in a directory called config. Normally, the application picks it up on startup (doesn't matter if JVM based or native-image based), however the file is

[2021-12-22 16:24] RMostapha commented on #1366
Thank you @nbruno
I tried your solution , Now the application start , but it's not able to  retrieve the vault token , I'm having this error:
[code]

I tried adding a the class `VaultResponse` to the TypeHint , but I'm still having other issues
[code]

I already checked the VaultToken it's Valid , when it's not I'm getting 403 .
 Maybe my configuration of TypeHint it's not good , I'm new to this,

[2021-12-22 21:30] jamesward opened #1399 "Gradle Continuous Mode Infinite Loop"
org.springframework.experimental.aot = 0.11.1

If I run in continuous mode:
[code]

It runs and re-runs the tests infinitely due to:
[code]

[2021-12-22 21:31] jamesward opened #1400 "Gradle Continuous Mode Infinite Loop"
org.springframework.experimental.aot = 0.11.1

If I run in continuous mode:
[code]

It runs and re-runs the tests infinitely due to:
[code]

[2021-12-22 21:31] jamesward commented on #1400
Whoops. Double posted this.

[2021-12-22 21:31] #1400 closed

[2021-12-22 21:46] jamesward commented on #532
This is closed but I'm still seeing the following in the `generateAot` task:
[code]

[2021-12-23 09:29] goafabric commented on #1382
@prettymama could be .. as i mentioned i also encountered some changes, that properties from application.yaml are now resolved during compile time .. the same way that quarkus does it for some ...
i had this change with spring-sleuth
but i think the spring guys here can explain better

[2021-12-23 09:41] prettymama commented on #1382
So I ended up splitting my configuration into 2 parts: the crucial ones (basically 3rd party endpoints configuration) are placed externally and the ones needed during the build time (metrics etc.) are in the classpath. That's sufficient enough for me.

@snicoll and @goafabric thanks again for pointing me in the right direction.

[2021-12-23 09:41] #1382 closed

[2021-12-23 14:30] a-locatelli opened #1401 "ResolvableType - java.lang.IllegalArgumentException: Mismatched number of generics specified"
I'm trying to build an application using cloud gcp data datastore.
This app expose a rest api endpoint for receiving data and make a call to gcp datastore for saving data.

RestController:

[code]
The `DeviceRepository` is an _interface_ which extend the `DatastoreRepository`:

[code]
While running the application normally doesn't make problem, when i build the native image i get this error from s

[2021-12-24 02:56] A001007008 opened #1402 "Failed to handle bean with name&Multiple privileged packages"
I'm try to use spring-native with some old project which complete by springboot (version:2.2.9) and springcould (version:Hoxton.SR8).
According to the documentation ,I upgrade springboot(2.2.9->2.6.2) and springcould(Hoxton.SR8->2021.0.0).
After adapting to the new version, it runs normally(Non-native mode)

Try to run mvn -Pnative-image package -X
[code]
env:

[code]
[code]

[2021-12-24 11:23] AzarguNazari opened #1403 "ConstructorArgumentValues should only be assigned when indexed argument values are present"
As I was running spring native (0.11.1)  with the following dependencies:

[code]
I was getting the following error

![native-image-problem](https://user-images.githubusercontent.com/17498897/147348540-01856745-a230-40ca-a52d-475009af9446.png)

[2021-12-24 14:48] spring-projects-issues commented on #1365
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-12-25 19:09] XKTZ opened #1404 "Infinite loop if import mybatis-spring-boot-starter"
if there is depencity mybatis-spring-boot-starter and by running `mvn -Pnative package`, there seems infinite loop and result in StackOverflowError
[code]
The methods keep recursing seem like:
[code]

This is a demo I make which can reproduce the error
[demo.zip](https://github.com/spring-projects-experimental/spring-native/files/7776184/demo.zip)

[2021-12-26 10:51] snicoll commented on #1402
Thanks for the report. `MenuController` seems to be package private and require a package private component from another package. Sharing the code of `MenuController` can help us figure out why.

[2021-12-26 10:53] snicoll commented on #1403
@AzarguNazari Spring Cloud Stream isn't supported but that error is unrelated. Can you share a bit more detail about this bean?

[2021-12-26 10:55] snicoll commented on #1401
Thanks for the report. Can you share a small sample that we can run ourselves?

[2021-12-26 11:22] ch4mpy opened #1405 "`data-jpa` sample native image won't start with `@EnableJpaRepositories`"
If adding `@EnableJpaRepositories`, regular image (_non-native_) start correctly but native image won't start:
- `mvn clean spring-boot:run` => OK
- `mvn clean spring-boot:build-image && docker run --rm -p 8080:8080 -t data-jpa:0.0.1-SNAPSHOT` => KO
[code]

I need this annotation in multi-module projects with persitence layer (repositories) in a shared lib and controllers accross multiple web modu

[2021-12-27 02:42] ch4mpy opened #1407 "`data-jpa` sample native image won't build if an `@Entity` is `@Audited`"
If adding a dependency on `org.springframework.data:spring-data-envers` and making `Flurb` an `@Audited @Entity`, then:
- `mvn clean spring-boot:run` starts correctly
- `mvn clean spring-boot:build-image` fails with:
[code]

[2021-12-27 02:51] ch4mpy commented on #1407
Created a PR with minimal modifications to reproduce: https://github.com/spring-projects-experimental/spring-native/pull/1408

[2021-12-27 02:57] A001007008 commented on #1402
Here is `MenuController  `Information(Excerpts from different types of code):

[code]

Here is `CrudBaseController`&&`ResponseResult`&&`ApiMs`Information(Excerpts from different types of code):

[code]

Ps: All type of Controller&&Service all defined like(maybe it has some problem?):
[code]

[2021-12-27 11:11] snicoll commented on #1402
Yes, I believe that `CrudBaseController` is injecting a package private component, maybe `CrudBaseService`? What AOT reveals here is that it is impossible to configure your application without resorting to reflection privileged access in multiple packages. This is a problem on its own as it means you can't instantiate such a component in a unit test.

There's not much we can do at this point. Can

[2021-12-27 11:12] snicoll commented on #1407
Similar to #1401

[2021-12-27 16:58] ch4mpy commented on #1401
This PR https://github.com/spring-projects-experimental/spring-native/pull/1408 reproduces with a minimal change set from spring-data sample

[2021-12-28 02:21] A001007008 commented on #1402
Problem solved，thanks

[2021-12-28 02:21] #1402 closed

[2021-12-28 03:57] AngryApe opened #1409 "Is there a more detailed document for Native Hints？"
I need to build a standalone native image for windows user(.exe), so I add an embedded version postgresql [dependency](https://github.com/yandex-qatools/postgresql-embedded), but the image throw an Exception and start failed. I wanna add some Native Hints annotation to support `embedded postgresql`, the Spring Native document about Hints is too simple, I can't get enough information about how shou

[2021-12-28 09:09] haroldlbrown commented on #1338
For us, disabling AOT in Gradle for tests would also be beneficial.
We use `MockBean`s in our Spring integration tests. `MockBean` is currently not supported in AOT.
So disabling AOT would help us in not having to rewrite our Spring integration tests.

[2021-12-28 10:23] snicoll commented on #1402
Thanks for following-up.

[2021-12-28 22:25] jamesward opened #1410 "Refine support for kotlinx.serialization when reflection is involved"
Now that Spring Boot supports kotlinx.serialization it'd be great to have the native hints to support it.  I have:
[code]

Not sure why the `Object` one is needed but it seems strange.

[2021-12-28 23:57] jamesward opened #1411 "Document that beans defined in a profile aren't picked at runtime unless the profile is enabled when AOT runs"
If I have:
[code]

It works as expected when the profile is `init` on the JVM but does not run as a Spring Native executable.

Reproducible project: https://github.com/jamesward/spring-native-cli

[2021-12-29 10:26] snicoll commented on #1411
@jamesward the profile must be enabled at build time so that AOT pre-process the context at build time. We could make that more clear in the doc that mentions the environment and conditions already.

[2021-12-29 13:18] jamesward commented on #1411
Ah. That makes sense. So do I just set the enabled profiles in my AOT Gradle task?

[2021-12-29 16:36] jamesward commented on #1411
It appears I can do:
[code]

[2021-12-29 16:48] snicoll commented on #1411
IMO, using profiles with Spring Native doesn't make much sense at this point. Once the profile is enabled at build time, it will unconditionally be enabled at runtime as well (since the context was pre-processed for that particular arrangement). That makes it quite useless.

If you have an app and want to keep the flexibility the JVM has to offer, then you could configure the build plugin (we shou

[2021-12-29 17:08] jamesward commented on #1411
Haha - I just discovered that. :)

I was using profiles for conditional behavior (if there is an `init` arg, run a command line app to init the db schema, otherwise start the web server).  And you are right that in the world of AOT, this won't work.  I've switched to using properties instead.  Thanks for your help!

[2021-12-29 17:24] jamesward commented on #1411
It appears that `@ConditionalOnProperty` has the same behavior as `@Profile` (it depends on the property as set during AOT).  So I'm still trying to find a way to do what I need.

[2021-12-29 23:44] jamesward commented on #1411
I ended up doing a runtime check:
[code]

[2021-12-30 00:00] AzarguNazari commented on #1403
The error which you see in the picture is from the generated AOT classes on the target directory. The application runs fine without doing the AOT, but when the process of AOT happens, the generated optimized file shows this error.

[2021-12-30 05:36] snicoll commented on #1403
Yes I understood that already and I am afraid a screenshot is nowhere near enough information. Can you please share more infirmation? If you can build a small sample we can run that would be ideal.

[2021-12-30 17:19] jamesward opened #1412 "Document that -parameters javac flag is mandatory with native"
Usually the `id("org.springframework.boot")` Gradle plugin adds:
[code]

But it doesn't in a Kotlin Multiplatform project (I think because the task is named differently than it expects).

Using a Kotlin data class in a Spring Data repo works fine on the JVM without this setting.  But running via Spring Native, when trying to map the DB data, an exception is produced like:
[code]

I'm not sure if S

[2021-12-30 17:39] hdeadman opened #1413 "RefreshScope beans are created albeit the feature being disabled explicitly"
I am trying to build a native image for CAS, and it is probably a long way from happening because CAS is a large project, but trying to make some progress. I am currently building and trying to run without any generated json b/c the generated json was an unmaintainable 40K+ lines and I was hitting this [NPE issue](https://github.com/oracle/graal/issues/3977) during build so I couldn't make much pr

[2021-12-31 10:51] sergey-morenets opened #1414 "java.lang.IllegalStateException: Multiple privileged packages"
Hi

We tried to use spring-native capabilities for our project but we failed to build it using Gradle: gradle clean assemble:

[code]

The error message doesn't actually explain what the error is and how to resolve it. Our investigation showed that this error occurs because of protected field being injected in Spring bean:

[code]

If we change field access to public then our project is built succ

[2021-12-31 10:55] sergey-morenets commented on #1414
What is interesting is Spring AOT build works fine if Spring bean has private field being injected:

[code]

But it fails to build for field injection in the base class.

[2021-12-31 15:37] skrese opened #1415 "Provide meaningful error message when logback.xml is detected"
**Environment:**
[code]

**build.gradle**
[code]

**settings.gradle**
[code]

**./gradlew bootBuildImage**
[code]

[2021-12-31 17:50] snicoll commented on #1414
@sergey-morenets the fact that it works with private injection is just a corner case, really. The problem is injecting privileged components in a parent class that sits in another package. Spring AOT is turning your arrangement into a single programmatic equivalent that shows that your bean cannot be created "manually" (in a unit test, for instance).

Spring Native requires such a bean to be creat

[2022-01-01 08:51] sergey-morenets commented on #1414
@snicoll

Thank you for the explanation. Can you please add it to the documentation?

[2022-01-01 11:30] snicoll commented on #1414
Good point, let's do that.

[2022-01-02 10:04] snicoll commented on #1413
Yes. An AOT-runtime context is not annotation-based at all. By forcing this at runtime (not sure how), you're bringing configuration class parsing in the native image again. I got a bit lost by the overlay and how things are wrapped up together. Can you share how the override of the context takes place at runtime?

[2022-01-02 10:05] snicoll commented on #1415
It's hard for us to provide support with the information you've shared. Can you share a small project that reproduces the problem so that we can run it ourselves?

[2022-01-02 14:21] robtha opened #1416 "Failed to establish connection to Kafka with SASL authentication."
Connecting to Kafka fails with the following exception (see full stack trace below)

`javax.security.sasl.SaslException: Cannot get userid/password`

I am using the following configuration settings:

spring.kafka.properties.sasl.mechanism=PLAIN
spring.kafka.properties.bootstrap.servers=pkc-123456.eu-central-1.aws.confluent.cloud:9092
spring.kafka.properties.sasl.jaas.config=org.apache.kafka.common

[2022-01-02 14:35] skrese commented on #1415
I thought it might not be enough info. How can I send you the project, via email perhaps?

[2022-01-03 07:52] sdeleuze commented on #1415
Please just attach a zip archive to this issue (drag and drop).

Also please make sure you are using [Docker WSL2 backend](https://docs.docker.com/desktop/windows/wsl/).

[2022-01-03 07:55] sdeleuze commented on #1416
Could you please share a reproducer and let us know if it works on the JVM without `-DspringAot=true` and with `-DspringAot=true`?

[2022-01-03 07:57] skrese commented on #1415
[2-actors-in-movies.zip](https://github.com/spring-projects-experimental/spring-native/files/7800836/2-actors-in-movies.zip)

[2022-01-03 08:16] sdeleuze commented on #1415
I can reproduce the error, it is due to `src/main/resources/logback.xml` file which is not supported yet as [documented](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support-spring-boot).

But I think we can provide more meaningful error for that popular use case.

[2022-01-03 08:45] skrese commented on #1415
Thank you for your clarification. I wasn't aware of the lack of support for Logback. Since Logback is a very useful library, are you working on it? If nothing else, those CVE issues are supposedly not an issue.

[2022-01-03 08:45] #1415 closed

[2022-01-03 08:47] sdeleuze commented on #1415
Logback is supported, embedded configuration with `src/main/resources/logback.xml` not yet, see the documentation for more details.

[2022-01-03 08:53] sdeleuze commented on #1405
@christophstrobl @schauder Could you please take care of fixing that one?

[2022-01-03 08:56] sdeleuze commented on #1405
See related repro (probably worth to use in our samples) in #1406.

[2022-01-03 09:03] sdeleuze commented on #1407
Spring Data Envers is not supported yet and this is tracked via #1016, and the `Mismatched number of generics specified` should probably be tracked via #1401, so I close this issue as duplicate.

[2022-01-03 09:03] #1407 closed

[2022-01-03 09:14] sdeleuze commented on #1412
Yeah with the JVM, it likely fallback on reading the `.class` resource with ASM which is not possible on native where the `javaParameters` is mandatory, so my feeling is that this issue is not specific to Spring Native but should be solved at Kotlin or Spring Boot Gradle plugin level.

At Kotlin level, maybe the multiplatform Gradle plugin should be configured in a way that allow Spring Boot plugi

[2022-01-03 09:22] sdeleuze commented on #1411
Related to #764.

[2022-01-03 09:26] sdeleuze commented on #1410
I will add those few hints, but maybe worth to raise it on Kotlin side as well to see if `kotlinx.serialization` can work without any need for reflection since that one of its expected benefits.

[2022-01-03 09:31] sdeleuze commented on #1409
Native hints mostly share the same semantics than GraalVM native configuration, so you will find more details when clicking in the related links at the beginning of https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#native-hints. They point to the related GraalVM native configuration documentation which is not as complete as I would wish, but for now this is what we have.

Cra

[2022-01-03 09:31] #1409 closed

[2022-01-03 09:36] #1365 closed

[2022-01-03 09:37] sdeleuze commented on #1365
Closing this issue due to lack of feedback and related fix via #1343.

[2022-01-03 10:03] sdeleuze commented on #1399
I tried on `commandlinerunner-gradle` sample and can't reproduce, could you please share a reproducer?

[2022-01-03 10:05] sdeleuze commented on #1366
@OlgaMaciaszek Could you please check if we should added related hints?

[2022-01-03 10:08] eleftherias commented on #1392
You are right @sdeleuze, I don't believe those hints are needed anymore. Please see PR #1418.

[2022-01-03 10:08] sdeleuze commented on #1398
@yinyuncan Could you please provide a feedback?

[2022-01-03 10:10] #1392 closed

[2022-01-03 10:16] sdeleuze commented on #1395
I can't reproduce anymore, I updated IDEA in the meantime, so maybe that was indeed just an IDEA bug.

[2022-01-03 10:45] sdeleuze opened #1419 "Properly disable devtools in AOT mode"
As pointed out by @jamesward [here](https://github.com/spring-projects-experimental/spring-native/issues/532#issuecomment-999900354), a build with the AOT plugin is broken when `spring-boot-devtools` is added.

The spirit of [this commit](https://github.com/spring-projects-experimental/spring-native/commit/cc87cf548e06cf4534af13dee612a2e9768bded8) was to say we don't enable AOT mode by default so

[2022-01-03 10:46] sdeleuze commented on #532
Good catch, I have created #1419 related issue.

[2022-01-03 11:04] sdeleuze commented on #1376
@phejl Hey, any chance you could provide a repro ?

[2022-01-03 11:07] sdeleuze commented on #766
It is due to child application context not supported with 0.11 anymore, we will likely work on a proper solution based on Spring Boot 3.

[2022-01-03 16:41] jamesward commented on #1410
Thanks!  It seems that the reflection is necessary: https://github.com/Kotlin/kotlinx.serialization/issues/1125#issuecomment-706057500

[2022-01-03 16:45] jamesward commented on #1412
Thank you.  Here is my config:
https://github.com/jamesward/kotlin-bars/blob/main/common/build.gradle.kts#L48-L50

[2022-01-03 16:58] jamesward commented on #1399
Might be something unique in my setup.

Use this repo:
https://github.com/jamesward/kotlin-bars

Run:
[code]

[2022-01-04 06:18] hdeadman commented on #1413
I backed out the custom context override (in a fork of CAS) in order to see if that made the problem go away. You can see the change here:
https://github.com/hdeadman/cas/commit/d7daf5a36fe33ba775d8e2443cc7a8c33d6eced8

I think the custom context that I removed uses [this class](https://github.com/hdeadman/cas/blob/master/core/cas-server-core-configuration/src/main/java/org/apereo/cas/configuratio

[2022-01-04 07:28] snicoll commented on #1413
Thanks for the follow-up.

If that is the case, there isn't really any reason I can think of that requires a custom context for this. A library such as CAS requiring a custom context is highly unusual so stopping that irrespective of Spring Native is an improvement.

That call in `onRefresh` can be called in plenty of other locations. For instance, you could write an `ApplicationContextInitializer

[2022-01-04 09:59] spring-projects-issues commented on #1398
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-01-04 09:59] spring-projects-issues commented on #1376
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-01-04 11:19] sdeleuze commented on #1410
Yeah, seems to require https://github.com/Kotlin/kotlinx.serialization/issues/1348 which has not yet been implemented.

[2022-01-04 14:17] hdeadman commented on #1413
We don't really need refreshscope for a native build (it would just be a feature that wouldn't be available natively), but the documentation wording implies to me that spring native is disabling refreshscope automatically. I am going to try setting that property to false when I do nativeCompile, or can the code not use the refreshscope annotations at all?

[2022-01-04 14:20] nbruno opened #1422 "Support scoped beans with proxy mode `ScopedProxyMode.INTERFACES`"
Currently, only scoped beans with proxy mode `ScopedProxyMode.TARGET_CLASS` are supported. If `ScopedProxyMode.INTERFACES` is used, a warning is printed during AOT generation:

This causes a missing proxy at runtime exception. However, a custom `proxy-config.json` can be supplied with the interfaces needed for that proxy, specifically the bean type and the following interfaces:

[code]

But doing

[2022-01-04 14:28] snicoll commented on #1413
Yes, this is a good point. We do disable the feature but AOT doesn't take that into account, detect the scope and generate some code for it to be created at runtime. This is new in 0.11 as 0.10 was doing all that work at runtime (and the feature was disabled with the property we've discussed).

To fix this properly we might need a contributor that knows refresh scope is disabled and prevents the s

[2022-01-04 14:44] stefferro opened #1423 "Spring config import vault - compilation error with GraalVM 21.3.0"
Hi,

I would like to bring to your attention an issue I am experiencing when building my spring native project over GraalVM 21.3.

See the attached sample project: [sample-project.zip](https://github.com/spring-projects-experimental/spring-native/files/7808162/sample-project.zip)

In this project, I want to validate that a secret can be loaded from a vault and injected into a field.
It works perfe

[2022-01-04 14:50] sdeleuze commented on #1423
Spring Cloud Config Vault is not supported yet, you can track #1366 related issue.

[2022-01-04 14:50] #1423 closed

[2022-01-04 14:51] sdeleuze commented on #1366
See another related error reported via #1423 that I closed as a duplicate.

[2022-01-04 15:21] sdeleuze commented on #1399
I can reproduce with your sample, not sure yet what triggers it. Could be Kotlin specific or multi-module specific for example.

[2022-01-04 15:33] sdeleuze commented on #1412
@wilkinsona Based on James feedback, it seems Spring Boot Gradle plugin configure `javaParameters` for Kotlin JVM plugin but not for the multiplaform one. If possible to qualify that without too much effort, could you share if that should be raised as an improvement request on Spring Boot side (which would be me preferred option given the manual config James did above)? If not, we will document it

[2022-01-04 21:43] phejl commented on #1376
@sdeleuze I'm sorry I finally found some time to investigate bit more. It looks like related to Spring Data class where `TypeModelProcessor` is going through types and it gets to `org.springframework.core.MethodParameter` where it tries to get methods of inner class `KotlinDelegate` and fails on `java.lang.NoClassDefFoundError: kotlin/reflect/KParameter`. I think this _might_ have been introduced

[2022-01-05 00:56] cmdjulian commented on #184
Any updates on this? Would love to try out native with cloud gateway, but currently build fails for the newest version 2021.0.0 with your big list @joshlong.
```Fatal error:java.lang.TypeNotPresentException: Type org.springframework.security.oauth2.client.ReactiveOAuth2AuthorizedClientManager not present```

The source you provided in your repo seems to not work with a newer version if I'm correct

[2022-01-05 02:26] dangolbeeker commented on #1105
Any update on this?

[2022-01-05 09:33] spring-projects-issues commented on #1398
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-01-05 09:33] #1398 closed

[2022-01-05 09:37] snicoll commented on #1404
Closing in favor of PR #1420

[2022-01-05 09:37] #1404 closed

[2022-01-05 09:39] snicoll commented on #1398
@yinyuncan There is a high chance that your problem is fixed by #1420 (in particular if your project uses mybatis)

[2022-01-05 12:18] #1414 closed

[2022-01-05 12:35] #1411 closed

[2022-01-05 12:37] snicoll commented on #1411
@jamesward irrespective of Spring Native, the use case you've described is best implemented using the `CommandLineRunner` you've shared (prefer `ApplicationRunner` as it provides a higher-level contract for arguments).

[2022-01-05 13:51] sdeleuze commented on #1413
I have created a reproducer, just build it with `mvn -Pnative -DskipTests clean package`, run `target/demo-refresh-scope`, you should get the `java.lang.IllegalStateException: No Scope registered for scope name 'refresh'` error.

[demo-refresh-scope.zip](https://github.com/spring-projects-experimental/spring-native/files/7815330/demo-refresh-scope.zip)

[2022-01-05 14:14] #1396 closed

[2022-01-05 14:21] snicoll commented on #1403
I think I got it in the meantime. Looking at the screenshot and the code, it looks like this bean only has generic argument values (and no indexed values at all). We support the latter only which is why we start writing some code and then stop which leads to the compilation failure.

[2022-01-05 14:30] #1403 closed

[2022-01-05 14:31] snicoll commented on #1403
@AzarguNazari note that this fix won't change your particular situation. Spring Cloud Stream isn't supported and neither are generic constructor argument values. But at least the generated code won't be invalid now.

[2022-01-05 21:22] phejl opened #1425 "Runtime errors with recent dev Graal"
This is more FYI as you guys might better know on what's going on and possibly discuss the thing with GraalVM team. The very same application compiled to native image with 0.11.0-RC1 runs ok with https://github.com/graalvm/graalvm-ce-dev-builds/releases/download/22.0.0-dev-20211129_1955/graalvm-ce-java17-linux-amd64-dev.tar.gz but fails with more recent https://github.com/graalvm/graalvm-ce-dev-bu

[2022-01-06 07:57] sdeleuze commented on #1425
Thanks, I have followed the info to the GraalVM team.

[2022-01-06 07:57] #1425 closed

[2022-01-06 08:08] sdeleuze commented on #1376
Np, thanks for your feedback. Indeed, could be the cause. Can you craft a repro that we could use to fix this issue?

[2022-01-06 08:10] sdeleuze commented on #1105
Should be done as part of #184.

[2022-01-06 08:10] #1105 closed

[2022-01-06 08:13] sdeleuze commented on #184
Cc @OlgaMaciaszek.

[2022-01-06 14:17] sdeleuze opened #1426 "Optimize tomcat-embed-core footprint"
`tomcat-embed-programmatic` is an experimental Tomcat dependency designed to lower the memory footprint, but it seems possible to reach similar or even lower footprint with the default `tomcat-embed-core` with a refined native configuration and an additional substitution.

My analysis tends to show that unused protocols are the main source of inefficiency, and more generally optional features shou

[2022-01-06 15:15] robtha commented on #1416
The attached sample application is a minimalistic kafka application. It only creates a topic by the KafkaAdminClient.

I used confluent cloud kafka for my tests becauses it is the easiest way for me to connect to a properly SSL configured Kafka.

The application runs fine on the JVM either with or without -DspringAot=true

To solve some initialization errors I added some additional hints but in th

[2022-01-06 17:18] hdeadman commented on #1413
@snicoll Thanks for the fix. I tried it out and its using the new code but it got a ConcurrentModificationException.

https://github.com/hdeadman/cas-overlay-template/runs/4729204318?check_suite_focus=true#step:8:134

[code]

[2022-01-06 17:18] ivangfr opened #1427 "IT & Testcontainers - No auto configuration classes found in META-INF/spring.factories"
Hi! I've updated [springboot-ldap-testcontainers](https://github.com/ivangfr/springboot-ldap-testcontainers)
_FROM_ **spring-boot** `2.5.6` and **spring-native** `0.10.5`
_TO_ **spring-boot** `2.6.2` and **spring-native** `0.11.1`

Previously, the native app was compiling and starting correctly. However, app was not executing fine (giving the correct response). Unit & Integration Tests were workin

[2022-01-06 17:24] snicoll commented on #1413
Thanks for testing! I think that might be the lambda callback. I'll have another look.

[2022-01-06 17:35] sdeleuze commented on #1416
@garyrussell Could you please have a look?

[2022-01-06 20:25] phejl commented on #1376
Here it is. The problem is triggered by `IndexResolver` I believe.
[repro.patch.txt](https://github.com/spring-projects-experimental/spring-native/files/7824526/repro.patch.txt)

[2022-01-06 20:44] garyrussell commented on #1416
I found some more classes that are instantiated in the kafka-clients with `Utils.newInstance()`, but this still doesn't work, even with SASL_PLAIN...

[code]

In `SaslCallbackHandler.handle()`...

[code]
If it was a reflection issue, I'd expect to see class not found exceptions, but it appears that either the `Subject` is null or the private credentials therein are empty (as indicated by <<<< abov

[2022-01-07 10:15] sdeleuze opened #1428 "Add petclinic-keyvalue sample"
Based on https://github.com/dsyer/spring-petclinic/tree/maps whihc is using https://github.com/spring-projects/spring-data-keyvalue.

[2022-01-07 10:17] #1428 closed

[2022-01-07 10:42] #1413 closed

[2022-01-07 15:02] hdeadman commented on #1413
Thanks, the latest fix gets me past that RefreshScope issue. Now I am running into Caffeine library needing reflect-config.json but according to this issue https://github.com/spring-projects-experimental/spring-native/issues/465, not sure anyone has gotten that working. Looks like Caffeine 3.x might be blocked from working by an open Graal issue but CAS is using Caffeine 2.x so maybe there is some

[2022-01-07 17:41] Hajosman opened #1429 "Spring Cloud Stream fail to crate AOT transformation"
Hey,

I am trying to implement a project that uses Spring-Cloud-Stram RabbitMQ to exchange messages and connects to a Spring-Cloud server. this works without problems when I run it in the JVM, but does not work when I run it as Native. Both mvn spring-aot:generate and mvn clean -Pnative -DskipTests package fail

technologies used:
spring-boot: 2.6.2
spring-native:0.11.1
spring-cloud: 2021.0.0
spri

[2022-01-07 18:19] sergey-morenets opened #1430 "Class com.ecwid.consul.v1.kv.model.GetValue is instantiated reflectively but was never registered"
Hi

We have Spring Boot application that uses Spring Cloud Config Consul. We added Spring Native plugin (for Gradle) and managed to build GraalVM native image however when we run the application we get the following exception:

Caused by: java.lang.IllegalArgumentException: Class com.ecwid.consul.v1.kv.model.GetValue is instantiated reflectively but was never registered. Register the class by usin

[2022-01-08 15:56] sergey-morenets commented on #1430
Can be resolved by this explicit configuration:

[code]

[2022-01-08 16:55] hdeadman commented on #1413
When try to build the app in `NATIVE_AGENT` mode and then run the app with java and the native-image-agent, to trace and generate metadata files, `java -DspringAot=true -agentlib:native-image-agent=access-filter-file=access-filter.json,config-merge-dir=./src/main/resources/META-INF/native-image/org/apereo/cas/overlay,config-write-period-secs=300,config-write-initial-delay-secs=15 -jar build/libs/c

[2022-01-09 13:35] jvalkeal commented on #1319
I hit a same issue when I tried native builds on github actions as it makes it easy to build on windows. I suppose @artembilan workaround changes call path as I looked windows sources and NPE comes because some jdk windows native code doesn't initialise variable:

https://github.com/openjdk/jdk/blob/da75f3c4ad5bdf25167a3ed80e51f567ab3dbd01/src/java.base/windows/classes/sun/net/dns/ResolverConfigur

[2022-01-10 11:34] sdeleuze opened #1433 "Upgrade GRPC to 1.43.2 and protobuf to 3.19.2"

[2022-01-10 11:35] #1433 closed

[2022-01-10 14:01] neoludo opened #1434 "runtime certificates loading for truststore"
HI there,

I've followed instructions at https://paketo.io/docs/howto/configuration/#ca-certificates to add certificates at runtime.
I can see that log at startup :
Added 3 additional CA certificate(s) to system truststore

But when I'm listing certificates from inside my app, I dont see the 3 added certificates...
It seems that build-time truststore is used....
I should have missed a step.

Can a

[2022-01-10 14:01] sergey-morenets opened #1435 "@SerializationHint declaration is not taken into account"
Hi

We tried to use @SerializationHint annotation in our project:

[code]
However when we execute goal _mvn spring-aot:generate_ **serialization-config.json** file is not created and Person type is not included anywhere in target\generated-sources\spring-aot\src\main\resources\META-INF\native-image\org.springframework.aot\spring-aot\ folder.

Spring Native: 0.11.1
Spring AOT plugin 0.11.1
Spring B

[2022-01-10 15:37] cylab opened #1436 "How to work with @Configurations guarded by @Profile"
I have a configuration class that is conditional via @Profile. This does not seem to be supported at run-time. I tried to specify "-Dspring.profiles.active=kubernetes" as BP_NATIVE_IMAGE_BUILD_ARGUMENTS to only activate this in builds for deployments, but this did not help.

What alternatives do I have?
[code]

[2022-01-10 16:50] #769 closed

[2022-01-10 16:53] sdeleuze commented on #1436
I think this is a duplicate of #1411.

[2022-01-10 16:53] #1436 closed

[2022-01-10 17:00] sdeleuze commented on #764
I tend to think this issue duplicates #1411 which provide a [documented way to use profiles with the AOT engine](0f8588442bd30c77e9a3b4768cdb782676952f23).

[2022-01-10 17:00] #764 closed

[2022-01-10 17:02] sdeleuze commented on #404
With recent fixes related to MyBatis with Spring Native 0.11, should we claim MyBatis support? If so, I would appreciate a PR with a dedicated sample.

[2022-01-10 17:12] sdeleuze opened #1437 "Upgrade to Kotlin 1.6.10"

[2022-01-10 17:13] #1437 closed

[2022-01-10 17:16] sdeleuze commented on #1410
@jamesward I would like to reproduce the issue in one of our sample, but [webmvc-kotlin](https://github.com/spring-projects-experimental/spring-native/tree/main/samples/webmvc-kotlin) is already using kotlinx.serialization without the need for additional configuration. Any chance you could share a reproducer or send a quick PR that modifies `webmvc-kotlin` to trigger the error you see?

[2022-01-10 18:36] garyrussell commented on #1416
Looks like this is an issue with Graal.

I added some diagnostics to the kafka-clients code and determined that the required `Provider` (for SASL PLAIN) is not present in the native environment.

When Running on the JVM, I see these providers (and the required provider)...
[code]

When running the native image, I see

[code]

Notice the smaller list of `Provider`s.

I found this https://github.com

[2022-01-10 20:17] neoludo opened #1438 "HOWTO add arguments as System variable to command line in generated image"
Hi,

I didn't find in documentation the way to add arguments to the process launched in generated dockerized native image.

Thanks in advance for your help
Ludovic

[2022-01-10 20:23] nfrankel commented on #764
Nitpick: the link to the documented way is wrong.

[2022-01-11 08:17] sdeleuze commented on #764
Oups fixed thanks.

[2022-01-11 08:31] sdeleuze commented on #1376
Thanks I can reproduce.

[2022-01-11 08:55] cylab commented on #1436
Thanks. I think the info on the linked issue will help me out.

Just out of curiosity: what is actually preventing @Profile and @Conditional annotations from working in spring native? Is there a fundamental hurdle or is it a matter of time and priority? From my naive perspective, I would have guessed, the conditions "just" have to be baked into the generated BeanFactories, so they can be evaluated

[2022-01-11 10:15] sdeleuze commented on #1436
They work but currently they are evaluated at build time, see https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#spring-aot for more details. We may provide a more flexible system later.

[2022-01-11 11:25] #1419 closed

[2022-01-11 14:33] snicoll commented on #1429
Thanks for the report. This is a duplicate of #1403. As for `BindersHealthIndicatorAutoConfiguration` this is a duplicate of https://github.com/spring-cloud/spring-cloud-stream/issues/2254.

Thanks for trying the snapshot but if the exception goes away, please edit your description as it is very long and quite hard to grasp.

Please note that Spring Cloud Stream isn't supported at the moment.

[2022-01-11 14:33] #1429 closed

[2022-01-11 16:15] the-verge opened #1439 "Native image not picking up JAVA_OPTS"
I have successfully built a native image using the spring-boot-maven-plugin. However, any options that I attempt to pass via JAVA_OPTS are not picked up when running the image and the app won't start.

I use a combination of ```@ConfigurationProperties``` and ```@Value``` to read whatever I pass in at runtime

### Plugin configuration
[code]
### Docker run command
[code]
Does a native image suppor

[2022-01-12 03:57] making commented on #404
@kazuki43zoo FYI

[2022-01-12 08:40] sdeleuze opened #1441 "Upgrade to Spring Boot 2.6.3"

[2022-01-12 08:53] #1405 closed

[2022-01-12 08:56] sdeleuze commented on #1425
For the record, it has been fixed just in time for GraalVM `22.2.0` via [this commit](https://github.com/oracle/graal/commit/6aacdddff125e8a2bbe36177bd48749eec89f5ed). Thanks a lot for raising this.

[2022-01-12 09:28] CynanX commented on #766
I have an application which uses child application contexts and noticed that since upgrading to SB 2.6.x and SN 0.11.x that the application will no longer run. Thank you for the update guys. Will keep using 0.10.x for now but looking forward to support being reintroduced soon.

[2022-01-12 10:57] sdeleuze opened #1443 "Upgrade to Spring Boot 2.5.9"

[2022-01-12 10:58] sdeleuze opened #1444 "Backport #1388 to fix Netty native build failure"
See #1388, Spring Boot 2.5 is impacted as well.

[2022-01-12 11:03] sdeleuze commented on #1444
Users impacted could likely workaround with:
[code]

[2022-01-12 11:17] snicoll commented on #1367
We've been discussing this one and it's a tough call at this stage. Our preparation of the environment is pretty basic as we don't really have a way to distinguish build-time vs. runtime processing of the environment. Until that's the case, I think it's wiser to move this one to backlog.

[2022-01-12 11:45] johnlongo opened #1445 "cloud-function-aws what should the aws handler class name/method name be"
I'm new to spring native. When I upload the zip that's produced by the build script to aws what class/method name should I supply in the aws lambda console. I know this a newbe question so let me say thank you in advance for any help.

currently I have org.springframework.cloud.function.adapter.aws.FunctionInvoker::handleRequest, but when I run a test it tells me the class was not found.

![image]

[2022-01-12 13:27] kazuki43zoo commented on #404
@linghengqian @making  Thanks for mention !!

@sdeleuze @snicoll (other contributors)

I'll try to integrate with spring-native for MyBaits's modules. Many problems have been solved, but I am encountering one problem that cannot be solved yet.

* https://github.com/kazuki43zoo/mybatis-spring-native/issues/13

Once this issue is resolved, I would suggest publishing it as an official module to MyBat

[2022-01-12 13:38] snicoll commented on #1401
I've reproduced the problem in a unit test.

[2022-01-12 14:32] phejl commented on #1425
Thank you @sdeleuze

[2022-01-12 18:24] tnaskali opened #1446 "java.lang.NoSuchMethodException: com.sun.xml.bind.v2.ContextFactory.createContext on native executable"
Code : https://github.com/tnaskali/bgg-api/tree/feature/spring-native-integration

Steps to reproduce :
1. build with `mvn clean package -Pnative -DskipTests` or [download executable](https://github.com/tnaskali/bgg-api/suites/4914020364/artifacts/141557720) (for macos)
2. launch and call `curl -X 'GET' 'http://localhost:8088/bgg-api/api/v3/users/tnaskali' -H 'accept: application/json'`
3. see log

[2022-01-13 06:20] ttddyy commented on #1435
I think this commit(https://github.com/spring-projects-experimental/spring-native/commit/98c58db43323272595215543ae8ad2c31b572ad9) and associated gh-593 would explain the background.

[2022-01-13 12:41] snicoll commented on #1401
This turned out to be quite tricky to fix. I have a first draft that I'd like to review once more.

[2022-01-13 14:25] snicoll commented on #1334
The code that processes those is internal of `ConfigurationClassParser`. Yet another case of something that should have a way to output what it has discovered so that it can be written in generated code.

[2022-01-13 14:59] sdeleuze commented on #1445
See https://github.com/spring-projects-experimental/spring-native/tree/main/samples/cloud-function-aws#deploy-and-test.

[2022-01-13 14:59] #1445 closed

[2022-01-13 16:59] sdeleuze commented on #1227
Closing it as fixed in the latest version where elasticsearch is supported.

[2022-01-13 16:59] #1227 closed

[2022-01-13 17:01] sergey-morenets commented on #1435
Thank you for the explanation, @aclement
However would be more convenient to compile the code automatically if someone execute mvn spring-aot:generate?

[2022-01-13 17:08] sdeleuze commented on #1211
Expected to be fixed fixed in Spring Native 0.11, I can't upgrade 0.10 to the latest Native Build Tools because Spring Boot 2.5 still uses JUnit 5.7, so please upgrade to fix this one.

[2022-01-13 17:08] #1211 closed

[2022-01-13 17:12] Hollerweger commented on #1416
Maybe the provider can be manually registered via -H:AdditionalSecurityProviders
https://www.graalvm.org/reference-manual/native-image/JCASecurityServices/#custom-service-types

[2022-01-13 17:22] garyrussell commented on #1416
@Hollerweger Per the comments in that issue and https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_enable_native_image_support - I tried adding

                         <BP_NATIVE_IMAGE_BUILD_ARGUMENTS>-H:AdditionalSecurityProviders=com.sun.security.sasl.Provider</BP_NATIVE_IMAGE_BUILD_ARGUMENTS>

to the pom, but it didn't help (same result).

[2022-01-13 17:26] sdeleuze commented on #1446
As documented [here](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#build-setup-configuration) XML support is disabled by default, could you please try again with `removeXmlSupport` set to `false`?

[2022-01-13 17:41] sdeleuze commented on #1439
I don't think native image supports `JAVA_OPTS` ([native image](https://www.graalvm.org/reference-manual/native-image/) is documented here) because they are specific to `java` command line.

When using executables compiled with Native Build Tools, I usually uses [command line properties](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#features.external-config.command-line-arg

[2022-01-13 17:41] #1439 closed

[2022-01-13 17:44] sdeleuze commented on #1435
I think this is a Maven limitation we can't really change.

@bclozel Could you please confirm?

[2022-01-13 17:46] sdeleuze opened #1448 "Upgrade to GraalVM 22.0"

[2022-01-13 17:49] bclozel commented on #1435
Yes, as @ttddyy said, this is explained in https://github.com/spring-projects-experimental/spring-native/issues/593#issuecomment-802653446

I think we can close this issue as there's nothing we can do about this. The goal should not be called manually in the first place.

[2022-01-13 19:57] bojanv55 opened #1449 "Preview features are not enabled. Try running with '--enable-preview'"
Got the problem during compilation. Is it possible to add this flag `--enable-preview` somehow to `spring-aot-maven-plugin:0.11.1:generate` phase?

[code]

I already have this in pom.xml, but it is not making any difference:

[code]

[2022-01-13 20:41] tnaskali commented on #1446
Thanks for the quick reply and for pointing out the plugin configuration option, unfortunately disabling it hasn't solved the issue for me

[2022-01-14 04:07] ch4mpy commented on #1401
@snicoll I have a new exception (but stil related to generics) with latest snapshot on `api/order-api` module from [this repo](https://github.com/ch4mpy/starter):
[code]

[2022-01-14 07:55] Dave-he commented on #1402
I use spring-native 0.11.2-SNAPSHOT   to package , result also is :Failed to handle bean with name&Multiple privileged packages.
@Service
public class AppSceneService extends BaseService<AppSceneDO, Long> {}

public class BaseService<T, K> {

[2022-01-14 08:42] chatchaisi opened #1450 "Proxy when mvn spring-boot:build-image"
My server under proxy. After run command "MVN spring-boot:build-image" I got time out.
But My labtop not in proxy can use command normally.

Please help me slove this. Thank you

I alerady set proxy in docker user/.docker/config.json

[INFO]     [creator]       BellSoft Liberica NIK 11.0.13: Contributing to layer
[INFO]     [creator]         Downloading from https://download.bell-sw.com/vm/21.3.0/

[2022-01-14 08:53] snicoll commented on #1402
@Dave-he please follow-up on what was said above already. There is a linked issue that [updated the documentation](https://github.com/spring-projects-experimental/spring-native/commit/62b0f9ec43768509cb4d83f1e9a3cf9ba276633a). If that didn't help, please let us know why so that we can update the phrasing if necessary.

[2022-01-14 09:08] sdeleuze commented on #1450
Probably related to proxy configuration described in https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#build-image.examples.builder-configuration and not related to Spring Native itself.

[2022-01-14 09:08] #1450 closed

[2022-01-14 09:15] chatchaisi commented on #1450
Thank you.

[2022-01-14 09:26] Dave-he opened #1451 "Exception in thread "main" java.lang.StackOverflowError"
2022-01-14 17:00:34.129  WARN 22324 --- [           main] o.m.s.mapper.ClassPathMapperScanner      : No MyBatis mapper was found in '[com.jdw.antipower]' package. Please check your configuration.
2022-01-14 17:00:35.021  WARN 22324 --- [           main] .s.c.a.BuildTimeBeanDefinitionsRegistrar : BeanDefinitionRegistryPostProcessor with bean name org.mybatis.spring.mapper.MapperScannerConfigurer is

[2022-01-14 09:34] sdeleuze commented on #1449
Maybe `GenerateMojo` and `TestGenerateMojo` should copy more than `compileSourceRoots` and `compilePath`.

@bclozel @snicoll Any take on if we should copy `compilerArgs` as well or even other ones?

[2022-01-14 09:34] #1435 closed

[2022-01-14 09:44] sdeleuze commented on #1451
FYI MyBatis is not supported yet (see #404).

@snicoll Do you want a repro for this one to analyze the SO exception or should we close it?

[2022-01-14 09:46] Dave-he commented on #1402
don't work, I use the mybatis-plus, autoware the service
`
public abstract class BaseService<M extends BaseMapper<T>, T> extends ServiceImpl<M, T> implements IService<T> {
}

@Service
public class MailRecordDbCmdImpl extends BaseService<IMailRecordMapper, MailRecordEntity> implements IMailRecordDbCmd {
}

@Service
public class A {
    @Autowired
    public IMailRecordDbCmd mailRecordCmdService;
}

[2022-01-14 09:51] sdeleuze commented on #1438
@dmikusa-pivotal Is it supported? If not should an issue be created in https://github.com/paketo-buildpacks/native-image or somewhere else?

[2022-01-14 09:58] snicoll commented on #1402
@Dave-he Thanks but there's nothing we can do about that. Please report this against mybatis-plus or stop using package-private injection in `MailRecordDbCmdImpl`.

[2022-01-14 10:01] matthyx commented on #1434
@sdeleuze I think @neoludo wants to load the truststore at runtime, as recently added to graalvm:
https://www.graalvm.org/reference-manual/native-image/CertificateManagement/#run-time-options

[2022-01-14 10:03] snicoll commented on #1451
Duplicate of #1420

[2022-01-14 10:09] sdeleuze commented on #1434
Thanks for the link @matthyx, I was missed the fact it was properly documented now. I think such documentation on native image official documentation is good enough so I close this issue.

[2022-01-14 10:13] matthyx commented on #1434
@sdeleuze hmm, not sure as it's not clear to me how you can specify `javax.net.ssl.trustStore` and `javax.net.ssl.trustStorePassword` to the native image from the container image.

One solution is to override the container entrypoint and/or arguments, but it's against the whole buildpack philosophy, isn't it?

[2022-01-14 10:31] #1401 closed

[2022-01-14 10:32] snicoll commented on #1401
@ch4mpy thanks for testing the snapshot!

[2022-01-14 10:33] sdeleuze commented on #1416
I asked feedback to the GraalVM team, I will update this issue based on their feedback.

[2022-01-14 10:34] matthyx commented on #1434
Do you mean in this issue?

[2022-01-14 11:18] wilkinsona commented on #1412
The `common` module doesn't appear to apply the Spring Boot plugin. Assuming that I've got that right, it's to be expected  that `javaParameters` hasn't been configured automatically.

[2022-01-14 11:44] sdeleuze commented on #1093
Spring AOT already considers `runtime` and not `compile` classpath for the generation.

What happens here is `com.netflix.eureka:eureka-client` using `runtime` dependency for GSON, so as expected it is taken in account.
[code]

The IDE automatically attaches the generated code and is using the compile classpath, hence the errors repported:
![image](https://user-images.githubusercontent.com/141109/

[2022-01-14 12:12] #1412 closed

[2022-01-14 12:13] sdeleuze commented on #1412
That could happen for Java multi-module projects as well, that's now properly documented.

[2022-01-14 13:33] sdeleuze commented on #1093
After a discussion with @bclozel, let's change the name of the directory to avoid it to be recognized by IDEA automatically with the wrong classpath, and document how to configure it properly.

[2022-01-14 18:35] ch4mpy commented on #963
This issue is here again.

In [this application](https://github.com/ch4mpy/starter/blob/50326471fcd043d74719a6d1c3be1d821078c910/api/webmvc/households-api/src/main/java/com/c4_soft/starter/households/HouseholdsEndpointApplication.java#L24) I `@EnableJpaRepositories` and activate `@EntityScan` from [an other module](https://github.com/ch4mpy/starter/tree/master/api/webmvc/domain-trashbins/src/main/

[2022-01-14 19:02] sdeleuze commented on #1416
Could you try to annotate the application class with:

[code]
That allows the options to be taken in account with both Native Build Tools and Buildpacks, and when used with Native Build Tools that will generate a report of the security modules enabled in `target/reports`. I tried and with this flag I see `Marked provider com.sun.security.sasl.Provider as used` (without it is not).

I don't think I

[2022-01-14 22:55] jamesward commented on #1412
@wilkinsona I had the plugin in there and it wasn't working so I pulled it out.  Let me know if you want a branch with that back in.

[2022-01-15 03:59] ttddyy opened #1453 "Update environment handling in "AotSpringBootConfigContextLoader""
These commits in Boot (by @philwebb) impact the `Environment` handlings in `AotSpringBootConfigContextLoader`.

- spring-projects/spring-boot#29404
- spring-projects/spring-boot#29405
- clean up commit: https://github.com/spring-projects/spring-boot/commit/9c481952d8081827ef04511154b27afbc454b0c4

[2022-01-15 05:00] dmikusa-pivotal commented on #1434
If you want to send additional arguments to the `native-image` command at build time, you can do that by setting `$BP_NATIVE_IMAGE_BUILD_ARGUMENTS`. Your arguments are augmented by the buildpack which adds the following information (you don't need/want to include this manually):

1. When on the tiny stack, `-H:+StaticExecutableWithDynamicLibC` will be appended to your custom argument list.
2. `-H:

[2022-01-15 05:21] dmikusa-pivotal commented on #1438
I believe you'd want these instructions: https://buildpacks.io/docs/app-developer-guide/run-an-app/#default-process-type-with-additional-arguments

[2022-01-15 08:27] matthyx commented on #1434
@dmikusa-pivotal please note we're talking about RUNTIME arguments.
I think @neoludo wants to avoid overriding ENTRYPOINT and CMD in the resulting image in case paketo sets something special during build.

[2022-01-15 08:53] robtha commented on #1416
I have tried with @NativeHint from above. Did not work, still getting

`javax.security.auth.callback.UnsupportedCallbackException: Could not login: the client is being asked for a password, but the Kafka client code does not currently support obtaining a password from the user.`

I have attached the report generated by _TraceSecurityServices_
[security_services_20220115_094322.txt](https://github.

[2022-01-15 09:27] matthyx commented on #1434
@dmikusa-pivotal, after reading on my laptop (rather than my mobile) I see what you mean... apologizes.

@neoludo already played with https://github.com/paketo-buildpacks/ca-certificates and at runtime it can add trusted certificates to the system truststore...
The issue is that in native mode it only creates `/etc/ssl/certs/ca-certificates.crt` and no JKS... which substrateVM doesn't handle ([des

[2022-01-15 14:34] jamesward commented on #1410
I put together a reproducer:
https://github.com/jamesward/spring-native-ktx-serialization/tree/db-no-common

[code]

One key thing that was exposed by the reproducer is that there is something with the use of `CoroutineCrudRepository` which introduces the problem.  Which is strange because the serialization doesn't (shouldn't) get used there.  But without that, things do work as expected:
https://

[2022-01-15 19:40] ivangfr opened #1454 "com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class X and no properties discovered to create BeanSerializer"
Hi, I've updated [`springboot-elasticsearch`](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/tree/master/elasticsearch/springboot-elasticsearch) project to **spring-boot** `2.6.2` and **spring-native** `0.11.1`.

Before, it was working fine with the help of `TypeHint` annotation informing the compiler about `Movie` class.
[code]

However, a `No serializer found for class com.mycom

[2022-01-15 20:37] wilkinsona commented on #1412
Given that the `common` module doesn't appear to be a Spring Boot application, but instead a common shared library, I don't think it makes sense to apply Boot's plugin to it.

[2022-01-16 00:59] ch4mpy commented on #963
I just created a new sample with minimal modifications to `data-jpa` sample which reproduces what I report: application running correctly with `mvn spring-boot:run` but native image produced with `mvn spring-boot:build-image` failing to inject `FooRepository`

[2022-01-16 11:26] #957 closed

[2022-01-16 11:33] Xinmudotmoe opened #1455 "Failed to process lifecycle methods on bean definition with name 'dataSource'"
When **com.alibaba:druid-spring-boot-starter** (data source) is introduced, native cannot be produced.

Demo Project:

https://github.com/Xinmudotmoe/spring-native-little-issues/tree/issus-lifecycle-init-datasource

When only **com.alibaba:druid** is introduced, the packaging is successful, but the runtime is a little troublesome. It works fine with configuration. I think the same effect can be ac

[2022-01-17 00:43] dmikusa-pivotal commented on #1434
I agree. I added an issue under the [native image repo to track this](https://github.com/paketo-buildpacks/native-image/issues/132) for us. We'll look into this more.

[2022-01-17 06:08] matthyx commented on #1434
Thanks @dmikusa-pivotal !

[2022-01-17 09:26] sdeleuze commented on #1454
If you were using previously using 0.10, be aware that the behavior of `@TypeHint(types = Movie.class)` has changed. [`@TypeHint` access](https://docs.spring.io/spring-native/docs/current/api/org/springframework/nativex/hint/TypeHint.html#access()) default is now [`AUTO_DETECT`](https://docs.spring.io/spring-native/docs/current/api/org/springframework/nativex/hint/TypeAccess.html#AUTO_DETECT) so f

[2022-01-17 09:55] sdeleuze opened #1456 "Move non Spring hints to GraalVM native configuration repository"

[2022-01-17 13:55] bitbaggi opened #1457 "SimpleMongoRepository - No suitable constructor found"
Hey everyone,

i have an default spring boot native project.

**This is my build.gradle:** (Have to attach it as txt because github not wants .gradle files)
[build.txt](https://github.com/spring-projects-experimental/spring-native/files/7882254/build.txt)

I have only one dataRepository for my dto Person.
Person.java
[code]
PersonRepository.java
[code]

When i start the service in IntelliJ, all th

[2022-01-17 15:20] bojanv55 commented on #1449
@sdeleuze Is there some temp workaround (Except I guess compiling the whole code with this params embedded)?

[2022-01-17 18:16] ivangfr commented on #659
The problem was solved by adding `access = { TypeAccess.PUBLIC_CONSTRUCTORS, TypeAccess.PUBLIC_METHODS }` to producer-consumer TypeHint annotations

<img width="1085" alt="Screenshot 2022-01-17 at 15 15 57" src="https://user-images.githubusercontent.com/10564548/149820404-b36353ae-1dfa-4454-a4da-a7f298b742c0.png">

[2022-01-17 18:19] ivangfr commented on #1084
Btw, the
[code]
Can be solved by adding
[code]

[2022-01-17 19:17] sdeleuze commented on #1410
Thank you so much for the repro @jamesward, this is super useful.

When running repro with `--debug` we can see th following stacktrace:
[code]
So when defining `interface BarRepo : CoroutineCrudRepository<Bar, Long>` Spring Data is using reflective accesses to `Bar` which in `src/main/kotlin` looks like this:
[code]
But on after being processed AOT by the Kotlin compiler, it looks like that:
[cod

[2022-01-18 07:22] mp911de commented on #1410
I'm not sure that's the right entry-point. Kotlin serialization is not a Spring Data concern but a cross-cutting one originating from `ResolvableType`/`MethodParameter` and bleeding into uses of `ReflectJvmMapping`.

Instead, it would make sense to come up with a dedicated component that adds such hints ideally on the Framework level. Otherwise, if every individual component starts adding the same

[2022-01-18 07:45] sdeleuze commented on #1410
Good point, we will have a deeper look on Framework side if we can refine the Kotlin support for such use case. cc @poutsma

[2022-01-18 10:46] #1093 closed

[2022-01-18 11:14] sdeleuze commented on #1416
`JdkSASL - com.sun.security.sasl.gsskerb.JdkSASL` is marked as not used, not sure if it is needed or not, but could you try to enable it as well?

[2022-01-18 12:53] robtha commented on #1416
Extended NativeHint as requested - did not help

[code]
[security_services_20220118_134222.txt](https://github.com/spring-projects-experimental/spring-native/files/7889170/security_services_20220118_134222.txt)

[2022-01-18 14:18] bojanv55 commented on #1449
OK, seems this did the trick `set JAVA_TOOL_OPTIONS=--enable-preview`

[2022-01-18 14:32] snicoll commented on #1449
@bojanv55 thanks but we'd like to do something about this.

[2022-01-18 14:48] snicoll commented on #1455
Thanks for the sample. I missed that the demo project was in a branch so I got confused initially that the project was building fine for me. Switching to the first branch led to:

[code]

[2022-01-18 14:56] snicoll commented on #1457
@bitbaggi it is very hard to say. We don't need your build file but rather a small sample we can run ourselves. You can share it with us by attaching a zip to this issue or sharing a link to a GitHub repo.

[2022-01-18 15:41] Xinmudotmoe commented on #1455
In https://github.com/Xinmudotmoe/spring-native-little-issues/commit/bf335f66c4140cd257b22d5df80af7fb2f639ca8 the build is failing.  Later added **reflect-config.json** in the next commit.

The issue of the second branch may be solved by this project.

However, the problem of the second branch can find a corresponding solution after the packaging fails, perhaps as a low priority issue.

Thank you

[2022-01-18 16:01] garyrussell commented on #1416
I have been testing with the `PlainLoginModule` (which gives a slightly different error - it can't find the provider).

In @robtha 's case, the provider is located but when the callback is called, the Subject is not properly set up.

Adding the above hint solved the provider problem and I am now seeing the same error as @robtha

[code]

i.e. the `Subject` is not set up correctly.

I will add some

[2022-01-18 17:58] ch4mpy commented on #963
Created a branch and modified `data-jpa` (rather than creating new sample):
- `mvn clean install` => ok
- `cd api && mvn spring-boot:run` => ok
- `mvn spring-boot:build-image -Pnative-image` => KO
- `mvn spring-boot:build-image -Pnative-image -DskipTests` => ok
- `docker run --rm -p 8080:8080  -t data-jpa:0.0.1-SNAPSHOT` => KO

[2022-01-18 22:16] garyrussell commented on #1416
Peeling back the onion some more; I added these diagnostics to the `SaslClientAuthenticator`...

[code]

When I run this in the JVM, I see
[code]
So the subject is correctly populated. However, when I run the native code, I get

[code]

i.e. the `Subject` returned by `Subject.getSubject()` is null (which causes the error later). I believe that this is because the combiner is null.

The `AccessorCo

[2022-01-19 08:56] snicoll opened #1458 "dependsOn attribute lost in AOT generated bean registration"
If a `BeanDefinition` has a `dependsOn` hint, it is not written back in the AOT generated bean registration.

[2022-01-19 13:31] bojanv55 commented on #1449
OK.

Also what i needed to do when compiling in remote docker:

[code]

[2022-01-19 15:45] snicoll opened #1459 "ConfigurationPropertiesBinder.Factory is exposed as a bean but not used to create ConfigurationPropertiesBinder"
As discovered reviewing an [issue in mybatis](https://github.com/kazuki43zoo/mybatis-spring-native/issues/13#issuecomment-1016352020), Spring Boot uses a supplier to instantiate `ConfigurationPropertiesBinder` so that resolution for the `ApplicationContext` does not trigger early init of factory beans.

Unfortunately, we can't see what a supplier is doing and we're applying our fallback of trying

[2022-01-19 17:43] ch4mpy commented on #1113
@sdeleuze I have a quite similar exception, reported in [gh-963](https://github.com/spring-projects-experimental/spring-native/issues/963), when trying to run native image with entities and repositories from separate jar.

I recently commited a `data-jpa` sample modification which produces:
[code]

[2022-01-19 18:08] sdeleuze commented on #1395
I continue to happen in IDEA, that's really and IDEA bug, but I have find a nice way to avoid it.

[2022-01-20 07:04] AlexanderNZ commented on #969
I am experiencing this issue as well. I opened a bug https://github.com/springdoc/springdoc-openapi/issues/1437 that I thought was related to Springdoc but actually appears to be related to this issue.

You can see a minimal reproduction here: https://github.com/AlexanderNZ/springdoc-native-sample

[2022-01-20 14:18] #1397 closed

[2022-01-20 19:26] #1441 closed

[2022-01-20 19:48] #1338 closed

[2022-01-20 19:48] #1395 closed

[2022-01-20 19:48] #1356 closed

[2022-01-21 09:36] sdeleuze commented on #1370
I focus this issue on fixing the regression in `ClientHttpRequestFactoryHints`, I think the other issue may be covered by #1371.

[2022-01-21 09:41] #1370 closed

[2022-01-21 10:25] sdeleuze commented on #1372
I think `@Autowired EntityManager entityManager` only works with `@EnableJpaRepositories` and I have not seen the latter in your sample (where `@PersistenceContext EntityManager entityManager` works as expected). As a consequence, I close this issue, if `@Autowired EntityManager entityManager` + `@EnableJpaRepositories` works on the JVM but not on native please comment with a minimal reproducer an

[2022-01-21 10:25] #1372 closed

[2022-01-21 10:41] snicoll commented on #1334
@julb in general we don't recommend using `@PropertySource` at all. Spring Boot has a fairly superior configuration model. I understand that you might have got used to the flexibility that the annotation brings, but using profiles and `spring.config.import` has the advantage of having the config in one place and it being processed before the application context is parsed.

We've moved this issue t

[2022-01-21 10:41] sdeleuze opened #1461 "Skip Maven AOT test sources generation when tests are skipped"
When `-DskipTests` or `-Dmaven.test.skip=true` are used.

[2022-01-21 11:02] #1461 closed

[2022-01-21 20:52] julb commented on #1334
Thanks a lot @snicoll for your feedback.

[2022-01-22 19:46] prettymama opened #1462 "@ConfigurationProperties with @Validated - native build fails when annotations present on a record"
Suppose I have `application.properties` with this line
[code]

that I want to map with `@ConfigurationProperties` but instead of a class I place the annotation on a record (which is OK with Spring Boot)
[code]

The AOT processor tries to proxy it and fails as it cannot be done.
[code]

Spring Boot: 2.6.2
Spring Native: 0.11.1
GraalVM: 21.3.0 CE

[2022-01-23 03:23] hdeadman opened #1463 "Classpath for gradle built jar not the same as maven jar, aot.jar produced by gradle plugin is last in classpath"
After this [refresh scope](https://github.com/spring-projects-experimental/spring-native/issues/1413) issue was fixed, I was able to get passed the error with a native build but if I tried to build and run the aot enabled jar in java, it didn't work, but it worked in a maven reproducer project. I believe the issue has to do with the classpath in the gradle produced jar. I think the maven plugin pu

[2022-01-23 09:48] snicoll opened #1464 "JacksonTester support leads to a circular reference with AOT"
It looks like that the upgrade to the latest Spring Boot has brought a change in the testing support that triggers a cycle with AOT.

[code]
[stacktrace](https://gist.github.com/snicoll/e5481e7fb87b62d9183517d9cb825ee2).

[2022-01-23 10:22] sdeleuze commented on #1464
I updated to `2.6.3-SNAPSHOT` on Jan 13 (see [this commit](https://github.com/spring-projects-experimental/spring-native/commit/716d569bc6eb9e0b6082462ada8bacae839b3021)) and builds were green until Jan 19 included (see [this build](https://ci.spring.io/teams/spring-native/pipelines/spring-native-0.11.x/jobs/build-samples-java11/builds/175)), that broke between Jan 19 and 21 I think.

What gives m

[2022-01-23 10:30] sdeleuze opened #1465 "Document that running application is broken in IDEA when delegated to Gradle"
In Intellij IDEA, when running the application is delegated to Gradle, the `/build/generated` directory is removed then recreated without Spring AOT generated sources. This bug is tracked via [IDEA-287067](https://youtrack.jetbrains.com/issue/IDEA-287067).

![image](https://user-images.githubusercontent.com/141109/150674373-25bfe9ff-cd1d-463d-9223-e173cd35f173.png)

Regardless the bug that need to

[2022-01-23 11:21] bclozel commented on #1463
We might need to prepend the generated Jar to the class path of the bootJar task [here](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot-gradle-plugin/src/main/java/org/springframework/aot/gradle/SpringAotGradlePlugin.java#L138).

[2022-01-23 13:18] sdeleuze commented on #1464
Bisected, introduced by 02d2f3a5fb79bed152ec7bf6b0914ff5839b14f5.

[2022-01-23 19:03] fhanik commented on #1426
@sdeleuze I've spent some time on this, and I agree with the general direction. I think it's important to capture what has taken place. Here is a review (all using the same tomcat binaries built with Java 8 [sha 338d05d](https://github.com/apache/tomcat/tree/338d05d14c14fd8eb7ca44079e016544ac374d75)

**Graal 19.2 / Java 8**
[code]

**Graal 19.3 / Java 8**
[code]

**Graal 19.3 / Java 11**
[code]

*

[2022-01-23 19:13] fhanik commented on #1426
The path forward that I believe can start on is

1. Remove tomcat-embed-programmatic, it seems we can achieve this with graal precompiler solutions
2. Clean up tomcat-embed-xxx graal json files
3. Start working on `@Substitute` optimization (these should then be contributed to a JAR file called `tomcat-embed-graal` for Tomcat 10.1 while we can develop them inside of Spring native for Tomcat 9)

[2022-01-24 08:19] bclozel commented on #1463
Superseded by #1466

[2022-01-24 08:19] #1463 closed

[2022-01-24 10:28] wilkinsona commented on #1464
I spent some time with Stephane looking at this and I think the changes in 02d2f3a have revealed in existing problem.

I think the cycle occurs because initializing the `jacksonTesterFactoryBean` requires the injection of the `ApplicationContext` into `standardJacksonObjectMapperBuilderCustomizer`. If this is the first time that the context has been injected via autowiring (rather than `Applicatio

[2022-01-24 10:30] sdeleuze commented on #1319
@artembilan @jvalkeal Please raise the Netty DNS issue on https://github.com/oracle/graal/issues.

[2022-01-24 10:37] #1319 closed

[2022-01-24 12:45] snicoll commented on #1464
To follow-up on this as this isn't the first time, the reason we have an eager init is because `jacksonTesterFactoryBean` is a `FactoryBean` with an unresolved generic. When that is the case, the context will eagerly initialize it whereas a runtime (non AOT) context will not. The difference is that AOT provides a supplier and the runtime does not so it parses the factory method signature.

[2022-01-24 12:54] snicoll commented on #1459
This introduced a regression so the change has been reverted and will be revisited.

[2022-01-24 13:09] snicoll commented on #1464
I have reverted the related problem and I've moved this change + an attempt to fix it in 462d217. This doesn't work yet.

[2022-01-24 14:59] sdeleuze opened #1467 "Improve AOT and build setup documentation structure"

[2022-01-24 15:20] #1465 closed

[2022-01-24 15:20] #1467 closed

[2022-01-25 14:29] #1443 closed

[2022-01-25 14:30] sdeleuze opened #1468 "Fix DatabaseInitializationDependencyConfigurer$DependsOnDatabaseInitializationPostProcessor error"
Fix `Native reflection configuration for DatabaseInitializationDependencyConfigurer$DependsOnDatabaseInitializationPostProcessor.<init>() is missing` error.

[2022-01-25 14:54] #1468 closed

[2022-01-25 14:58] spring-projects-issues commented on #1457
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-01-25 14:59] kazuki43zoo commented on #1459
@snicoll Probably, the mybatis-spring-natvie seems to work fine with the latest 0.11.2 SNAPSHOT.
See https://github.com/kazuki43zoo/mybatis-spring-native/runs/4930626598?check_suite_focus=true

[2022-01-25 15:19] snicoll commented on #1459
Yes, this is to be expected. The fix that I've added for `MapperFactoryBean` makes this issue not important for you.

[2022-01-26 11:45] ivangfr opened #1469 "okta-spring: some security filters are not present in Native image"
Hi, I've updated my project [okta-springboot](https://github.com/ivangfr/okta-springboot) to **spring-boot** `2.6.3`, **spring-native** `0.11.2` and **okta-spring** `2.1.4`

After building successfully the Docker native image, we can see that some security filters present in JVM logs (marked with *) are not present in Native logs

- JVM
[code]

- Native
[code]

[2022-01-26 19:35] mishraomp opened #1470 "How to build native image with environment variables in application-properties file."
I have environment variables in my property file which I want to read during runtime when the application starts, how to achieve that with native images as it is failing during the build time.

spring.security.oauth2.resourceserver.jwt.issuer-uri=${TOKEN_ISSUER_URL}
spring.security.oauth2.resourceserver.jwt.jwk-set-uri=${TOKEN_ISSUER_URL}/protocol/openid-connect/certs

[INFO] --- spring-aot-maven-

[2022-01-27 08:12] thahgr opened #1471 "Mutli-module maven project"
Hi,

I have a multi-module maven project, one parent three modules, only one of them has a main class annotated with @SpringBootApplication.

I am following the guide https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started-buildpacks
I have been able to build correctly with mvn spring-boot:build-image but it creates a separate image for each module. The same with ja

[2022-01-27 09:06] snicoll commented on #1470
@mishraomp the context is processed at build time so you need to provide a value for this.

[2022-01-27 09:08] snicoll commented on #1469
When you say JVM, do you mean JVM with AOT or plain JVM? If the filters are not present when AOT has processed the context, it could be that a property was not set at build time that triggered a condition to create those filters.

[2022-01-27 09:09] bclozel commented on #1471
You can take a look at the [multi-modules samples](https://github.com/spring-projects-experimental/spring-native/tree/main/samples/multi-modules). Just like any Spring Boot project, the Spring Boot plugin and the native plugin should only be applied on the module that builds the actual application. Other modules should only apply the dependency management.

[2022-01-27 09:09] #1471 closed

[2022-01-27 09:55] ivangfr commented on #1469
Hi @snicoll JVM with AOT mode disabled

[2022-01-27 10:17] sdeleuze opened #1472 "Upgrade to GraalVM 21.3.0"

[2022-01-27 10:18] #1472 closed

[2022-01-27 11:27] snicoll commented on #1469
I can have a look to the sample when time permits but looking at the auto-configuration for the missing filters and the conditions associated could give you a clue of what the problem might be. Also, it's not clear if you were using Spring Native 0.11 before or if you upgraded from 0.10.

[2022-01-27 11:50] thahgr commented on #1471
ok thanks

[2022-01-27 12:19] ivangfr commented on #1469
Honestly, for now, I have no idea what can be the problem. Also, it was working on the previous version of my project, i.e commit `3a9101ab897204aca6ea27ebb01a3c3cdbb6e4df`. In this case, it was using **spring-boot** `2.5.7`, **spring-native** `0.10.5` and **okta-spring** `2.1.3`.

I've just checkout `3a9101ab897204aca6ea27ebb01a3c3cdbb6e4df` (previous commit), built and ran the Docker native imag

[2022-01-27 15:51] #1448 closed

[2022-01-27 17:15] GregoireW commented on #1427
Hello,

I think it is common to most (all ?) junit 5 extensions. I got the same issue as soon as I added a `@ExtendWith(OutputCaptureExtension.class)` on one of my test.

I use spring-boot 2.6.3 and spring-native 0.11.2.

[2022-01-27 19:18] ivangfr commented on #1427
Hi @GregoireW thanks for your response.

In may case, I am not using `OutputCaptureExtension.class` anywhere. Also, I don't have `Nested` annotation in my tests.

I've updated the sample I shared in this issue to **spring-boot** `2.6.3` and **spring-native** `0.11.2`, and I continue having the same `classes found in META-INF/spring.factories` problem.

You said that you downgraded **spring-aot-mav

[2022-01-28 03:15] mishraomp commented on #1470
Thank you for the quick response @snicoll , does this mean that different image needs to be built for different environment ex:(dev, test, prod)?

[2022-01-28 07:58] snicoll commented on #1470
No. It means that environment is going to be resolved and "a value" must be set.

That value can change after the image has been built.

[2022-01-28 07:58] #1470 closed

[2022-01-28 08:00] GregoireW commented on #1427
You use `@Testcontainers` this is a JUnit extention.  I just pointed out it is not only test containers extension crashing but (almost?) all extensions crashing and for instance a simple one included with spring (output capture) is also crashing.

I discover `@Nested` test class also get the same error. I guess the source issue is closely linked.  It is why I mention it here.

Spring native doc st

[2022-01-28 08:06] snicoll commented on #1469
[code]

Did you consider [my previous comment](https://github.com/spring-projects-experimental/spring-native/issues/1469#issuecomment-1022994212) and [this section of the doc](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#aot-bean-factory-preparation)? One way to know for sure is running the app without any extra property and checking that the filters are present (so with

[2022-01-28 08:11] ivangfr commented on #1427
Ok, got it! Thanks for the explanation @GregoireW

[2022-01-28 08:46] snicoll commented on #1455
Unfortunately, that's an issue in Druid, I've created https://github.com/alibaba/druid/issues/4673

I will check what the framework does at runtime when it can't find a method that has been defined and I'll adapt accordingly.

[2022-01-28 08:49] ivangfr commented on #1469
Hi @snicoll thanks for remind me about you previous comment!

I've just hardcoded the values of those **ENV VARS** in `application.properties`.
[code]

Same problem.

- Running JVM docker image with AOT mode disabled

[code]

---

- Running Native docker image with AOT mode enabled
[code]

[2022-01-28 08:49] snicoll commented on #1455
@Xinmudotmoe you might be able to workaround the issue by adding the following to your project's configuration:

[code]

(and remove the runtime scope for Druid).

[2022-01-28 08:51] snicoll commented on #1469
Alright, thanks. At this point, this might be an Okta-specific problem that's doing something in the environment.

@bdemers created https://github.com/spring-projects-experimental/spring-native/issues/1367 and I wonder if that's related since he's working on Okta.

[2022-01-28 08:54] snicoll commented on #1455
This is the error that we get at runtime (non AOT):

[code]

For consistency with the core container, I am going to leave the current algorithm as is.

[2022-01-28 08:54] #1455 closed

[2022-01-28 10:52] ahs441 opened #1473 "ClassNotFoundException: antlr.CommonToken"
I have an issue when running native spring boot app on Gradle with nativeRun or bootBuildImage and then run on docker;
when the application is launching after checking JPA the following exception accrue and application is failed to launch
CharScanner; panic: ClassNotFoundException: antlr.CommonToken

pluings I used:
plugins {
    id 'org.springframework.boot' version '2.6.3'
    id 'io.spring.depe

[2022-01-28 11:25] bclozel commented on #1473
We're going to need more information to understand what's going on here. A complete stacktrace would help, but I suspect a minimal, sample application would be more helpful. Could you share a minimal repro app for this?

[2022-01-28 11:38] ahs441 commented on #1473
The stacktrace is empty with only CharScanner; panic: ClassNotFoundException: antlr.CommonToken exception;
The dependencies are:
 implementation 'org.springframework.boot:spring-boot-starter-actuator'
    implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
    implementation 'org.springframework.boot:spring-boot-starter-security'
    implementation 'org.springframework.boot:spri

[2022-01-28 13:14] bclozel commented on #1473
There is no way for us to reproduce the problem with the information you've provided.

[2022-01-28 13:45] GregoireW commented on #1427
Additional note:  finally found this: https://github.com/spring-projects-experimental/spring-native/blob/1fcd49b66323e2c4a3ac3ef115d1246e4a4ad541/spring-aot-test/src/main/java/org/springframework/aot/test/build/TestClassesFinder.java#L72

==> Looking for extension which match `SpringExtension` but if you add one extension then this get the first annotation declared.

I look how to fix properly thi

[2022-01-28 16:14] ahs441 commented on #1473
Finally, I found this issue occurs when I use @OrderBy annotation in hibernate entity

[2022-01-28 19:15] bdemers commented on #1469
Hi @ivangfr, this does look like a duplicate of #1367
TL;DR - those Okta properties are _basically_ aliases of the equivalent Spring Sec props and it doesn't currently work with native-images.

Please feel free to create an issue on [okta/okta-spring-boot](https://github.com/okta/okta-spring-boot)

To work around the issue you should be able to use the following properties:

[code]

[2022-01-28 19:57] ivangfr commented on #1469
Thanks @bdemers for your help!

Sure, I will open an issue to okta/okta-spring-boot.

Btw, I am not backing the sensitive data into `application.properties`. That was just for testing. [I am setting them using environment variables](https://github.com/ivangfr/okta-springboot/blob/master/simple-service/src/main/resources/application.properties#L3).

Best regards

[2022-01-29 12:30] ivangfr commented on #1469
Hi @bdemers

I am trying the properties you suggested as work around.

However, I am getting
[code]

That is, message says the fix is to use `okta.oauth2.issuer`. So, the property `spring.security.oauth2.client.provider.okta.issuer-uri` seems not to work.

Thanks

[2022-01-29 14:29] snicoll commented on #1469
Closing as duplicate of #1367

[2022-01-29 14:29] #1469 closed

[2022-01-30 12:33] johan-taiger commented on #1113
@ch4mpy I experience the same thing also. I thought my setup is wrong. The JPA reference to an entity from another jar.
I can't really solve even if I put in EntityScan in the SpringBootApplication

[2022-01-30 12:34] johanloke commented on #1113
@ch4mpy I experience the same thing also. I thought my setup is wrong. The JPA reference to an entity from another jar.
I can't really solve even if I put in EntityScan in the SpringBootApplication

[2022-01-31 12:38] sdeleuze commented on #1473
I can reproduce by adding `@ElementCollection @OrderBy private List<String> phoneNumbers;` to `data-jpa` sample [here](https://github.com/spring-projects-experimental/spring-native/blob/main/samples/data-jpa/src/main/java/app/main/model/Foo.java).

[2022-01-31 13:03] sdeleuze commented on #1473
I have been able to get past this error by adding:
[code]
But I get the following error which lead me to think Antlr require more reflection configuration:
[code]
@christophstrobl @schauder Could you please take it from there?

[2022-01-31 13:13] christophstrobl commented on #1113
Thanks for bringing this to our attention. To address this issue we require changes in data-commons that will likely not be resolved prior to the next major data release that is planned to be supported by Boot 3.

[2022-01-31 13:33] sdeleuze commented on #1416
Could be related to https://github.com/oracle/graal/pull/4279.

[2022-01-31 14:24] sdeleuze commented on #1426
How can we move forward on it, could you work on Tomcat fork with the JSON refinements I proposed in the issue description?
Are JSON refinements ok to be pushed on Tomcat 9 (this will likely break some native users) or should that be 10.1 only?

About the figures, Java 8 to Java 11 RSS memory increase is well know, but I am surprised by the RSS increase on latest versions. Maybe something we want

[2022-01-31 14:38] sdeleuze commented on #1427
Superseded by #1474.

[2022-01-31 14:38] #1427 closed

[2022-01-31 14:45] sdeleuze commented on #1462
Could you please try with:
 - `record` without `@Validated`
 - `class` with `@Validated`
To qualify more precisely the source of the error?

[2022-01-31 14:52] sdeleuze commented on #963
@christophstrobl @schauder Could you please qualify this one?

[2022-01-31 15:45] sdeleuze commented on #1453
Thanks for your feedback @ttddyy, closing this one since no immediate actionable item and no milestone created for a Spring Boot 2.7 baseline yet so we will do an extensive review when we will upgrade as pointed out by @snicoll.

[2022-01-31 15:45] #1453 closed

[2022-01-31 16:44] #1438 closed

[2022-01-31 16:47] sdeleuze commented on #1434
Should I close this issue ?

[2022-01-31 16:49] sdeleuze commented on #1399
@bclozel Could you please give a try to James sample to see if you see something obvious that we should fix in the Gradle plugin or document?

[2022-01-31 19:18] prettymama commented on #1462
`class` with `@Validated` works, I have it currently as a workaround.
`record` without `@Validated` builds and runs OK.

[2022-01-31 23:45] kazuki43zoo commented on #404
Hi guys, The MyBatis team has been published [the integration module for spring-native](https://github.com/mybatis/spring-native) feature to Sonatype OSS repository.  Please try it and welcome to feedback!!

[2022-02-01 06:11] matthyx commented on #1434
@sdeleuze I agree this issue is more related to a change in the buildpack... we can close this but let's hope @dmikusa-pivotal work goes to completion.