[2021-04-01 18:49] chaudharydeepak commented on #693
Thank you @olegz @artembilan . I will hold-on then up until 5.5 is released. I tried bringing latest milestone, just to see if that helps.

Also I refreshed SCS 3.1.3-Snapshot - and I don't have to provide any Hints / proxy configs etc anymore :).

Thank you.

[2021-04-01 19:28] artembilan commented on #693
For better traceability: https://github.com/spring-projects-experimental/spring-native/issues/469

[2021-04-01 19:28] aclement commented on #629
There is a predictable ordering but it will be subtle without hiding something in the javadocs that no-one will ever read. I've done the quick thing, we have other battles to fight. You'll get an early failure if mixing the styles in a proxy hint. As a bonus it will even ll tell you which type contained the hint ;)

[2021-04-01 19:28] #629 closed

[2021-04-01 19:30] artembilan commented on #469
Here is the work to be done in Spring Integration project: https://github.com/spring-projects/spring-integration/issues/3502.

Once that one is committed and this project is ready to consume Spring Boot `2.5` as based line, I'll come back here with some possible additional work, e.g. fix that list in Docs that it is supported as first step 😉 .

Will add some sample, hints and everything we would n

[2021-04-01 19:33] garyrussell commented on #687
Correction; it is working fine for me now...

[code]

I added code to the producer to collect the record metadata.

[code]

[2021-04-01 19:43] garyrussell commented on #687
https://github.com/garyrussell/spring-native-kafka-avro/commit/201180c3af283076af6ad2c12e0991bfbf381b04

[2021-04-01 20:02] scottfrederick commented on #689
There are a few issues blocking the ability to use the Paketo CA Certificates mechanism with Spring Native images.

The CA Certificates buildpack is indeed missing from the Paketo Java Native Image buildpack. It was [removed](https://github.com/paketo-buildpacks/java-native-image/pull/34) in an earlier version for compatibility reasons. I've created [an issue ](https://github.com/paketo-buildpacks

[2021-04-02 05:54] sdeleuze commented on #689
Thanks a lot @scottfrederick, let's turn this issue to a 0.10 documentation one.

[2021-04-02 06:02] #192 closed

[2021-04-02 09:06] sdeleuze opened #696 "Rename `master` branch to `main`"
See https://github.com/github/renaming.

[2021-04-02 09:15] #696 closed

[2021-04-02 09:51] pdebuitlear commented on #680
Sorry, I spoke too soon. I took another look at this, just extracting the .so didn't work

[2021-04-02 15:32] snicoll commented on #672
Closing in favor of PR #695

[2021-04-02 15:32] #672 closed

[2021-04-02 15:39] snicoll commented on #691
That's because of the `IncludeFilter` and it's not a bug in Spring Native as far as I understand the report. If you add an include filter with a lambda, it'll fail the [filter check](https://github.com/spring-projects/spring-framework/blob/58e40d1aa2c23f6d9c41d4289f5b5debc10868f6/spring-context/src/main/java/org/springframework/context/annotation/ClassPathScanningCandidateComponentProvider.java#L3

[2021-04-03 18:38] prettymama commented on #423
Seems that metrics endpoint works only with this configuration
[code]

[2021-04-04 08:34] sgyeme commented on #659
I have had same issue and it is now working. It is due to the fact jackson uses reflection for serialization the News object should be registered in the reflec-config.json.
But I could't register it by adding TypeHint is was not working I had to use entity that was already registered. I was working with Hibernate

[2021-04-04 11:18] sgyeme commented on #683
EmpresaDTO must be registered in reflect-config Jackson uses reflection for serialisation

[2021-04-04 14:52] diogopeixoto commented on #683
Added @TypeHint to my @SpringBootApplication class and worked.

Thanks @sgyeme

[2021-04-04 20:00] sgyeme opened #700 "@Transactional annotation not working on an interface"
Interface

[code]

[code]

**Error message**
[code]

[2021-04-05 00:45] aclement commented on #700
Did you try what the message suggested?  At the place where you are using the UserService, perhaps like this:

[code]

switch it to the interface type instead:

[code]

or are you not able to do that? Using the interface enables the JDK proxy for the interface to be injected. Using the class will not work (right now) with Spring Native because class based proxies aren't supported.

[2021-04-05 05:12] aclement commented on #670
Hey @joshlong - your quartz sample is now in, but it still contains manual configuration (reflect-config.json and hints in the application class) - are you able to refine those into more general support for quartz (with appropriate triggers)?

[2021-04-05 07:39] shimatai opened #701 "Minimal Sample Project from start.spring.io not working"
I've downloaded a minimal project from [start.spring.io](https://start.spring.io) only containing Spring Native Experimental, with no other frameworks, just Spring Native.

When I try to build running the command `mvn spring-boot:build-image`, I got a lot of messages with error **"[creator] WARNING: Could not register reflection metadata for org.springframework.boot..... Reason: java.lang.NoClassD

[2021-04-05 08:49] sgyeme commented on #700
It is now working. However I moved the @Transactional annotation to the overridden method in the UserServce and injected the UserServiceBase .
Thank you.

[2021-04-05 08:49] #700 closed

[2021-04-05 10:20] NicklasWallgren opened #702 "FileNotFoundException on spring-boot-starter-amqp at runtime"
Hey,

I'm trying to to get `spring-boot-starter-amqp` working with `spring-native`. I get the following exception when the application boots. The `HELP.md` doesn't mention anything about the`spring-boot-starter-amqp` package.

Thanks.

[code]

[2021-04-05 14:56] snicoll commented on #701
@shimatai the warnings are to be expected at this time, see #502. It's hard to tell what is going on based on that partial error. Can you double check your environment meets the [system requirements](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_system_requirements) first? If that doesn't help, can you run again with `-X` and paste the relevant extra information?

[2021-04-05 14:59] snicoll commented on #702
When I add this starter on start.spring.io, the `HELP.md` contains the following entry at the top of the file:

[code]

RabbitMQ is not yet supported, but we have a PR to add support. I am going to close this one now in favor of #699

[2021-04-05 14:59] #702 closed

[2021-04-05 20:57] cyraid commented on #625
This was a blocker for me. I wanted to convert to native but our projects need the logback-spring.xml and springProperty and also the compiler (for if statements).

A way forward might be to implement a new configuration file format but with native 'if' support without using janino compiler? Perhaps a more lean method of setting your appenders (that is somewhat compatible with logback on a basic l

[2021-04-05 23:40] aclement commented on #423
@GregoireW:
Thanks for trimming down that config. I've added a hint for the `PrometheusScrapeEndpoint` and upgraded the `actuator-webmvc` sample to verify it is reachable.
I've also added a hint for the info endpoint and upgraded `actuator-webmvc` sample.
I did not add a hint for the health endpoint, that's already covered, not quite sure why you had to add it? Let's deal with that in another bug

[2021-04-05 23:40] #423 closed

[2021-04-06 00:10] #687 closed

[2021-04-06 05:42] christophstrobl commented on #691
Thanks @snicoll I'll give it a try without the lambda.

[2021-04-06 06:05] derkoe commented on #620
There is already a PR in Liquibase that will fix this for 4.x (which will be used in Spring Boot 4.5): https://github.com/liquibase/liquibase/pull/1582

[2021-04-06 08:54] sdeleuze commented on #620
Nice so I close this issue.

[2021-04-06 08:58] sdeleuze commented on #659
@ivangfr Could you please try again with latest snapshots?

[2021-04-06 08:59] zhouzipeng opened #705 "how to hide the 'cmd window' when run on windows PC"
I compile my springboot-native project to .exe which run on windows PC.
But when i open the .exe, it shows a 'cmd windows',i don't want it,because i use 127.0.0.1/index.html to interact with my program.
Because of i will send my .exe to my client , the black 'cmd window' is not user friendly.
How to hide the 'cmd/terminal window' when run on windows PC?
Or can i use Java GUI(like AWT, SWing) to in

[2021-04-06 09:02] zhouzipeng commented on #705
I compile my project to .exe which run on windows PC.
But when i open the .exe, it shows a 'cmd windows',i don't want it,because i use 127.0.0.1/index.html to interact with my program.

[2021-04-06 09:21] zhouzipeng commented on #705
or can i use Java GUI(like AWT SWing) to instead of the 'cmd window'

[2021-04-06 09:33] derkoe commented on #620
@sdeleuze I thought more about taking the PR as an inspiration for a Spring Boot 2.4 backport.

I also think that Spring Native should add the Liquibase Changset files (like Quarkus does here https://github.com/quarkusio/quarkus/blob/3caaf4b4c66bd0ba11caa4fde528ed2854dace9b/extensions/liquibase/deployment/src/main/java/io/quarkus/liquibase/deployment/LiquibaseProcessor.java#L271)

[2021-04-06 10:56] ivangfr commented on #659
@sdeleuze I tried. Now, in instead of
[code]
I am getting
[code]

I am using `0.9.2-SNAPSHOT` and I don't have `@TypeHint(types = {JsonSerializer.class, News.class})` in my spring-boot application class.

---

Full stacktrace
[code]

[2021-04-06 12:24] sdeleuze commented on #705
I don't know and I don't think that's something under our control. For Java GUI with native image, I would advise to ask in the `#native-image` channel of [GraalVM Slack](https://www.graalvm.org/slack-invitation/).

[2021-04-06 12:24] #705 closed

[2021-04-06 14:09] sdeleuze commented on #683
Ok so it seems we have a combination of 3 issues here:
 - `@ControllerAdvice` is not supported, see #498 related issue
 - We missed field reflection entries, this is fixed via 537bb4a7f80ed5746d86d05dc656d127a9d48cda
 - This (multi-module) Gradle project demonstrates that sometimes `EmpresaDTO` reflection entries are generated, sometimes not.

About the third point, I made a diff between the with/

[2021-04-06 14:20] sdeleuze commented on #600
Let's continue the work and discussion on https://github.com/jhipster/generator-jhipster/issues/13733 to avoid duplication.

[2021-04-06 14:20] #600 closed

[2021-04-06 14:41] mp911de commented on #694
Lettuce ships with a `reflect-config.json` and this ticket can be closed in favor of https://github.com/lettuce-io/lettuce-core/issues/1710.

[2021-04-06 14:43] mp911de commented on #688
Isn't that something that should be addressed by Commons Pool since all other folks using Commons Pool with a Graal native arrangement will face this issue?

[2021-04-06 14:47] pdebuitlear commented on #687
It's the suggestion here that a TypeHint is needed for **all** generated classes?

[2021-04-06 16:18] garyrussell commented on #687
@pdebuitlear At the moment, yes; I am looking at a mechanism to detect and auto-register Avro generated types.

[2021-04-06 19:26] gradinac opened #706 "Support for serving JSP pages in a native app out of the box"
Currently, JSP pages in a Spring native app with an embedded Tomcat do not work out of the box.
The issue is two-fold:
1. Tomcat is unable to locate these pages
2. The JSP pages have to be translated to Java code and then compiled and dynamically loaded. This would currently not work on native-image

For our use-case, we've managed to get it to work in the following way:
1. We've used the followin

[2021-04-06 21:04] aclement commented on #683
@sdeleuze I would say next step check the `spring.components` created in either case (failing not/failing) - if that is different check the classpath used for the failing/not-failing case.

[2021-04-06 21:24] garyrussell commented on #687
https://github.com/spring-projects-experimental/spring-native/pull/707

[2021-04-07 03:08] UkonnRa commented on #701
Same error for me, this is the minimal demo: https://github.com/UkonnRa/native-test

[2021-04-07 07:20] snicoll opened #708 "Handle Spring Boot layertools"
When an app is repackaged, Spring Boot adds a layertools that has some entries in `spring.factories`. The AOT plugin doesn't see those because they're not defined in the classpath anywhere.

Until the AOT plugin is moved to core, we'll probably have to add some special handling for this, see https://github.com/spring-projects/spring-boot/issues/25711

[2021-04-07 07:23] snicoll commented on #701
@UkonnRa looking at the original description, your sample project is not the same at all "only containing Spring Native Experimental, with no other frameworks, just Spring Native.".

Please don't add a comment here but create your own issue. The sample is very useful for the team to look at.

[2021-04-07 07:32] UkonnRa commented on #701
Oh I get it, I will create my own issue

[2021-04-07 07:34] UkonnRa opened #709 "`java.lang.ClassNotFoundException: javax.servlet.Filter` when using Spring Security"
In this is the minimal demo: https://github.com/UkonnRa/native-test

In my case, the reason is that there are something wrong with Spring Security Starter. And the error is: Caused by: java.lang.ClassNotFoundException: javax.servlet.Filter.

If removing Security related dependency, everything is working fine

[2021-04-07 08:17] scalastic commented on #694
@mp911de Thanks for taking this issue into account. I'll check when the release will be published.

[2021-04-07 09:26] jvmlet opened #710 "Improve guidelines for spring boot custom starters"
Would you please  summarize the general guidelines for custom spring boot starters development in order to support `spring native`  applications?

[2021-04-07 09:42] tehioant opened #711 "Spring native application for AWS Lambda custom runtime"
How would you retrieve or add an export to the build of the native image ?

My issue is that I am trying to use the native application with AWS Lambda custom runtime. I am able to do it with graalvm :)
For my custom runtime to be built I need the application not as a jar but an executable which is available during the build.
I am able to zip the executable along with a bootstrap all prepared for a

[2021-04-07 11:54] christophstrobl commented on #691
@snicoll using the `AnnotationTypeFilter` works for the above but is unfortunately not an option for what we're trying to do.
To discover repository fragments, need to iterate all components within the index based on a resource pattern. Matching `BeanDefinition` are filtered in a later step.

Using an `AnnotationTypeFilter` would require people add `@Component` to their repository fragment impleme

[2021-04-07 15:18] snicoll commented on #691
@christophstrobl shouldn't we rephrase this issue based on our recent conversation?

[2021-04-07 22:11] joshlong commented on #670
Yah, would love to! I was just about to ask if I could...

[2021-04-08 05:24] joshlong commented on #670
Hi, I put together a [PR for your consideration based on the earlier sample](https://github.com/spring-projects-experimental/spring-native/pull/713).

[2021-04-08 05:41] christophstrobl commented on #691
I think we can close this one. Would it make sense to add an additional log entry to `ClassPathScanningCandidateComponentProvider` that indicates that the index is not used? Might be useful in native scenarios to find out why a component cannot be found.

[2021-04-08 05:41] #691 closed

[2021-04-08 05:45] snicoll commented on #691
Framework already has such a log. It tells you whether it is using the index or performing a classpath check at runtime, based on the presence of the index and whether the include filters are supported.

[2021-04-08 05:50] christophstrobl commented on #691
There's a lot of detailed logging once you got past the check if the index can be used at all, but none that can tell you if the the `indexSupportsIncludeFilters`.

[2021-04-08 05:55] snicoll commented on #691
Feel free to raise a framework issue with more details of what you'd like to see.

[2021-04-08 06:51] sdeleuze opened #714 "Improve Spring AOT debugging documentation"

[2021-04-08 06:51] #714 closed

[2021-04-08 06:56] #692 closed

[2021-04-08 08:09] sdeleuze commented on #710
For GRPC use case, do you need dynamic configuration (based on user provided classes for example) or just static configuration that could be provided as [native hints](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#native-hints)?

[2021-04-08 08:12] sdeleuze commented on #701
Superseeded by #709.

[2021-04-08 08:14] #694 closed

[2021-04-08 08:14] sdeleuze commented on #694
Thanks @mp911de, I close this one as requested then.

[2021-04-08 08:25] sdeleuze commented on #678
Thanks for your feedback, I would advise you to create an issue on https://github.com/oracle/graal/issues since I think we can't really do something on Spring Native side. I would expect WSL + tracing agent to be supported. If you create such issue, please ask them to add the `spring` label in order to identify it as an issue that impact Spring use cases.

[2021-04-08 08:25] #678 closed

[2021-04-08 08:30] sdeleuze commented on #467
Closing this issue due to lack of feedback.

[2021-04-08 08:30] #467 closed

[2021-04-08 08:33] sdeleuze commented on #622
@UkonnRa Could you please provide us a feedback ?

[2021-04-08 08:35] sdeleuze commented on #351
Could you please try again with `0.9.2-SNAPSHOT`?

[2021-04-08 08:46] sdeleuze commented on #564
This error is due to `spring-cloud-azure-appconfiguration-config-web` which does not support native yet, likely to be raised on https://github.com/Microsoft/azure-spring-boot side.

[2021-04-08 08:46] #564 closed

[2021-04-08 09:11] sdeleuze commented on #461
Works correctly with `0.9.2-SNAPSHOT`.

[2021-04-08 09:11] #461 closed

[2021-04-08 09:12] sdeleuze commented on #373
Closing due to the lack of feedback.

[2021-04-08 09:12] #373 closed

[2021-04-08 09:27] sdeleuze commented on #688
@mp911de Yes it should ultimately like [others non Spring hints ](https://github.com/spring-projects-experimental/spring-native/tree/main/spring-native-configuration/src/main/java) but my proposal for now is that we ship what is needed even transitively in Spring Native and we will create the various issues on downstream project when native configuration 2.0 and related native testing support will

[2021-04-08 09:36] dsyer commented on #711
This sample builds a native image for AWS Lambda: https://github.com/spring-projects-experimental/spring-native/tree/main/samples/cloud-function-aws. Are you trying to do something different to that?

[2021-04-08 09:39] sdeleuze commented on #659
@ivangfr Hum, neither @aclement or I could reproduce it by following exactly your procedure and updating the version to `0.9.2-SNAPSHOT` in both `producer-api` and `consumer-api` modules. Could you please update your repo with `0.9.2-SNAPSHOT`, remove any local version of `spring-native` and `spring-aot` from your Maven local repository and test again?

[2021-04-08 09:42] sdeleuze commented on #688
@scalastic Could you please share your project in order to allow me to create a sample from it?

[2021-04-08 09:48] scalastic commented on #688
@sdeleuze this is it https://github.com/scalastic/virusapp on `main` branch

[2021-04-08 11:02] ivangfr commented on #659
Hi @sdeleuze

In the test that I did and commented 10 days ago (29 March 2021) I did a stupid mistake. Instead of adding the spring-native `0.9.2-SNAPSHOT` to `producer-api`, I added it to `consumer-api`. Sorry for that.

However, today I did all correct. Besides, I've created a new branch specific for this issue called `spring-native-issue-659`

Before redoing the test, I've removed all content i

[2021-04-08 11:07] derkoe commented on #620
The issue with Spring Boot 2.4 is the class `org.springframework.boot.liquibase.SpringPackageScanClassResolver` - this breaks the service discovery with native-image.

[2021-04-08 12:03] AndersClausen commented on #578
@sdeleuze any idea when you'll get time to work on this issue? Really keen to see if it fixes #398 😃 Thank you

[2021-04-08 12:26] jvmlet commented on #710
Thanks for the reply, @sdeleuze. This is generic question.
Reading the spring native reference documentation, it's stated that some spring boot starters are already supported by `spring native`, like `spring-boot-starter-data-jdbc` or `spring-boot-starter-data-jpa`. Looking at these repositories source code I don't see any usage of `native-hints`, as well as any dependencies on spring-native libra

[2021-04-08 13:31] sdeleuze commented on #659
Ok with your branch I can reproduce.

[2021-04-08 13:39] sdeleuze commented on #659
It works if I add just `@TypeHint(types = News.class)` which is required because we can't recognize automatically `KafkaTemplate` programmatic usage. So I tend to think we could close this issue. Any thoughts?

[2021-04-08 13:41] ivangfr commented on #659
Yes, we can close. I will add the `TypeHint` with `News.class` then. Thanks!

[2021-04-08 13:41] #659 closed

[2021-04-08 14:43] #688 closed

[2021-04-08 14:45] sdeleuze commented on #688
Using `0.9.2-SNAPSHOT` I was able to remove `GenericToStringSerializer` and DefaultEvictionPolicy` hints.

[2021-04-08 14:46] sdeleuze opened #715 "Upgrade to Spring Boot 2.4.5"

[2021-04-08 16:42] bclozel commented on #644
@khaeghar the Conditional annotations you're listing here should be supported.

Our AOT process is processing Conditional annotations and doing its best to guess whether they will match at runtime. Currently our model is incomplete and might not reflect 100% the runtime behavior in the JDK - this is why I've asked for a repro project in this case.

At build time, our AOT plugin looks at all factor

[2021-04-08 16:45] making opened #716 "Add support for @ConfigurationPropertiesScan"
In a native application, `@ConfigurationPropertiesScan` does not work and the configuration properties instance does not get registered. As a result, `NoSuchBeanDefinitionException` occurs.

Here are snippets of the code I tried.

[code]
[code]

[code]

and the stacktrace.

[code]

As a workaround, using `@EnableConfigurationProperties({ Prometheus.class })` instead works.

[2021-04-09 00:34] UkonnRa commented on #622
I think it's not an important problem so I have not spent more time on this. The current situation is good enough. Thanks

[2021-04-09 03:17] UkonnRa commented on #709
To make Spring Security work, I have to add `javax.servlet:javax.servlet-api:4.0.1`. But Why?

[2021-04-09 06:05] muyen opened #717 "AWS lamda - Failed to create the function nativeImage: Image runtime config size is larger than 16 KB"
I was trying out the cloud-function-aws in the sample.

I built a native container image and tried to deploy aws lamda. However, I got the follow error message.

"Failed to create the function nativeImage: Image runtime config size is larger than 16 KB."

May I ask what is the configuration? How can I reduce the size so it could work?

[2021-04-09 08:57] sdeleuze commented on #578
April 20th, see [the roadmap](https://www.graalvm.org/release-notes/version-roadmap/).

[2021-04-09 08:58] sdeleuze commented on #620
I prefer to wait for Spring Boot 2.5 and proper support, it will be released shortly.

[2021-04-09 09:01] #670 closed

[2021-04-09 09:02] sdeleuze commented on #670
@aclement Please update the support doc accordingly if needed (with potential limitations).

[2021-04-09 09:02] dsyer commented on #717
Works for me, but I needed to activate 2 profiles ("native-image" and "native"). I think maybe we could just use "native-image" in both pom files.

[2021-04-09 09:04] sdeleuze commented on #701
@shimatai Could you please provide the feedback asked by @snicoll?

[2021-04-09 09:06] sdeleuze commented on #717
Indeed, that was probably a miss when we renamed `native` profile to `native-image` so +1 for using only `native-image`.

[2021-04-09 09:07] dsyer commented on #717
Done see e3581365

[2021-04-09 09:09] #717 closed

[2021-04-09 09:44] tehioant commented on #711
Thank you :)
It is what I was looking for although I cannot make the native.xml assembly file work
![Screenshot 2021-04-09 at 11 42 24](https://user-images.githubusercontent.com/47829208/114161748-b76c4600-9928-11eb-866e-17fc8de08e17.png)

[2021-04-09 09:46] bclozel commented on #673
Thanks @AndersClausen for this sample, this is super useful as always.

We've found that a spring factory was somehow defined twice, generating invalid AOT source code. We're now more defensive and avoid such problems. We've also raised spring-cloud-incubator/spring-cloud-sleuth-otel#42 to fix the root cause.

I've tried to build the native image with the sample project you've provided and now I'm

[2021-04-09 10:09] dsyer commented on #711
Did you run `mvn install -P native-image` (should work on "main" branch now - remember that the master branch changed).

[2021-04-09 11:03] bclozel opened #718 "AOT does not filter ConditionalOnBean with multiple candidates"
In #673, we're seeing that AOT processing registers an auto-configuration, even if it's annotated with:

[code]

In this case AOT processing should ensure that **all** types listed there are present on the classpath; currently it's only making sure that **one of** the types is present. This causes the auto-configuration to be registered in the static spring factories; it shouldn't.

[2021-04-09 11:04] bclozel commented on #673
I'm closing this issue and I've opened a follow-up for this sample: #718

[2021-04-09 11:04] #673 closed

[2021-04-09 11:43] bclozel opened #719 "Nested classes in custom Condition implementations are not registered in the image"
When running the sample Sleuth application provided in #673 with the native image, we're getting the following:

[code]

Tracing back to the source of the problem, we're seeing that an auto-configuration class is annotated with a custom condition:

[code]

And that condition itself points to the condition implementation:

[code]

While we are providing a `@NativeHint` to register all classes in th

[2021-04-09 11:51] #718 closed

[2021-04-09 12:03] tehioant commented on #711
I ran `./mvnw package -P native`
but running `mvn install -P native` (since my profile is referred as 'native' and not 'native-image') does not change anything. I still get the same error declared as `http://cwiki.apache.org/confluence/display/MAVEN/MojoExecutionException`

[2021-04-09 12:43] sdeleuze commented on #711
There are 2 profiles involved (one in the parent pom) so just using `./mvnw package -P native` won't work, please try to update to latest `main` branch and run `mvn install -P native-image`.

[2021-04-09 12:44] sdeleuze commented on #719
Any thoughts @aclement ?

[2021-04-09 16:35] AndersClausen commented on #578
Thank you @sdeleuze - I'm not quite sure why I thought that version was already out :-D

[2021-04-09 19:11] aclement commented on #719
I feel like I've seen this kind of pattern in another place too. Including `@Conditional` annotated nested classes within a type implementing `Condition` doesn't seem totally unreasonable to catch these.

[2021-04-09 22:22] #719 closed

[2021-04-09 22:23] aclement commented on #719
I had already done part of it (the support  was there for recognizing NestedCondition types). I think I was playing around with it when working with actuator hints. So I finished that off. I updated the features sample app to include a scenario like above to verify correctness.

[2021-04-09 22:23] aclement commented on #719
It found another couple of situations actually too, including `JCacheAvailableCondition`

[2021-04-09 22:58] aclement commented on #670
@joshlong want to do a PR for the docs to indicate spring-boot-starter-quartz is on the support page? https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support-spring-boot - besides mentioning the starter, if there are any limitations around the support you know of (I guess I'm asking how comprehensive is your sample).

[2021-04-09 23:12] joshlong commented on #670
the sample is based on a typical example that I think I found in the Spring Boot samples. I don't know what I don't know, however, and would not be surprised if there's some scenario that.I haven't addressed. I'll send a PR.

[2021-04-10 01:45] aclement commented on #709
if I build that sample project, as it is... it works for me:

[code]

The exception included in the README:
[code]

is like an error we saw months and months ago. It would happen when something in the GraalVM compiler is not properly coping with a type being missing whilst the option `--allow-incomplete-classpath` is supplied. My first reaction is whether it is using the right level of GraalVM but

[2021-04-10 01:45] aclement commented on #709
If it was recreatable we can breakpoint in the GraalVM compiler and discover what it is having trouble unwrapping when it hits this and why a surrounding try catch isn't handling it.

[2021-04-10 03:24] hantsy commented on #649
I also encountered the similar issue when I created my spring native example and added Data Auditing feature. @aclement I am not sure the`TypeHint` can fix the Mongo Data Auditing problem.

[2021-04-10 16:25] sdeleuze opened #720 "Introduce Java 16 compatibility"
- ~~Update `ClassDescriptorTests#resolveStringShouldHaveInterfaces` to use `stringClass.getInterfaces()).hasSizeGreaterThanOrEqualTo(3)`~~
- ~~ASM 9.0 should be fine~~
- ~~Gradle 7.0 should be needed~~
- Test on the CI if possible

[2021-04-11 16:39] sdeleuze commented on #599
I think the proper way to solve this issue would be to leverage https://github.com/oracle/graal/issues/3302.

[2021-04-11 16:44] GregoireW commented on #423
@aclement Out of curiosity, what did you add (and where) to have those hint ? there is no `reflect-config.json` in spring aot but in the end there is a generated file. (too lazy to check that today)

anyway I checked, Not sure why I put the health endpoint. It was working from the start.

I check quickly and 0.9.2-SNAPSHOT fixes the issue. Thank you

[2021-04-12 01:56] UkonnRa commented on #709
Weird, I tried today and it's working fine too... I will close this issue and dive deeper into it to see what the problem is

[2021-04-12 01:56] #709 closed

[2021-04-12 02:44] qianniaoliu opened #722 "spring-native:0.9.1, spring-boot:build image is error"
In a native application,native version is 0.9.1

`[INFO]
[INFO] --- spring-boot-maven-plugin:2.4.4:build-image (default-cli) @ demo ---
[INFO] Building image 'docker.io/library/demo:0.0.1-SNAPSHOT'
[INFO]
[INFO]  > Pulling builder image 'docker.io/paketobuildpacks/builder:tiny' 100%
[INFO]  > Pulled builder image 'paketobuildpacks/builder@sha256:e1b1c8f5e76b266924aae21d93dd14e351145b5106f39ba71b2c

[2021-04-12 03:44] #722 closed

[2021-04-12 09:06] tehioant commented on #711
Thank you fir your input
I got it the build was successful :)

[2021-04-12 09:11] #711 closed

[2021-04-12 11:16] Paradox98 opened #723 "spring-boot project failed to build-image using spring-native"
spring-boot 2.4.4
spring-native 0.9.1
graalvm 21.0.0.2

[code]
How can I locate the problem? Why is it possible to execute jar directly, but native-image is white

[2021-04-12 11:50] sdeleuze commented on #723
Please share your project in order to allow us to help you.

[2021-04-12 12:16] Paradox98 commented on #723
The project is very dependent on a lot, it is impossible to show all

[2021-04-12 14:07] #710 closed

[2021-04-12 14:11] sdeleuze commented on #710
I have updated the reference documentation to provide more information about what is and what is not supported for external native configuration. Dynamic native configuration is not yet supported when provided externally, but as documented you can provide native hints for now, and if you really need dynamic configuration, you can implement a native image feature for now.

Regarding to the guidelin

[2021-04-12 15:04] odrotbohm commented on #333
While Spring HATEOAS will fundamentally work with Spring Native 0.9.2 due to the added initialization hints, a big obstacle to getting user applications using the link builder APIs working on native is the lack of support for class based proxies (see #356) as link creation is usually done through pointing to controller classes' methods, and in JVM based Spring applications there's absolutely no ne

[2021-04-12 15:05] odrotbohm commented on #356
The path we ran into this being needed in the data work, was Spring MVC controllers used with Spring HATEOAS and pointing to controller methods to create links. That API creates proxies for controller classes to record the immediately following method invocation. A similar approach ist used by Spring MVC's `MvcUriComponentsBuilder`. I don't think we can reasonably ask users to introduce interfaces

[2021-04-12 18:54] mmuniz75 opened #724 "Fail to starts server in Kotlin+Webflxux+R2DBC+OATH - Error : Class java.lang.Iterable[] is instantiated reflectively but was never registered."
I got a code snippet of my system built with Kotlin ,Webflux , RDBC2 and Spring Oauth 2.
The image generation is fine but when I try up the server I got the error bellow.

The code is in : https://github.com/mmuniz75/native-test
There is a docket compose in the path to starts the container

Caused by: java.lang.IllegalArgumentException: Class java.lang.Iterable[] is instantiated reflectively but w

[2021-04-12 19:36] bclozel commented on #627
I've solved this issue locally, but I think we're back to a problem we already considered: whether `spring-native-configuration` is a required dependency and where it should be declared.

Currently, the `spring-native` artifact does not depend on `spring-native-configuration`. `spring-native-configuration` is currently a required dependency for the AOT processing, since `@NativeHint` declarations

[2021-04-12 22:43] leccelecce opened #725 "Add missing Thymeleaf expression language hints"
The org.thymeleaf.expression package contains a variety of classes that can be used in Thymeleaf templates e.g. `org.thymeleaf.expression.Arrays`, which is accessed in a template via `${#arrays.xxx()}`. This requires reflection config like the below example:

[code]

On the basis that the project added IterStatusVar in https://github.com/spring-projects-experimental/spring-native/issues/679, I thi

[2021-04-12 23:58] aclement commented on #725
Yes, I am not surprised we need to add some more. It is perhaps just a shame we will end up adding those that aren't being used to some apps, but I suspect working out which are required in a particular app is not easy.

Happy to take a PR, could perhaps enhance the existing sample to cover more kinds of expression.

[2021-04-13 06:11] qianniaoliu opened #727 "spring-boot(2.4.4) project failed to build-image using spring-native(0.9.1)"
version:
spring-boot: 2.4.4
spring-native: 0.9.1
use `<BP_BOOT_NATIVE_IMAGE>true</BP_BOOT_NATIVE_IMAGE>` is error,no use no error
error info:
[code]

[2021-04-13 07:54] Paradox98 commented on #723
[code]

look like this one https://github.com/oracle/graal/issues/3035

[2021-04-13 11:50] tehioant commented on #584
Hi !
@uzshrestha is there a way to contact you ?
I'd like your input on the devcontainer.

[2021-04-13 12:00] leccelecce commented on #725
PR provided to add the expression classes; I will look at improving the sample separately as having some issues getting the tests to pass on my machine even prior to the change.

I did think about whether I could create some kind of processor to scan through any templates found and identify which #xxx expressions were being used - but it felt like quite a bit of effort given the expression classes

[2021-04-13 13:15] bclozel opened #729 "Avoid TypeSystem reuse between AOT processing runs"
The sample project defined in #683 showed the following behavior of the AOT processing with the Gradle build plugin.

The `org.springframework.nativex.type.TypeSystem` class has a static factory method that caches instances using the given classpath as key. Once created, a `TypeSystem` will hold references to components like `WebComponentProcessor` which keep track of types already encountered dur

[2021-04-13 13:16] bclozel commented on #683
I've found the problem that triggers the reflection data being there/absent depending on the run. I've created #729 to track that problem. I'm closing this issue since it's been superseded by others in the meantime.

Thanks!

[2021-04-13 13:16] #683 closed

[2021-04-13 13:19] #729 closed

[2021-04-13 13:42] bclozel commented on #627
@sdeleuze and I discussed this and we think that this issue is strictly related to #488. We can't really fix this problem properly without addressing the broader design. We identified those limitations a while ago, but this is an unintended consequence.

I'm moving this issue to the same milestone as the other issues in that area.

[2021-04-13 13:44] sdeleuze opened #730 "Regression: Unable to find class file for javax/servlet/http/HttpServlet"
a224485d8507ffef062cbda3fe74e2a54b206872 introduced a regression which breaks `data-r2dbc` and `webflux-websocket` due to an `Unable to find class file for javax/servlet/http/HttpServlet` error.

[code]

I am not sure if we should add related hints or refine the original change.

[2021-04-13 14:15] #725 closed

[2021-04-13 14:17] sdeleuze commented on #727
Hi, this is probably an out of memory related error, see [related documentation](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_out_of_memory_error_when_building_the_native_image).

[2021-04-13 14:17] #727 closed

[2021-04-13 14:35] sdeleuze commented on #724
Looks like https://youtrack.jetbrains.com/issue/KT-44594[KT-44594], could you please try with Kotlin `1.5.0-M2` to see if the error still happen?

[2021-04-13 14:44] sdeleuze commented on #723
If sharing the original project is not possible, could you please try to craft a minimal repro one in order to allow us to help you?

[2021-04-13 14:49] #622 closed

[2021-04-13 15:06] mmuniz75 opened #731 "Fail to generate image in Webflux+R2DBC+Validation project."
Fail to generate image in Webflux+R2DBC+Validation project.

The project is : https://github.com/mmuniz75/native-test2

Following the log :

Fatal error:java.lang.NoClassDefFoundError: org/springframework/web/servlet/config/annotation/WebMvcConfigurer
[INFO]     [creator]            at java.base/java.lang.Class.getDeclaringClass0(Native Method)
[INFO]     [creator]            at java.base/java.lan

[2021-04-13 16:07] leccelecce opened #732 "Fix and improve maintainability of Hibernate Validator support"
I have a Spring WebMVC+Thymeleaf application which uses `@javax.validation.constraints.Min` on a form object.

[code]

The form is used by a `@Controller` like so:

[code]

pom.xml includes the Spring Boot validation starter, plus Hibernate Validator as the implementation.

[code]

In 0.9.1 this works fine. In the current 0.9.2 snapshot, it builds correctly but fails at runtime request with the fo

[2021-04-13 16:23] sdeleuze commented on #731
Maybe relayed to #730.

@mmuniz75 Are you using `0.9.2-SNAPSHOT`?

[2021-04-13 16:25] sdeleuze commented on #732
Let's check again when #730 will be fixed.

[2021-04-13 16:32] mmuniz75 commented on #724
Hi Sebastien,

With kotlin 1.5.0-M2 the server starts fine. thanks

But now I tried access a end point and got other error :  Cannot calculate JVM erasure for type: kotlin.collections.List<edu.muniz.askalien.admin.Answer>

In the sample webflux-kotlin I saw that domain class has this entry :
@TypeHint(types = [Bar::class], access = AccessBits.FULL_REFLECTION)

is this the same issue  ?
Should I op

[2021-04-13 16:50] mmuniz75 commented on #731
Yes I am using 0.9.2-SNAPSHOT.

I just have the issue when I add : spring-boot-starter-validation

In fact I got the same issue of #730 so I added :
                <dependency>
			<groupId>javax.servlet</groupId>
			<artifactId>javax.servlet-api</artifactId>
			<version>4.0.1</version>
		</dependency>

And just after that got the : Fatal error:java.lang.NoClassDefFoundError: org/springframework/w

[2021-04-13 16:51] leccelecce commented on #732
[repro.zip](https://github.com/spring-projects-experimental/spring-native/files/6305376/repro.zip)

Attached is a repro project if it helps. You can run it in Docker, go to localhost:8180 and submit the form and it should error. Change spring.native.version to 0.9.1 and it works fine.

[2021-04-13 17:32] mmuniz75 commented on #724
Hi Sebastien,

Works fine with kotlin 1.5.0-M2 . thanks

[2021-04-13 17:32] #724 closed

[2021-04-13 17:58] aclement commented on #730
Phew, luckily it was a straightforward thing. I was worried it was the other thing in the back of my mind. Should be good now.

[2021-04-13 17:58] #730 closed

[2021-04-13 18:31] sdeleuze commented on #731
Shoukd be fine with latest snapshot (you can use `mvn -U` to force the fetch) since #730 has just been fixed. Please comment if still broken.

[2021-04-13 18:33] sdeleuze commented on #732
I am AFK but feel free to test with latest snapshots since #730 has just been fixed.

[2021-04-13 18:38] leccelecce commented on #732
I've just tried with snapshot 0.9.2-20210413.182352 but no change

[2021-04-13 19:50] mmuniz75 commented on #731
I did the update and now without the javax.servlet:javax.servlet-api:4.0.1 entry I still got the same error to generate de image :
Fatal error:java.lang.NoClassDefFoundError: org/springframework/web/servlet/config/annotation/WebMvcConfigurer
Please reopen the issue, I updated the pom.xml from the git repository with my code example.

[2021-04-14 00:54] Paradox98 commented on #723
I’m trying to do this, but if I can locate a specific problem, it’s solved

[2021-04-14 08:13] Rohit-nagbhidkar opened #734 "Getting test failures in packaging cloud-function-aws sample"
I am using latest of spring native main branch
getting following error in test cases while doing
mvn install -P native-image

[code]
build is failing for same
docker is getting up and running for the test case and then its failing

Using windows 10 64 bit
Java 11 and graalvm 21.0.0.2

[2021-04-14 08:24] sdeleuze commented on #731
I had a deeper look, but it seems to be something broken at `native-image` level. Could you please create an issue on https://github.com/oracle/graal/issues with your repro and the error message, asking the GraalVM team to tag it with the `spring` label. Please also share the reference of the issue here.

[2021-04-14 08:24] #731 closed

[2021-04-14 08:29] sdeleuze commented on #734
Did you use x64 Native Tools Command Prompt as recommended in the [GraalVM native-image prerequisite](https://www.graalvm.org/reference-manual/native-image/#prerequisites)?

[2021-04-14 08:49] sdeleuze commented on #732
I can't make it work with 0.9.1, could you please share a repro where it works with 0.9.1 but not with 0.9.2-SNAPSHOT?

[2021-04-14 09:01] sdeleuze commented on #732
I can indeed reproduce it with `0.9.2-SNAPSHOT` and not with `0.9.1`.

[2021-04-14 09:20] Rohit-nagbhidkar commented on #734
yes using x64 native tools
here is full command
"C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build\vcvars64.bat" && mvn package -Pnative

[2021-04-14 09:36] sdeleuze commented on #732
After bisecting this error, it seems to be introduced by 537bb4a7f80ed5746d86d05dc656d127a9d48cda, not sure why yet.

[2021-04-14 10:08] sdeleuze commented on #732
The only difference I see in the reflection config is as expected an additional `"allDeclaredFields": true` entry for `com.ecv.webapp.Form`. I was suspecting previously it was not fully functional, this is confirmed by the sample that show successful validation when using for example `-6`. So yes it seems we need to had more reflection entries to make Hibernate Validator happy.

[2021-04-14 10:22] mmuniz75 commented on #731
A issue was open to GraalVM team : https://github.com/oracle/graal/issues/3345

[2021-04-14 13:28] mmuniz75 opened #735 "Kotlin R2DBC Custom Repository makes container not starts"
A Kotlin R2DBC Custom Repository makes container not start.
Looks like is not able to find the method implementation, if remove the custom repository the regular ones works fine.

The error is :  Failed to create query for method public abstract reactor.core.publisher.Flux edu.muniz.askalien.admin.repository.QuestionCustomizedRepository.findAll(edu.muniz.askalien.admin.repository.QuestionFilter)!

[2021-04-14 14:05] sdeleuze commented on #643
See also the other repro project from #735.

[2021-04-14 14:06] sdeleuze commented on #735
Hi, yeah that's a known issue, and probably a duplicate of #643.

[2021-04-14 14:06] #735 closed

[2021-04-14 14:09] sdeleuze commented on #734
@dsyer Do you now if this sample has something OS specific that would prevent it to work on Windows (since I tried and it work on my Linux machine)?

[2021-04-14 15:15] dsyer commented on #734
The test (and the AWS lambda) runs in a Linux container? I never tried this in Windows so I don’t know, but I think you’ll have to build a Linux image for AWS anyway, so building using Windows graalvm is not going to work in the end on Amazon.

[2021-04-14 21:00] sergey-morenets opened #736 "Document how to generate a native image from Spring Boot executable JAR"
Hi

We would like to generate native image by native-image utility in Dockerfile:

native-image -jar custom-spring-boot.jar

But it seems that in generated fat jar META-INF/native-image folder is not root as described in GraalVM documentation:
https://docs.oracle.com/en/graalvm/enterprise/20/docs/reference-manual/native-image/BuildConfiguration/

It's located under BOOT-INF/classes and native-imag

[2021-04-14 21:30] leccelecce commented on #732
Interesting - I will have a look at my sample again tomorrow as I was sure it was working when I wrote it up.

[2021-04-15 07:10] Rohit-nagbhidkar commented on #734
tried on ubuntu wsl as well, still getting the same result
attaching the ouput of the build
[output.txt](https://github.com/spring-projects-experimental/spring-native/files/6315838/output.txt)

[2021-04-15 08:16] spring-projects-issues commented on #701
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-04-15 08:36] spring-projects-issues commented on #351
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-04-15 08:48] dsyer commented on #734
I don't know how WSL works, but it's not building a Linux executable is it? I don't see how you can use the project as it is on Windows, unless you run inside a container. Have you tried using the `run-dev-container.sh` script in the root of this project?

[2021-04-15 11:02] #732 closed

[2021-04-15 11:04] sdeleuze commented on #732
I had to do a pretty extensive rework of our validation support to solve this one in a maintainably way, please test the latest snapshots when the build will be finished and let me know if you find something wrong.

[2021-04-15 11:14] sdeleuze opened #737 "Upgrade GraalVM to 21.0.0.2"

[2021-04-15 11:15] #737 closed

[2021-04-15 11:25] sdeleuze commented on #656
This seems too much efforts regarding to the potential gain, and we were pretty successful y switching to Spring Boot snpashots at the end of the dev cycle. For 0.10 we will also already have Spring Boot 2.5.0-RC1 so we should be fine. As a consequence I close this issue.

[2021-04-15 11:25] #656 closed

[2021-04-15 14:12] #715 closed

[2021-04-15 14:26] sdeleuze commented on #736
`native-image` does not recognize Spring Boot executable JAR format, and we currently provide 2 ways of creating native images via build plugins as documented https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started[here].

That said, native image creation being designed to be run on CI/CD platform and given the fact that most containers are CPU architecture specific

[2021-04-15 14:31] Rohit-nagbhidkar commented on #734
using WSL-2

[2021-04-15 14:40] sdeleuze commented on #736
Maybe [`pack`](https://buildpacks.io/docs/tools/pack/) already allows to do that ?

[2021-04-15 14:53] sergey-morenets commented on #736
Yes, that's correct. But **spring-boot:build-image** goal generates OCI image with native image application. Sometimes I want to build OCI (Docker) image by myself. In that case I just need a goal to compile native image but Spring Boot plugin doesn't support that now.

[2021-04-15 15:04] sdeleuze commented on #736
For that you can use `native-image-maven-plugin` documented [here](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started-native-image).

[2021-04-15 15:53] sdeleuze opened #738 "Document how to use pack to create a container image from an executable JAR"
Based on @scottfrederick input it should be something like `pack build --builder paketobuildpacks/builder:tiny --path target/my-app.jar --env 'BP_NATIVE_IMAGE=true' my-app:0.0.1`.

[2021-04-15 15:55] sdeleuze opened #739 "Allow Netty reflection to fix RSS memory usage with Java 11"
With Java 8 : 71M of RSS
With java 11 : 123M of RSS
Same figures with 21.0 or 21.1-dev.

cc @aclement @martinlippert

[2021-04-15 16:05] leccelecce commented on #732
Looks good to me, many thanks and apologies for the confusion on my repro with 0.9.1

[2021-04-15 16:33] aaronriekenberg commented on #382
I had the same issue as @fer-marino .  For me putting:

[code]

into `refect-config.json` solved this issue.

[2021-04-15 16:46] spring-projects-issues commented on #644
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-04-15 17:06] sdeleuze commented on #734
`native-image` does not support cross compilation so indeed if you are using WSL2 make sure to a Linux version of native image. Also keep in mind I am not sure this is supported by GraalVM.

As suggested by @dsyer, your best bet is to build it using `run-dev-container.sh` script as documented [here](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#how-to-contribute-using-con

[2021-04-15 17:07] sdeleuze commented on #734
I am closing this issue since I don't see what we can do concretly. Please comment or send a PR if you think we should improve something.

[2021-04-15 17:07] #734 closed

[2021-04-15 19:01] khaeghar commented on #644
Hi, I'm sorry for the tremendous delay. Right now I'm not able to provide you with the reproducer since my tries have been futile and doesn't reproduce the behavior. The actual project it's really big and the info I gave you guys is all I can give by the moment. I'll try to work on it once we come back again to the GraalVM of the project. Thanks for everything!

[2021-04-15 21:10] aclement commented on #382
I've tweaked the configuration properties processing a little and the case I could recreate as failing is now working.

[2021-04-16 06:32] sdeleuze commented on #644
Ok thanks please create a new issue later if needed.

[2021-04-16 06:32] #644 closed

[2021-04-16 14:45] sergey-morenets commented on #736
@sdeleuze

Yes, but I will get fallback image, because unfortunately Native Image Builder doesn't recognize and support Spring Boot JAR Layout. So I will need JDK/JRE to run it.

[2021-04-18 23:26] ch4mpy opened #740 "Application not detected as started when `spring-aot-maven-plugin` is active"
My apps are not detected as started anymore when I add `spring-aot-maven-plugin` to my pom file.

This has at least to manifestations :
- spinner never changes to green arrow in Spring Boot Dashboard
- more annoying : `springdoc-openapi-maven-plugin` fails my builds as it relies on `spring-boot-maven-plugin` to start the app at `pre-integration-test` and waits for the app to be reported as started

[2021-04-19 10:57] Paradox98 opened #742 "java.lang.NoSuchMethodException: The class CookieParamValueFactoryProvider$InjectionResolver(not public) has no constructor marked @Inject and no zero argument constructor"
[code]
`java.lang.NoSuchMethodException: The class ABC has no constructor marked @Inject and no zero argument constructo`

If ABC is a public class in the third-party jar, I can solve the problem by using @TypeHint annotation, but CookieParamValueFactoryProvider$InjectionResolver is the default class and I cannot refer to it. How to solve this problem.

[2021-04-19 10:58] #723 closed

[2021-04-19 11:04] mading131427Ma commented on #589
I have got the same problem.  Now I solve this problem like this.
![image](https://user-images.githubusercontent.com/8579765/115226675-1bb9b180-a142-11eb-9105-a40b4ade18da.png)

[2021-04-19 12:08] Paradox98 commented on #742
CookieParamValueFactoryProvider is the default class

[2021-04-19 12:13] douglashg opened #743 "Add support for Spring Web Services (SOAP)"
jaxax.xml.transform.TransformerException: com.sun.org.apache.xpath.internal.functions.FuncNormalizeSpace.<init>()
at com.sun.org.apache.xpath.internal.compiler.FunctionTable.getFunction(FunctionTable.java:353)

[2021-04-19 13:47] sdeleuze commented on #743
Could you please provide a project that would allow us to reproduce this error ?

[2021-04-19 13:53] sdeleuze commented on #742
[You can use `@TypeHint` `typeNames` attribute.](https://docs.spring.io/spring-native/docs/current/api/org/springframework/nativex/hint/TypeHint.html#typeNames())

[2021-04-19 13:53] #742 closed

[2021-04-19 13:57] sdeleuze commented on #740
Could you please provide a project that would allow us to reproduce this issue?

[2021-04-19 14:32] sdeleuze commented on #739
A part is not specific to Netty, see those figures for `commandlinerunner` with GraalVM 21.1.0.

**Java 8**
- Image build time: 22.5s
- RSS memory: 32.1M
- Image size: 24.1M

**Java 11**
- Image build time: 36.6s
- RSS memory: 37.0M
- Image size: 36.5M

**Java 16**
- Image build time: 40.8s
- RSS memory: 40.5M
- Image size: 39.7M

[2021-04-19 14:47] martinnemec3 opened #744 "spring-data-mongo custom repository bean creation failure"
I am trying to run an application that has a custom mongo repository implementation. When running the native image created from this setup I get an exception:

[code]
From the stack trace it looks like spring tries to turn the methods defined within the custom repository into document properties for some reason.
This does not happen when running the application as jar file - in that case it works

[2021-04-19 15:55] sdeleuze commented on #736
I mean from sources not the executable JAR (btw we disable fallback in Spring Native).
From executable JAR, you should be able to generate a container image (follow https://github.com/spring-projects-experimental/spring-native/issues/738). I am discussing with the GraalVM team if we should or not supporting generating a native image from a Spring Boot executable JAR, I will reopen this issue if we

[2021-04-19 16:36] douglashg commented on #743
I use "spring-boot-starter-web-services" module

[2021-04-19 16:38] douglashg commented on #743
I can´t send the original project, but if you need , I can create a simple project with same error....

[2021-04-19 17:27] douglashg commented on #743
I created a simple demo project using "Spring Initializ", version 2.4.6 (SNAPSHOT)  adding dependencies "Native , Web Services".

[demo1.zip](https://github.com/spring-projects-experimental/spring-native/files/6337880/demo1.zip)

...and then run on docker cmd:  mvn spring-boot:build-image -DskipTests

Result:
[INFO]     [creator]     *** Images (87b36c7fedfb):
[INFO]     [creator]           docker

[2021-04-19 18:03] douglashg commented on #743
Can you verify for me

[2021-04-19 18:22] ch4mpy commented on #740
Here is a repo with minimal project : git@github.com:ch4mpy/spring-native-740.git

Steps to reproduce:

1. vanilla project unzipped from start.spring.io reproduces the issue I'm reporting : just click "start" in STS Boot Dashboard and the spinner never turns into green arrow
2. comment spring-aot-maven-plugin in [pom file](https://github.com/ch4mpy/spring-native-740/blob/6d4627bbe4cbe7cf2d7f278060

[2021-04-19 21:57] ch4mpy commented on #740
I just noticed that `spring-aot-maven-plugin` isn't necessary to fail maven build. Just add :
[code]

to what you get from `start.spring.io` with spring-native and web dependencies, and build fails

[2021-04-20 01:44] Paradox98 commented on #742
@sdeleuze

[code]

This class dynamically loads a lot of classes, which causes the native-image to keep reporting various missing classes. If it is time-consuming to check one by one, is there any good way to solve this problem.
Or I can only add typeHint one by one

[2021-04-20 08:27] Paradox98 opened #745 "Add support for Jersey"
[code]

spring-native 0.9.2
graalvm 21.0.0.2

[2021-04-20 09:26] sdeleuze commented on #743
`spring-boot-starter-web-services` [is not yet supported](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support) so that expected.

[2021-04-20 09:30] sdeleuze commented on #745
[Jersey is not yet supported](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support).

[2021-04-20 09:33] sdeleuze commented on #742
This should be handled by adding Jersey support to Spring Native via #745.

[2021-04-20 10:57] magnus-larsson commented on #693
I have a Spring Cloud Stream application that I tries to native compile with Spring Native 0.9.2 following the advice in this issue. I have upgraded to Spring Integration 5.5.0-RC1 and Spring Cloud-Stream 3.1.3-SNAPSHOT which resolves most of the problems. I'm now stuck on use of the `StreamBridge`. When starting up the native compiled application I get:

[code]

The constructor parameter #3 menti

[2021-04-20 11:09] Paradox98 commented on #745
Jersey 2.5.1
hk2 2.5.0

[2021-04-20 12:04] douglashg commented on #743
I would like to be part of this team, how can I sign up?

[2021-04-20 13:06] sdeleuze opened #746 "Document -H:Log=registerResource:3"

[2021-04-20 13:09] #746 closed

[2021-04-20 20:58] christian-draeger commented on #625
same error as @cipley over here with version "0.9.2"

[2021-04-21 08:42] yoonho92 opened #747 "Add support for spring-cloud-starter-netflix-eureka-server"
code
[code]

build.gradle.kts
[code]

Problems during build
[code]

I wrote a sample code to implement eureka server using spring native
and I built using the gradle bootBuildImage command
However, a 145 error occurred during the build.
I use a macbook and the memory allocated to docker is 8GB
I don't know what's the problem.
I ask for help.

[2021-04-21 12:30] hanouard commented on #184
I've followed @aclement steps and managed to boot up a native spring cloud gateway. you can find the demo project [here](https://github.com/hanouard/demo-native-gateway). Using :
`<spring-cloud.version>2020.0.2</spring-cloud.version>
        <spring-native.version>0.9.1</spring-native.version>
        <graalvm.version>21.0.0.2</graalvm.version>`

But at the first Http request I get this error:
`ja

[2021-04-22 06:57] yswang1024 opened #748 "How to specify a cert for creator"
Due to the company’s security policy, a self-signed certificate will be used when accessing GitHub.
When I called command : mvn spring-boot:build-image -X and the process of [creator] started downloading "graalvm-ce-java11-linux-amd64-21.0.0.2.tar.gz",It throwed an Exception:

[INFO]     [creator]     4 of 11 buildpacks participating
[INFO]     [creator]     paketo-buildpacks/graalvm        6.0.0

[2021-04-22 08:16] spring-projects-issues commented on #701
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-04-22 08:16] #701 closed

[2021-04-22 08:36] spring-projects-issues commented on #351
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-04-22 08:36] #351 closed

[2021-04-22 09:05] jack161641 opened #749 "spring native build base graalvm ,app running throw exception"
**`GraalVM and environment:`**
windows 10
openjdk version "1.8.0_282"
OpenJDK 64-Bit Server VM GraalVM CE 21.0.0.2 (build 25.282-b07-jvmci-21.0-b06, mixed mode)
spring-aot-maven-plugin version 0.9.1
springNative 0.9.1
native-image-maven-plugin 21.0.0.2
spring-boot-starter-parent 2.4.4

**`Main function`**
@EnableScheduling
@slf4j
@transactional
@EnableDubbo
@SpringBootApplication
public class Coup

[2021-04-22 09:36] #529 closed

[2021-04-22 11:49] sdeleuze commented on #748
@scottfrederick @dmikusa-pivotal Do you know if that's possible, and if yes how?

[2021-04-22 11:55] sdeleuze commented on #749
Maybe is that `@EnableDubbo` is using `@Configuration` with cross `@Bean` invocations. Or maybe it requires to some hints for import selectors. Please check without `@EnableDubbo` and let me know how it goes.

[2021-04-22 12:22] dmikusa-pivotal commented on #748
The first thing I would suggest trying is https://paketo.io/docs/buildpacks/configuration/#ca-certificates. You'd provide the CA certificate that your company uses as a binding. The binding get's picked up by the ca-certs buildpack and added to the system truststore. The buildpack processes, which is what downloads the JVM in this case, should read those certs and trust what you've added.

If that

[2021-04-22 17:14] sdeleuze commented on #748
Thanks @dmikusa-pivotal for the useful feedback.

[2021-04-22 17:14] #748 closed

[2021-04-22 21:25] ivangfr commented on #605
@sdeleuze about this issue, as a workaround, I will create a `native` maven profile and add to it: `spring-native` dependency, `spring-boot-maven-plugin` with native configuration, `spring-aot-maven-plugin`, `spring-releases` repository and pluginRepository. This way, I can run the app during the development time with `./mvnw spring-boot:run ...`. However, with this approach, I will not be able to

[2021-04-23 02:05] yoonho92 commented on #747
This problem has been solved.
Added "org.springframework.boot: spring-boot-starter-mail" dependency.
But when I run the created docker image
I'm getting an error about freemarker.

[code]

[2021-04-23 02:18] Paradox98 commented on #745
I solved this problem by adding @TypeHint( types=Named.class)

[2021-04-23 03:05] yswang1024 commented on #748
Thanks for solutions, it works. @dmikusa-pivotal

[2021-04-23 13:32] jack161641 commented on #749
It's still throws the same error when I start it  without @EnableDubbo
`@EnableScheduling
@Slf4j
@Transactional
//@EnableDubbo
@SpringBootApplication
public class CouponBackService {
    public static void main(String[] args) {
        //启动spring
        SpringApplication.run(CouponBackService.class,args);
    }
}`

[2021-04-23 13:34] jack161641 commented on #749
Executing: /alidata1/graalvm-ce-java8-21.0.0.2/jre/lib/svm/bin/native-image -cp /home/admin/.m2/repository/org/springframework/boot/spring-boot-starter-web/2.4.4/spring-boot-starter-web-2.4.4.jar:/home/admin/.m2/repository/org/springframework/boot/spring-boot-starter/2.4.4/spring-boot-starter-2.4.4.jar:/home/admin/.m2/repository/org/springframework/boot/spring-boot/2.4.4/spring-boot-2.4.4.jar:/hom

[2021-04-24 01:04] han1448 opened #751 "NullPointerException with kafka with sasl"
Hello,
I'm getting NullPointerException while kafka sasl authentication.
And I'm not sure this error is related to spring-native. It might to be related to graalvm config or error.

- springboot: 2.4.5
- spring-native: 0.9.2
- graalvm: graalvm-ce-java8-21.0.0.2

**This application works fine without native-image.**
But When I build it, then I get an error.

### Error message
[code]

### Configurat

[2021-04-26 07:00] Paradox98 opened #752 "Whether it already supports FastJson"
[code]

[2021-04-26 10:12] #398 closed

[2021-04-26 10:12] sdeleuze commented on #398
@AndersClausen Please test again with latest Spring Native snapshots and let me know how it goes.

[2021-04-26 10:13] sdeleuze commented on #578
Mostly done we just need a custom builder for using 21.1.0 with Buildpacks.

[2021-04-26 15:57] sdeleuze commented on #115
Some hints are still missing so I reopen this issue.

[2021-04-27 13:26] sdeleuze commented on #115
Ok this one is more involved than expected since Log4j2 is really using a log of reflection. I have tried to [craft custom hints](https://github.com/sdeleuze/spring-native/commit/6dc5242434a41b6dad1d01f8848ea0aa3702a1fe) but even with that this is not super maintainable/complete and would require [native support on Log4j2 side](https://issues.apache.org/jira/browse/LOG4J2-2604) (preferred solution

[2021-04-27 13:34] #578 closed

[2021-04-27 14:50] #736 closed

[2021-04-27 14:50] #738 closed

[2021-04-27 15:06] sdeleuze commented on #689
See also https://github.com/spring-projects-experimental/spring-native/issues/748#issuecomment-824792171

[2021-04-27 15:07] sdeleuze commented on #720
Let's test on the CI when Java 8 support will be sunset and Java 17 support available.

[2021-04-27 15:07] #720 closed

[2021-04-28 07:55] snicoll opened #754 "Docker permission error while building PRs on CI"
[code]

[2021-04-28 09:15] ivangfr commented on #605
Hi @sdeleuze an update from my side...

The problem I was having was because I was setting in `spring-aot-maven-plugin` configuration `<removeSpelSupport>true</removeSpelSupport>` for `consumer-api` application.

However, `consumer-api` needs SPEL in `NewsConsumer` class while configuring the listener
[code]

So, all good from my side, at least running the spring-kafka apps with `./mvnw clean pack

[2021-04-28 09:46] sdeleuze commented on #605
Thanks for your feedback.

[2021-04-28 09:46] #605 closed

[2021-04-28 10:25] sdeleuze commented on #752
As far as I know, [FastJson](https://github.com/alibaba/fastjson) is not supported at Spring level and it does not provide GraalVM native image support, so I don't think support should be implemented here. We are collaborating with the GraalVM team on a place and guidelines to provide native configuration for libraries like that, so when that's ready that's probably how such support should be prov

[2021-04-28 10:25] #752 closed

[2021-04-28 12:55] sdeleuze commented on #751
Hi, where is located `sasl.jass.conf`, in `src/main/resources` or in a JAR?

[2021-04-28 13:26] sdeleuze opened #755 "Document how to explicitly set GraalVM version with Buildpacks"

[2021-04-28 13:37] sdeleuze commented on #749
Quartz support was added in Spring Native 0.9.2 so please use this version. I tried the code you provided with `spring-boot-starter-quartz`, `spring-boot-starter-webflux` and `lombok` and it worked.

[2021-04-28 13:37] #749 closed

[2021-04-28 13:40] sdeleuze commented on #747
Please provide a project that reproduces this issue in order to allow us to solve it.

[2021-04-28 15:37] jack161641 commented on #749
I use graalvm-ce-java11-21.1.0 ,Spring Native 0.9.2 to build ,but  I am getting another exception,It likes cann't found springframework class,like this:

Trace:
	at parsing org.springframework.boot.BeanDefinitionLoader.<init>(BeanDefinitionLoader.java:90)
Call path from entry point to org.springframework.boot.BeanDefinitionLoader.<init>(BeanDefinitionRegistry, Object[]):
	at org.springframework.bo

[2021-04-29 01:08] han1448 commented on #751
@sdeleuze
Hi,
`sasl.jass.conf` has the following format.
[code]

Do you mean truststore file location?
I tried to use docker volume to link my host file.
For example
[code]

Here is full log.
[code]

Most of the errors were solved by adding the relevant class to `@TypeHint`
But in this time, I don't know which class should be added.
And I want to know if there is another way.

[2021-04-29 06:42] yoonho92 commented on #747
What is in the body is all projects.
I have @TypeHint(types = [FreeMarkerTemplateAvailabilityProvider::class],
typeNames = ["org.springframework.boot.autoconfigure.freemarker.FreeMarkerTemplateAvailabilityProvider\$FreeMarkerTemplateAvailabilityProperties"]) added hint.
However, I got an error related to tomcat.
This wasn't even solved by adding tomcat's hints.
I don't know what to do anymore.
Bel

[2021-04-29 07:46] #754 closed

[2021-04-29 08:14] sdeleuze opened #757 "Duplicate error when running gradle aotTestClasses"
In `commandlinerunner-gradle` sample, when I run `./gradlew clean aotTestClasses` I get this error:

[code]

[2021-04-29 08:22] sdeleuze opened #758 "Document properly Gradle tasks in Spring AOT refdoc"

[2021-04-29 10:29] bclozel commented on #758
Many Gradle tasks contributed by our build plugin aren't meant to be called by users directly. Which tasks precisely did you have in mind?

[2021-04-29 13:00] #757 closed

[2021-04-29 14:43] snicoll commented on #708
The problem with the special handling is that `org.springframework.boot.jarmode.layertools.LayerToolsJarMode` has to be resolved by the `TypeSystem` before writing the entry in spring factories. This makes sense as we don't want to write some code that refers to a class that is not actually available on the classpath.

Looking at our current approach, writing that for tests won't work as the facto

[2021-04-30 01:12] yoonho92 commented on #747
Sorry. There was also a change in denpendency.
dependencies {
implementation("org.jetbrains.kotlin:kotlin-reflect")
implementation("org.jetbrains.kotlin:kotlin-stdlib-jdk8")
implementation("org.springframework.cloud:spring-cloud-config-server")
implementation("org.springframework.cloud:spring-cloud-starter-netflix-eureka-server")
implementation("org.springframework.boot:spring-boot-starter-mail")

[2021-04-30 09:56] xcorrnner opened #762 "running demo with gradle"
using the
`id 'org.springframework.boot' version '2.4.5'`
`id 'org.springframework.experimental.aot' version '0.9.2'`
follow the tutorial https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/
and `git clone https://github.com/spring-guides/gs-rest-service`
it could build successfully
is that normal to see that warning, or i do something wrong ?

`$ ./gradlew bootBuildImage`

WARN

[2021-05-01 10:25] ivangfr opened #763 "Add spring-cloud-schema-registry-client support"
Hi, I have [this project](https://github.com/ivangfr/spring-cloud-stream-event-sourcing-testcontainers) that uses `spring-native` and `spring-cloud` dependencies.

I know that `spring-cloud` is not yet fully supported but, maybe this issue can be analysed in future developments.

The problem is, when I use `spring-native` and `spring-cloud-schema-registry-client`, the response of REST endpoints ar

[2021-05-02 13:39] nfrankel opened #764 "Spring profile management"
I'm trying to "GraalVM-native"-ify the [Spring PetClinic REST](https://github.com/spring-petclinic/spring-petclinic-rest). I managed to fix expected configuration issues. However, I'm stuck now on Spring profiles.

The application offers several profiles: one set for data access and one for database. When I start the native image, I get the following:

[code]

While the JVM will automatically sele

[2021-05-03 12:18] sdeleuze commented on #762
It is expected for now, [see related documentation](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_warning_could_not_register_reflection_metadata).

[2021-05-03 12:18] #762 closed

[2021-05-03 12:22] sdeleuze commented on #764
Hi Nicolas, could you please detail how do you pass `-Dspring.profiles.active=jdbc` in the native image variant? We can maybe improve the documentation indeed.

[2021-05-03 12:26] sdeleuze commented on #763
`spring-cloud-schema-registry-client` hints are probably required indeed.

[2021-05-03 12:29] sdeleuze commented on #751
No, I mean where the file is located. If that's in `src/main/resources` it will be added automatically to the native image by Spring Native. If it is in a JAR, you need to add a related resource hint to ship it into the native image. You can check with `-H:Log=registerResource:3` native image option which resource files are included. Thanks in advance for your feedback.

[2021-05-03 12:31] sdeleuze commented on #747
Please upload a zip or create a GitHub repository with a project that allows to reproduce this issue.

[2021-05-03 12:42] sdeleuze commented on #740
Maybe related to the fact we disable MBeans for footprint reasons, since I see a `Failed to connect to MBean server at port 9001` message when running `mvn pre-integration-test`.

[2021-05-03 13:22] nfrankel commented on #764
[code]

It seems as if at runtime, all candidate beans are part of the context and no profile-related filtering occurs.

[2021-05-03 21:36] nightlonely7 opened #766 "Add spring-cloud-openfeign support"
spring-boot: 2.4.5
spring-native: 0.9.2
when I ran my app's image after `gradle bootBuildImage` I got the following errors: ( no errors before spring-native integrated)

`org.springframework.beans.factory.BeanDefinitionStoreException: Failed to process import candidates for configuration class [org.springframework.cloud.openfeign.loadbalancer.FeignLoadBalancerAutoConfiguration]; nested exception i

[2021-05-04 08:04] AndersClausen commented on #398
@sdeleuze I've rerun my scenario with the 0.10.0-SNAPSHOT version and getting the following error:

[code]

Although the error looks a bit different to before it still comes from `GraalJSEngineFactory`.

What do you think?

FYI, this is what the plug-ins look like:

[code]

[2021-05-04 15:29] sdeleuze commented on #398
Are you using GraalVM 21.1.0? If yes which Java version?

[2021-05-04 17:00] palkatap commented on #398
Hello,
I had the same error as @AndersClausen
I don't have GraalVM installed, just ran the maven command.
I am using java 8, spring-boot 2.5.0-SNAPSHOT, GraalVM 21.0.02:

[INFO]     [creator]     Paketo GraalVM Buildpack 6.0.0
[INFO]     [creator]       https://github.com/paketo-buildpacks/graalvm
[INFO]     [creator]       Build Configuration:
[INFO]     [creator]         $BP_JVM_VERSION

[2021-05-04 17:58] ch4mpy commented on #740
How can I enable it ?

Setting following properties in application.properties does not improve the situation :
[code]

[2021-05-04 18:33] AndersClausen commented on #398
@sdeleuze I'm not using GraalVM, I'm just running `mvn spring-boot:build-image` with java 11 and spring boot 2.5.0-RC1.
Should that not work anymore?

[2021-05-04 19:51] sdeleuze commented on #398
You can use `dmikusa/graalvm-tiny` builder to use GraalVM 21.1.0 with buildpacks, we will document a way to set it via buildpack version before 0.10.0 release. Please let me know how it goes.

[2021-05-04 20:55] linux-china opened #768 "Spel failed with environment.getProperty(java.lang.String,java.lang.String)"
I did a demo with Spring Native with gRPC, and I use popular https://github.com/LogNet/grpc-spring-boot-starter.  In GRpcAutoConfiguration.java and there is a Spel expression as following:

[code]

And I added  `<removeSpelSupport>false</removeSpelSupport>` for the spring-aot-maven-plugin.

Native image compile is all good, and after start of native image app, and I get the following error.

[code

[2021-05-05 05:30] AndersClausen commented on #398
Hi @sdeleuze. I used the builder you provided above and got past the build stage, however when I ran it I got lots of Log4j errors **even though the service does start up**. I won't paste them all but they all have a similar message to this one:

[code]

Also, I discovered that GraalVM doesn't seem to like the ReactorDegugAgent because it threw this exception:

[code]

but I can raise a separate i

[2021-05-05 09:51] sdeleuze commented on #768
Maybe the method `StandardReactiveWebEnvironment#getProperty(String,String)` invoked via Spel is removed since not visible by the static analysis. Could you try to add related hint `@TypeHint(types = StandardReactiveWebEnvironment.class, access = AccessBits.DECLARED_METHODS)` and see how it goes?

[2021-05-05 09:55] sdeleuze commented on #766
cc @spencergibb @OlgaMaciaszek

[2021-05-05 16:53] robtha commented on #751
I too failed running spring boot kafka as native image.
After adding some Native Hints I got stuck with the following error:

[code]

I used the following configuration settings for kafka:

[code]

After some debugging I ended up in `SaslClientCallbackHandler`. The code at line 58 seems to be the problem. As far as I can see the exeption can only be thrown if `Subject` returned from `AccessControl

[2021-05-06 00:56] han1448 commented on #751
@robtha
Thanks for your comment.
It looks like a same issue that I got stuck.

[2021-05-06 09:15] #643 closed

[2021-05-06 09:29] sdeleuze commented on #643
The root issue is that we don't use `kotlin-reflect`, so for methods using Coroutines, the return value detected in `Object` not the real return type because that's how Coroutines are compiled at bytecode level. Our fix is specific to this Spring Data Coroutines use case, but given how popular they are, I think it is worth to have it.

[2021-05-06 09:30] sdeleuze opened #769 "Add Coroutines reflection inference"
See https://github.com/spring-projects-experimental/spring-native/issues/643#issuecomment-833381037.

Can be implemented by using `kotlin-reflect` in Spring Native or via https://github.com/spring-projects/spring-framework/issues/21546.

[2021-05-06 09:51] sdeleuze commented on #764
I don't think passing `-Dspring.profiles.active=jdbc` to `docker` is expected to work, a quick test with a JVM image shows it does not.

[2021-05-06 09:56] sdeleuze commented on #764
You can use `docker run --rm -e spring_profiles_active=jdbc ...` instead. That's not specific to Spring Native so I won't document it there.

[2021-05-07 06:47] xcorrnner opened #770 "Activate verify by default with Maven and skip valid invocations on super method"
similar issue with #367
version
centos with
id 'org.springframework.boot' version '2.4.5'
id 'org.springframework.experimental.aot' version '0.9.2'
GraalVM CE 21.1.0
gradle 5.6
java 1.8

reproduction by adding in build.gradle:
implementation 'org.springframework.boot:spring-boot-starter-data-rest'

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':generateAot

[2021-05-07 09:15] sdeleuze commented on #398
Log4j support is tracked in #115, and won't be available short term. Could you please track what dependency is using it since usually libraries are using logging facade and let the implementation choice to the application?

Could you please check how the reactor debug agent is included?

[2021-05-07 09:23] sdeleuze commented on #758
If I remember well, my use case was to make sure that the generated code and resources are up to date in JVM mode, and I found weird that we document nothing about that. Maybe we could document what the plugin provide with a warning to not use that directly, as well as the regular "public" tasks that people are expected to use?. That's useful to help to build a mental model of what happens.

I ten

[2021-05-07 12:36] #469 closed

[2021-05-08 08:10] ZhangGangTW opened #771 "Spring cloud gateway can not startup!"
I using kotlin + spring native + spring cloud gateway+ spring boot actuator

build.gradle.kts:
[code]

After ./gradlew bootBuildImage and then run the image, got this issue:
[code]

[2021-05-10 08:56] sdeleuze commented on #771
Duplicates #184.

[2021-05-10 09:01] sdeleuze commented on #743
You can provide PRs.

[2021-05-10 09:37] sdeleuze commented on #770
Curious, I can reproduce but only with Gradle not Maven.

[2021-05-10 12:33] spring-projects-issues commented on #747
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-05-11 07:21] sdeleuze opened #773 "Introduce preliminary Java 17 support"

[2021-05-11 08:48] sdeleuze commented on #770
The Maven plugin do not perform verification by default because [it is set to `false` implicitly out of the box](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot-maven-plugin/src/main/java/org/springframework/aot/maven/AbstractBootstrapMojo.java#L91), so I will turn it to `true`.

Now we need to find to way to exclude `super.myAtbeanMethod()` from the case where w

[2021-05-11 09:19] #770 closed

[2021-05-11 09:49] sdeleuze commented on #764
After an additional discussion with Nicolas, it seems indeed we need to refine profile management to work as expected.

[2021-05-11 09:50] sdeleuze commented on #764
I put it in the backlog for now, since I don't know how involved it is. We can move it to 0.1x as soon as somebody tackle this one.

[2021-05-11 09:57] #751 closed

[2021-05-11 10:01] sdeleuze commented on #740
@ch4mpy Could you set `removeJmxSupport = false` on Spring AOT plugin side and let me know how it goes? Maybe we could infer its configuration from `spring.jmx.enabled` one, not sure yet.

[2021-05-11 10:02] sdeleuze commented on #599
We should be able to fix that with upcoming native image build tools.

[2021-05-11 10:04] sdeleuze commented on #187
Should now be supported, please reopen if that's not the case.

[2021-05-11 13:02] sdeleuze commented on #184
@hanouard I tried your project with Spring Boot 2.4.5, Spring Native 0.9.2 and GraalVM 20.1.0, I was able to compile with `mvn -Pnative-image clean package` and run it successfully.

[2021-05-11 13:05] hanouard commented on #184
@sdeleuze did you try to make a GET /test/posts ?

[2021-05-11 13:13] sdeleuze commented on #184
@hanouard Yes it seems to work.

[2021-05-11 13:24] olegz commented on #693
@magnus-larsson what version of stream are you using at the moment. The reason why I am asking is that there were quite a few fixes recently to accommodate native, so i'd suggest grabbing the latest snapshot.

It would also help if you can have a small bare minimum all pushed somewhere in github so we can take a look

[2021-05-11 13:48] artembilan commented on #693
NOTE: It is better to use Spring Integration `5.5.0-SNAPSHOT` as well. Plus the latest SNAPSHOT for Spring Native `0.10.0`.

Doesn't look like your problem is relevant somehow to Spring Cloud Stream or Spring Integration.
Not sure what is that though, but just want to narrow the boundaries for what to investigate and possible to fix...

[2021-05-12 07:54] Coderdreams opened #776 "Gradle build fail with spring-boot-starter-data-rest"
Compilation returns this error even when passing the environment parameter for verify=false:

[code]
build.gradle:

[code]

Java version:

[code]

[2021-05-12 08:27] sdeleuze commented on #776
Likely a duplicate of #770 fixed on `0.10.0-SNAPSHOT`, verify should be set at Spring AOT Grade configuration level ([see related documentation](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#spring-aot-gradle)), not via command line properties anymore.

[2021-05-12 08:27] #776 closed

[2021-05-12 08:32] sdeleuze commented on #693
Should be fixed by b6877b0152d00941b7a25b3e19bd210e8d763de6 which provide a sample. If more is needed, please comment here with a repro project attached after checking you are using the same versions than the new `cloud-stream-kafka` sample.

[2021-05-12 08:32] #693 closed

[2021-05-12 09:53] spring-projects-issues commented on #768
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-05-12 14:55] #755 closed

[2021-05-12 14:56] sdeleuze commented on #755
Currently generates a `java.lang.RuntimeException: file name '/cnb/buildpacks/paketo-buildpacks_java-native-image/5.3.0/.git/logs/refs/heads/fix/remove-ca-certificates' is too long ( > 100 bytes)` error as discussed with @dsyer and @scottfrederick, but will hopefully be fixed on Spring Boot side.

[2021-05-12 15:15] yoonho92 commented on #747
[native_eureka_config.zip](https://github.com/spring-projects-experimental/spring-native/files/6467136/native_eureka_config.zip)

I zipped the project. Thank you.

[2021-05-12 16:43] linux-china commented on #768
@sdeleuze  it does not work with `@TypeHint(types = StandardReactiveWebEnvironment.class, access = AccessBits.DECLARED_METHODS)` .  stacktrace as following:

[code]

[2021-05-13 10:54] goafabric commented on #465
It would also be nice to have caffeine working.
While SimpleCache works btw. out of the box for now,
Caffeine needs a lot of Typehints in Version 2.8.x

Following this issue which implicates that Quarkus and Micronaut got it working:
https://github.com/ben-manes/caffeine/issues/434
I put a lot of Typehints (see below)

But still more and more Hints would be needed, because of the excessive use of

[2021-05-13 10:59] goafabric opened #777 "SpringFox 3.0 / Swagger Support"
Hello,
I am having basically the same setup and problems indicated within this issue:
https://github.com/spring-projects-experimental/spring-native/issues/635

It at least tried to dig in a little deeper by figuring out a lot of Typehints that need to be added.
But after a couple of hours still not working, i honestly gave up.
It should be doable, because micronaut and quarkus seem to support it.

[2021-05-13 11:05] goafabric opened #778 "Flyway Support"
Hello,
i tried to get flyway up and running with spring native.
Which is a very important library for us, because it's basically used for every JPA related projected.
So I am wondering, way nobody else already raised an issue.

The problem is, that flyway is not capable of reading the migration scripts:

...
Flyway failed to initialize: none of the following migration scripts locations could be fo

[2021-05-13 12:58] goafabric commented on #778
There is an old issue that explains how it was solved for quarkus:
https://github.com/micronaut-projects/micronaut-flyway/issues/12

[2021-05-13 18:39] nekperu15739 commented on #630
Hi, i have same exception for other reason, however, my real question will be how get a clue to solve the underhood problem?

The source is here: https://github.com/nekperu15739/anagram

the problem come when added security in favor of use a bearer token, could you please take a look.

[2021-05-13 20:23] ben-manes commented on #465
Caffeine v3 no longer uses Unsafe, so that might help you get farther if somehow blocked on Ehcache due to that.

The Quarkus folks [suggested](https://github.com/quarkusio/quarkus/issues/10420#issuecomment-654483795) a compile-time evaluation, but I don't really understand Graal enough to implement and verify the suggestion. Any help making this easier for integrators would be appreciated.

[2021-05-14 06:19] goafabric commented on #465
Thanks for your reply .. actually thats what i tried out, Caffeine v3 because it uses much less reflection ... unfortunately i still could not get this running, because still a lot of hints needed to be added, that i could not figure out.
I might eventually try out v3 again if this seems to be the right choice

[2021-05-14 10:49] deodorel opened #779 "Add support for AbstractClientHttpRequestFactoryWrapper in Spring Boot RestTemplate handling"
Injecting a restTemplate built by a @Bean annotated method in a @Configuration class does not work, it fails with a reflection error, on runtime (image building is successful)

rates-service_1  | Caused by: java.lang.NullPointerException: null
rates-service_1  |      at org.springframework.util.ReflectionUtils.makeAccessible(ReflectionUtils.java:782) ~[na:na]
rates-service_1  |      at org.springf

[2021-05-14 10:55] goafabric opened #780 "Add support for spring-cloud-sleuth-zipkin"
While spring-cloud-sleuth was recently presented to work with spring-native,
the zipkin variant seems to fail currently.

Maybe thats just a ResourceHint missing, both from the experience with other cases,
this usually unfolds into a multititude of other Hints.
As with the other things, would be great if its getting fixed.

--- cut ---
Caused by: java.io.FileNotFoundException: class path resource

[2021-05-14 11:03] goafabric commented on #465
@ben-manes oh sorry ..
I got it wrong .. you are actually the developer of caffeine .. so I guess you know better :)
first and foremost thx for this awesome piece of software ...
but as stated .. even with unsafe gone, from what I also saw in the code, its not working, at least not of the box,
because i suspect further things need to be added

[2021-05-14 12:10] sdeleuze commented on #716
Blocked on spring-projects/spring-boot#26459.

[2021-05-14 12:16] sdeleuze commented on #689
This will be supported when 0.10.0 will be released via related buildpack update, see [this comment](https://github.com/paketo-buildpacks/graalvm/issues/66#issuecomment-839867324) for an example.

[2021-05-14 12:16] #689 closed

[2021-05-14 15:08] sdeleuze opened #781 "Remove devcontainer configuration"
They are not easily maintainable and they are not used consistently across the samples, so let's remove them for now from the committed codebase.

[2021-05-14 15:09] #781 closed

[2021-05-14 15:55] #716 closed

[2021-05-14 15:57] ranma2913 commented on #625
Having the same issues with my project. So far we've been able to copy a standard logback-spring.xml between our projects. This enables our Splunk HTTP Appender. We're using the follwoing code and other springProperty placeholders:

[code]

[2021-05-14 16:16] ben-manes commented on #465
Thanks for trying to get it all working. I’m not familiar with Graal and I’d be open to suggestions to make Caffeine better at supporting it. Sorry that you have to fight through this.

https://github.com/oracle/graal/issues/3028 sounds like VarHandles are not supported, leading to improper dead code elimination. I guess it is incompatible with 3.x for now.

In 2.x there is a jandex resource that

[2021-05-14 18:44] goafabric commented on #465
Thank you for your support.
I think your suggestions should be a great help to ger it working.
I‘ll give it a spin eventually

[2021-05-17 02:07] joeyslalom commented on #625
Also fails for me with version `0.9.2`. After seeing `Logback is supported, but not configuration with logback.xml`
I wondered if configuration via `logback.groovy` would work.  It does not build via `./gradlew bootBuildImage`:

[code]

Not advocating for `logback.groovy`, but I would have used it to workaround this issue.  The basic customization via `application.properties` is not sufficient.  I

[2021-05-17 07:59] furkansavsatli opened #782 "Dependency injection from library"
I am using spring-native 0.9.2 and can run my services by removing bean injections. I also put 2 projects in the same directory so that the @ComponentScan annotation is not needed. If I add @Autowire annotations back, I get an error while inject the service beans defined in the libraries into the project I will use.

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating

[2021-05-17 08:24] sdeleuze opened #783 "Use TypeProcessor to discover javax.validation hints in a more dynamic way"
Should allow to discover `@Constraint(validatedBy = HostKeyAndAlgoBothExistValidator.class)` automatically, simplify https://github.com/spring-projects-experimental/spring-native/blob/main/spring-native-configuration/src/main/java/org/hibernate/validator/ValidatorHints.java and revert https://github.com/spring-projects-experimental/spring-native/commit/147ff21b4e3796a9570d44c7bf040d8377c056ca.

[2021-05-17 08:40] sdeleuze commented on #777
We try to limit what we support to dependencies managed on start.spring.io, and SpringFox 3.0 / Swagger is not part of that. That said, I understand this is a popular one, could you please create an issue on SpringFox side and link it here, I can try to provide guidance to them for a generic support.

[2021-05-17 08:40] #777 closed

[2021-05-17 10:06] #779 closed

[2021-05-17 10:06] sdeleuze commented on #782
Please provide a repro project.

[2021-05-17 10:26] goafabric commented on #777
Thanks for your reply .. I can do that .. but I am honestly skeptical that the people there will do it.
Thanks for looking into the other flyway issue

[2021-05-17 10:29] goafabric commented on #777
Opened:
https://github.com/springfox/springfox/issues/3816

[2021-05-17 12:13] sdeleuze commented on #780
@marcingrzejszczak @spencergibb Could you please add the relevant sample and hints?

[2021-05-17 12:18] sdeleuze commented on #630
@nekperu15739 Please create a new issue for this one.

[2021-05-17 12:27] nekperu15739 opened #784 "UnsupportedFeatureError with DecoratingProxy not found"
Hi, i just build a service that handle a request storing some data on redis for authenticated users.  the source is [here](https://github.com/nekperu15739/anagram) and is throwing the following exception:

`Caused by: com.oracle.svm.core.jdk.UnsupportedFeatureError: Proxy class defined by interfaces [interface org.springframework.aop.SpringProxy, interface org.springframework.aop.framework.Advised

[2021-05-17 12:27] nekperu15739 commented on #630
@sdeleuze done here https://github.com/spring-projects-experimental/spring-native/issues/784

[2021-05-17 14:40] sdeleuze commented on #747
@yoonho92 Thanks for the repro, [as documented](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#support-spring-cloud) `spring-cloud-starter-netflix-eureka-server` is not yet supported, only the client is.

@spencergibb Do you think that make sense to add such support short-term? I am trying to determine what milestone we should target for this one?

[2021-05-17 14:48] spencergibb commented on #747
No. I don't plan on supporting eureka server at all in spring-netflix

[2021-05-17 15:05] sdeleuze commented on #784
After adding `@ProxyHint(types = { SpringProxy.class, Advised.class, DecoratingProxy.class })`, there is a `AnagramHandler` related error. `AnagramHandler` is a class that requires a proxy since it is using `@PreAuthorize`, so this issue is likely a duplicate of #356.

[2021-05-17 15:05] #784 closed

[2021-05-17 15:06] sdeleuze commented on #356
A sample that requires a class proxy for at least `AnagramHandler`, could be useful for testing : https://github.com/nekperu15739/anagram.

[2021-05-17 15:07] #747 closed

[2021-05-17 15:17] furkansavsatli commented on #782
Of cource.
https://github.com/furkansavsatli/Sample-Spring-Native

[2021-05-17 15:53] sdeleuze commented on #744
@christophstrobl I can replicate on both 0.9.2 and 0.10.0-SNAPSHOT, and the sample seems valid, could you please have a look?

[2021-05-17 16:06] marcingrzejszczak commented on #780
Added in https://github.com/spring-projects-experimental/spring-native/pull/785

[2021-05-17 19:10] sdeleuze commented on #777
If somebody is interested to contribute it, please comment on the SpringFox issue.

[2021-05-17 19:22] sdeleuze commented on #777
See also https://github.com/springdoc/springdoc-openapi/issues/1164.

[2021-05-18 06:05] christophstrobl commented on #744
@martinnemec3 could you please annotate the custom repository fragment implementation `UserRepositoryImpl` with `@Component`. That way the infrastructure, collecting the bits to assemble the target repository, can be found in the component index.
We know this is different from what is required in a non native environment and future versions might be able to handle this better.

[2021-05-18 07:45] #780 closed

[2021-05-18 10:05] spring-projects-issues commented on #740
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-05-18 11:42] martinnemec3 commented on #744
@christophstrobl With your suggestion the code seems to work fine. Thank you!
It would be nice to have a note in the docs unless it's resolved in future versions because 'spring-boot-starter-data-mongodb' in mentioned there in the list of currently supported starters.

[2021-05-18 11:51] christophstrobl commented on #744
Thanks for the feedback. Yes, I took this to the team and for the time being we'll update the docs (spring-projects/spring-data-commons#2378), until a better solution is in place.

[2021-05-18 13:08] deodorel commented on #740
the issue was in fact caused by having the spring-aot dependency in one of the maven modules (not the one with the application class). I am closing it. Thanks for looking into it.

[2021-05-18 13:55] #675 closed

[2021-05-18 13:55] #758 closed

[2021-05-18 13:55] #532 closed

[2021-05-18 15:10] #684 closed

[2021-05-18 15:12] sdeleuze commented on #740
Should be solved by cc87cf548e06cf4534af13dee612a2e9768bded8.

[2021-05-18 15:12] #740 closed

[2021-05-18 15:54] sdeleuze opened #786 "Upgrade to Spring Cloud 2020.0.3"
cc @spencergibb @dsyer

[2021-05-18 15:55] sdeleuze commented on #619
Superseded by #356.

[2021-05-19 08:29] celcius112 commented on #625
@joeyslalom don't hesitate to add a 👍 to the related issue. If we show that we would like this feature the spring boot team will be more motivated to do it :)

[2021-05-19 11:08] scalastic opened #787 "Memory consumption is bigger in native images"
In a Kubernetes environment, when I switched from JVM-hotspot images to native images, all built with Spring Native `0.10.0-SNAPSHOT` and Spring-Boot `2.5.0-RC1`, I notice that memory consumption of pods is bigger for Native images that HotSpot running images.

I coded a POC in https://github.com/scalastic/hotspot-vs-native where `hasher-java` and `rng-java` sub-projects are the apps deployed as H

[2021-05-19 11:59] dmuecke opened #788 "Creating second MongoDB Template causes UnsupportedFeatureError"
In my application a primary MongoTemplate gets created using auto configuration. A second MongoTemplate gets created based on some business logic. Both databases are MongoDB Atlas clusters. During the creation of the second template I get an exception as shown below whereas the primary template works as expected.

Springboot: 2.4.5
spring-native: 0.9.2
Builder: paketobuildpacks/builder:tiny
Langua

[2021-05-19 12:58] sdeleuze commented on #787
Memory management behavior is very different between hotspot and native, and native will tend to use all the memory available before triggering a GC, so I am not sure you will have a relevant comparison with that methodology.

It could be tempting to configure memory explicitly (see [related native documentation](https://www.graalvm.org/reference-manual/native-image/MemoryManagement/#java-heap-siz

[2021-05-19 13:03] sdeleuze commented on #788
Could you please share a repro project?

[2021-05-19 13:43] dmuecke commented on #788
The original code contains company code and can't be shared.

The three classes involved are attached now. I'm getting the exception when calling function resolveMongoTemplateForCountry(...)

[native-image-mongodb.zip](https://github.com/spring-projects-experimental/spring-native/files/6509168/native-image-mongodb.zip)

[2021-05-19 14:59] sdeleuze commented on #788
Sorry but yeah I will need a repro project with a demo to work on it.

[2021-05-19 16:26] scalastic commented on #787
Understand! Thanks for the clarification

[2021-05-19 16:26] #787 closed

[2021-05-20 09:14] dmuecke commented on #788
Here the repo. If you need more details let me know.
[Example Repo](https://github.com/dmuecke/native-image-ex-1)

[2021-05-21 02:08] akuzni2 opened #789 "cloud-function-aws: cannot execute binary file"
I am trying to build and deploy in an AWS lambda function using spring native. I am using the project under samples called `cloud-function-aws` .

When I run the build script it says the build is successful. After building - I've uploaded the zip file to an AWS lambda function where I've specified the custom run time as Amazon Linux 2. After setting the handler I tried a test event and I get the f

[2021-05-21 05:39] wangxufire opened #790 "please add Automatic-Module-Name to MANIFEST.MF"
[code]

current  automatic name is spring.native

Can't extract module name from spring-native-0.10.0-SNAPSHOT.jar: spring.native: Invalid module name: 'native' is not a Java identifier

because native is a java keyword

[2021-05-21 06:37] akuzni2 commented on #584
I'm unable to find a way to build an native-image that is compatible with the lambda runtime. I also have searched through this repo looking for the .devcontainer config files but haven't been able to find them. Would really appreciate some help

[2021-05-21 08:12] dmuecke opened #791 "Getting compile error when trying to build a gateway"
## Fatal error:java.lang.NoClassDefFoundError: org/springframework/web/servlet/config/annotation/WebMvcConfigurer
Getting compile error when trying to build a native image

[code]
[https://github.com/dmuecke/native-image-ex2.git](https://github.com/dmuecke/native-image-ex2.git)

[code]

[2021-05-21 12:36] dsyer commented on #584
We removed the `.devcontainers` from this project because not enough people use them and there is a duplication of effort with the scripts we maintain already here. You could easily create your own, or use the dev container scripts from this project as described in the docs: https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#how-to-contribute-using-container-build-env.

[2021-05-22 13:31] ivangfr opened #793 "Failed to instantiate 'javax.servlet.Filter'"
Hi, I've updated my project [springboot-keycloak-openldap](https://github.com/ivangfr/springboot-keycloak-openldap) to spring-boot `2.5.0` and to spring-native `0.10.0-SNAPSHOT`.

When starting the application during development using Maven, `./mvnw clean spring-boot:run ...`, it's throwing the following exception
[code]

**How to reproduce**

- git clone https://github.com/ivangfr/springboot-keyc

[2021-05-23 08:55] ivangfr commented on #793
Btw, I thought it was a `spring-native` issue but it is not. I've removed `spring-native` from the project and the issue is still present.

[2021-05-24 22:10] nekperu15739 commented on #602
Hi, i see that my poc is pretty similar to mentioned on this issue, however, i dont know why its throwing 145 on build, i raised
me to 12GB, however still happing, could you take a look?

`[INFO]     [creator]     	at java.base/java.util.concurrent.ForkJoinWorkerThread.run(ForkJoinWorkerThread.java:183)
[INFO]     [creator]     Error: Image build request failed with exit status 1
[INFO]     [creat

[2021-05-25 08:24] mattwmj opened #795 "How to config java agent with spring-native"
We are using Skywalking APM to trace microservices.
Skywalking agent is configured by -javaagent:/path/to/skywalking-package/agent/skywalking-agent.jar.

https://skywalking.apache.org/docs/main/latest/en/setup/service-agent/java-agent/readme/

The question is how to config java agent with spring-native?

[2021-05-25 08:24] mattwmj opened #796 "How to config java agent with spring-native"
We are using Skywalking APM to trace microservices.
Skywalking agent is configured by -javaagent:/path/to/skywalking-package/agent/skywalking-agent.jar.

https://skywalking.apache.org/docs/main/latest/en/setup/service-agent/java-agent/readme/

The question is how to config java agent with spring-native?

[2021-05-25 09:26] AndersClausen commented on #796
@mattwmj when I last looked into this it wasn't possible. We're using Datadog and had a similar issue to yours but couldn't find a way around it. I believe the GraalVM team has a ticket on this and I'll try and find it and attach it here.

[2021-05-25 09:57] sdeleuze commented on #793
Indeed, and the project works with Spring Boot 2.4.6, not Spring Boot 2.5.0, on the JVM. You should probably check if `keycloak-spring-security-adapter-13.0.0` supports Spring Security 5.5.

Also be aware that feature removal [is not done anymore via setting properties](https://github.com/ivangfr/springboot-keycloak-openldap/blob/master/pom.xml#L50) but via [configuring Spring AOT](https://docs.sp

[2021-05-25 09:57] #793 closed

[2021-05-25 10:07] ivangfr commented on #793
Hi @sdeleuze about the feature removal, what I am currently doing is setting it in `spring-boot-maven-plugin` native configuration line 50](https://github.com/ivangfr/springboot-keycloak-openldap/blob/master/pom.xml#L50) and in `spring-aot-maven-plugin` [line 76](https://github.com/ivangfr/springboot-keycloak-openldap/blob/master/pom.xml#L76).

So, if I understood it correctly, I just need to set

[2021-05-25 12:49] sdeleuze commented on #795
Duplicates #796.

[2021-05-25 12:49] #795 closed

[2021-05-25 12:50] sdeleuze commented on #796
Probably https://github.com/oracle/graal/issues/1065.

[2021-05-25 12:50] #796 closed

[2021-05-25 12:53] sdeleuze commented on #791
Probably due to https://github.com/oracle/graal/issues/3345 which will be fixed in GraalVM 21.2.0. A workaround could be to add the related dependency for now.

[2021-05-25 12:53] #791 closed

[2021-05-25 13:01] sdeleuze commented on #789
Any thoughts @spencergibb @dsyer ?

[2021-05-25 13:03] sdeleuze commented on #786
For the record, https://github.com/oracle/graal/issues/3345 which impacts Spring Cloud config server and Spring Cloud Gateway (at least) will be fixed in GraalVM 21.2.0.

[2021-05-25 13:19] dsyer commented on #789
From the `bash` man pages: `If a command is found but is not executable, the return status is 126.`. Usually in this context it means you compiled on Windows or MacOS and tried to run it on Linux (AWS). If you are not on Linux you have to build in a container.

[2021-05-25 13:19] #789 closed

[2021-05-26 08:09] #790 closed

[2021-05-26 08:10] sdeleuze commented on #790
I used `spring.nativex` like we do for packages.

[2021-05-26 08:12] sdeleuze commented on #793
Yes exactly.

[2021-05-26 13:25] sdeleuze commented on #788
I tried the sample, but tests fail on the JVM. Please make sure the app works fine on the JVM.

[code]

[2021-05-26 14:28] sdeleuze commented on #602
@nekperu15739 I can build it without an issue on my computer, and it shows the following error:

[code]

[2021-05-26 15:56] dmuecke commented on #788
I've update the repo in order to pass mvn test. However the mogodb.uri points to an non-existing db `spring.data.mongodb.uri=mongodb://usr:password@localhost/RTDS-1?authSource=admin&ssl=true&tls=true`

I'm not sure if it's important to find the root cause of this issue but my original URI looks like
`mongodb+srv://user:pwd@cluster-1.ezln.mongodb.net/DBXX?authSource=admin&ssl=true&tls=true`

[2021-05-26 18:14] aclement commented on #356
I'm not against that, just worry about the disruption. However I suppose  as we keep most references in this project, it isn't too bad. `JdkProxyHint` or` JdkDynamicProxyHint`. I suppose it impacts videos out there already and workshop materials, hmm. Is it that confusing, I'm not sure.

[2021-05-27 07:37] sdeleuze commented on #356
Let's discuss that during next week meeting. We have warned users there will be breaking changes, with upgrade path.

[2021-05-27 07:47] sdeleuze commented on #788
The previous URL was invalid so Spring Boot was not even starting in both JVM or native mode.

Now that compiles, but impossible to reach a MongoDB server, so please update `docker-compose.yml` to start a MongoDB server and update Boot config to reach it. The goal is to provide me a self reprodutible sample to allow me to help you solving this issue.

[2021-05-27 08:31] sdeleuze commented on #167
We could maybe start by focusing on SpEL expressions in annotations.

[2021-05-27 08:32] sdeleuze commented on #768
Ok, so indeed the right hints should be that because `getProperty(String, String)` is in `AbstractEnvironment` not `StandardReactiveWebEnvironment`:
[code]

This issue will be solved without additional configuration by #167.

[2021-05-27 08:32] #768 closed

[2021-05-27 08:37] sdeleuze commented on #576
Since we are approaching the release, and the support page mentions "Spring Session (Redis and JDBC)", I have renamed this issue title to "Add initial Spring Session support" and am closing this issue. We could continue to refine the support in 0.11. Feel free to comment/reopen if needed.

[2021-05-27 08:37] #576 closed

[2021-05-27 10:26] ivangfr opened #798 "Exception when using spring.profiles.active"
Hi, I've updated my project to spring-boot `2.4.6` (spring native is `0.9.2`) and I am having the exception below when setting `SPRING_PROFILES_ACTIVE` to a Docker native image

In order to solve it, I needed to add `@TypeHint(types = {Set.class, LinkedHashSet.class})` to my Spring application class.

Thanks!

[code]

**How to reproduce**

- git clone https://github.com/ivangfr/graalvm-quarkus-mic

[2021-05-27 13:05] dmuecke commented on #788
I've updated docker-compose.yml so it starts now with two databases. I've also updated README.md as you have to add a collection into both databases for positive tests.

[2021-05-27 14:19] sdeleuze commented on #788
How do you add those 2 values from the host?

[2021-05-27 14:24] sdeleuze commented on #798
I added recently `LinkedHashSet` to Spring Boot hints, could you please try with `0.10.0-SNAPSHOT` and Spring Boot 2.5.0? I have not added `Set` hint so maybe I need to refine it, let see based on your feedback.

[2021-05-27 14:24] sdeleuze commented on #798
See also related #764 issue.

[2021-05-27 15:04] dmuecke commented on #788
I was using IntelliJ/Database Tool to connect to first RTDS-1 and then to RTDS-2 but any mongo client should do it.
Then execute `db.BalanceStoreLiveStock.insert({"uploadDate":"2021-05-27","livestock": 1})`

[2021-05-27 15:46] sdeleuze commented on #788
Sure, I have the mongo client installed, my question is more what URL are you using to access from the MongoDB instance that are running  inside containers on a bridge Docker network from the host.

[2021-05-27 17:30] ivangfr commented on #798
I tried using spring-boot `2.5.0` and spring-native `0.10.0-SNAPSHOT`. I am getting
[code]

Then, I set `Set.class` to `@TypeHint` and it worked.

[2021-05-27 19:04] dmuecke commented on #788
Do you mean this `mongodb://localhost:27017/RTDS-1` and `mongodb://localhost:27018/RTDS-2`

[2021-05-28 07:30] sdeleuze commented on #798
Ok I will add it.

[2021-05-28 09:13] #798 closed

[2021-05-28 09:48] hanouard commented on #184
@sdeleuze I can't reproduce what you've done. I get this error:
`Could not find option 'InlineBeforeAnalysis'`
Which is normal since this option was added in [GraalVM 21.0.0](https://www.graalvm.org/release-notes/21_0/)

[2021-05-28 14:07] dmuecke commented on #788
I forgot to add usr/pwd in connection URI. I also made a small change in my repo so pls do a git pull first.

[code]

[2021-05-30 12:34] rhqnrehf opened #800 "Problem occurs when adding to gradle plugin"
This appears when testing.
When using the gradle wrapper, the above error continues to occur even if you set it in properties.

--

Task :generateTestAot FAILED
FAILURE: Build failed with an exception.
What went wrong:
Execution failed for task ':generateTestAot'.
Java heap space

[2021-05-31 07:17] #786 closed

[2021-05-31 10:19] sdeleuze commented on #788
Thanks, I was able to make your sample working, but no exception (I modified the value in the DB) and building an image with the JVM provide the exact same behavior.

[2021-05-31 10:22] sdeleuze commented on #184
It was a typo, I meant GraalVM 21.0.0.

[2021-05-31 10:58] sdeleuze commented on #800
- Could you try with `--no-daemon` and let us know if that works (to be sure that's not a leak in another plugin, like Kotlin 1.5.0 Gradle plugin has)?
- Do you have any customization in `~/.gradle/gradle.properties`?
- Could you share a repro project?

[2021-05-31 14:43] sdeleuze opened #801 "AOT processing of @ComponentScan"
#782 introduces AOT component scanning on the package of the main application class. To be correct, such scan should also take in account custom `@ComponentScan` configuration.

[2021-05-31 15:08] #782 closed

[2021-05-31 15:33] sunilinteti commented on #789
@dsyer Could you please post the docker file to run this ? I am on macOs and getting this return status as 126.  Many thanks

[2021-05-31 20:39] dsyer commented on #789
There are scripts and docker images available as part of the project. Check out the docs: https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#how-to-contribute-using-container-build-env

[2021-06-01 06:15] dmuecke commented on #788
I've written a comment in README.md that it's not always throwing an exception. In that case the line `val mongoTemplate = mongoTemplateResolver.resolveMongoTemplateForCountry(country)
            ?: return emptySequence()` returns with emptySequence(). To me it looks like `MongoTemplate(config.value.mongoDbFactory())` in `class MongoTemplateResolver` returns null.

[2021-06-01 09:48] lujijiang opened #802 "Runtime error when upgrading to Spring Boot 2.4.5 and Spring Boot Native 0.9.2"
Hi

I'm running spring-graalvm-native 0.9.2, Spring Boot 2.4.5 and java 11.
mvn spring-boot:build-image completes successfully and when I run the docker image I get the error below.

/workspace/com.saasxx.app.demo.AppDemoApplicationKt: error while loading shared libraries: libz.so.1: cannot open shared object file: No such file or directory

[2021-06-01 18:46] ozkanpakdil opened #803 "Add FreeMarker support"
Hello

I just created a demo project from start.spring.io/, I have freemarker as dependency and one controller, not using freemarker yet. but getting error below when I ran the docker

[code]
I tried to exclude **FreeMarkerAutoConfiguration**, thought maybe that is the culprit but did not solve, any suggestions ? here is the reproducer:[demo.tar.gz](https://github.com/spring-projects-experimental/

[2021-06-03 02:06] kxlele opened #804 "Builder lifecycle 'creator' failed with status code 145"
**My Local Environment:**

[code]

**build.gradle file:**

[code]

**Run bootBuildImage, output:**

[code]

[2021-06-03 08:57] shakuzen opened #805 "Cannot enable Tomcat MBeans in JVM mode"
I was trying to do a comparison of metrics that would be available when running on the JVM vs as a native image. Unfortunately, when running the application on the JVM I could not enable the [Tomcat metrics Spring Boot configures](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#actuator.metrics.supported.tomcat) with this property is set: `server.tomcat.mbeanregistry.enabled=

[2021-06-03 13:01] sdeleuze commented on #805
@aclement It seems [JMX autoconfig are discarded](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot/src/main/java/org/springframework/aot/factories/AutoConfigurationFactoriesCodeContributor.java#L89-L95) regardless of the status of `removeJmxSupport`. Any thoughts?

[2021-06-03 15:02] sdeleuze commented on #804
See [related documentation](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_builder_lifecycle_creator_failed_with_status_code_145).

[2021-06-03 15:02] #804 closed

[2021-06-03 17:17] erikknaake commented on #782
This seems to be the exact issue I am having, is there a way to get access to an early release, or compile it myself?

[2021-06-03 23:58] aclement commented on #805
Yeah, I think that up front check doesn't match the related check happening later in [ResourcesHandler](https://github.com/spring-projects-experimental/spring-native/blob/f5027c67e7df0744c022bf11ee237b43b268d9ef/spring-aot/src/main/java/org/springframework/nativex/support/ResourcesHandler.java#L1065).

I fixed it up and confirmed as best I can without a test case. Without the change there were no

[2021-06-03 23:59] aclement commented on #805
@shakuzen can you try it out again?

[2021-06-05 19:15] tsaferb opened #806 "After a successful native build getting No default constructor found when running the exe on windows"
.   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/
 :: Spring Boot ::                (v2.5.0)

Jun 05, 2021 11:46:18 AM org.springframework.boot.StartupInfoLogger logStarting
Jun 05, 2021 11:46:18 AM org.

[2021-06-05 19:21] tsaferb commented on #806
The in the reflec-config.json that was generated from the -agentlib:native-image-agent, the entry for the class that's raising an exception looks like this:
{
  "name":"org.springframework.context.annotation.ConfigurationClassPostProcessor",
  "allDeclaredFields":true,
  "allPublicMethods":true,
  "methods":[{"name":"<init>","parameterTypes":[] }]
}

[2021-06-06 04:32] itziklavon opened #807 "Multi modules support"
Hi,
when viewing the note in samples regarding multi modules:
`the "core" module is a library used by our application. In general, such modules should hold dependencies to other libraries, but not Spring Boot starters.`

is there any way to make it so that core modules can hold spring starters?
thanks!

[2021-06-07 11:02] spring-projects-issues commented on #800
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-06-07 11:08] bclozel commented on #807
Hello @itziklavon

This is already possible with our current support. This note in the sample is merely a general best practice for Spring Boot applications.

Starters should be applied on the actual Spring Boot application. If you'd like to add (optional) dependencies to modules, you can always add them explicitly and still apply the Spring Boot BOM without applying the actual Spring Boot build p

[2021-06-07 11:08] #807 closed

[2021-06-08 08:17] sdeleuze commented on #806
Please share a repro project.

[2021-06-08 11:34] rhqnrehf commented on #800
Dear
Try running it about 3 times while sout changing the getIssue TEST method in the test package.
The error is reproduced.

![캡처](https://user-images.githubusercontent.com/13612271/121177970-f838fa80-c898-11eb-8c73-2ca6008bdb7e.PNG)

project : https://github.com/rhqnrehf/spring-native-issue-temp

[2021-06-08 12:14] sdeleuze opened #809 "0.12.0"

[2021-06-08 17:07] dsyer commented on #789
It’s a custom runtime. There’s no way for the “normal” Java runtime to execute native code.

[2021-06-08 21:38] tsaferb commented on #806
After generating the reflect-config.json using -agentlib:native-image-agent, I don't see the the No default constructor error.
I kind of got different error. Something to do with hibernate generating sql script for findByName(String roleName) repository.
I have a super class like the following:
[code]
I am getting the following error when I run the tests that were passing before the Spring Native

[2021-06-09 11:21] goafabric opened #810 "Question: Limit Paketo Native Build Memory Usage"
Build Native Images with Paketo
inside Github Actions will hang eventually, the more libraries are on the classpath.
Because the System will run into an out of memory situation.

Within Quarkus it is possible to limit the memory usage of the native build:
 <quarkus.native.native-image-xmx>4096m</quarkus.native.native-image-xmx>

Is there something similar for the spring native paketo builds ?
At l

[2021-06-09 15:17] scottfrederick commented on #810
There are hints in the documentation, but for this use case you need to make some connections between a few pieces of information. Spring Native documents [how to set options for `native-image`](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#native-image-options) in the Paketo buildpacks, and GraalVM documents [the available options for `native-image`](https://www.graalvm.

[2021-06-10 07:29] goafabric commented on #810
Hi Scott .. thank you for the fast answer.
Yes this would work thank you very much.
Unfortunately the build still hangs / crashes .. sometimes a GC Out of Memor.
So i guess up to a certain point of libraries, currently 4 GB are not enough as stated in the spring native documentation.

Quarkus seems to be less demanding on the memory side.
So i guess the only thing i could dow now, either increase

[2021-06-11 08:55] kambei opened #812 "Question: Can I configure the image as I do within a Dockerfile?"
Using Spring Native and Gradle, with `bootBuildImage` Gradle command, I can create the Docker image very easily.

There is a way for configure the image, for example adding an `HEALTHCHECK` or modifying the `ENTRYPOINT` with a custom configuration, the same way I can do within a Dockerfile???

Sorry if it is documented somewhere, but I have not found any info about it.

[2021-06-11 09:05] wilkinsona commented on #812
This looks like a duplicate of https://stackoverflow.com/questions/67925092/how-can-i-configure-the-image-created-by-the-bootbuildimage-command.

[2021-06-11 09:09] kambei commented on #812
Yes, that question on StackOverflow is mine too.

[2021-06-11 09:22] sdeleuze opened #813 "Adding type hint with AccessBits.RESOURCE in NativeConfiguration#computeHints does not work"
@christophstrobl already faced that and did [this workaround](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot/src/main/java/org/springframework/nativex/type/TypeProcessor.java#L1095), and I have hit that one pretty hard on testing support.

Adding resource access to the `.class` file in `NativeConfiguration#computeHints` works, adding type hint with `AccessBits.R

[2021-06-11 14:45] #744 closed

[2021-06-11 15:15] #22 closed

[2021-06-11 15:15] #599 closed

[2021-06-11 15:19] aclement commented on #356
Closing this to capture to work we have done in 0.10 - I will likely create a spin off for the `AnagramHandler` sample, I still want to explore that.

[2021-06-11 15:19] #356 closed

[2021-06-11 15:31] sdeleuze opened #814 "Add Gradle build tools plugin documentation"
Follow-up of #22.

[2021-06-11 23:33] tsaferb commented on #806
The issue doesn't occur anymore.

[2021-06-11 23:33] #806 closed

[2021-06-12 13:31] ivangfr opened #816 "Failed to add additional Message Converters from child context"
Hi guys! I have a [producer-consumer project](https://github.com/ivangfr/spring-cloud-stream-kafka-multi-topics-cloudkarafka/tree/master/spring-cloud-stream) implemented with `spring-boot (2.5.1)` and `spring-cloud (2020.0.3)`. I've been trying to add `spring-native (0.10.0-SNAPSHOT)` in order to build the apps native image.

I can build the Docker native image without any problem. The apps also s

[2021-06-13 19:24] #616 closed

[2021-06-13 20:19] #814 closed

[2021-06-14 11:01] christophstrobl opened #817 "Add RedisCache support (Spring Data)"

[2021-06-14 11:07] brianpreuss opened #818 "Support Spring Cloud Stream Kafka Streams Binder"
I'm using Spring Native 0.10.0-SNAPSHOT together with Spring Cloud Stream 3.1.3 (from Spring Cloud Dependencies 2020.0.3) and Spring Boot 2.4.7.

TypeHints were added for the classes

- org.springframework.cloud.stream.binder.kafka.streams.GlobalKTableBinderConfiguration.class,
- org.springframework.cloud.stream.binder.kafka.streams.KStreamBinderConfiguration.class,
- org.springframework.cloud.str

[2021-06-14 18:12] joeyslalom opened #819 "bootBuildImage still uses GraalVM 21.0"
I updated my 0.9.2 project to the new 0.10.0 release (congrats!) but noticed my `./gradlew boottBuildImage` command doesn't use GraalVM 21.1:
[code]

From the "Upgrade to 21.1" commit https://github.com/spring-projects-experimental/spring-native/issues/578 I noticed this configuration from `samples`:
[code]

I can use `dmikusa/graalvm-tiny` builder as a workaround, but wanted to give a heads up in

[2021-06-14 19:17] ArjanSchouten opened #820 "Duplicate warnings after consecutive generateAot gradle task"
Every time I execute the `./gradlew clean test` task on a project from start.spring.io, I get more and more log output.

**Reproduction**
1. Download: https://start.spring.io/#!type=gradle-project&language=java&platformVersion=2.5.1.RELEASE&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo&depende

[2021-06-14 21:54] #813 closed

[2021-06-15 01:56] lincze opened #821 "Buildpacks build can't download graalvm"
preconditions:
- environment: spring boot 2.5.1, maven 3.8.1, kernel version 5.12.8-200.fc33.x86_64
- steps: followed what was written in the [0.10.0 docs, chapter 2.1. Getting started with Buildpacks](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started-buildpacks)

at step [2.1.3. Build the native application](https://docs.spring.io/spring-native/docs/current/r

[2021-06-15 04:04] lincze commented on #821
sorry for the noise. as it is obvious from the above piece of log, that the docker networking was somehow scrambled (the container could not see the dns server), so i had to restart the docker server and the network manager, and the problem went away.

so, i close this issue.

[2021-06-15 04:04] #821 closed

[2021-06-15 10:38] brianpreuss commented on #818
Maybe some work will be done here: https://github.com/spring-cloud/spring-cloud-stream-binder-kafka/issues/1064

[2021-06-15 12:34] jdubois commented on #764
I've just done some tests with Spring Native 0.10.0 and I confirm that Spring profiles ( the `org.springframework.context.annotation.Profile` annotation to be exact) seem to be totally ignored.

I even tested using one bean with `@Profile("azure")` and another with `@Profile("!azure")` and I got the 2 available in my context! For me the annotation is simply ignored.

[2021-06-15 12:46] christophstrobl opened #822 "Filter duplicate AotProxyDescriptor to create proxies only once."
I came across this when looking at the log of the spring-hateoas sample.

In the hateoas case, a proxy is created for controller method return types. The actual hint computation in `HateoasHints`  does not check if a given type has already been added to the hints, but just adds a new entry. So we might end up with multiple hints having an `AotProxyDescriptor` for the very same target.

Judging fro

[2021-06-15 15:02] magnus-larsson opened #823 "Spring Native 0.10.0 bootBuildImage error, MongoDB DefaultDbRefResolver can't be loaded"
With the final release of Spring Native 0.10.0 I get the following error when creating a native image of a Spring Boot app that use `spring-boot-starter-data-mongodb-reactive`:

[code]

I did not see the error with earlier 0.10.0-SNAPSHOT versions.
I guess it is related to https://github.com/spring-projects-experimental/spring-native/pull/811 - `Add substitution for Spring Data MongoDB LazyLoading

[2021-06-16 08:55] christophstrobl opened #824 "HateoasHints should distinguish between interface and class proxies when computing method return types"
The hints currently only result in aot proxies which can be jdk proxies for interface types.

[2021-06-16 08:58] odrotbohm opened #825 "Ignore AOT code generated in Eclipse with Maven"
In 0.10.0, the AOT plugin creates factory code for libraries that are bound to the `runtime` scope. E.g. Spring Data REST's HAL Explorer module is one, that is usually depended on in runtime scope. It ships with the package scoped `HalExplorerConfiguration` class for which I see a factory method generated by Spring AOT. That code of course refers to the type but it's not available in the compile s

[2021-06-16 09:19] bclozel commented on #825
The AOT sources are compiled is a separate compilation pass - so the application sources are still compiled with the compile classpath. If the AOT plugin doesn't use the runtime classpath as a reference for source generation, then in this case the HAL explorer won't be compiled in the resulting native image.

Would that be the expected outcome in this case? Should runtime dependencies be treated d

[2021-06-16 09:44] odrotbohm commented on #825
The ultimate effect I see is that the project doesn't compile in the IDE anymore as the generated code references types from the runtime classpath. AFAIU, the step towards the AOT generated code is to avoid classpath scanning and reflection on Spring beans and configuration classes. I wonder if that could be somehow rather expressed through a `NativeConfiguration` for processing during the image b

[2021-06-16 10:01] bclozel commented on #825
I see, that's a different issue then. Since we've moved the code generation to the package phase only and the application code is not supposed to know about the generated sources. Running the app in the IDE should not exercise the AOT code. Do we still want IDEs to be aware of those locations @sdeleuze ?

@odrotbohm Are you using Eclipse? I think we have an arrangement to let Eclipse know about th

[2021-06-16 10:06] odrotbohm commented on #825
Yes. In Eclipse, the AOT generated code seems to be considered just like ordinary APT generated sources and thus are part of the in-IDE compile process. And I think you're right. They shouldn't be as that code doesn't actually need to be compiled during editing.

[2021-06-16 10:18] odrotbohm opened #826 "Automatically register class proxy hint for user components that need it"
User components that do not implement interfaces but make use of annotations that case the type needing to be proxied (e.g. `@Async`, `@Transactional` etc.) currently need an explicit `@AotTypeHint` declared. We should be able to detect that the proxy class is needed and automatically register that fact so that the explicit hint is not needed.

[2021-06-16 11:49] odrotbohm opened #827 "When processing a JPA domain model, automatically register type hints for concrete enum types"
Assume a JPA domain model:

[code]

Hibernate processes these types in a way that needs an `@TypeHint(…, access = AccessBits.LOAD_AND_CONSTRUCT)`. It would be cool if that hint was created automatically.

[2021-06-16 12:47] odrotbohm commented on #827
This actually already seems to work. `Year` is not an enum in the first place (🤦🏼‍♂️). The actual error you get with a model like this hints at a serialization hint needed to be declared for `Year`. The reason for that is that Hibernate doesn't actually have a custom type definition for `Year` and falls back on its support for `Serializable` types (which `Year` implements). It then tries to create

[2021-06-16 12:47] #827 closed

[2021-06-16 13:18] odrotbohm opened #828 "Support @(Transactional)EventListener out of the box"
Methods annotated with `@(Transactional)EventListener` currently don't work without custom hint declarations. They shouldn't need that. Here's what's currently needed to make them work:

[code]

It would be cool if the AOT component processing automatically registered the necessary information.

[2021-06-16 15:02] sdeleuze commented on #739
Figure after oracle/graal#3365 being fixed:

**GraalVM 21.1.0**
Build memory: 8.18GB
Image build time: 72.9s
RSS memory: 127.0M
Image size: 63.8M

**GraalVM 21.2.0-dev**
Build memory: 6.75GB
Image build time: 68.8s
RSS memory: 129.8M
Image size: 73.2M

So this seems a confirmation there is a Netty specific footprint issue on Java 11+.

[2021-06-16 16:09] odrotbohm opened #829 "Register first generic type of JPA attribute converters for reflective inspection"
A JPA `AttributeConverter`'s first generic type needs to be available for reflection with `AccessBits.LOAD_AND_CONSTRUCT`. The hint currently has to be added manually but should be easily detectable generically when inspecting the application code. From `AttributeConverter<X, Y>` we need to register `X` with aforementioned settings.

[2021-06-16 16:09] sdeleuze commented on #810
For your use case, Spring Native [0.11](https://github.com/spring-projects-experimental/spring-native/milestone/15) should come with less memory required for the build, so let's try again when it will be released.

[2021-06-16 16:09] #810 closed

[2021-06-16 16:18] sdeleuze commented on #828
@aclement I see [`Type#isEventListener()`](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot/src/main/java/org/springframework/nativex/type/Type.java#L719) is not used anymore, any thoughts?

[2021-06-16 16:23] sdeleuze commented on #825
Indeed I think we should probably ignore actions for `generate` like we do for `test-generate` [here](https://github.com/spring-projects-experimental/spring-native/blob/main/spring-aot-maven-plugin/src/main/resources/META-INF/m2e/lifecycle-mapping-metadata.xml).

[2021-06-16 16:26] #825 closed

[2021-06-16 16:29] sdeleuze commented on #825
@odrotbohm Please test with `0.10.1-SNAPSHOT` and a fresh import in Eclipse when [the build](https://ci.spring.io/teams/spring-native/pipelines/spring-native) will be done.

[2021-06-16 16:30] sdeleuze commented on #820
Please raise this issue on https://github.com/graalvm/native-build-tools/ side.

[2021-06-16 16:30] #820 closed

[2021-06-16 16:32] sdeleuze commented on #819
Sorry, we had an unexpected issue during the release that delayed of a few hours the Buildpacks update, but it should now uses GraalVM 21.1 as expected.

[2021-06-16 16:32] #819 closed

[2021-06-16 16:33] sdeleuze commented on #829
I will let @schauder and/or @christophstrobl qualify this one.

[2021-06-16 16:38] sdeleuze commented on #826
@aclement Should we target 0.10.1 or 0.11 for this one?

[2021-06-16 16:39] sdeleuze commented on #823
@christophstrobl Could you please qualify this one?

[2021-06-16 16:40] sdeleuze commented on #818
cc @garyrussell @sobychacko.

[2021-06-16 16:42] aclement commented on #826
I'd like to get some work done on it in the 0.10.x line. @odrotbohm do you have suitable test projects lying around for the most important situations?

Also, in discussing Spring Data needs with Christoph, any code that currently doesn't go through the default proxy factory will either need to be adapted to do so, or it will need another substitution. So there can be more to it than just smartly c

[2021-06-16 16:42] sdeleuze commented on #818
Duplicates #680.

[2021-06-16 16:42] #818 closed

[2021-06-16 16:52] sdeleuze commented on #812
This question seems not related to Spring Native, so Stackoverflow is probably better suited to get and answer.

[2021-06-16 16:52] #812 closed

[2021-06-16 16:53] odrotbohm commented on #826
I am currently upgrading RESTBucks to 0.10 to see what explicit hints are still needed. So far, I've been able to remove most of them I had before. So great job already! I'll ping you once the branch is in place. Im gonna link the tickets I file for each of the explicit hints I think we can get rid of once we fix those tickets.

[2021-06-16 16:59] sdeleuze opened #830 "Support jdk and aot proxies without a root @NativeHint"

[2021-06-16 19:02] odrotbohm commented on #826
The [`hacking/native-buildpacks`](https://github.com/odrotbohm/spring-restbucks/tree/hacking/native-buildpacks) branch here has the necessary setup to build RESTBucks as a native image. `NativeConfiguration` contains a few explicit hints with the tickets linked which I think make those obsolete. It should build and work fine, just take a while (25 Minutes on my machine).

[2021-06-17 05:59] christophstrobl commented on #823
@magnus-larsson thanks for reporting!
True, the substitution is missing another check that prevents it from being applied when only the reactive client is available. Sorry for the inconvenience.

[2021-06-17 08:23] #823 closed

[2021-06-17 08:42] sdeleuze commented on #764
Let's re-evaluate that one after 0.11 which will change a lot of related things.

[2021-06-17 09:41] sdeleuze opened #834 "Allow BeanUtils#instantiateClass inlining"
Via a substitution that should implement https://github.com/spring-projects/spring-framework/issues/27072. See also [related comment](https://github.com/oracle/graal/issues/2500#issuecomment-863091725).

[2021-06-17 12:42] sdeleuze commented on #782
0.10.0 has been pleased, otherwise yes you can use snapshots from https://repo.spring.io/snapshot.

[2021-06-17 12:45] sdeleuze commented on #788
Sorry but I already spent a lot of time on this and without a way to reproduce it I can't do much more. Please reopen or recreate with a reliable way to reproduce it.

[2021-06-17 12:45] #788 closed

[2021-06-17 12:47] sdeleuze commented on #802
libz is a GraalVM `native-image` dependency documented [here](https://www.graalvm.org/reference-manual/native-image/#prerequisites).

[2021-06-17 12:47] #802 closed

[2021-06-17 12:48] ddobrin opened #835 "Container-based build env - failure when running native-image"
Cloned the main branch of Spring-native.

Followed [docs](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#how-to-contribute-using-container-build-env) and executed "./run-dev-container.sh -p -r" to force the container image rebuild.

In the container, tested a simple [class](https://github.com/ddobrin/native-spring-on-k8s-with-graalvm-workshop/blob/main/setup/Helloworkshop.

[2021-06-17 13:42] sdeleuze commented on #800
Indeed, I can reproduce, this is a pretty bad one cc @bclozel @aclement.

First time I run it:
[code]

Second time I run it:
[code]

Third time I run it:
[code]
I am going to move 0.10.1 earlier than expected to solve this.

[2021-06-17 15:38] #800 closed

[2021-06-17 22:22] aclement commented on #828
I created a new sample for events that is using `@EventListener` and `@TransactionalEventListener`. I've created a new `TransactionalEventListenerComponentProcessor` that will add the info @odrotbohm referred to if the annotation is detected. As part of this I also had to revisit the TransactionalComponentProcessor and fixed that up to do the right thing for transactional usage on a class (it prev

[2021-06-17 22:22] #828 closed

[2021-06-17 22:33] odrotbohm commented on #828
Very cool. Thanks, Andy!

[2021-06-18 02:04] aclement commented on #822
I flipped the `List` to a `Set` and it should be fixed.

[2021-06-18 02:04] #822 closed

[2021-06-18 06:24] goafabric opened #836 "Paketo Native Build compatible with Apple Silicon M1 and Curl"
Hello everybody,
it would be great to have a Paketo Native Build that also works with Apple Silicon M1.
While the Quarkus People don't support this out of the box,
they allow to set an alternative Builder Image:
https://dev.to/nevernull/building-a-native-java-application-for-arm64-with-quarkus-2n9m

Note, the mentioned base is now: ghcr.io/graalvm/graalvm-ce:java11-21.0.0.2

There just an universa

[2021-06-18 13:12] ivangfr commented on #763
Hi @sdeleuze . I've updated the project to **spring-boot** `2.5.1` and **spring-native** `0.10.0`, and the problem is fixed, at least, I am getting (by default) responses with JSON format. We can close the issue if you want. Thanks!

[2021-06-18 19:17] #826 closed

[2021-06-18 19:17] aclement commented on #826
`@Async` and `@Transactional` are now being handled and produce Aot class proxies (new sample added for async).

[2021-06-18 21:22] lealoureiro opened #838 "No HttpMessageConverter when trying to fetch JSON using RestTemplate"
Hi guys,

I have simple Spring Boot application (2.5.1) where it makes basic HTTP requests using RestTemplate to fetch some JSON files from internet.

But i'm getting some errors when one of the services tries to fetch and parse JSON that is just a simple list of strings.

The application runs fine when run in "JVM Mode".

I also tried to add some entries related to `HttpMessageConverter` in `refl

[2021-06-18 22:24] aclement commented on #830
I can't reproduce this. In my testing in the project and with Ollies restbucks sample I see the proxies in proxy-config.json with/without the root NativeHint. What I did:
[code]
The command fails for me but I can look at the generated `proxy-config.json`.

I then played with the file in question `NativeConfiguration.java` which has this:
[code]
To avoid confusing that with what we are doing for yo

[2021-06-18 22:28] #824 closed

[2021-06-19 04:53] aclement opened #839 "More advanced spring.factories key processing to address test issues"
The native image creation for tests has uncovered somewhere we haven't explored. Right now we are only 'processing' (as in computing the optimal related contents for `StaticSpringFactories .java` and `*.json` files) configurations pointed to by the `EnableAutoConfiguration` key in `spring.factories`. The test infrastructure in Spring Boot is referencing all manner of extra auto configurations from

[2021-06-19 05:08] #839 closed

[2021-06-19 05:12] aclement commented on #839
I've pushed a commit, let's see what the build machine makes of it. It is a little more radical than recent changes although I've tried to take care and make sure this first variant only impacts the testing situation.  The commit should fix:
- problems with FreeMarkerAutoConfiguration
- problems with WebTestClientAutoConfiguration
- problems with jdbc-tx related to WebEnvironment (I fixed this wit

[2021-06-19 05:15] aclement opened #840 "Introduce proper hints for AOP"
The class proxy hints now enable AOP to work properly but the `class-proxies-aop` sample includes the manually collected supported configuration, this should be converted to hints for future AOP correct operation.

[2021-06-19 05:15] aclement opened #841 "Create proper hints for AOP"
The class proxy hints now enable AOP to work properly but the `class-proxies-aop` sample includes the manually collected supported configuration, this should be converted to hints for future AOP correct operation.

[2021-06-20 03:08] #841 closed

[2021-06-20 03:11] aclement opened #842 "Investigate spring.factories key processing for all keys"
Earlier today I committed some changes so that instead of just processing the EnableAutoConfiguration key, we processed the values of some other keys that had a test prefix. The more general rule should be processing all configurations regardless of the key. We should investigate the impact of this and what would break if we went that far. Perhaps in normal apps it is only EnableAutoConfiguration

[2021-06-20 11:03] kennygitchen opened #843 "How to debug running service in native-image mode"
hi guys,
It's more of a question other than an issue I guess.

I have a garage project that I am using Spring-Native to build a reactive RESTFul service. Instead of using pure Reactor, I am using coroutine. With little marking around, I have got service up and running with the native image build.

Is there a way that I can debug/inspect the service that is running in native mode?

[2021-06-20 12:46] phejl opened #844 "RequestPart hint missing"
The RequestPart reflection config is missing so one have to add it manually.

[2021-06-20 15:37] phejl commented on #649
@andresflorezp This might be fixed in https://github.com/spring-projects-experimental/spring-native/issues/841 - at least that was the case for me.

[2021-06-20 17:30] sdeleuze commented on #830
@odrotbohm Please comment here with a repro if you can reproduce.

[2021-06-20 17:30] #830 closed

[2021-06-20 17:56] sdeleuze opened #845 "Publish container images to Docker hub"

[2021-06-20 17:56] #845 closed

[2021-06-21 05:28] plcrdv opened #846 "Non-ASCII Java classes produce errors"
having non-ascii Java classes (in my case, using Japanese characters) and attempting to use spring native in the project results in exceptions being thrown during compile time, or during run time (if these files are first packaged in a jar and included in the project), even if encoding parameters are explicity set to UTF8 via command line, or via parameters in creating a docker image.

[2021-06-21 07:55] phejl commented on #844
https://github.com/spring-projects-experimental/spring-native/pull/847

[2021-06-21 08:27] shiliangshuai opened #848 "Native application performance goes down dramatically."
Dears,

Follow https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started-native-build-tools, I find the performance reduced by half, TPS reduce from 50699.66 to 19531.48

Environment:
- CentOS Linux release 8.3.2011
- GraalVM CE 21.1.0 (build 11.0.11+8-jvmci-21.1-b05)
- Spring Boot 2.5.1
- Spring Native 0.10.0

JMeter: 100 Threads, 50000 Loops

Performance Result:
![i

[2021-06-21 09:38] phejl opened #849 "Hibernate validator emits warning"
[code]

[2021-06-21 10:27] odrotbohm commented on #828
I can confirm this is working OOTB with 0.10.1 snapshots.

[2021-06-21 10:46] phejl commented on #848
Perhaps this more for the GraalVM team and some inspection of compilation actually happening. OTOH people often think in terms native -> fast, jvm -> slow while it is a trade of (at least for the time being). You get instant startup and smaller memory footprint with Native Image but peak performance is usually better with JIT compiler.

[2021-06-21 11:21] odrotbohm commented on #829
This seems to be working already. The problematic case I had at hand was using an interface in the signature and Hibernate trying to reflect on the implementation class, which is of course not appearing in any declaration. In my particular case I was able to declare the `convertToEntityAttribute(…)` to actually return the implementation type and that renders the custom hint previously necessary ob

[2021-06-21 14:29] odrotbohm commented on #826
Verified to be working on 0.10.1 snapshots.

[2021-06-22 06:34] #844 closed

[2021-06-22 06:39] sdeleuze commented on #848
Indeed, JVM is expected to have better throughput and lower latency if you have enough memory while native usually perform better on memory contraints environnement. We will do more performance toward end of the year. In the meantime, if you find something unusual please report to GraalVM team.

[2021-06-22 06:39] #848 closed

[2021-06-22 06:48] sdeleuze commented on #849
`PlatformResourceBundleLocator#determineAvailabilityOfResourceBundleControl` implementation is:

[code]
Could you try to add hints for `Class#getModule` and `PlatformResourceBundleLocator#isNamed` to see if that helps?

[2021-06-22 06:51] sdeleuze commented on #846
Could you please share the error messages you get and/or a repro project?

[2021-06-22 06:52] #829 closed

[2021-06-22 06:53] #649 closed

[2021-06-22 06:54] sdeleuze commented on #843
You can debug it using GDB, we will provide more documentation on that via #227.

[2021-06-22 06:54] #843 closed

[2021-06-22 07:03] sdeleuze commented on #835
I tried and it seems to work on my side, maybe fixed by e65266bc8b4de0212790b0ec5d8035ff5397a708.
[code]
[code]

[2021-06-22 07:03] #835 closed

[2021-06-22 07:05] phejl commented on #849
@sdeleuze Actually I think it is the Module class reflection missing. At least that is what worked for me.

[2021-06-22 07:05] phejl commented on #849
https://github.com/spring-projects-experimental/spring-native/pull/850

[2021-06-22 07:05] sdeleuze commented on #836
Please raise those issues at https://github.com/paketo-buildpacks/native-image.

[2021-06-22 07:05] #836 closed

[2021-06-22 07:18] #849 closed

[2021-06-22 07:19] sdeleuze commented on #840
What milestone should we target for this one?

[2021-06-22 09:35] sdeleuze commented on #838
The native app seems to compile and run fine for me, how should I reproduce?

[2021-06-22 09:41] lealoureiro commented on #838
Yes indeed, the app compiles and runs fine. I forgot to specify exactly how to reproduce the problem.

You need to call the "top gods" endpoint (make sure the application has internet access).
With httpie would be:

[code]

[2021-06-22 09:45] bclozel opened #851 "Missing startup and mappings actuator endpoints"
A revised sample application from spring-projects/spring-boot#27004 (using just actuator and webflux) show that the mappings and startup endpoints are missing from native applications.

We're probably missing reflection hints for those.

[2021-06-22 11:30] odrotbohm commented on #830
Looks like this was false alarm caused by trying to run changed but not saved resources. Sorry for the noise!

[2021-06-22 12:01] sdeleuze opened #852 "Upgrade to GraalVM 21.3.0"

[2021-06-22 12:03] sdeleuze opened #853 "Upgrade to Spring Boot 2.6.0-M3"

[2021-06-22 14:25] scottfrederick commented on #836
@goafabric You can follow these Paketo issues for M1 / ARM64 support in buildpacks:

- https://github.com/buildpacks/lifecycle/issues/435
- https://github.com/paketo-buildpacks/stacks/issues/51

[2021-06-22 14:36] #851 closed

[2021-06-22 14:59] aclement commented on #840
`class-proxies-aop` now running without manual config

[2021-06-22 14:59] #840 closed

[2021-06-22 15:19] goafabric commented on #836
thank you scott

[2021-06-22 18:59] phejl opened #854 "Proxy entries for annotations on interface not created"
When controller extends interface which defines the contract (ie openapi generator generates such) the annotations present on the interface are not processed and thus proxy entries containing `SynthesizedAnnotation` are not created.

[2021-06-22 19:00] phejl commented on #854
I'll try to provide a patch.

[2021-06-22 23:03] aclement opened #855 "Automatic nested condition handling doesn't work when conditions are at the method level"
The analysis system can handle this:

[code]

and recognize that the referenced condition class extends AbstractNestedCondition so contains subtypes that may have further conditions on them:

[code]
In this case it should automatically register (for reflective/resource access) the subclasses inside `Foo`.

*However*, it currently only recognizes this pattern if used at the type level, not at the m

[2021-06-22 23:06] #855 closed

[2021-06-23 09:17] phejl commented on #854
Hopefully fixed in https://github.com/spring-projects-experimental/spring-native/pull/857

[2021-06-23 12:13] frankkimm commented on #625
same error as @cipley over here with version "0.10.0"

[2021-06-23 13:24] sdeleuze commented on #838
Ok indeed I can reproduce, but after a quick check I was not able to identify the source of the issue. Most probably missing reflection entries. Could you please try to run it with [the native configuration generated by the tracing agent](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#tracing-agent) to see if that works?

[2021-06-23 15:10] lealoureiro commented on #838
I tried to run with TracingAgent as explained in details you mentioned but now I'm having this issue:

[code]

Seems like some jUnit classes to run in native are missing...

I'm using GraalVM with SDKMan  21.1.0.r11-grl

[2021-06-24 08:03] sdeleuze opened #859 "Refine how options are passed to native-image"

[2021-06-24 08:03] #859 closed

[2021-06-24 09:04] sdeleuze commented on #838
This is caused by https://github.com/graalvm/native-build-tools/issues/73, use `mvn -Pnative -DskipTests package` or add the missing dependency with:

[code]

[2021-06-24 09:44] zhuangzibin opened #860 "Runtime exception when setting @EnableR2dbcAuditing"
Hi!
When I set the annotation @EnableR2dbcAuditing（WebFlux + R2DBC）, I have the following exception at runtime. When the annotation is commented out, I am able to run successfully the docker native container.

Thanks!

JAVA11
GraalVM 21.1.0.

[code]

[2021-06-24 19:58] lealoureiro commented on #838
Added:

[code]
And:

[code]

And I'm still facing this problems:
[code]

I tried to add this annotation in the Application class, but didn't help:
[code]

I notice that the class that is being mentioned in the error: **org.slf4j.impl.StaticLoggerBinder** is already defined in **--initialize-at-build-time** at **native-image.properties** in **generated-test-sources**

[2021-06-24 21:02] phejl opened #861 "Proxies for @Validated components not prepared"
When component (such as rest controller) is annotated with `@Validated` the app fail at runtime as the proxy is not prepared. Same happens when `@Validated` is used on interface component implements.

[2021-06-25 07:38] sdeleuze opened #862 "Upgrade to Spring Boot 2.5.2"
Also upgrade Kotlin to 1.5.20.

[2021-06-25 07:42] #862 closed

[2021-06-25 17:30] akuzni2 opened #863 "New Spring Native project downloaded from Spring Initializr starts in 5s after building native-image"
I downloaded a brand new project from https://start.spring.io/ and added the Spring Native support

![image](https://user-images.githubusercontent.com/25558903/123462593-25cbb680-d5b0-11eb-8b67-db611a70f4a0.png)

Java version
[code]
Native Image version
[code]

Build the project to a native-image without any changes
[code]

The build is successful. However when I run the binary the result shows th

[2021-06-25 22:50] phejl opened #864 "Tomcat logs into stdout"
Tomcat logs to stdout as jul-to-slf4j is not initialized.

[2021-06-28 10:18] Simulacron-3 commented on #863
I have the same behavior on my machine (windows 10, graalVM 21.1, spring boot 2.5.2 and spring native-0.10.1)

[2021-06-28 10:28] phejl commented on #861
Suggested fix https://github.com/spring-projects-experimental/spring-native/pull/866

[2021-06-28 10:29] phejl commented on #864
Suggested fix https://github.com/spring-projects-experimental/spring-native/pull/867

[2021-06-28 18:14] phejl opened #868 "Aspect on Repository not called"
When around aspect is added on Repository it is not invoked and no error is reported. In JVM with `-DspringAot=true` it works ok.

[2021-06-29 03:26] matthenry87 commented on #427
Can this one be re-opened? This still doesn't work in 0.10.1.

Here is a sample project:

[https://github.com/matthenry87/native-spring-data-auditing](https://github.com/matthenry87/native-spring-data-auditing)

[code]

[2021-06-29 06:53] spring-projects-issues commented on #846
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-06-29 07:26] goafabric opened #869 "Support for @EntityListeners"
Now with version 0.10.1 adding Transactional out of the box for classes .. thats a very good step in the right direction.
What is currently not working is the Annoation of @EntityListners
e.g

@EntityListeners(AuditJpaListener.class)
public class PersonBO{}

The class just never gets called .. funny enough no error during aot compilation or bootstrap .. just seems to be ignored.
Works of course in

[2021-06-29 12:21] phejl commented on #868
Perhaps the proxy on proxy is not created in native image. JVM:
[code]
Native image:
[code]

[2021-06-29 14:29] dmikusa-pivotal opened #870 "Spring Boot 2.5 + (Reactive) Web + Spring Native builds but fails to run on Cloud Foundry"
I have been trying to build a demo Reactive Spring Boot 2.5 app with Spring Native and then run it on CloudFoundry. Build works & I can run the image locally, but when I push to CloudFoundry I'm getting this error:

[code]

I'm building with `./mvnw spring-boot:build-image`. Extracting the binary from the docker image with `docker cp`. Then running `cf push -b binary_buildpack -p ./extracted/ -c .

[2021-06-29 14:43] sdeleuze opened #871 "Upgrade to native build tools 0.9.1"

[2021-06-29 14:44] #871 closed

[2021-06-30 09:11] phejl commented on #868
The problem seems to be missing type hint for `java.lang.reflect.Proxy` and missing proxy for the repository that would include `java.io.Serializable`. Such proxy is created only if the repository is annotated with `@Repository`. I'm not sure whether the missing proxy item should be always added or leave it up to user to declare such proxy (at least it is reported as missing once there is type hin

[2021-06-30 12:27] phejl commented on #868
Alternative to declare a proxy manually is to annotate repository interface with `@Repository`.

[2021-06-30 16:17] sdeleuze commented on #803
I tried adding a simple hint for that one, but freemarker is using a lot of reflection so it will require a bigger effort to be supported.

[2021-06-30 16:22] sdeleuze commented on #816
@sobychacko Could you please have a look to this one?

[2021-06-30 18:17] ozkanpakdil commented on #803
If you explain what to do? I or anyone who knows java can help ☺️

[2021-06-30 18:20] gvart-sellics opened #872 "[Gradle plugin] Is there a way to pass native image options for native binary build ?"
The documentation says that there's a way to pass [Native image options](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/index.html#native-image-options) using BP_NATIVE_IMAGE_BUILD_ARGUMENTS variable, but how to pass those variables for build with **Native Build Tools** via **nativeBuild** task?

[2021-06-30 19:20] phejl commented on #872
@gvart-sellics If you mean https://github.com/graalvm/native-build-tools I think you can just provide `buildArgs` - both gradle and maven provide this option.

[2021-06-30 19:26] phejl opened #873 "Gradle AOT plugin needs test task to pass to build native image"
For some reason the native image build options are picked up from `build/resources/aotTest` so this works:
`./gradlew clean nativeBuild`
while this does not:
`./gradlew clean nativeBuild -x :test`

[2021-06-30 22:23] phejl commented on #873
Can be workarounded by adding
[code]

[2021-06-30 23:11] aclement commented on #863
I've just tried this on my Mac and it was all fast, couple of hundred ms startup.

I then tried on my Windows box. GraalVM 21.1.0 Java 11 (and I was using the `vcvars64.bat` from my Visual Studio 2017 install so that I could access `cl.exe`). It starts up fast on windows too, this was doing just what was described above
- I only selected native on start.spring.io, nothing else
- I compiled it with

[2021-07-01 00:31] gvart-sellics commented on #872
Finally found here's an parameters that could be configured.
![image](https://user-images.githubusercontent.com/82597139/124047377-5f6b4a00-da14-11eb-9818-74114db9ecd5.png)

[2021-07-01 00:31] #872 closed

[2021-07-01 07:00] shakuzen commented on #805
I've tried with 0.10.1 on my own sample and I tried with the `main` branch of this repo and the actuator-webmvc sample, adding `server.tomcat.mbeanregistry.enabled=true` to `application.properties`. You can see the difference by running the sample with the `spring-boot:run` vs `spring-boot:build-image` and `docker-compose up`. Compare what is available in the localhost:8080/actuator/prometheus end

[2021-07-01 07:14] shakuzen commented on #805
For comparison, if I generate a Spring Boot app from initializr without spring-native and with web, actuator, prometheus, and I add to application.properties:

[code]

I will see in the prometheus endpoint Tomcat metrics from the mbeans it registers such as:
[code]

[2021-07-01 08:02] christophstrobl opened #874 "Move ProxyFactory substitution for Spring Data MongoDB to new target type."
Spring Data MongoDB 3.3 as part of the data release 2021.1 moved the lazy loading proxy generation. Therefore the existing substitution for `DefaultDbRefResolver` needs to move to the new target `LazyLoadingProxyFactory`.

----

Relates to: #853

[2021-07-01 08:07] christophstrobl opened #875 "Add support for Spring Data MongoDB (lazy loading) DocumentReference annotation."
Spring Data MongoDB 3.3 (part of the 2021.1 release) will introduce `@DocumentReference` as an alternative to `@DBRef`. The annotation needs to be considered when creating proxy configuration for the domain types, just as `@DBRef` is now.

----

Relates to: #853
Depends on: #874

[2021-07-01 08:25] phejl commented on #873
Possible workaround is
[code]

[2021-07-01 11:07] phejl opened #877 "Avoid confusing message when using logback.xml"
The message says the extension of logback.xml is unexpected and should be groovy or xml. It should be way clearer.

Relates to https://github.com/spring-projects-experimental/spring-native/issues/625

[2021-07-01 12:05] sdeleuze opened #878 "Make test.sh compatible with Gradle projects"

[2021-07-01 13:03] #878 closed

[2021-07-01 13:44] #877 closed

[2021-07-01 13:46] sdeleuze commented on #877
Indeed, I have refined it. Notice there is not yet a clean early error handing that would display the error message with the build time init error. The purpose of this substitution is mainly to avoid XML infra to be reachable by native image static analysis.

[2021-07-01 13:56] #864 closed

[2021-07-01 14:09] sdeleuze commented on #873
There is something wrong on Gradle side by on my side I see issues when the Gradle daemon is used (it is the default). Could you please try again with `--no-daemon`?

On my side what I see with the daemon after a second run:
[code]

cc @bclozel

[2021-07-01 14:39] sdeleuze opened #879 "Remove remaining suspicious static fields from Spring AOT"
Could potentially cause issues with Gradle daemon

[2021-07-01 14:40] sdeleuze commented on #879
What I see on my side with the Gradle daemon after some time:
[code]

[2021-07-01 14:45] #879 closed

[2021-07-01 14:46] sdeleuze commented on #873
I have also performed this potentially related fix d7a9e3eeaee1f76422dacf4a1a7b2b90e30d01ca.

[2021-07-01 14:51] sdeleuze commented on #805
Just to be sure before testing myself, could you confirm on native you set `removeJmxSupport` to `false` in Spring AOT plugin config since [it is removed by default](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#spring-aot-configuration)?

[2021-07-01 15:16] phejl opened #880 "@Scheduled method on class registered @Bean never gets called"
This works ok in JVM.

[2021-07-01 15:17] phejl opened #881 "Actuator @Endpoint registered @Bean is not available"
Thsi works in JVM.

[2021-07-01 15:21] phejl commented on #880
@aclement As you seemed to be the author of ResourceHandler should it be fixed somewhere below line 1718 or should there be some generic/pluggable solution somewhere else as suggested in the comment?

Similar issue https://github.com/spring-projects-experimental/spring-native/issues/881

[2021-07-01 15:42] phejl commented on #877
@sdeleuze Nice! You faster than me :)

[2021-07-01 16:09] matthenry87 opened #882 "Spring Data Audit Not Working Even After 0.10.1"
This still doesn't work in 0.10.1, even after the support for @Transactional and @Async was added w/ the Class Proxy hints.

Here is a sample project:

https://github.com/matthenry87/native-spring-data-auditing

[code]

[2021-07-01 18:11] phejl commented on #625
Hm, now I'm wondering what is the reproducible case :) What I did is I enabled xml support `removeXmlSupport = false` added type hints to all the different logback's converters, encoders and policies my app is using and now I'm able to run app just fine with my xml config including `springProfile` using `Dlogging.config=/path/to/my/logback-config.xml`. No error during build or runtime.

[2021-07-01 18:20] phejl commented on #625
With janino on CP and janino if condition in xml file (as far as I can tell I've added necessary TypeHints) the generated image just exit without any message with exit code 1.

[2021-07-02 01:08] shakuzen commented on #805
Yes, I should have mentioned, I added the following to the spring-aot-maven-plugin.
[code]

[2021-07-02 09:58] leorric opened #884 "build-image failed: No digest found on Windows"
I tried to get started on _Spring Native_ following the document https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#overview.

I choosed the first way _Spring Boot Buildpacks support_ https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started-buildpacks

I followed the steps till _2.1.3 Build the native application_. I executed mvn spring-boot:buil

[2021-07-02 09:59] phejl commented on #625
I see now it happens in case `logback.xml` is embedded in the application.

[2021-07-02 12:37] kewats opened #885 "Build failure - No instances of com.fasterxml.jackson.core.io.SerializedString are allowed in the image heap"
Hi, I am working on switching a module inside an existing spring-boot project to use native. My `nativeBuild` is failing with the error below.

This is triggered at this piece of code:

[code]

I am using:
[code]
[code]

I tried reproducing this issue in a standalone spring native project, however, did not run into the same problem.
Would you have any pointers on how I can go about investigating t

[2021-07-02 20:05] #880 closed

[2021-07-02 21:16] phejl commented on #880
Thanks @aclement!

[2021-07-02 23:07] #881 closed

[2021-07-02 23:09] aclement commented on #881
The changes for 880 fix this too. It would be helpful to include code snippets in some of these issues to verify I'm fixing what you are describing. I've simply fixed the scenarios I was able to recreate. All expected stuff because we hadn't gone into this area yet. I've extended the scheduled-tasks sample and the actuator-webmvc sample to cover these two issues.

[2021-07-03 09:41] sdeleuze opened #886 "Upgrade to Wavefront 2.2.0"

[2021-07-03 09:43] #886 closed

[2021-07-03 14:28] fishandsheep opened #887 "send request will interrupt the springweb application when use RestTemplate , message : Segmentation fault"
Hi ,  As the title I want to use RestTemplate in my program , I build a Spring Boot native application using the GraalVM native build tools  ,When i send request for binary program, The program is interrupted immediately with the info : Segmentation fault,

I create a web-demo still not working by spring.io use 2.5.2:

`
@RestController
@RequestMapping("/test")
public class TestController {

    @

[2021-07-03 14:32] fishandsheep commented on #887
I use wsl2 and my os is :

Distributor ID: Ubuntu
Description:    Ubuntu 20.04.2 LTS
Release:        20.04
Codename:       focal

[2021-07-04 04:37] aclement opened #888 "native test run for petclinic-jdbc does not respect test profile"
Running `mvn -Pnative test` in the `petclinic-jdbc` sample will fail because it doesn't pickup the `application-test.properties` file. This causes it to try and look for the mysql database and if you haven't started the docker container, it won't be there.

[2021-07-04 04:39] #888 closed

[2021-07-04 04:41] aclement commented on #888
The fix here is simply to make the `ActiveProfiles` annotation visible. It is this annotation with the value `test` in that is not found.  @ddobrin ^^

[2021-07-04 04:56] aclement commented on #764
After digging into #888 - I think some of the problem here may simply be that there is no type hint for `Profiles`, so I've added it. Working on a test case at the mo.

[2021-07-04 20:03] sdeleuze opened #889 "Document how to customize Logback configuration programmatically"
Workaround for #625

[2021-07-04 20:38] #889 closed

[2021-07-04 20:38] sdeleuze commented on #625
See #889 for a workaround.

[2021-07-04 20:50] sdeleuze commented on #885
I would suggest putting a breakpoint in `com.fasterxml.jackson.core.io.SerializedString` on the JVM to understand where it is used the first time. In your application, it is maybe used early (logging?) by a class that is itself initialized at build time. Please share a repro to allow us to move forward.

[2021-07-04 20:51] sdeleuze commented on #887
Please send a sample project that will allow us to reproduce this issue.

[2021-07-05 02:20] fishandsheep commented on #887
My demo is here [https://github.com/fishandsheep/spring-native-demo/tree/master](spring-native-demo) and my detailed steps is in README.md.
I hope I didn't waste your precious time.
Thanks

[2021-07-05 06:12] yschimke commented on #625
https://github.com/spring-projects-experimental/spring-native/commit/a9e661b4104a93c02cb8203f4422e082ad22f365 assume this feeds here https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#_application_failed_to_start_when_running_code_mvn_spring_boot_run_code eventually

[2021-07-05 08:22] sdeleuze commented on #887
I have indeed been able to produce this issue, and I was able to get more details with a dev build of GraalVM. Please create an issue in https://github.com/oracle/graal/issues with the segfault below, a link to your repro project and asking them to tag it with the `spring` label. Please then comment here with the GraalVM issue link. Thanks.

[code]

[2021-07-05 08:22] #887 closed

[2021-07-05 08:33] sdeleuze commented on #884
I followed exactly those steps, reused you `pom.xml` and can't reproduce. I am on Linux x64, what is your platform?

[2021-07-05 08:34] sdeleuze commented on #882
@christophstrobl @schauder Could you please remind me the status of Spring Data Audit support?

[2021-07-05 08:46] schauder commented on #882
This was fixed by #794 which went on `main` just *after* the release of 10.1.

Therefore I think we can close this as a duplicate.

[2021-07-05 09:06] sdeleuze commented on #873
I can reproduce it with `-no-daemon`, and I can't reproduce on https://github.com/graalvm/native-build-tools/tree/master/examples/gradle so that's likely something on our side. @bclozel Coul you please have to look to this one?

[2021-07-05 10:33] sdeleuze commented on #882
I tried the provided sample, upgrading to `0.10.2-SNAPSHOT` and adding `spring-aspect` dependency, but it fails with the following error:

[code]
Could you please have a look?

[2021-07-05 10:46] sdeleuze commented on #860
Indeed, there is following error with `0.10.2-SNAPSHOT`:

[code]

@christophstrobl @schauder Could you please have a look?

[2021-07-05 10:48] schauder commented on #882
I noticed #794 was only for JDBC, this is about JPA. I'll work on a PR for all Spring Data Modules.

[2021-07-05 11:13] sdeleuze commented on #838
This error is due to the `logback-test.xml` file, please remove it since it is not supported yet. I think for now we should focus on running the app via `./mvnw clean -Pnative -DskipTests package` since your tests are using Mockito and other unsupported testing libraries.

[2021-07-05 11:45] sdeleuze commented on #838
Works with additional hints which are IMO specific to your application.

[code]

[2021-07-05 11:45] #838 closed

[2021-07-05 11:47] sdeleuze commented on #816
@olegz @sobychacko Could you please have a look to this one?

[2021-07-06 00:00] aclement commented on #854
PR is merged

[2021-07-06 00:00] #854 closed

[2021-07-06 02:03] aclement commented on #805
A key thing to recognize here is that the JVM operation of the application breaks once the `spring-native` dependency is included, don't have to even attempt building a native image. That is because it contains a `spring.factories` file that pulls in the `NativeListener`:
[code]
The `setProperty` call there breaks the appearance of the `tomcat_threads_config_max_threads` entry. If I comment out th

[2021-07-06 03:17] leorric commented on #884
Hi @sdeleuze , I am on Windows 10 x64.

[2021-07-06 06:53] spring-projects-issues commented on #846
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-07-06 06:53] #846 closed

[2021-07-06 07:09] christophstrobl opened #890 "Enhance TypeSystem to support scanning dedicated directories/archives"
The `TypeSystem` should be allowed to scan for directories/archives not necessarily being part of the `target` to allow computing additional configuration.

[code]

Things to consider:
- configuration options
- memory consumption for scan the world scenarios
- stream vs. collection usage
- `TypeProcessor` integration

[2021-07-06 09:44] sdeleuze commented on #625
See https://docs.spring.io/spring-native/docs/current-SNAPSHOT/reference/htmlsingle/#logback-workaround/

[2021-07-06 09:49] sdeleuze commented on #764
@nfrankel Could you please do more tests with `0.10.2-SNAPSHOT`?

[2021-07-06 09:56] sdeleuze commented on #884
On Windows, make sure to use x64 Native Tools Command Prompt, as recommended in the [GraalVM native-image prerequisites](https://www.graalvm.org/reference-manual/native-image/#prerequisites). Did you use that? If not, please do.

[2021-07-06 12:12] SSilence commented on #863
I've a slow JPA an HikariPool startup. The Tomcat starts within few milliseconds but HIkariPool and Hibernatesetup needs more than 1 second. I'm using `docker run --rm -p 8080:8080 myapplication:0.0.1-SNAPSHOT`

I'm using Mac OS.

Example Startup:
[code]

Any idea how I can speed up the startup?

Thanks a lot to all devs for this awesome project!!

[2021-07-06 13:13] ChinthamVeera commented on #460
Caused by: java.lang.IllegalArgumentException: Validation failed for query for method public abstract app.main.model.Bar app.main.model.FooRepository.getBarByValue(java.lang.Long)!

I am getting this issues. what i need to do pls help.

[2021-07-06 16:11] AlSherif opened #893 "Class proxy missing at runtime, hint required at build time: @AotProxyHint"
Setup:
Spring Boot 2.5.2
Spring Native: 0.10.1
spring-aot-maven-plugin: 0.10.1
native-maven-plugin: 0.9.0
buildArgs:
`                --verbose
                --enable-http
                --enable-https
                --trace-object-instantiation=sun.nio.ch.Iocp
                --initialize-at-build-time=org.apache.commons.logging.impl.SLF4JLocationAwareLog
                --trace-object-instan

[2021-07-06 17:01] aclement commented on #764
Alright, I can try specifically on that pet clinic rest sample. I've been unable to create a profile problem with my playing around (doesn't mean there isn't one, I just can't in a simple case). @nfrankel do you by any chance have a fork of how far you've gotten it?

[2021-07-06 17:07] nfrankel commented on #764
Sure ﻿﻿﻿https://github.com/nfrankel/spring-petclinic-rest/tree/native

Thanks for your help

[2021-07-06 20:19] phejl commented on #873
Yeah, sorry for late response. Was reproducible even with --no-daemon.

[2021-07-07 06:07] goafabric commented on #777
Thank you everybody for the work

[2021-07-07 06:50] sdeleuze commented on #805
@shakuzen cc @markt-asf This probably needs to be fixed on Tomcat side where [the MBean registry is disabled on native](https://github.com/apache/tomcat/blob/main/java/org/apache/tomcat/util/modeler/Registry.java#L139-L143):

[code]

This is probably a too aggressive optimization or something which was done when MBeans support was broken on native. It would be nice to keep to possibility to disabl

[2021-07-07 06:50] #805 closed

[2021-07-07 07:04] leorric commented on #884
Thanks for the advice. I tried x64 Native Tools Command Prompt, but still no luck. My Visual Studio version is 15.9.28307.1401
See attached.

[2021-07-07 07:04] leorric commented on #884
![x64 native](https://user-images.githubusercontent.com/7741697/124714655-9b327200-df34-11eb-8222-0b0e35c85979.PNG)

[2021-07-07 09:17] sdeleuze commented on #884
After more thoughts, my advice was not relevant since here you are using Buildpacks which executes `native-image` in a container not on your machine.

I made myself a test on Windows following exactly what you described and I can't reproduce the issue. If that matters, here is my  Windows system:
 - Windows 10 Professional 20H2
 - Docker version 20.10.5 with WSL2 based engine
 - OpenJDK 11.0.10

@

[2021-07-07 09:22] sdeleuze commented on #893
Please provide a repro project.

[2021-07-07 09:23] sdeleuze commented on #460
Please create a new issue with a repro project if you need more help on that.

[2021-07-07 09:29] sdeleuze commented on #863
@SSilence When working with Hibernate using `spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false` and `spring.datasource.initialization-mode=never` can prevent database access at startup.

@schauder @christophstrobl Potentially a question that does not make sense since I lack of knowledge here, but would that make sense to consider changing `spring.jpa.properties.hibernate.temp.u

[2021-07-07 09:33] sdeleuze commented on #872
Sorry I missed that one, yes `@TypeHint(options = ...)` is probably the best way to configure that since that will work for a wide range of use cases (Gradle and Maven, Buildpacks and Native build tools).

[2021-07-07 09:39] sdeleuze commented on #803
I would suggest to add native testing to https://github.com/apache/freemarker via https://github.com/graalvm/native-build-tools/ and craft native reflection config with the help of the [tracing agent](https://www.graalvm.org/reference-manual/native-image/BuildConfiguration/#assisted-configuration-of-native-image-builds).

[2021-07-07 09:52] sdeleuze commented on #427
@schauder is already working on this so no need for additional issue.

[2021-07-07 10:26] AlSherif commented on #893
I will try to create one.

In general the documentation for the native hints still seems to be lacking a bit.

I have a class RequestDataStoreImpl annotated with
`@Scope(scopeName = "request", proxyMode = ScopedProxyMode.TARGET_CLASS)`

What is the correct approach to identify the correct native hint and parameters?

[2021-07-07 10:51] AlSherif commented on #893
And another question if I use
[code]
Do the native hints still get evaluated and merged with the configuration files generated by the tracing agent?

[2021-07-07 15:36] aclement commented on #764
I actually took `Profile.class` out again of our hints because I couldn't create a test case that didn't infer it automatically. However, this project is one of those cases :) So, I have added it back.

Without Profile in a hint the app fails in the way described. With Profile, it doesn't fail with that, it fails with something else. I think it is missing a bunch of config for other things (spring

[2021-07-07 16:59] ozkanpakdil commented on #803
I check https://github.com/apache/freemarker and I saw it uses ant. anyway tried to build in my local it failed, then I decided to test with quarkus.https://github.com/ozkanpakdil/quarkus-examples/tree/master/freemarker this is the example project and I build native and run it in my local
[code]
when I check the dependencies I see org freemarker 2.3.31

![image](https://user-images.githubuserconte

[2021-07-07 18:23] dmikusa-pivotal commented on #884
@leorric - Can you re-run Maven with the `-e` flag? and attach the output.

I have had some luck with that providing a more detailed/helpful error message.

It doesn't seem like it's gotten to the point of running buildpacks, so possibly the digest error is in reference to pulling another image, like the run image.

You might also try removing this bit:

[code]

It's not strictly necessary because

[2021-07-07 22:00] dsyer opened #896 "Add support for configurable main class in aot plugins"
[code]

[2021-07-07 22:12] ttddyy commented on #896
FYI: related stacktrace

[code]

[2021-07-08 00:00] aclement commented on #842
Not going to get to this in 0.10.2 - likely unnecessary with 0.11 re-architecture?

[2021-07-08 07:20] nfrankel commented on #764
I'm a bit confused: should I do something, or is it on your side?

[2021-07-08 07:47] leorric commented on #884
Hi @dmikusa-pivotal , thanks for the quick reply.  I have run mvn with -e , the output is as following.

Also tried removing <buildpacks> attribute , it is still failing...

[2021-07-08 09:33] sdeleuze commented on #884
Looks like the stacktrace points to Spring Boot Buildpacks support -> `org.springframework.boot.buildpack.platform.docker.DockerApi$DigestCaptureUpdateListener.getCapturedDigest (DockerApi.java:447)`.

@leorric Could you please share what is your Windows version, Docker version and if you have enabled the WSL2 based engine?

[2021-07-08 09:35] sdeleuze commented on #842
Yes let's close it then.

[2021-07-08 09:40] sdeleuze commented on #803
Spring configuration for Freemarker is 1 or 2 missing hints, not a big deal, but what requires more work is Freemarker native support, which should not be reimplemented in each framework supporting GraalVM native IMO. We will provide clearer guidance on how to do that later this year.

[2021-07-08 09:47] sdeleuze commented on #893
For scope I will let @aclement answer.

For the tracing agent, yes both configs are taken in account.

[2021-07-08 15:18] aclement commented on #764
No, you don't need to do anything. The hints for the Profile/ActiveProfiles are built in now (0.10.2 snapshots). Your app can start without the error in the first comment of this issue. However, the app has other issues because we don't have defined configuration for all those other libraries.

[2021-07-08 15:26] nfrankel commented on #764
Perfect

Yes, I started to configure those libraries

Thanks for your help!

[2021-07-08 15:31] leorric commented on #884
Finally the problem is solved. It turns out I missed one important step - enable wsl2 for Windows 10.

To summarize what I did:
1. Enable wsl2 for Windows 10 following this  https://docs.microsoft.com/en-us/windows/wsl/install-win10.
2. Reinstall Docker desktop to ensure step 1 is done before installing docker desktop.

After above steps are done, I tried `mvn spring-boot : build-image`, this time

[2021-07-08 21:43] aclement commented on #893
It is certainly lacking around what to place in the `AotProxyHint`s, due to the intricacies/subteties of how the runtime determines what kinds of proxy to create. The absolute simplest way to work out what AotProxyHints you need is to exercise that runtime code by building and launching a native-image - if they are missing you will be told exactly what they should be (as you found in the original

[2021-07-09 03:08] winer632 opened #898 "Failed to execute goal org.springframework.experimental:spring-aot-maven-plugin:0.10.1:test-generate (test-generate) on project"
_<dependency>
            <groupId>org.springframework.experimental</groupId>
            <artifactId>spring-native</artifactId>
            <version>0.10.1</version>
</dependency>_

_<properties>
        <java.version>1.8</java.version>
        <spring-could-dependencies.version>2020.0.3</spring-could-dependencies.version>
        <spring-boot-dependencies.version>2.5.2</spring-boot-dependencies.

[2021-07-09 07:00] winer632 commented on #898
You can use this demo project for debug.

[2021-07-09 07:08] ttddyy commented on #898
Hi @winer632

I see there is a warning in the log - `The requested profile "native" could not activated because it does not exist`.

I suspect your `pom.xml` is probably not setup correctly.
I recommend creating a sample project from https://start.spring.io and compare with your `pom.xml`.

[2021-07-09 08:00] ttddyy commented on #898
@winer632 you need to upgrade `maven-compiler-plugin` to the newer version. e.g. `3.8.1` and also specify appropriate java compiler version (e.g. `8`, `11`).

[2021-07-09 15:41] #890 closed

[2021-07-10 03:03] winer632 commented on #898
After an upgrade of maven-compiler-plugin to the newer version. e.g. 3.8.1 and specify appropriate java compiler version to 8, I got the following error.

I also update the demo project so the link is still valid to explain this change. https://drive.google.com/drive/folders/1FbjN-URNJtTiGKdQG3MXQKGbKiEuW_Ys?usp=sharing

I can compile and run the sample project on my MAC successfully following the

[2021-07-10 05:43] ttddyy commented on #898
Log4j2 is not supported yet.
You could track https://github.com/spring-projects-experimental/spring-native/issues/115

[2021-07-10 14:21] winer632 commented on #898
I removed Log4j2 dependency from pom.xml but still got error.
You can refer to my newly modified demo project.
https://drive.google.com/drive/folders/1PbcxU6_GpsVrFoMlsCqcAzd0eKaVZY1r?usp=sharing

amework/cloud/spring-cloud-starter-loadbalancer/3.0.3/spring-cloud-starter-loadbalancer-3.0.3.jar)
[INFO] ImageClasspath Entry: org.springframework.cloud:spring-cloud-loadbalancer:jar:3.0.3:compile (file

[2021-07-10 17:19] phejl commented on #869
@goafabric I'm not an expert but only thing I needed to do in my simple test case was to add TypeHint for the listener class. Sure it would be nicer if this was detected automatically. Just providing workaround and checking with you whether it is the same problem you observe.
Try to add `@NativeHint(types = @TypeHint(types = AuditJpaListener.class))` to your application class.

[2021-07-10 22:20] phejl commented on #869
I'll try to provide a fix.

[2021-07-11 05:59] ttddyy commented on #898
Seems related to this issue: https://github.com/netty/netty/issues/11369
When you encounter an error, please first research the error message by yourself.

[2021-07-11 07:20] goafabric commented on #869
Hi @phejl,
thanks for your support .. yes that might actually work .. in Quarkus you have to do something similar.
I just tried to avoid Typehints in general ,.. but i see that you also provided a fix ...

[2021-07-11 08:33] laurentforet opened #901 "Add JNIConfiguration make failed native packaging"
On a simple working web project, build with spring initializer with spring-native 0.10.1.

I try to add access to a native librairie with a java wrapper (https://jce.iaik.tugraz.at/products/core-crypto-toolkits/pkcs11-wrapper/) .

So I had in my project a `META-INF\native-images\{group-id}\{artifactid}\native-image.properties`  with the following line : 
[code]
And a simple `META-INF\native-images

[2021-07-11 08:40] laurentforet commented on #901
The complete log of the build [cps-native-build-failed.log](https://github.com/spring-projects-experimental/spring-native/files/6796580/cps-native-build-failed.log)

[2021-07-11 15:21] nfrankel commented on #764
I've just rebuilt the image using the latest snapshot:

[code]

I launch the application with profiles:

[code]

I now have another kind of error:

[code]

It seems I lack the reflection configuration for a Spring class (`ProfileCondition`)

[2021-07-11 20:53] spring-projects-issues commented on #885
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-07-12 01:16] winer632 commented on #898
May I know the roadmap of spring-native? When will these unsupported features be implemented?

[2021-07-12 04:53] aclement commented on #764
As I recall, the app lacks many many different kinds of configuration (and when one is missing they won't all present in an obvious way like that). It'll be slow going unless you use the agent to collect them (are you using it?)

We could probably add `ProfileCondition`, but it'd be good to have a small test case for the usage.  Are you just going to manually add it locally for now?

[2021-07-14 07:31] goafabric commented on #869
@phejl
do you also have an Idea for the not working ApplicationContextAware

[2021-07-14 09:33] spring-projects-issues commented on #863
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-07-14 12:23] schauder commented on #863
I have to admit I never before heard of this property. After some digging it seems simply setting the value to `false` might have some bad consequences.

From this [Stack Overflow question](https://stackoverflow.com/questions/10075081/hibernate-slow-to-acquire-postgres-connection):

* Identity generation doesn't work unless `hibernate.jdbc.use_get_generated_keys` is set to `true` as well.
* Anothe

[2021-07-14 17:15] markt-asf commented on #805
@sdeleuze
To be clear, you are asking for
[code]
to be replaced with
[code]
on the basis that Graal Native is now able to support JMX?

[2021-07-15 07:47] gozus19p opened #902 "How does Spring Native handle @ConfigurationProperties?"
Hi,

first of all, thanks for your great work on Spring Native.
I am not understanding resources handling. I searched a lot on the web, but I found no solution.

I configured a configuration class that reads prefixed properties from application.yaml file.

[code]

My `application.yaml` file:

[code]

I am using Gradle to build and run my native-image, using `gradle nativeRun --no-daemon` command f

[2021-07-15 12:00] vietanh85 opened #903 "Build failed during Spring AOT test code generation: Unexpected problem processing bytes for class: NullPointerException"
I followed this [guide](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#getting-started) to build native image but got this following error

[code]

My JDK version:
[code]

- spring  version: 2.5.2
- sparing-native version: 0.10.1

Can any one help me to solve this?

Full logs:
[code]

[2021-07-16 05:36] christophstrobl opened #904 "Add configuration for Spring Data custom converters."
Detect reading/writing converter, register those as resource, make sure the annotations do not get lost.
Still might require converters to be _beans_ to allow pickup via component scan, if so document the behaviour.

[2021-07-16 10:53] SSilence commented on #863
Thanks a lot for the response and the workaround. I have tested the both parameters.

* ```spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false```: Startup failes because of Schema-validation error (missing table [myentity]).

[code]

* ```spring.datasource.initialization-mode=never```: This option seems to be deprecated. This option has no effect and startup needs anyway a few se

[2021-07-17 09:20] ttddyy commented on #901
Hi @laurentforet

I haven't used JNI but looking at the code:

First, in `native-image.properties` file, there is a typo. `Arg` should be `Args`. So, your configuration is not taken into account. However, since `jni-config.json` is the default name of the file, regardless of your `native-image.properties` file, the actual `META-INF/.../jni-config.json` should be picked up.

I am not sure about thi

[2021-07-18 02:01] WangZemin0816 opened #905 "JavaFx not work with spring native"
OS: windows11

The build exe of spring native run failed.

Jul 18, 2021 9:59:48 AM com.sun.javafx.application.PlatformImpl startup
WARNING: Unsupported JavaFX configuration: classes were loaded from 'unnamed module @e1c34d2'
Graphics Device initialization failed for :  d3d, sw
Error initializing QuantumRenderer: no suitable pipeline found
java.lang.RuntimeException: java.lang.RuntimeException: Err

[2021-07-18 08:51] ttddyy commented on #903
Hi,

Without repro project, I think it's difficult to get the real reason but based on the stack trace, I think [in `ConstantPoolScanner`, handling superclassname with `cpdata`](https://github.com/spring-projects-experimental/spring-native/blob/0.10.1/spring-aot/src/main/java/org/springframework/nativex/type/ConstantPoolScanner.java#L175-L190) is missing the case for `index=0`.

According to the [

[2021-07-18 17:19] kewats commented on #885
I haven't been able to spend time on carving out a standalone repro for this issue. I will close this issue for now and reach out for help in future when I am able to get back to this. Thanks for your help!

[2021-07-18 17:19] #885 closed

[2021-07-19 06:59] sdeleuze opened #906 "Upgrade to Spring Boot 2.5.3"

[2021-07-19 15:34] sdeleuze commented on #905
That's probably something to raise on GraalVM side, maybe in https://github.com/oracle/graal/issues/403.

[2021-07-19 15:34] #905 closed

[2021-07-19 15:36] #860 closed

[2021-07-19 15:36] #882 closed

[2021-07-19 15:45] sdeleuze commented on #893
@AlSherif Could you please share an updated status and a repro project if needed?

[2021-07-19 15:47] sdeleuze commented on #901
@ttddyy Thanks for your help on qualifying this issue.

@laurentforet Based on the discussion above, it seems I can close this issue. Please comment if that's not the case.

[2021-07-19 15:47] #901 closed

[2021-07-20 06:51] leorric commented on #884
Please close it as it is resolved.

[2021-07-20 08:52] sdeleuze commented on #386
The first bits have been introduced in https://github.com/spring-projects-experimental/spring-native/tree/0.11.x with the AOT generation of a `ContextBootstrap` which looks like that:

[code]
I will create more fine grained issues to track our progresses.

[2021-07-20 09:01] sdeleuze opened #908 "Support Java 11 for ContextBootstrap generation"
Currently building `0.11.x` branch with Java 11 throws this kind of error:

[code]

It is visible when running the root `build.sh` when the `it` sample is built for testing the Maven plugin.

[2021-07-20 09:08] sdeleuze opened #909 "Perform AOT processing for autowired fields and setters"
`AutowiredAnnotationBeanPostProcessor` was disabled via https://github.com/spring-projects-experimental/spring-native/commit/16b62d5652ff508d8378d2671c875653d32bccd2 because it was using reflection on all the autoconfigurations which defeats the purpose of this branch in term of efficiency.

After discussion with @bclozel and @jhoeller, it seems we'd have to perform the scanning part at AOT level,

[2021-07-20 09:13] sdeleuze opened #910 "Perform AOT processing for event listeners"
Event listeners beans defined in `AnnotationConfigUtils` were disabled via 16b62d5 because it was using reflection on all the autoconfigurations which defeats the purpose of `0.11.x` branch in term of efficiency.

After discussion with @bclozel and @jhoeller, it seems we'd have to perform the scanning part at AOT level, and generate the code that will perform the injection at runtime.

For `@Event

[2021-07-20 09:18] sdeleuze opened #911 "Add AOT processing for ApplicationContexts used in tests"
That would allow to support the `*-agent` samples.

[2021-07-20 09:28] sdeleuze opened #912 "Merge native-next mode behavior into native mode"
I don't think it is worth maintaining both `native` and `native-next` modes in parallel. Maintaining hints is already a challenge and it will be even more with 2 different variants. Also we need to use this opportunity to simplify our code base and not add more complexity. `0.10.x` development is almost frozen and we can rebase `0.11.x` branch on top of `main` as of `0.10.2` is released. We could

[2021-07-20 09:30] sdeleuze commented on #911
It probably makes sense to wait for #912 to be fixed to work on this one.

[2021-07-20 09:39] sdeleuze commented on #908
We could potentially need the help of @wilkinsona for this one.

[2021-07-20 14:27] #896 closed

[2021-07-20 16:01] sdeleuze opened #913 "Rename ContextBootstrap to ContextBootstrapInitializer"

[2021-07-20 17:57] cnolte opened #914 "Support Spring GraphQL"
I know spring graphql is still experimental. But are there any plans to support it?

[2021-07-20 18:56] snicoll commented on #910
I already have a prototype for this.

[2021-07-21 05:27] ch4mpy opened #915 "Useful `multi-module` sample"
I'm facing issues packaging a multi-module application. I followed `multi-module` sample but have issues with components from lib modules not being packaged in fat-jar nor native app.

What works: the app starts from my IDE and with `mvn spring-boot:run`.

What doesn't: `java -jar target/app-0.0.1-SNAPSHOT.jar` and `docker run --rm -p 8080:8080 app:0.0.1-SNAPSHOT`

What I'd like from `multi-module

[2021-07-21 05:47] ch4mpy commented on #915
Actually, I updated the sample as mentioned and ... it works. I'll propose a PR tomorrow with enrichment once I have written tests.

[2021-07-21 08:20] bclozel commented on #915
Alright thanks, we'll discuss the changes on your PR.
Note that this sample is really about build configuration and it's not meant to be a canonical example of a multi-module Spring application.

[2021-07-21 08:20] #915 closed

[2021-07-21 08:32] #664 closed

[2021-07-21 08:44] sdeleuze opened #917 "Upgrade to native build tools 0.9.3"
See the [0.9.2 release notes](https://github.com/graalvm/native-build-tools/releases/tag/0.9.2) for more details.

[2021-07-21 10:06] sdeleuze commented on #917
We can't upgrade to 0.9.2 due to https://github.com/graalvm/native-build-tools/issues/108.

[2021-07-21 12:13] #904 closed

[2021-07-21 13:45] sdeleuze commented on #914
Yes, I have added to the backlog, just we are working on other priorities right now.

[2021-07-21 13:46] #868 closed

[2021-07-21 13:46] #861 closed

[2021-07-21 19:55] aclement commented on #502
There are very few of these warnings now with 0.11 but until 0.11 is further along with the AOT infra all done and all samples passing I won't claim success. Right now for commandlinerunner there are 6 of these remaining related to AOP, and 10 for webmvc-tomcat.

[2021-07-21 22:35] aclement commented on #502
I rewrote `AOPHints` and now `commandlinerunner` and `webmvc-tomcat` run with no warnings, but it is pretty certain other samples will trigger warnings once we are able to run them.

[2021-07-22 02:26] hoangvantu opened #919 "Problem when add JNA library"
I builded success.
But when run exe
problem JNA: Problems loading core IDs: java.lang.Object
I used Pom with config spring-aot with config native-agent

		<plugins>
			<plugin>
				<groupId>org.springframework.experimental</groupId>
				<artifactId>spring-aot-maven-plugin</artifactId>
				<version>${spring-native.version}</version>
				<executions>
					<execution>
						<id>test-generate</id>

[2021-07-22 03:09] hoangvantu opened #920 "Error when build with add dependency selenium"
The command line is too long.

Error:   The command line is too long.

[2021-07-22 05:08] aclement commented on #912
It's merged and native-next is gone (there is a little more tidy up to do as we go). `commandlinerunner` and `webmvc-tomcat` are working, although I am quite nervous how things will shake down as more samples are brought online but let's see what happens.

Difference in lines in reflect-config.json between 0.10 and 0.11:
`commandlinerunner` was 1236, now 505 (can be lower if property reflection en

[2021-07-22 07:24] sdeleuze commented on #920
For now we focus on what is provided on https://start.spring.io/, also be aware that we will provide guidance toward the end of the year for adding support for external dependencies like that.

[2021-07-22 07:24] #920 closed

[2021-07-22 07:26] sdeleuze commented on #919
Hi, GraalVM native does not provide support for JNA as stated [here](https://github.com/oracle/graal/issues/673#issuecomment-583413789) so I close this issue.

[2021-07-22 07:26] #919 closed

[2021-07-22 09:25] #870 closed

[2021-07-22 09:30] sdeleuze commented on #912
Thanks Andy, great results! Other samples will be challenging for sure but that's the right path IMO also we will probably start using extension points in the new AOT mechanism as discussed with @bclozel and @snicoll.

[2021-07-22 09:30] #912 closed

[2021-07-22 14:40] bclozel commented on #873
I've looked into this problem and I've found a major problem between our own `org.springframework.experimental.aot` plugin and the `org.graalvm.buildtools.native` plugin.

With its 0.9.1 version, `org.graalvm.buildtools.native` will use the main and test sourceset classpath.
On our side, our plugin is generating, compiling sources and configuring the project like this:
* test aot sources are compi

[2021-07-22 14:58] #873 closed

[2021-07-22 15:07] bclozel opened #922 "Revisit generated sources contribution in Gradle plugin"
As underlined in #873, the AOT Gradle plugin currently operates in a way that the native GraalVM plugin cannot know about sources and resources contributed during the AOT generation phase. Our plugin is currently manually adding those to the `bootRun` and `bootJar` tasks, as we've initially considered a tight coupling between this plugin and the Spring Boot Gradle plugin.

This issue should be con

[2021-07-22 15:18] #906 closed

[2021-07-23 03:35] leorric opened #923 "Failed to build image with error because of "open /workspace/WEB-INF/classpath.idx: no such file or directory""
Recently I successfully built the image of sample project mentioned in [Spring Native documentation](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#overview).

Then I tried to build the native image for my own project and this time the build fails with such information "open /workspace/WEB-INF/classpath.idx: no such file or directory".

Here is the log snippet

[2021-07-23 03:37] leorric opened #924 "Failed to build image with error "Builder lifecycle 'creator' failed with status code 145"
Recently I successfully built the image of sample project mentioned in [Spring Native documentation](https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/#overview).

Then I tried to build the native image for my own project and this time the build fails. I noticed there are information like  "open /workspace/WEB-INF/classpath.idx: no such file or directory". Maybe this is the re