[2020-09-17 07:49] mbarbeaux opened #284 "Deploy function-aws using native zip"
Hi,

I tried to deploy the function-aws sample to my AWS account as a native Lambda function, but couldn't make it work correctly.
So that's what I tried to do :

- I cloned the master branch of this repository
- I installed GraalVM 20.2.0 java 11, installed native-image and maven 3.6.3
- I followed the README to native compile the function-aws project with my computer running on Ubuntu 20.04 64bi

[2020-09-17 08:29] itzikiusa opened #285 "Spring cloud config example - unable to find entry point"
Hi, tried to run the example of 'cloud' from samples module
getting the following error(graal 2.2.0 install) both when running from the IDE and both from build script:
[code]

[2020-09-17 09:21] #254 closed

[2020-09-17 11:07] christophstrobl opened #286 "spring.xml.ignore=false causes NullPointerException in TypeSystem"
Adding the `-Dpring.xml.ignore=false` causes a NPE in `o.s.graalvm.type.TypeSystem.findActiveDefaultHints(TypeSystem.java:679)` at build time.

Without the flag xml support is disabled, which leads to an `UnsupportedOperationException: XML support disabled` on startup.

Sample Project: [spring-graalvm-native-samples/data-rest](https://github.com/christophstrobl/spring-graalvm-native/tree/issue/192

[2020-09-17 12:52] sdeleuze opened #288 "InternalResourceView error with 0.8.1-SNAPSHOT on petclinic-jpa homepage"
[code]

[2020-09-17 13:14] efrengarcial opened #289 "Security example with @EnableGlobalMethodSecurity causes java.io.FileNotFoundException"
hi,

I have updated the "Security" example and added the annotation @EnableGlobalMethodSecurity  to the class WebSecurityConfig:

Sample Project: spring-graalvm-native-samples/security

[code]

But it fails at the moment of running the application, Full Stack Trace:

[code]
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment GraalVM CE 20.3.0-dev (build 11.0.8+10-jvmci-20.2-b03)
OpenJD

[2020-09-17 19:21] #286 closed

[2020-09-17 19:22] aclement commented on #286
Fixed

[2020-09-17 20:14] aclement commented on #288
Fixed. Although why this is now required config, hmmm...

[2020-09-17 20:14] #288 closed

[2020-09-17 20:15] aclement commented on #281
Fixed. Although why this is now required config, hmmm...

[2020-09-17 20:15] #281 closed

[2020-09-17 20:37] aclement commented on #285
I just tried it:
[code]
which OS are you on? Are you building it `build.sh` when you say scripts?

Does the base project build fine for you? `mvn clean package` since that produces the built artifact (with the application class in) that the scripts will dismantle. `mvn spring-boot:build-image` also worked for me to create a docker image.

[2020-09-17 20:41] aclement commented on #260
I guess this code is in now - there was one quirk that needed fixing for Christoph.

[2020-09-17 20:41] #260 closed

[2020-09-18 08:20] mbarbeaux commented on #284
I installed docker on my Linux machine, tried to execute the native executable under an Amazonlinux container and the spring boot app runned flawlessly.
So I assume there's something wrong in my AWS lambda creation.

Could you provide a more descriptive way to create the correct lambda to upload the native zip and make it work ?

[2020-09-18 08:20] itzikiusa commented on #285
Ubuntu 16.4
Graalvm 20.2.0
Java 8

[2020-09-18 08:53] dsyer opened #290 "Make LogLevel reflection config available conditionally in functional mode"
It's a mystery (to me) why it isn't needed in reflection mode, but we need `LogLevel` to be reflectable so that users can set `logging.level.*` configuration and have it behave compatibly. I added a `LogLevelHints` but there's no way currently to make it only work in functional mode.

[2020-09-18 09:34] emedina opened #291 "Error creating native image: Invalid path entry [target\native-image-maven-plugin\20.2.0\windows-amd64]"
I am trying to use the Maven plugin to generate a native image following the documentation, but I always get the following error:

[code]

I am using latest `20.2.0` plugin and also JDK `openjdk1.8.0_252-jvmci-20.1-b02-fastdebug` with latest Spring Boot `2.4.0-M3`.

My Maven options are:

[code]

[2020-09-18 09:39] emedina commented on #291
Attaching a ZIP file with the same project --> https://filebin.net/7n92474no5622rw1/graalvm-demo.zip?t=r536u2rf

[2020-09-18 10:39] sdeleuze commented on #247
See related #289 issue.

[2020-09-18 10:40] #252 closed

[2020-09-18 10:46] sdeleuze commented on #285
@itzikiusa Could you please provide the output of `native-image --version`, `build.sh` and `mvn spring-boot:build-image`?

[2020-09-18 11:27] dsyer commented on #284
Something changed in AWS/GraalVM. This looks relevant: https://github.com/oracle/graal/issues/841. From what I can tell AWS *needs* a terminator (to handle SIGTERM), but it doesn't provide the system call in its kernel that GraalVM native image is expecting when you build on Ubuntu. We might have to ask the GraalVM team to look into this.

[2020-09-18 11:43] mbarbeaux commented on #284
Hi @dsyer,

Thanks for your reply. I also found this ticket few hours ago, but is it really the same thing ? The ticket was open in 2018.
I assume that the "function-aws" sample provided in this repository was working correctly in AWS some time in the near past, because if not, I do not see any reason to get it listed in a serie of samples and tutorials.

I also remember Quarkus have their own Gra

[2020-09-18 12:01] dsyer commented on #284
I don't know. It looks like the same issue to me though. If you take the terminator out (by manually removing it from spring-graalvm-feature) the function fails in a different way in AWS because it cannot be terminated. Where did you find the "Amzonlinux container" you mentioned above?

[2020-09-18 12:05] sdeleuze commented on #284
For the record, we currently enable `--install-exit-handlers` via https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native/src/main/resources/META-INF/native-image/org.springframework.experimental/spring-graalvm-native/native-image.properties.

There is currently no way to disable it but if you want to make a test, close `spring-graalvm-native`, remov

[2020-09-18 12:07] dsyer commented on #284
That's what I tried. It fails in AWS because Lambda needs to terminate the app and cannot.

[code]

[2020-09-18 12:15] dsyer commented on #284
Looks like it might be fixed in GraalVM 20.3: https://github.com/oracle/graal/issues/2742. I'll see if I can verify.

[2020-09-18 12:28] mbarbeaux commented on #284
I simply used the Docker image Amazon provides to the community.
https://hub.docker.com/_/amazonlinux

I started the container, uploaded the native executable into its /root directory, and executed it inside the container.
The Spring Boot app started without any problems.

[2020-09-18 12:31] mbarbeaux commented on #284
That looks like more to the stacktrace I got in the first place in my lambda !
I'll check that if I can put a hand on a GraalVM 20.3 build somewhere.

[2020-09-18 12:32] dsyer commented on #284
I see the same. So that tends to suggest that amazonlinux is not the same container image used in Lambda custom runtime.

`docker pull springci/spring-graalvm-native:master-java8`

[2020-09-18 12:53] mbarbeaux commented on #284
Thanks !
So I just tried it, the lambda now seems to execute, but I have a surprising result.

I just tested it with a test event only containing "This is madness", but in the lambda logs, I saw hundreds of message "Hi This is madness" as if the lambda was stuck in a infinite loop or something like that.
It eventually went crashing 3s later with an Out Of Memory error (I set the lambda to allocate

[2020-09-18 12:55] dsyer commented on #284
That's the same as me (I posted the logs in a comment above, omitting the long list of `Hi: "foo"`). Not sure why this is the case, since it works locally, and the tests are green. I'm going to look at it with @olegz.

[2020-09-18 13:16] dsyer commented on #284
Here's what you get with debug logging:

[code]

So probably we need to fix that in Spring Cloud Function.

[2020-09-18 14:46] dsyer commented on #284
We found the bug in Spring Cloud Function: https://github.com/spring-cloud/spring-cloud-function/issues/588

[2020-09-18 14:56] mbarbeaux commented on #284
Great to hear !
I'll try with a simple POJO then and go back to you with the result :)

[2020-09-18 15:42] aclement commented on #270
First big pass done - image sizes down by ~5Meg, RSS down 4Meg on actuator-webmvc. This is with a more sophisticated verify.sh script that actually exercises endpoints.

[2020-09-18 15:44] aclement commented on #270
Other enhancements are baking, but will take a while to sort out.

[2020-09-18 17:14] dsyer commented on #284
There's a fix in Spring Cloud Function now. The string->string function should be working again.

[2020-09-18 17:15] #284 closed

[2020-09-18 17:52] itzikiusa commented on #285
@sdeleuze
@aclement
just cloned the repo and ran the build.sh
[code]

[2020-09-18 17:56] itzikiusa commented on #285
this is when trying to run via mvn build
[code]

[2020-09-18 19:31] sendev1 commented on #273
Thanks for the comment. side tracked for some other issue for a week or so. Back to Graalvm work now.  I created issue to cxf to get some help.

[2020-09-18 19:32] sendev1 commented on #261
I raised error with GraalVM on this. thanks

[2020-09-18 19:32] #261 closed

[2020-09-18 19:35] sendev1 commented on #244
finally I figured out that the order for loading securitu provider and using cipher should be as below.

1. use the cipher to decrypt the password in the setter
2. then call EnvironmentConfigurer to load the providers.

I achived this by using @Dependson. It took quite a long time to figure it out. Thanks for your help @aclement

[2020-09-18 19:35] #244 closed

[2020-09-18 19:54] mbarbeaux commented on #284
Thanks, the function-aws sample works correctly now on AWS using GraalVM master branch and the fix on Spring cloud function !

[2020-09-19 15:47] emedina opened #293 "Cloud sample not working"
I am trying to generate the native image from the `cloud` sample, but I always run into this error:

[code]

[2020-09-21 06:53] sdeleuze opened #294 "Adapt to LoggingSystem latest changes"
See spring-projects/spring-boot#23387 and the related commit https://github.com/spring-projects/spring-boot/commit/8f5959ba1d036ce54357a871aabdb6af8999db8e.

[2020-09-21 11:57] sdeleuze commented on #270
Ok so I guess we can close this one for `0.8.1` and tackle more long term ones via #259, thanks for working on this @aclement.

[2020-09-21 11:57] #270 closed

[2020-09-21 12:19] sdeleuze commented on #293
I have just tested it and it seems to work on `master`, maybe it was someting we fixed since.

[2020-09-21 12:19] #293 closed

[2020-09-21 13:48] sdeleuze commented on #262
`ConfigTreeConfigDataLocationResolver`, `ResourceConfigDataLocationResolver`, `ConfigTreeConfigDataLoader` and `ResourceConfigDataLoader` are package private so I move this issue to 0.8.2 in order to allow us and Spring Boot team to solve this. cc @philwebb

[2020-09-21 14:32] sdeleuze commented on #285
I tested locally and it works.

For `build-image` I see a strange `Execution default-cli of goal org.springframework.boot:spring-boot-maven-plugin:2.4.0-M3:build-image failed: No digest found -> [Help 1]` error.

For the script, please install Maven locally to avoid `mvn: command not found` or modify the script to use `./mvnw` instead of `mvn` and share the output.

[2020-09-21 15:07] sdeleuze opened #295 "Upgrade to Spring Cloud Function 3.1.0-M3"

[2020-09-21 16:36] itzikiusa commented on #285
just ran it again
seems to work now, cannot reproduce it :(

[2020-09-21 16:36] #285 closed

[2020-09-21 16:39] mraible opened #296 "Builder lifecycle 'creator' failed with status code 145"
Hello, I'm trying to use this project in a Spring Boot 2.4.0-M3 app. I created it using [HTTPie](https://httpie.org):

[code]

Then, I added a `HelloController`:

[code]

And, I configured it to be an OAuth 2.0 resource server by adding an issuer to `application.properties`:

[code]

I was able to validate everything works at this point:

[code]

To add "build native image support", I followed [th

[2020-09-21 17:26] mraible commented on #296
FWIW, I'm using Java 15 on macOS Catalina 10.15.6.

[code]

I tried removing the Okta Spring Boot starter and `@AuthenticationPrincipal` from `HelloController`, but it still fails.

I tried changing `<java.version>11</java.version>` to 15, but that fails too.

[code]

Question: is it possible to make things build faster if I install GraalVM locally? It seems to take a while to download stuff durin

[2020-09-21 17:46] mraible commented on #296
I tried configuring the Spring Boot Maven plugin according to [this project's docs](https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.0/spring-graalvm-native-docs-0.8.0.zip!/reference/index.html#_configure_the_maven_plugin).

[code]

The result is the same. 😞

[2020-09-21 18:37] mraible commented on #296
I should RTFM:

Reverting to Spring Boot 2.4.0-M2 solves the problem.

[2020-09-21 18:37] #296 closed

[2020-09-22 00:07] philwebb commented on #262
Fixed in https://github.com/spring-projects/spring-boot/issues/23434

[2020-09-22 13:24] juergenzimmermann opened #297 "InstantiationException is thrown when using Bean Validation"
I tried to use Spring Boot with Hibernate Validator which should work according to https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-docs/src/main/asciidoc/support.adoc
However, I get a stacktrace (see below) when I start the Docker container. A testcase is attached.

Just invoke `./gradlew bootBuildImage` and `docker run --publish 8080:8080 --

[2020-09-22 17:09] sdeleuze opened #298 "Consider @ConditionalOnProperty fixed at build-time by default and provide a way to opt-out"
One source of inefficiency is that we can't discard at build-time conditional code based on `@ConditionalOnProperty` in Spring Boot autoconfigurations because it could change at run time.

The purpose of this issue is to consider for native applications that all properties are fixed by default, and to provide a way for the user to specify what can change at runtime. We could maybe use clever defau

[2020-09-22 17:11] sdeleuze commented on #19
Duplicates #280.

[2020-09-22 17:11] #19 closed

[2020-09-22 17:12] sdeleuze commented on #280
We should probably use `wrk2-graph` and `psrecord`.

[2020-09-22 17:14] sdeleuze commented on #294
See also spring-projects/spring-boot#23434 and the related commit https://github.com/spring-projects/spring-boot/commit/0df37302af77c37a7d60da4b1fea0d9c9f4d2fd2.

[2020-09-23 09:45] sdeleuze opened #300 "Fix "Could not find class [RepositoryType]" error in data-neo4j sample"
We should fix this error about `org.springframework.boot.autoconfigure.data.RepositoryType` which is maybe a regression from recent refactoring cc @aclement @michael-simons.

[2020-09-23 12:34] sdeleuze opened #301 "Test and fix function-aws sample on the CI"
For now we have just added a `.ignore` file at the root of this sample to skip it.

We can potentially try rootless Docker https://bsideup.github.io/posts/rootless_docker/.

cc @dsyer

[2020-09-23 12:36] sdeleuze commented on #226
Maybe we could try rootless Docker https://bsideup.github.io/posts/rootless_docker/.

[2020-09-23 22:04] aclement commented on #298
As an experiment for now there is a `-Dspring.native.evaluate-cop=true` option which will check `@ ConditionalOnProperty` constraints at build time.  By itself this would do nothing for actuator because although properties do drive the activation of actuator endpoints, those properties are not checked by `ConditionalOnProperty` but instead by a custom condition. So, for now, these changes also inc

[2020-09-24 10:32] #295 closed

[2020-09-24 12:51] sdeleuze opened #302 "Use ModifiedClasspathExtension to improve flags test coverage"
See https://github.com/spring-projects/spring-boot/pull/22696

[2020-09-24 13:18] dsyer opened #303 "Support for hsqldb"
We have h2 working with the petclinic. It might help people to get started if hsqldb worked as well.

[2020-09-24 13:41] dsyer opened #304 "Support for binding to Duration in application.properties"
E.g. `spring.resources.cache.cachecontrol.max-age=12h` fails currently with:

[code]

[2020-09-24 13:54] dsyer commented on #304
This seems to work (`reflect-config.json`):

[code]

So maybe all we need it to add `allDeclaredFields=true` to `@ConfigurationProperties` bean classes that have `Duration` fields.

[2020-09-24 14:19] sdeleuze opened #305 "Upgrade to spring-init 0.2.0"

[2020-09-24 16:18] #305 closed

[2020-09-24 16:29] sdeleuze commented on #298
Nice one @aclement. Duplicating seems unavoidable for now if we want to move more condition processing to build time, but if we find the right balance maybe we could find some way to refactor Framework 6 / Boot 3 infra to allow build or run time evaluation with the same code path with no duplication.

[2020-09-24 16:31] #273 closed

[2020-09-24 17:08] aclement commented on #234
The NPE is fixed and my Postgres sample is working, so I think we're ok, please reopen if still an issue for you, my sample is possibly not representative of your situation.

[2020-09-24 17:08] #234 closed

[2020-09-25 06:48] sdeleuze opened #306 "Fix Tomcat native performance issue"
As found by @dsyer there is something really weird about Tomcat performance on native, and hat's likely a regression because previously observed performance were ok:
[code]
This issue is not present on the JVM nor with Netty on native.

[2020-09-25 06:56] dsyer commented on #306
This one is really weird because it only happens with Apache Bench. If I just do cURL in a tight loop it works fine. I can't see any obvious reason why.

[2020-09-25 06:59] dsyer opened #307 "Make webmvc-functional sample work with @SpringBootApplication"
Currently it uses `@ImportAutoConfiguration` to manually import a selected set of configs, but breaks on a full-bore auto configuration (the webflux version of the same sample would work fine).

[2020-09-25 07:00] dsyer commented on #307
I found I needed this (plus the custom binder and remove request mapping config at build time):

[code]

[2020-09-25 07:14] sdeleuze commented on #306
HTTP 1.0 support issue maybe since ab is using it?

[2020-09-25 07:25] dsyer commented on #306
I thought of that, but I tried with cURL and HTTP 1.0 and couldn’t reproduce.

[2020-09-25 07:28] dsyer commented on #307
There's still an issue with the /error endpoint in functional mode even with the above JSON.

[code]

[2020-09-25 07:28] sdeleuze commented on #306
Ok so maybe parallel request processing ... Maybe a thread pool configuration with a size set to 1 on native via a specific code path.

[2020-09-25 07:39] dsyer commented on #307
See also: https://github.com/spring-projects/spring-boot/issues/23485

[2020-09-25 08:15] RajeevKumarMarrapu opened #308 "Classes that should be initialized at run time got initialized during image building"
I'm getting the following error when I run a build script in [webmvc-tomcat](https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/webmvc-tomcat) sample

[code]

I'm using OS: Ubuntu-20.04
GraalVM: 20.2.0.r8 or 20.2.0.r11 (Issue is reproduced in both versions)
spring-graalvm-native artifact version: 0.8.0

Complete error log can be availabl

[2020-09-25 08:31] sdeleuze commented on #308
`0.8.0` is designed to work with Spring Boot `2.4.0-M2`. Please use `0.8.1` that we just released with Spring Boot `2.4.0-M3`.

[2020-09-25 08:31] #308 closed

[2020-09-25 08:36] RajeevKumarMarrapu commented on #308
@sdeleuze Thanks for the quick response. Actually I did tried with above mentioned version. but I'm getting the following error
`[ERROR] Failed to execute goal on project webmvc-tomcat: Could not resolve dependencies for project com.example:webmvc-tomcat:jar:0.0.1-SNAPSHOT: Failure to find org.springframework.experimental:spring-graalvm-native:jar:0.8.1 in https://repo.maven.apache.org/maven2 was

[2020-09-25 08:51] sdeleuze commented on #308
I confirm we are talking about `0.8.1` not `0.8.2` also make sure to configure the related repository https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.1/spring-graalvm-native-docs-0.8.1.zip!/reference/index.html#_add_the_repositories. If you build the samples from sources you should use https://github.com/spring-projects-experimental/spring-graalvm-n

[2020-09-25 09:33] dsyer commented on #297
I don't think we support log4j yet in native images. How about truing again with logback (or JDK logging)? And thanks for the sample - any chance you could do one with Java? I made one a bit like yours and it seems to work to me, but I'd be happy to have a test case.

[2020-09-25 11:48] dsyer opened #309 "Support for @Valid annotations in Petclinic"
Petclinic uses `@Valid` annotations in the web layer, but I don't think they are working. They don't blow up, but they don't actually get validated either. See also #297 and #142.

[2020-09-25 12:06] dsyer commented on #142
I don't think we can ever support `@Validated` like in Spring Framework on any arbitrary bean (or if we did it would only be for classes that are JDK proxyable). It would be better to be explicit about it. Spring Boot uses the same annotation though for marking `@ConfigurationProperties` beans. What is your use case exactly?

[2020-09-25 12:10] jkroepke commented on #142
Validation on `@ConfigurationProperties`.

See: https://github.com/adorsys/keycloak-config-cli/blob/5832c0aa44a3eda3fa1fda02e41d21ae51ae986f/src/main/java/de/adorsys/keycloak/config/properties/KeycloakConfigProperties.java#L34

[2020-09-25 12:13] dsyer commented on #142
OK. We can probably work towards support for that specific use case.

[2020-09-25 12:14] dsyer commented on #142
You can work around it for now by disabling the proxy generation. In case that helps:

[code]

[2020-09-25 12:50] jkroepke commented on #142
All right, but this disables the validation, too?

[2020-09-25 12:59] dsyer commented on #142
Well, it only disables the Spring Core feature that checks all method invocations on `@Validated` beans. Spring Boot doesn't need that. That's why I asked about your use case. You will also need some reflection configuration for the validator types that you use in your `@ConfigurationProperties` beans. I'll make a sample and push it into this repo so you can see.

[2020-09-25 13:04] dsyer commented on #142
See https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/validator

[2020-09-25 19:44] jkroepke commented on #142
Thanks a lot. I had to add

https://github.com/spring-projects-experimental/spring-graalvm-native/blob/30332553840ecebc0a9bc9554cd12b626c6448e5/spring-graalvm-native-samples/validator/src/main/resources/META-INF/native-image/reflect-config.json#L8-L14

to my reflect-config.json. After that everything works as expected. 👍

[2020-09-26 08:34] juergenzimmermann commented on #297
@dsyer When I exclude `org.apache.logging.log4j:log4j-to-slf4j` from the Gradle dependencies then the issue is gone. The dependency tree from `gradle dependencies` looks like:

[code]

Next week I'll attach a Java-based testcase.

[2020-09-26 13:01] dsyer commented on #297
You shouldn't have to exclude the log4j API (I didn't in my sample). It will be helpful to have a test case.

[2020-09-27 21:07] hakandilek opened #310 "Supporting reactor/webflux return types"
Hello there,

First thank y'all for this great work on _almost_ uncharted waters. :slightly_smiling_face:

I'have been playing around with the [webflux-netty sample](https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/webflux-netty) and added this `GET /hello` endpoint to the existing `Foo` controller:
[code]
It runs and returns the value

[2020-09-28 13:44] dsyer commented on #307
Fixed by #311

[2020-09-28 16:41] sendev1 opened #312 "java.lang.ClassNotFoundException: com.sun.xml.ws.db.DatabindingFactoryImpl"
**Describe the issue**
I am using soap webservices in spring boot 2.3.1 app. I am using agent to prepare the configuration files. I executed the soap webservice when agent was running to make sure that agent collects all the information for the soap service. The image generation went fine but while running the native image I got the following error.

[code]

**Steps to reproduce the issue**
Please

[2020-09-28 19:48] dzou opened #313 "Question about injecting a concrete class in spring-graalvm-native"
I've been trying out `spring-graalvm-native` and trying to get it working with some non-officially supported libraries by `spring-graalvm-native` in Spring such as Spring Cloud GCP.

I've been testing it on a simple Spring boot sample, [source code here](https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support/pull/15/files?file-filters%5B%5D=.java).

Basically didn't have to modify the

[2020-09-28 20:14] sendev1 commented on #312
@aclement any help please

[2020-09-28 22:39] sendev1 commented on #312
some more info.

I am not sure why agent did not pickup. I manually added this entry into reflect-config.json

[code]
java.security.PrivilegedActionException: null
        at java.security.AccessController.doPrivileged(AccessController.java:121)
        at com.sun.xml.ws.model.Injector.<clinit>(Injector.java:105)
        at com.oracle.svm.core.classinitialization.ClassInitializationInfo.invokeClas

[2020-09-29 20:31] aclement commented on #310
I added your endpoint to that sample and it seems to be working with a couple of fixes.

[2020-09-29 20:31] #310 closed

[2020-09-29 20:46] aclement commented on #313
Hey,

Just on your final point, yes the feature could do that and indeed it is what happens for transactions - https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-configuration/src/main/java/org/springframework/TransactionalComponentProcessor.java - that componentprocessor, for components that are annotated transactional, will add proxies for the

[2020-09-29 20:52] aclement commented on #312
The agent can miss things. We've seen this before - it is much better than it was, but it is still possible it is missing however the `com.sun.xml.ws.db.DatabindingFactoryImpl` is being referenced. It is possible when you run in regular java mode with the agent a particular codepath is being taken but something is different when compiled into a native image that causes it to need this extra class

[2020-09-29 21:01] aclement commented on #283
This experimental project is a proving ground for flushing out issues that prevent both boot *and* framework from being compatible with native-image. As issues are found code changes are made in both Spring Boot and Spring Framework. We do have a focus on Spring Boot but the changes we've made along the way should mean that spring framework apps will work too. *But* for now you may need to collect

[2020-09-29 22:01] dzou commented on #313
@aclement - Ah yes I see. Yes I did end up introducing a new interface which worked for me. This might just be part of the list of things you need to do to get an application compatible with graalvm compilation.

Going to close as it is resolved.

[2020-09-29 22:01] #313 closed

[2020-09-30 16:58] aclement opened #314 "Dig into why spring-batch sample needs the wierd extra resource file"
In the batch hints there is an unusual entry related to a properties file containing devtools references. It's presence/absence seems to influence spring batch behaviour.

[2020-09-30 19:12] hakandilek commented on #310
This is great. Thanks.

[2020-09-30 20:03] Query-Interface commented on #303
Hello,
I was able to make it work with some additional settings in a project similar to pet-clinic. I used graalvm graalvm-ce-java11-20.2.0, spring boot 2.4.0-M3 and native-image-maven-plugin 0.8.1.

Here are the additional settings:

- in the native-image buildargs  -H:IncludeResourceBundles=org.hsqldb.resources.sql-state-messages
- in reflect-config.json:
{
	 "name": "org.hibernate.dialect.HSQLD

[2020-09-30 22:53] sendev1 commented on #312
@aclement Is there any soap service graal vm examples present in spring-graalvm-native samples? I could not find any. I thought of use that as base reference and modify our project.

[2020-10-02 05:54] Piranha900 commented on #184
Hello! I'm trying to replicate a native spring gateway with your repository but doesn't work

[2020-10-02 18:29] fhanik commented on #306
Confirmed the issue. Does not appear to be concurrency related as the delay happens on a single thread too. Continuing investigation...stand by

[2020-10-02 20:03] fhanik commented on #306
I believe this to be a regression in GraalVM/native-image.

It appears as if you do a single request, there isn't any data coming behind and actually flushing out the request to the socket.
So on the Tomcat side, it appears that the request is completed, for Apache Bench, it has not received the final packets.

This problem does not exist in Graal 19.2

## GraalVM Version 19.2.1 CE

### Single Req

[2020-10-04 15:14] ivangfr opened #315 "Error creating bean with name "org.springframework.boot.actuate.autoconfigure.metrics.orm.jpa.HibernateMetricsAutoConfiguration""
Hi guys! I am trying to build a native docker image for a `JPA/Hibernate` application. The build succeeds but there is an exception when I run it.

The app is called `book-api`. It's a simple `spring-boot` application that uses basically dependencies like `actuator`, `data-jpa`, `validation`, `webflux`, `lombok` and `mapstruct`. `MySQL` is used as storage.

I am using `spring-boot` version `2.4.0-

[2020-10-05 18:27] halimpuckjava opened #316 "Spring 2.4.0-M3 + GraalVM 20.2.0 -> Naive image failure"
hi

with spring boot 2.4.0-M3, graalvm 20.2.0 (java 8) , native image failure with :
[code]

[code]

[2020-10-06 03:53] sendev1 commented on #312
@aclement

Here is the code
**SOAP Server**
https://github.com/sendev1/cxf-server
Just download the spring boot app and start the app
This should be up and running http://localhost:8080/cxf/ws/helloworld?wsdl

**SOAP Client** - Here is where I am facing issues
https://github.com/sendev1/cxf-client
Download app
If you would like to try it as spring boot app then just start it as spring boot app and

[2020-10-06 11:04] benwilcock opened #318 "Add Gradle documentation"
I love Maven, I prefer it in fact and I use it all the time. But some folks feel the same way about Gradle. Any chance we can have Gradle instructions added into the documentation so that folks can choose the instruction that's right for them based on their preferred build tool? That would be brilliant - thanks in advance!

[2020-10-07 00:30] sendev1 commented on #312
@aclement Can I use @Bean methods in my spring boot configurations.java file?

[2020-10-07 17:09] aclement opened #320 "Enhance SpringAtRepositoryComponentProcessor discovery of types with reflective needs"
Per the petclinic-functional sample at https://github.com/scratches/petclinic-functional.git

The reflect-config.json includes a number of entries we should be discovering dynamically in the SpringAtRepositoryComponentProcessor:
[code]

[2020-10-07 18:28] sdeleuze commented on #316
This is tested by our samples and works with the regular dependencies, please reopen with a repro if that does not work for you.

[2020-10-07 18:29] #316 closed

[2020-10-07 20:19] aclement commented on #312
@ Bean methods should be fine. Whenever I see message like that one about a method missing `org.apache.cxf.binding.soap.wsdl.extensions.SoapBinding.setElementType(javax.xml.namespace.QName)` I think there is config missing - have you tried hand crafting the reflect-config.json entries to include it? I still worry that anything that says ProxyFactoryBean is going to try and create proxies at runtim

[2020-10-07 22:04] sendev1 commented on #312
@aclement so from this video https://www.youtube.com/watch?v=aTNLtU5YYtg&feature=youtu.be&t=565 what I understood was @Bean method wont be supported by graalvm. is that not true. I placed the seek bar in the correct place so that it would directly take you to what I am referring here.

[2020-10-07 23:16] aclement commented on #279
For the case I'm aware of - with the diskSpace endpoint - I've fixed it so the native-image returns the same thing. The issue was reflective access to the Health class that contains the details map. I guess that will fix many cases where the details are being missed.

[2020-10-08 08:56] Query-Interface commented on #315
Hello,

I encounter similar issues with HSQLDB.

You may follow what have been done in the [petclinic-jpa](https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/petclinic-jpa) sample, and this blog post [Spring Tips: Spring and GraalVM (pt. 2)](https://spring.io/blog/2020/06/16/spring-tips-spring-and-graalvm-pt-2).

First, **remove bytebudd

[2020-10-08 19:22] ivangfr commented on #315
Hi @Query-Interface , thanks for the tips. I've followed the examples and I was able to build and run the docker image of my app.

Here are my changes (https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/commit/b88a0d59647a81f733e7dc4494dd11e12b7cf247) in case someone faces the same issue.

[2020-10-08 19:22] #315 closed

[2020-10-09 08:17] sdeleuze opened #321 "Add Java 15 compatibility by upgrading ASM"

[2020-10-09 08:18] #321 closed

[2020-10-10 17:51] sadew145 opened #322 "maven build-image stuck at running creator"
[code]

I tried to build an image with buildpack but it stuck at running creator

when i tried to run docker with the image above mean while the creator is still running, it give me this login error even though I have not logged in on docker.

[code]

[2020-10-11 04:58] don-mayur opened #323 "Package name collision in spring graalvm native and spring kafka"
There are two packages sharing exactly same  name

org.springframework.kafka.annotation
This package exists in spring-kafka as well as spring-graalvm-native artifact

This is resulting in below error after successfully compiling and trying to run spring native graalvm image

Caused by: java.io.FileNotFoundException: class path resource [org/springframework/kafka/annotation/KafkaBootstrapConfigurat

[2020-10-12 11:03] #307 closed

[2020-10-13 02:14] sadew145 commented on #323
I would like to second a support for spring kafka please

[2020-10-14 05:11] aclement commented on #233
I can confirm I have now successfully built some of the samples on Windows 10. I used Graal 20.2 with Java 11 and running on the special terminal they recommend ("x64 Native Tools Command Prompt for VS 2017"). I used the maven snippet above (updated for Graal 20.2), then a `mvn -Pnative clean package` and it gave me a .exe file. I ran the commandlinerunner and webmvc-tomcat samples like this. They

[2020-10-14 05:11] aclement commented on #233
For 0.9.0 let's get some Windows documentation in place.

[2020-10-14 23:30] aclement commented on #323
Is it definitely the duplicate package situation that is causing an issue? I'm more likely to suspect that we've done no work to support Kafka. Gary started working on Kafka sample, we should pursue getting that working: https://github.com/garyrussell/spring-graalvm-native/tree/kafka/spring-graalvm-native-samples/kafka

[2020-10-14 23:35] nebhale commented on #322
@sadew145 Can you please provide the command that you're running, and if public, the repo that you're trying to run against?

[2020-10-14 23:46] sadew145 commented on #322
@nebhale I didn't use anything special. I only used the paketo basic settings like in the doc and run `mvn spring-boot:build-image` to build but it just never get anywhere

[2020-10-15 01:22] sadew145 opened #324 "Agent mode error with org.springframework.retry.annotation.RetryConfiguration"
Hi, is there any work around for this issue?

I got this error while trying to use agent mode with a @SpringBootTest

` @Configuration classes need to be marked as proxyBeanMethods=false. Found: [org.springframework.retry.annotation.RetryConfiguration]`

And there is no version of spring-retry that have this disable.

[2020-10-15 01:54] sadew145 commented on #323
@don-mayur i was able to fix it by removing @EnableKafka in my boot app, boot should be able to pick it up as long as kafka is in class path. The image was built but ended up with
` @Configuration classes need to be marked as proxyBeanMethods=false. Found: [org.springframework.retry.annotation.RetryConfiguration]
`
Currently I can't find a way to fix this other than requesting people to update spr

[2020-10-15 03:23] don-mayur commented on #323
@sadew145  We do have kafka starter and thus we don't explicitly specify`@EnableKafka` but it will be used, So I cannot remove it, moreover as you pointed out it might still fail if you I remove starter also.

[2020-10-15 03:30] don-mayur commented on #323
@aclement That’s great that spring kafka official support is in works, to answer your question I think package situation won't solve all support issue for spring kafka. But I faced error(attached) while running native app.

[2020-10-15 03:47] sadew145 commented on #323
@don-mayur just to clarify, I dont remove kafka dep, I only remove @EnableKafka. Spring boot should be able to pick it up by itself. Also, it didn't fail because of kafka. If i build without native-image, the app runs normally with kafka enabled

[2020-10-15 04:07] don-mayur commented on #323
@sadew145 Same for me, if I run normally it works just fine but when I compile it to native image that's when I face this issue while running native app

[2020-10-15 12:19] nebhale commented on #322
@sadew145 Without being able to reproduce the problem (for example, by knowing the repository and command line you’re working with) we won’t be able to diagnose the issue.  We’ve not seen this behavior before, either during development or in the wild, so reproduction is the firs step.

[2020-10-15 19:24] sadew145 commented on #323
@don-mayur i think you miss understand me. All i wanted to said is you dont need to have @EnableKafka to get kafka running when i compile my app with native image it runs ok only get blocked by spring-retry

[2020-10-15 22:28] #322 closed

[2020-10-16 02:44] aclement commented on #323
I just pushed an initial kafka sample that is working. There are some tweaks we need to make so it works 'out of the box' (that will fix the problem like you have in the first comment 'classpath resource cannot be opened') but to get it going I just ran with the agent to collect valid config then built using that, crudely:
[code]
Then a maven build using the native profile in the pom.xml.

[2020-10-16 02:44] aclement commented on #320
done

[2020-10-16 02:44] #320 closed

[2020-10-16 12:46] sdeleuze commented on #232
Duplicates of #228.

[2020-10-16 12:46] #232 closed

[2020-10-16 12:57] #228 closed

[2020-10-16 17:21] aclement commented on #323
I've polished the sample today - it no longer requires any agent collection. The feature supports everything this sample needs, and it builds and runs fine. Please take a look and if your usage of kafka differs, let's capture those differences in a test project and get that working too. Sample is in the project here: https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master

[2020-10-16 17:35] don-mayur commented on #323
@aclement I am facing Caused by: java.lang.NoSuchMethodException: org.springframework.context.annotation.ConfigurationClassParser$DefaultDeferredImportSelectorGroup.<init>()
with Kafka sample, I am attaching log for reference
[spring-graal-native-kafka-sample-run-error.log](https://github.com/spring-projects-experimental/spring-graalvm-native/files/5393373/spring-graal-native-kafka-sample-run-erro

[2020-10-16 17:51] aclement commented on #323
Are you building spring-graalvm-native locally for yourself? If you aren't then you may be picking up an old snapshot of 0.8.2 that doesn't include the change for that (I doubt the build has finished yet). The current codebase includes the necessary hint for that: https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-configuration/src/main/java/org

[2020-10-16 23:17] aclement commented on #142
I've automated the manual configuration that was in @dsyer validation sample. It now has no manual config. I also reworked the app a little and the `verify.sh` script so it checks validation is not just passing because it isn't happening. (I hope I've attached ValidatorFactory/GenericBootstrap to the right auto configuration trigger, but it does work for this app).

[2020-10-17 00:49] aclement commented on #290
You can set the trigger to be a type only around in functional mode, then the hint will only fire if that type is around e.g. maybe InfrastructureInitializer in a spring-init case - it just gets complicated if it is InfrastructureInitializer *or* KofuApplication *or* JafuApplication (then we'll need something more complex).  (Triggers are treated as simple 'presence on the classpath triggers' in t

[2020-10-19 13:48] #253 closed

[2020-10-19 13:58] sdeleuze opened #325 "Enable Kafka sample testing on the CI"

[2020-10-19 19:36] don-mayur commented on #323
You are right @aclement  I was not and now I tried and kafka sample is working for me. I can now close this issue.
Although for my app some configurations file when marked with `proxyBeanMethod=false` then app fails while running even with normal spring-boot run.

[2020-10-19 19:36] #323 closed

[2020-10-19 21:05] sdeleuze commented on #318
We now have Gradle documentation for both Groovy and Kotlin DSLs.
![image](https://user-images.githubusercontent.com/141109/96511527-7f305880-125f-11eb-9a1c-b78a71b8f762.png)

[2020-10-19 21:05] #318 closed

[2020-10-19 23:34] #290 closed

[2020-10-19 23:34] aclement commented on #290
I completely forgot that of course you can implement `computeHints` in a hint providing class and then programmatically do what you want. So I refactored LogLevelHints to use that approach.  It seems to work, but I will say I have no samples that need this hint active and because you didn't add an entry to the services file, the hint has never been firing anyway.... (do we really need it?) - I did

[2020-10-20 02:34] #304 closed

[2020-10-20 02:35] aclement commented on #304
Actually the problem here seems to be that we weren't going deeper than 1 level of nesting for property inner types! (Like Cachecontrol in this instance). I recreated the issue using the webflux-thymeleaf sample, then fixed it by addressing the TODO to go deeper into properties. I will say I haven't validated the fix on a functional sample - let me know if you have one that shows it still broken.

[2020-10-20 09:17] sdeleuze opened #326 "Upgrade to Spring Boot 2.4.0-RC1"

[2020-10-20 09:45] benwilcock commented on #318
Nice. Thank-you!

[2020-10-20 15:55] #262 closed

[2020-10-21 07:54] sadew145 commented on #275
@aclement I am sorry for commenting on closed ticket but I am using boot 2.4.0-m3 and spring graalvm 0.8.1 and I still get this issue.
`ERROR o.s.boot.SpringApplication - Application run failed
org.springframework.beans.factory.BeanDefinitionStoreException: Failed to parse configuration class []; nested exception is org.springframework.core.annotation.AnnotationConfigurationException: A
ttribute '

[2020-10-21 09:30] dsyer commented on #275
The sample above is working though right? You might need to supply a few more details, and maybe report as a new issue.

[2020-10-21 17:52] sadew145 opened #329 "Attribute 'value' in annotation @RestController is declared as an @AliasFor nonexistent attribute 'value' in annotation @Controller"
Hi, I am currently trying to build native image for one of my microservices as spring cloud client.

Attached  pom, bootstrap.yml, native-image/config jsons, and startup log. Liquibase and log4j was added to pom to remove some warning. Some config values was also removed for privacy purposes

In my configuration, I only included @EnableResourceServer, @EnableSwagger2, @SpringBootApplication, and @

[2020-10-21 18:06] sadew145 commented on #275
@dsyer I created a new issue and attached all things i could think of in the zip. Please check out #329

[2020-10-21 18:13] sadew145 commented on #324
fix by adding this to pom:

`<dependency>
      <groupId>org.springframework.retry</groupId>
      <artifactId>spring-retry</artifactId>
      <version>1.3.1-SNAPSHOT</version>
    </dependency>`

[2020-10-21 18:14] #324 closed

[2020-10-21 19:41] aclement commented on #329
I suspect it is the processing we do not operating on some of the controllers found inherited from dependencies. Which dependency it is without a sample project, not quite sure. You could probably workaround it by manually creating an entry in `src/main/resources/META-INF/native-image/reflect-config.json`
looking like:
[code]

[2020-10-21 19:43] sadew145 commented on #329
I will give it a try. Thank you

[2020-10-21 21:49] aclement commented on #309
I think this might be because the fields with the constraints on are not being exposed via reflection. So, for example, although the Owner contains:

[code]

if the system cannot reflect on that at runtime, it won't see the constraint.  In exercising the new owner page on the web app I can make it validate the constraint if I add field reflective access to `Owner` - it then fails by validating but

[2020-10-22 02:12] aclement commented on #309
Validation is now working for `petclinic-jdbc` sample. Due to other petclinics using a different component processor (the spring data component processor), I need to do a variant of these changes in that processor too to address all the petclinics.

[2020-10-22 17:41] aclement opened #330 "Fix errors in test-output for function-netty sample"
Looks to be missing some hints but might be something more serious.

[2020-10-22 18:01] sadew145 commented on #329
Looks like that fixed it. Thanks. Closing this ticket now

[2020-10-22 18:01] #329 closed

[2020-10-22 23:06] VuDo98 opened #331 "com.sun.proxy.$Proxy548 cannot be cast"
I ran into this error:
`com.sun.proxy.$Proxy548 cannot be cast to org.springframework.cloud.bootstrap.config.PropertySourceLocator`

I already added this class into reflect config but not sure why I got this error. I attached everything in the zip.

[profile.zip](https://github.com/spring-projects-experimental/spring-graalvm-native/files/5426380/profile.zip)

[2020-10-23 13:16] frankye2099 opened #332 "java.util.MissingResourceException: Can't find bundle for base name org.apache.tomcat.util.descriptor.tld.LocalStrings, locale en_US"
got error when run the native build.

`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-b

[2020-10-23 16:30] aclement commented on #332
Try this in the `BP_BOOT_NATIVE_IMAGE_BUILD_ARGUMENTS` section as an extra argument:
[code]

[2020-10-23 20:06] aclement commented on #309
Validation also seems to be working for JPA samples (I had to add the message bundle for validation messages).  I now get a validation error in petclinic-jpa if attempting to add an owner and trying to set the telephone number to an alphabetic string.

[2020-10-23 20:06] #309 closed

[2020-10-23 20:20] aclement commented on #331
Cannot be cast doesn't sound like a configuration issue.  The startup log in the zip file just seems to show the problem from earlier in the week:
[code]

I don't see an error about casting. I won't be able to make much progress without a sample app that shows something broken to debug. We don't have feign/sleuth/eureka/spring-social-facebook/mapstruct/springfox/firebase samples, so the failures c

[2020-10-23 20:22] aclement commented on #330
Fixed - missing hints added.  I worry it might regress though since they don't actually break the testing around the sample when there are issues, someone may remove these hints thinking they aren't necessary. We need better tests.

[2020-10-23 20:22] #330 closed

[2020-10-23 20:26] aclement commented on #303
If you liked, you could convert those findings into a PR for us (thanks for working out what they are!). I would imagine we would create a new Hint class for HSQLDB (in the configuration project, in the org.hsqldb package). Within that hints object encode your findings from above (follow the pattern in the surrounding hints to see how to capture that info), then add a small sample project for the

[2020-10-23 20:58] aclement commented on #289
Struggling a bit with recreating this error - I don't deny it is a problem, I just can't get that far.

If I change WebSecurityConfig to only be those pair of annotations as above (and so losing the existing ` @Configuration(proxyBeanMethods = false)`:
[code]
then it fails complaining that `proxyBeanMethods=false` is not set for WebSecurityConfig. There is no alias for proxyBeanMethods on `EnableG

[2020-10-23 21:56] aclement commented on #289
Fixed this with security configuration hints. Now the app starts fine for me and works, with `@EnableGlobalMethodSecurity(prePostEnabled = true, securedEnabled = true)`. I don't see the previous issues I saw or the original one (fixed by accident?)

[2020-10-24 00:33] aclement commented on #291
I haven't tried with that particular JDK variant. What worked for me right now, on windows, is:
- run vcvars64.bat to get the right cl.exe on my PATH:
[code]
- using graalvm-ce-java11-20.2.0
[code]
- build the commandlinerunner sample:
[code]

I tried to grab the zip but maybe it expired. I don't see anything in your buildArgs that looks like it might cause an issue. (Oh, I was just running from a

[2020-10-24 00:39] sadew145 commented on #331
@aclement I am sorry, the startup log in the zip is wrong.

I did use agent to generate the configs that are included in the zip. The casting error popup both when I am using agent or not.

Here is the log for when I was runnning it with the agent.

[log.txt](https://github.com/spring-projects-experimental/spring-graalvm-native/files/5432218/log.txt)

[2020-10-24 05:49] aclement commented on #259
First round of optimizations have gone in purely related to hint adjustment and smarter feature analysis, I wanted to share the results.  I have a variant of the `actuator-webflux` sample. I've added a single `/` endpoint so I can exercise the app and the actuator separately.

Initial build with the starter for actuator removed from the pom to give us the baseline. (Macbook Pro)

[code]

Now with

[2020-10-25 08:28] emedina commented on #291
I managed to make it work, but when I run it, I get endless `ClassNotFoundException`s. Do I have to add them one by one, rebuild, run and repeat the process all the time?
This is a minimal application with Spring Cloud Stream with Kafka binding, Spring Cloud Config Server, Spring Security and everything reactive with Webflux, ibcluding R2dbc with PostgreSQL.

[2020-10-25 11:22] ThanksForAllTheFish commented on #332
The problem is tomcat moved `LocalStrings.properties` up one folder in 9.0.39, and removed `tld` package altogether. I am just playing around with Spring Boot and Graalvm for the first time, and I have no idea how to solve this problem using tomcat 9.0.39 (the new default with Spring Boot 2.4.0-M4: https://docs.spring.io/spring-boot/docs/2.4.0-M4/reference/html/appendix-dependency-versions.html),

[2020-10-25 11:40] ThanksForAllTheFish opened #333 "Add support for Spring Hateoas"
I am trying to create my first Spring Boot Graalvm demo application and I encountered the following issue when running `gradle bootBuildImage`:

[code]

My gradle file (kotlin dsl) is (the project is otherwise generated from https://start.spring.io/):

[code]

and my `gradle.properties` is

[code]

I also changed `@SpringBootApplication` to `@SpringBootApplication(proxyBeanMethods = false)` as per

[2020-10-25 23:10] Query-Interface commented on #303
Hi,
OK, I will try. But I cannot work on this currently. I have some commitments at work. I should be able to start in 10 days.

[2020-10-26 18:31] aclement commented on #331
I see the new log, thanks for that. This is really hard to diagnose when I can't recreate though. Given it is occurring in startup, maybe we could have a test app which is just that pom plus an empty SpringApplication, plus the config you are using that is exercising the property source infrastructure (if any).

[2020-10-26 19:25] sadew145 commented on #331
ok I'll create an empty app to see if I can reproduce it and send it to you. But I am not sure what property source infrastructure is. Can you give any names as an example?

[2020-10-26 20:28] sadew145 commented on #331
Hi @aclement, here is a demo spring cloud app. All I do is run ` java -jar -Dspring.profiles.active=native target/config-server.jar
` to start config server on JVM. Make sure you fix the config storage path. Although, demoApp won't build due to the same issue as the log I attached above.

[demo.zip](https://github.com/spring-projects-experimental/spring-graalvm-native/files/5441343/demo.zip)

[2020-10-26 22:04] aclement commented on #333
I have improved the hints to fix the specific initialization problem. By all means try it but I think you will subsequently hit problems related to proxies. I'm currently investigating those.

[2020-10-26 22:23] aclement commented on #331
Thanks for the app, I'll try it out. In working on something else today I think I know what it might be - I think it'll be that we can't create CGLIB proxies under native-image, only JDK proxies and in some cases those are not sufficient, I think this might be one of those cases.

[2020-10-26 23:12] aclement commented on #332
Done some digging. It looks to me like 9.0.39 did remove the package but the `tomcat-resource.json` file they embed that configures the resources for GraalVM to include in native-images was not updated until after that release, so in 9.0.39 it lists something that does not exist and native-image can't cope with that. The way I worked around it was switching to the more optimized programmatic tomca

[2020-10-26 23:25] aclement commented on #332
Ok I got creative. In the interim whilst we wait for the release I created a dummy resource bundle that meets the needs of that pattern - it is picked up and gets us beyond the error. For the situation where I could recreate the problem, it worked for me. You will need to pick up a 0.8.2-SNAPSHOT build of spring-graalvm-native to pickup the change in your dependency file (and the build of that inc

[2020-10-26 23:25] #332 closed

[2020-10-27 00:43] aclement commented on #291
spring-graalvm-native analyses the app and tries to work out what configuration needs to be added, but if you are using technology we have not dealt with yet then we may miss things. We haven't done anything with spring-cloud-stream and minimal stuff with spring cloud config server.  In these cases you can run the app with the GraalVM agent to collect the config as you run it in JVM mode then atte

[2020-10-27 11:29] mpv945 opened #334 "spring-cloud-alibaba And org.springframework.cloud"
When can we support it

[2020-10-27 11:30] mpv945 commented on #334
Fatal error:com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing org.springframework.cloud.netflix.ribbon.RibbonAutoConfiguration.loadBalancedRetryPolicyFactory(org.springframework.cloud.netflix.ribbon.SpringClientFactory)
Parsing context:
	parsing com.oracle.svm.reflect.RibbonAutoConfiguration_loadBalancedRetryPolicyFactory_0c3c944c7cf77230fa6ef221bb48839eea5

[2020-10-27 13:08] sdeleuze commented on #259
@aclement Could we compare the additional classes loaded by the JVM wuth actuator + exercising the `/health` endpoint with the one added to the native image? That would allow use to check with Boot team if there are or not optimization possible on the JVM and if we ship too much on native.

[2020-10-27 21:32] sadew145 commented on #331
do you know if there is anything i can do to fix this?

[2020-10-27 22:25] aclement commented on #331
Haven't had time to dig into the app yet - it is possible JDK proxies could work if interfaces are added to a class but without knowing the cause I can't say where that pattern needs applying. We will fix the overall issue here in time, I just don't have a quick option at the moment.

[2020-10-27 22:31] sadew145 commented on #331
ok thanks I will look forward to it.

[2020-10-27 23:11] aclement commented on #259
Eager evaluation of `ConditionalOnEnabledMetricsExport` doesn't seem to be sufficient - it helps but there is still a lot of metrics stuff included - there seem to be other routes to creating meter registry related beans that are not guarded with anything beyond class path checks. For example:
[code]

[2020-10-28 09:52] dsyer commented on #259
Just checking: eager evaluation of `@ConditionalOnCloudPlatform` is a bad idea right? It's just to collect a data point?

[2020-10-28 10:09] sdeleuze commented on #259
After more discussions with @wilkinsona and @dsyer I think the solution is the following:
 - Introduce a `spring.native.remove-metrics-support` flag (Boot team is not ok to add such flag on their side because there is a clear classpath signal via the `io.micrometer:micrometer-core` dependency) that would discard metrics related beans (and do not add the related reflection entries) when set to `tru

[2020-10-28 10:59] snicoll commented on #259
In Spring Boot 2.4 there is `management.metrics.export.defaults.enabled=false` to disable all known metric exporters. That does not prevent the metrics infrastructure to be auto-configured though as you can still opt-in for a given exporter. For instance adding `management.metrics.export.simple.enabled=true` alongside the previous property would disable all available metrics exporters but the simp

[2020-10-28 14:12] wilkinsona commented on #259
I'm not sure that this makes sense. If you're exporting metrics out-of-process – to Prometheus or whatever – you will care about metrics but in all likelihood won't have the metrics endpoint enabled.

[2020-10-28 15:09] sdeleuze commented on #259
Yeah we probably need to refine a little bit the logic.

[2020-10-29 05:04] aclement commented on #259
I've managed to get close to simulating micrometer not being around but not quite.  Whilst I've managed to eliminate the Spring beans by tweaking the GraalVM feature analysis, there is a class `reactor.util.Metrics` that sets a flag `isMicrometerAvailable` and if it is set to true then it creates a few classes like `reactor.netty.http.MicrometerHttpMetricsRecorder` - when this happens we do start

[2020-10-29 08:29] sdeleuze commented on #259
If that's 1M of RSS and Reactive stack specific I think we can live with that.

[2020-10-29 21:34] aclement commented on #259
Hey @wilkinsona - you might be able to help me with this (I'm no expert on actuators!). As I take apart my hacks, I'm looking at `MappingsEndpointAutoConfiguration`. Although the first `@Bean` method has `@ConditionalOnAvailableEndpoint` the other inner classes within it, and the `MappingsEndpointAutoConfiguration` itself are not conditional on anything related to whether the endpoint is active. T

[2020-10-30 07:12] wilkinsona commented on #259
Thanks, Andy. I think there's some scope to make Boot more efficient there, albeit with a non-zero (but small) risk of breaking someone if they're doing something a bit unusual. I've opened https://github.com/spring-projects/spring-boot/issues/23977.

[2020-10-30 11:33] sdeleuze opened #335 "Fix Logback logging"

[2020-10-30 21:07] aclement commented on #259
Just thinking about the comment from @snicoll above:

[code]

In a native-image world (maybe in a JVM world...) isn't it a shame that we build all that metrics infrastructure when all you might have wanted from actuator was the health endpoint? I guess as a percentage memory cost on the JVM it may not be so large but bringing in micrometer seems to be about 10% of the memory for our native-image c

[2020-10-31 20:43] sdeleuze commented on #326
Spring Fu updated but we need a `spring-init` upgrade too, see https://github.com/spring-projects-experimental/spring-init/issues/39.

[2020-10-31 21:34] sdeleuze commented on #238
Probably fixed by https://github.com/spring-projects/spring-boot/commit/5d20660c8a026bfd73259488f162f222e739382c.

[2020-10-31 21:34] #238 closed

[2020-10-31 21:36] sdeleuze commented on #258
@dsyer Should we close that one?

[2020-10-31 21:45] sdeleuze commented on #335
This regression has been introduced during the [upgrade to Spring Boot 2.4.0-M4](https://github.com/spring-projects-experimental/spring-graalvm-native/commit/04d53b87f2be053260463bf064407b1aed3ce502).

[2020-10-31 21:51] sdeleuze opened #337 "java.lang.ClassNotFoundException: org.springframework.context.ApplicationContext"
With DEBUG logs on `webmvc-tomcat` sample:
[code]

[2020-10-31 22:27] dsyer commented on #258
Your call. It’s not working with `@MVC` yet.

[2020-10-31 22:38] sdeleuze opened #338 "Remove #335 workaround and add logging factories to classes initialized at build time"
Depends on https://github.com/spring-projects/spring-boot/issues/23985.

[2020-10-31 22:40] sdeleuze commented on #335
The cause is https://github.com/spring-projects/spring-boot/issues/23985, for now I will fix it via an artificial reflection config.

[2020-10-31 22:44] sdeleuze opened #339 "Remove reflection entries from webmvc-tomcat"
Introduced by @dsyer via https://github.com/spring-projects-experimental/spring-graalvm-native/commit/021355eb5353958c80eb94312779be8d7dd2ca41. Not sure what to do about it

[2020-10-31 22:49] #335 closed

[2020-11-01 06:35] dsyer commented on #339
Have you tried removing it? I think Andy already added extra registrations for nested classes in `@ConfigurationProperties`.

[2020-11-02 10:27] #339 closed

[2020-11-02 10:27] sdeleuze commented on #339
It works without it indeed.

[2020-11-02 10:31] sdeleuze commented on #326
Works with latest `spring-init` snapshots (see https://github.com/spring-projects-experimental/spring-init/commit/be1319a238aae6f2a757d806aef63a749eed6de9).

[2020-11-02 10:31] #326 closed

[2020-11-02 10:50] sdeleuze commented on #337
I think we can live with that for now, we should solve this one way or another later (build time metadata genertion?).

[2020-11-02 21:41] aclement commented on #298
This has been reworked. I'm using a new scheme now and I've put it in the docs. So far only the actuator samples and playing around with it being set.

The property is `spring.native.build-time-properties-checks` (because properties are not only used in ConditionalOnProperty checks but other conditions too). This property takes a default way to behave `default-include-all` or `default-exclude-all`

[2020-11-02 21:42] aclement commented on #298
We could consider this closed now for 0.8.2 and finesse more for 0.9.0 - it does give some nice actuator improvements in this form.

[2020-11-02 22:07] aclement commented on #259
Final comment on this in 0.8.2 timeframe. I've pushed the changes I want to make and got some decent figures. What I ended up doing was building on a facility we already had to filter our configurations during feature processing. I wrote a filter for the metrics ones that bring in micrometer. If you set the right property it will filter our metrics configurations during image build. Here are the f

[2020-11-03 08:43] sdeleuze commented on #259
Thanks @aclement, let's refine the defaults and have a deeper look on this with @bclozel before 0.9.

[2020-11-03 08:45] #298 closed

[2020-11-03 08:46] sdeleuze opened #340 "Refine @ConditionalOnProperty build-time processing"
This is a follow-up of #298, let's maybe have a second look with @bclozel.

[2020-11-03 08:49] sdeleuze opened #341 "Remove the need for *.class resources"
Reduce the memory footprint and increase the compatibility by removing the need for class resources (configuration, parameter discovery, etc.). For configuration that could potentially mean to use functional configuration by default. That may require a metadata index like for `AnnotationAwareOrderComparator` use case. We can probably check where ASM is used to identify the use cases that need to b

[2020-11-03 09:04] sdeleuze opened #342 "Refine some hints to be enabled based on non-Boot Spring triggers"
As raised on #283 our support is probably too much Spring Boot oriented. We should probably transform some hints to be simply enabled based on some Spring Framework, Security, Data, etc. triggers (classpath, processors).

[2020-11-03 09:09] sdeleuze commented on #283
To complete @aclement answer, I think that indeed our support is for now too much Spring Boot oriented if we have a look to hints triggers, and that moving toward a support that targets more specifically Spring Framework, Data, Security, etc. is probably a software design that would bring some added value in term of maintainability and quality.

I have created the related #342 issue.

[2020-11-03 09:09] #283 closed

[2020-11-03 09:13] sdeleuze commented on #276
Superseded by https://github.com/spring-projects/spring-framework/issues/25795.

[2020-11-03 09:13] #276 closed

[2020-11-03 09:23] sdeleuze commented on #226
We could probably move forward using those bits:
 - https://github.com/making/cnb-lifecycle-task
 - https://github.com/making/demo-build-image-pipeline/blob/lifecycle/pipeline.yml
 - https://github.com/spring-projects/spring-boot/blob/master/ci/images/setup.sh
 - https://github.com/spring-projects/spring-boot/blob/master/ci/images/docker-lib.sh

[2020-11-03 09:24] sdeleuze commented on #301
Depends on #226.

[2020-11-03 09:33] sdeleuze opened #343 "Add a fail-fast check for unsupported starters"
With the beta maybe we need to enforce a check on what is supported and what is not, maybe with a list of autoconfiguration that are not supported yet and that will raise a quick error at build time with an explicit message rather than the kind of errors described in #291.

Notice that [we document what is supported and what is not](https://github.com/spring-projects-experimental/spring-graalvm-na

[2020-11-03 09:36] sdeleuze opened #344 "Turn the GraalVM feature into a pure build time transformation generating JSON configs"
As part for this issue we should also:
 - Begin to make GraalVM specific codepath isolated to prepare Project leyden support
 - Find a good package since `native` that would have been idea is a Java reserved keyword

This change will improve debugability and should should use this opportunity to improve unit test coverage.

[2020-11-03 09:41] sdeleuze opened #345 "Generate a programmatic version of spring.factories at build time"
We should replace the hardcoded [SpringBootFactories](https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-substitutions/src/main/java/org/springframework/boot/SpringBootFactories.java) by a version that will be generated at build time by scanning the `spring.factories` in the classpath.

As described in https://github.com/spring-projects/spring-b

[2020-11-03 09:54] sdeleuze opened #346 "Introduce the build time transformation infrastructure"
We should introduce a build time transformation infrastructure to `spring-graalvm-native` that will materialize for the user as Maven and Gradle plugins (without the need for a dependency on external projects like `spring-init`).

This infra will be used for a wide range of build time optimizations, for example::
 - Automatically set optimization flags #225
 - Remove the need for class resources #

[2020-11-03 09:57] sdeleuze opened #347 "Remove functional mode, spring-fu/spring-init references"
We should maybe remove this hard split and make those 2 modes working together, by introducing more `functional` into the default mode based on `reflection` behavior gradually. That avoids the issues of our curent all or nothing mode and would be a path toward something unified. If we choose that path we should probably just use `default` for the unified mode name.

[2020-11-03 10:02] sdeleuze commented on #291
@emedina Please create more specific issues when you identify that a starter you need is not supported like "Add Spring Cloud Config Server support" or "Add Spring Cloud Stream support". Spring Security support is already WIP via #247.

[2020-11-03 10:02] #291 closed

[2020-11-03 10:05] sdeleuze commented on #219
@sendev1 Could you please test and provide an up to date repro with our 0.8.2 milestone I will release today?

[2020-11-03 10:06] sdeleuze commented on #337
Superseded by #341.

[2020-11-03 10:06] #337 closed

[2020-11-03 10:08] sdeleuze commented on #235
Turning this issue into a documentation one.

[2020-11-03 10:09] sdeleuze commented on #223
@christophstrobl @dsyer Should we close that issue given the latest progress on the build time Spring Data processors?

[2020-11-03 10:10] sdeleuze commented on #221
@aclement Any thoughts on @dsyer proposal?

[2020-11-03 10:12] sdeleuze commented on #189
Closing this one after @spencergibb feedback.

[2020-11-03 10:12] #189 closed

[2020-11-03 10:15] sdeleuze commented on #146
`DataSize` issue indicates a misuse of `spring-graalvm-native` and the issue is old so I close it.

[2020-11-03 10:15] #146 closed

[2020-11-03 10:17] sdeleuze commented on #135
@gabac `spring-cloud-starter-sleuth` support was improved after your last comment, could you try with the new 0.8.2 I will release today ?

[2020-11-03 10:18] sdeleuze commented on #123
Closing this issue since no feedback for a long time.

[2020-11-03 10:18] #123 closed

[2020-11-03 10:19] sdeleuze commented on #106
With our switch to Spring Boot build image support as our default way to support native images I am not sure this issue is still relevant so I close it.

[2020-11-03 10:19] #106 closed

[2020-11-03 10:28] gabac commented on #135
@sdeleuze Sure thing 👍

[2020-11-03 11:13] sdeleuze commented on #346
@christophstrobl Do you want to create a dedicated issue to incubate Spring Data build time transformations you are experimenting on, like I did for the issues mentioned in this issue? The idea would be to plug them intro Spring Data with substitutions for now.

[2020-11-03 13:25] christophstrobl commented on #346
@sdeleuze Not right away.
For the time being tend to stick to the SpringDataComponentProcessor and continue our investigation in a dedicated project under Spring Experimental. Generated/provided entity metadata is a use case, not limited to GraalVM native images, that might turn out to be beneficial in everyday projects.

[2020-11-03 13:56] sdeleuze commented on #346
@christophstrobl OK, feel free to integrate this experimental Spring Data project here with a dedicated issue/PR when you feel it is ready.

[2020-11-03 21:08] aclement commented on #347
If you mean 'functional mode with spring-init' then I think we've already gone down this path. For a while they were radically different (reflection vs functional-spring-init) but once we found that the spring-init approach was triggering off spring.factories and was no longer requiring an explicit list of configurations to make an app work, we changed our feature functional mode to do the same th

[2020-11-04 08:07] sdeleuze commented on #347
I think we should also wait for https://github.com/oracle/graal/issues/2500 that could change some behaviors.

[2020-11-04 17:14] sdeleuze opened #348 "Deploy spring-graalvm-native to Maven Central"
I think for beta it would maybe make sense to sync the artifacts to Maven Central. To be discussed.

[2020-11-05 08:56] sdeleuze opened #349 "Agent builds are broken due to ClassNotFoundException"
[Agent builds are broken](https://ci.spring.io/teams/spring-graalvm-native/pipelines/spring-graalvm-native/jobs/20.3-dev-java11-samples-build/builds/2) with the following error:

[code]

This class is referenced in [our own `spring.factories`](https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-configuration/src/main/resources/META-INF/spring.fac

[2020-11-05 09:04] sdeleuze opened #350 "Switch to Java 11 by default"
There are Java 8 specific bugs like:
 - [Performance Regression on Apache Tomcat from Graal v19 -> v20](https://github.com/oracle/graal/issues/2902)
 - [Must release all locks when leaving VM error](https://github.com/oracle/graal/issues/2965)

Also with Java 15/16/17 support coming, Java 8 will be unsupported at some point as mentioned during last GraalVM advisory board.

[2020-11-05 11:09] sdeleuze commented on #350
We are currently analyzing the big increase of footpring we see with Java 11 compared to Java 8, could be a blocker, not sure.

[2020-11-05 11:44] doujs commented on #247
windows  platform , graalvm-ce-java11-20.2.0 and spring-graalvm-native-0.8.2 . I'm working on building a working project to exe for quite a few days and encounter many problems. current is , when I compiled to native exe and run , it prints:

java.lang.IllegalStateException: java.security.NoSuchAlgorithmException: RSA KeyFactory not available
        at org.springframework.security.converter.RsaKe

[2020-11-05 14:41] eleftherias commented on #247
Thanks for reaching out @doujs.
We're still actively working on adding Spring Security support.

Can you share some more information on the type of application you are building?
Is it a servlet app or reactive? What kind of security are you using? Form login, OAuth2?

[2020-11-05 15:30] mraible commented on #247
I've found you need to add `--enable-https` to solve this issue.

[code]

https://github.com/okta/okta-spring-boot/issues/192#issuecomment-696485752

[2020-11-05 17:34] sdeleuze commented on #247
@mraible Thanks for your feedback. We [kind of document that](https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.2/spring-graalvm-native-docs-0.8.2.zip!/reference/index.html#_other_options_2) but we could probably make that more discoverable.

@eleftherias We could maybe also work on setting that automatically when needed via #225.

[2020-11-05 20:17] aclement commented on #349
I can't recreate this locally and I can't currently use the `run-dev-container.sh` on either my Mac or my linux...

[2020-11-06 08:27] doujs commented on #247
@mraible thank you very much , it works now , but i'm encounting another error ,  checking....
@eleftherias It's a servlet app[spring mvc] and Form login.

[2020-11-06 08:34] eleftherias commented on #247
@doujs Have you looked at the security sample in this repo? It is also a servlet app with form login. https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/security

@sdeleuze Yes, I like the idea of setting the flag automatically.

[2020-11-06 17:49] sdeleuze commented on #248
Let's try to see if we can modify the default `proxyBeanMethods` value via a substitution and add a build time check to fail the build if we detect cross `@Bean` method invocations (with a flag to opt-out).

[2020-11-06 17:52] sdeleuze commented on #340
As discussed I would be in favor fixing `@ConditionalOnProperty` by default in 0.9.0 and provide a way to the user to specify which properties could vary at runtime.

[2020-11-09 01:50] doujs commented on #247
@eleftherias yes , I have read the samples and the docs . I didn't start from the sample but from our working project , so I didn't notice thant . Besides , I think maybe it's better to put the arguments together and tell when to use them , maybe it's better to give an example

[2020-11-09 03:33] doujs opened #351 "build a project on win10 to exe"
JDK: graalvm-ce-java11-20.2.0
spring-graalvm-native : 0.8.2

I have make an exe file, but when I run ,it prints :

Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'jpaMappingContext': Invocation of init method failed; nested exception is java.lang.IllegalStateException: Failed to asynchronously initialize native EntityManagerFactory: org.hibernate.

[2020-11-09 08:44] doujs commented on #351
After adding
	{
	 "name":"java.util.ServiceLoader$Provider",
	 "allDeclaredConstructors":true,
	 "allDeclaredMethods":true,
	 "allDeclaredFields": true
	}
in the reflect-config.json, the error abover disappeared, but when I rebuild the exe and run , still error:

-----------------------------error message ------------------

Caused by: org.springframework.beans.factory.BeanCreationException: Error

[2020-11-09 17:22] sdeleuze opened #352 "Improve documentation for required flags"
As discussed in #247 and since #225 is not yet ready to set GraalVM flags automatically, let's improve our documentation to make it easier for users to know when they should set flags like `--enable-https`.

[2020-11-09 17:23] sdeleuze commented on #247
We could indeed probably improve our documentation for now, I have created the related #352 issue.

[2020-11-09 17:35] sdeleuze commented on #306
This issue is Java 8 specific and should be fixed on GraalVM side via https://github.com/oracle/graal/issues/2902 so I close this one.

[2020-11-09 17:35] #306 closed

[2020-11-09 17:37] sdeleuze commented on #352
We should probably introduce that as a section where we specify what should be done for Security, Data (see #235) in addition to the JVM.

[2020-11-10 11:42] dsyer opened #353 "Support @MVC features being added via library"
If a library (e.g. spring-cloud-config-server) adds `@Bean` with `@MVC` annotations (e.g. `@RestController`) I'm not sure we register those classes as resources, and the native image won't be able to look up the annotation metadata. Maybe errors like this:

[code]

[2020-11-10 15:23] sdeleuze commented on #349
Some findings:
- Locally I can recreate it for `cloud` but not `webflux-netty`.
- I made the various `agent/build.sh` consistent, same issue
- I see the issue with `java.lang.ClassNotFoundException: org.springframework.boot.autoconfigure.SharedMetadataReaderFactoryContextInitializer` on my side
- The reflection file contains a `SharedMetadataReaderFactoryContextInitializer` referencing the noarg c

[2020-11-10 17:38] snicoll commented on #142
For the record, the creation of the proxy when you combine `@Validated` and `@ConfigurationProperties` is done at the Spring Boot level with the default auto-configuration. Spring Boot 2.4 has been changed to not create a proxy in such a case, see https://github.com/spring-projects/spring-boot/issues/21454.

Would it be worth trying this again with Spring Boot `2.4.0-RC1` or later. @jkroepke would

[2020-11-10 19:05] jkroepke commented on #142
Here is my branch: https://github.com/adorsys/keycloak-config-cli/pull/182

Looks good to me. Validation is working.

[2020-11-10 19:36] #142 closed

[2020-11-12 14:35] sdeleuze commented on #349
More progresses:
 - `resource-config.json` processing previously broken due to https://github.com/oracle/graal/commit/5b0a7453bcfb09918d8f615e64bf0430c8abbbfc is now fixed
 - The error is likely triggered by the fact that `reflect-config.json` and/or `resource-config.son` are in the classpath because using command line `native-image` option instead works fine.
 - The difference with `webflux-netty

[2020-11-12 16:31] sdeleuze commented on #349
If we remove manually `{"pattern":"\\QMETA-INF/spring.factories\\E"}`, from `resource-config.json`, no more error.

[2020-11-13 05:44] aclement opened #354 "Add Spring Cloud Config support"
Currently it runs with the agent generated config. We should eliminate that, capturing it as hints/smarts in the feature/configuration modules.

[2020-11-13 05:44] aclement opened #355 "Add Spring Cloud Discovery support"
Currently it runs with the agent generated config. We should eliminate that, capturing it as hints/smarts in the feature/configuration modules.

[2020-11-13 10:09] sdeleuze opened #356 "Create proxies at build time"
In order to be able to support proxies on classes and to check if it avoids to reduce the footprint.

[2020-11-13 10:32] sdeleuze commented on #248
@aclement Pushed, but we need to fix the cross `@Bean` invoction check that seems not effective. I did a try with the verify option enabled and this code in the application class:
[code]
Also if the error in effective we could probably remove the warning.

[2020-11-13 11:07] #208 closed

[2020-11-13 11:12] #338 closed

[2020-11-13 14:02] michael-simons opened #357 "ResponseStatus on WebMVC annotated controllers lead cause an internal server error."
Given

[code]

and

[code]

The requests against `/` work on JVM mode and returning  `Hallo` and `Hello` with the correct status code.
Running as a native image inside the lightweight container makes `post` fail with a HTTP 500.

Reproducer is attached: [httpstatus.zip](https://github.com/spring-projects-experimental/spring-graalvm-native/files/5537184/httpstatus.zip)

Steps to run:

[code]

The l

[2020-11-13 19:36] aclement commented on #248
Here we go:
[code]

[2020-11-13 19:39] aclement commented on #248
Currently it is still only scanning what is in the app, not the components in the dependencies. I will activate that after a first check just amongst the samples to see if anything fires this exception.

[2020-11-13 19:51] dzou opened #359 "How to run JUnit tests in native image?"
Hello!

I'm one of the engineers working on GraalVM support for the [Google Java client libraries](https://github.com/GoogleCloudPlatform/google-cloud-graalvm-support) and on Spring Cloud GCP. We've been following this repo closely and learning from your work, very excited to see your progress.

One question that we had is regarding how to run JUnit tests in native image for validation purposes.

[2020-11-13 19:57] sdeleuze commented on #359
Hey, thanks for reaching out, we plan to work on a joint effort with GraalVM team on this, we will share more in the upcoming weeks. I will update this issue when we will have more to share.

[2020-11-13 21:55] aclement commented on #248
Basic samples are not hitting verify errors. I broadened it to checking all components that go through the main processing loop (so it will check things obtained from dependencies that we think might be used in the app, rather than scanning everything on the class path).  Committed it.

[2020-11-14 06:43] aclement commented on #349
I think this might be a GraalVM issue to dig into. Suppose you have a type where the generics of one of the methods cannot be resolved because they aren't on the class path (e.g. `foo(List<SomethingNotOnClasspath> list)`). Specifying `allDeclaredMethods` you get away with it, but if you specifically name the methods then GraalVM throws a hard error trying to resolve the generics.

How does that re

[2020-11-14 06:43] aclement commented on #349
(Running with spring.factories in agent produced resource config is really not going to produce optimal images)

[2020-11-15 14:00] jkroepke opened #360 "Release for Spring Boot 2.4.0"
Hi,

the current released version 0.8.2 isn't compatible with Spring Boot 2.4.0.

Do you have a planned release date for 0.8.3?

I know, I could [fetch](https://repo.spring.io/snapshot/org/springframework/experimental/spring-graalvm-native/0.8.3-SNAPSHOT/) a snapshot for 0.8.3 but I can't pin the snapshot version and I don't want to use floating artifacts in my project..

[2020-11-15 15:42] sdeleuze commented on #360
Yes, the release date specified on https://github.com/spring-projects-experimental/spring-graalvm-native/milestones is expected to be up-to-date.

[2020-11-15 15:42] #360 closed

[2020-11-16 13:40] halimpuckjava opened #362 "Spring Boot 2.4.0 with GraalVM 20.2.0 (java 11.0.8)"
hi

[code]

[2020-11-16 15:14] sdeleuze commented on #362
It seems you are using `spring-graalvm-native` 0.8.2 which not designed to work with Spring Boot 2.4.0, please wait 0.8.3 (to be released this week)  or use snapshots for now.

[2020-11-16 15:14] #362 closed

[2020-11-16 15:52] AndersClausen commented on #362
FWIW @sdeleuze I'm getting the same error above with 0.8.3-SNAPSHOT but will hold on till the proper release of 0.8.3

[2020-11-16 16:44] #350 closed

[2020-11-16 16:45] sdeleuze opened #363 "Check why Java 11 sometimes has a bigger footprint than Java 8"
Follow-up of #350.

[2020-11-16 23:35] dzou commented on #359
I see, thanks @sdeleuze - looking forward to hearing any new updates on this.

Just curious - How long do you think we may have to wait for something to be announced?

[2020-11-17 05:50] aclement commented on #314
Getting somewhere with this.  If this is missing from the resource patterns `META-INF/spring-autoconfigure-metadata.properties` then the native-image built batch sample fails with:
[code]

So something about it's presence is triggering a different pattern of configuration resolution, presumably we are missing some other bit of `reflect-config.json`.  So I rebuilt the batch jar with that file delet

[2020-11-17 08:41] sdeleuze commented on #362
That's because our CI is broken due to Docker rate limit, we are working to fix it asap.

[2020-11-17 09:33] #248 closed

[2020-11-17 15:50] sdeleuze opened #365 "Rewrite documentation overview"
Also we should use "Spring Native for GraalVM` consistently.

[2020-11-18 06:57] #207 closed

[2020-11-18 06:58] sdeleuze opened #366 "Fix data-elasticsearch sample"
Update https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-docs/src/main/asciidoc/support.adoc accordingly when fixed.

[2020-11-18 07:00] sdeleuze commented on #279
Based on @aclement comment I think this is fixed please reopen if that's not the case.

[2020-11-18 07:00] #279 closed

[2020-11-18 07:19] sdeleuze commented on #331
@VuDo98 Please make a try with our latest `0.8.3-SNAPSHOT` and GraalVM 20.3, and if you still see the issue please provide a minimal repro, the current one has too much dependency for making it useful for us to help you.

[2020-11-18 07:19] #331 closed

[2020-11-18 07:24] sdeleuze commented on #349
I still can reproduce this issue, I see this error on `cloud-agent`:
[code]
Since it works when config files are not in the classpath but specific with command line parameters, couldn't we just unplug totally our `spring.factories` rewrite mechanism when `spring.factories` is listed in resources?

[2020-11-18 08:37] #365 closed

[2020-11-18 23:34] aclement commented on #314
Solved.
The reason for it is the AutoConfigureAfter references. The sam.properties file captures the AutoConfigureAfter relationships amongst configurations.  Without that we make a mistake in that there is a chain of configurations marked autoconfiguration but although reflective access is granted to all the configs in the chain, because the middle one fails condition checks and is inactive, the

[2020-11-18 23:34] #314 closed

[2020-11-18 23:37] aclement commented on #349
We kinda do, but yes, perhaps not going far enough, it is quite complicated but I will have a look.  It may continue to break, for example, if hints are specifying exact methods and in some contexts those are non fully resolvable. But perhaps 'luckily' we don't do much of that exact specifying yet.

[2020-11-19 03:06] aclement commented on #349
The message that comes out:
[code]
is saying we are not attempting to change spring.factories, this is more about the analysis we do of the configurations themselves and effectively we have to perform weaker/dumber analysis when these kinds of unresolvable configurations are included. I do think there is a GraalVM issue here.

[2020-11-19 09:14] String123 opened #367 "HateoasAwareSpringDataWebConfiguration proxyBeanMethods=false error"
Fatal error:java.lang.IllegalStateException: java.lang.IllegalStateException: ERROR: in 'org.springframework.data.web.config.HateoasAwareSpringDataWebConfiguration' these methods are directly invoking methods marked @Bean: [sortResolver, pageableResolver] - due to the enforced proxyBeanMethods=false for components in a native-image, please consider refactoring to use instance injection.
        at

[2020-11-19 10:04] dsyer opened #368 "Spring Cloud Function not working with Tomcat"
The sample is Netty so I guess we just never tested this yet. The error at runtime is:

[code]

[2020-11-19 10:35] sdeleuze commented on #367
@String123 Could you share what version of `spring-data-commons` are you using please?

[2020-11-19 11:51] dsyer commented on #368
I tried fixing this by making the condtional class present check in `FunctionEndpointInitializer` static, and adding it to `--initialize-at-build-time`. Didn't work.

[2020-11-19 14:10] sdeleuze commented on #368
With verbose logs during the build I see in the logs:
[code]

@aclement Is there some fine tuning needed on the feature side?

[2020-11-19 14:11] sdeleuze commented on #349
Ok let's move that one to 0.9.0, I will skip the broken agent tests for now.

[2020-11-19 15:46] #352 closed

[2020-11-19 15:46] #235 closed

[2020-11-19 16:24] aclement commented on #368
Just to clarify that message is not from us, it is from GraalVM, but I will take a look.

[2020-11-19 18:43] ericbv commented on #367
@sdeleuze I'm experiencing the same error when trying to run `mvn spring-boot:build-image` on the petclinic-jpa sample.
Version of spring-data-commons  is 2.4.1

[2020-11-19 19:27] sdeleuze commented on #367
Ok so that's the version shipped with Spring Boot 2.4.0. I don't see it in `petclinic-jpa`, are you using Spring Data REST or Spring HATEOAS? Are you using `spring-graalvm-native` 0.8.3-SNAPSHOT?

[2020-11-19 19:32] sdeleuze commented on #368
I think the error is on Spring Cloud Function side, the [classpath check](https://github.com/spring-cloud/spring-cloud-function/commit/01be2060e6556eee482aad54914258a378cd49fe#diff-e1d19021687b44761db557fd3afacc35208e272ff3a37d3d5a6d5e410151f70dR83) is done on `org.springframework.http.server.reactive.HttpHandler` which is in `spring-web` so present when Spring MVC is used. The check should probab

[2020-11-19 22:43] #357 closed

[2020-11-19 22:43] aclement commented on #357
Just needed to add hints so reflection could see the HttpStatus/ResponseStatus. Thanks for the sample, used that to verify.

[2020-11-19 22:44] aclement commented on #357
Rather than adding these directly as hints we could enhance `WebComponentProcessor` to only do it if needed in the future.

[2020-11-19 22:45] aclement commented on #349
I switched to linux and found myself confused when the 20.3 release worked for me - what was different with the build machine? I discovered if you are using a labsjdk 'debug' underneath GraalVM things fail. If you use a non-debug labsjdk it works. So I was able to start recreating the problem on my Mac by rebuilding GraalVM with a debug labsjdk.

[2020-11-20 02:06] String123 commented on #367
@sdeleuze Version of spring-data-commons is 2.4.1.Version of GraalVM is 20.3.Version of spring-graalvm-native is 0.8.3-SNAPSHOT.Version of jdk is 11.

[2020-11-20 06:53] sdeleuze commented on #367
Could one of you provide a repro project ?

[2020-11-20 07:09] String123 commented on #367
@sdeleuze https://github.com/String123/spring-native-jpa-demo.git

[2020-11-20 07:35] ericbv commented on #367
For me this happens with an unmodified version of the current petclinic-jpa sample on this Repo.
I've also tried is on a different machine, exact same error.

Reprodution steps:
- Checkout current version
- cd to petclinic-jpa version
- mvn spring-boot:build-image

For me mvn spring-boot:build-image is not using GraalVM  20.2.0 it seems to be GraalVM 20.3.0, I'm seeing this in the log output:

[co

[2020-11-20 07:48] #349 closed

[2020-11-20 08:50] String123 commented on #367
@sdeleuze @ericbv The problem is solved after installing WSL2-Linux-Kernel for my Win 10 system.

[2020-11-20 10:53] sdeleuze commented on #349
I confirm what you found Andy, I have switched our container images to non-debug JDK and will raise an issue on GraalVM side.

[2020-11-20 11:26] sdeleuze commented on #367
I confirm this issue which only happens in buildpacks cc @nebhale.

[2020-11-20 12:43] tibberg opened #370 "Update the documentation to support only current Boot version"
I was following the getting started guide (https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.2/spring-graalvm-native-docs-0.8.2.zip!/reference/index.html#_getting_started) and if I set the parent project's version to 2.4.0 the build was not successful. I got the following error (both buildpack and the native-image maven plugin):

[code]

[2020-11-20 12:50] sdeleuze commented on #367
For some reason I know see this error on CI (yeah CI is back) https://ci.spring.io/teams/spring-graalvm-native/pipelines/spring-graalvm-native/jobs/build-20.3-dev-java11-samples/builds/12

[2020-11-20 13:35] dsyer commented on #368
Still not working. Re-opening.

[2020-11-20 13:40] #366 closed

[2020-11-20 14:14] sdeleuze commented on #370
Yeah that's expected and [documented](https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.2/spring-graalvm-native-docs-0.8.2.zip!/reference/index.html#_spring_boot). 0.8.3 is just around the corner, so you won't have to wait too much ;-)

[2020-11-20 14:32] tibberg commented on #370
just a tiny addition, here it says 2.4.0-RC1 or above.
https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.2/spring-graalvm-native-docs-0.8.2.zip!/reference/index.html#_update_the_build_file

[2020-11-20 16:07] sdeleuze opened #371 "Redis sample is broken"
Likely due to a side effect of https://github.com/netty/netty/issues/10797. Not sure yet why are workaround that worked for other Netty project do not work here. The error is `Fatal error:com.oracle.graal.pointsto.util.AnalysisError$ParsingError: Error encountered while parsing io.netty.util.NetUtil.<clinit>() `.

[2020-11-20 16:08] sdeleuze commented on #367
[Latest build](https://ci.spring.io/teams/spring-graalvm-native/pipelines/spring-graalvm-native/jobs/build-20.3-dev-java11-samples/builds/14) so not sure that's something that fully reproducible.

[2020-11-20 17:05] #371 closed

[2020-11-20 20:56] sdeleuze commented on #370
Good point, I will update the doc accordingly thanks.

[2020-11-20 21:54] aclement commented on #367
Believed fixed. Two issues at play:
- Unpredictability. This is actually caused due to a TODO in the code we hadn't gotten around to, supporting split packages when resolving types. This originally was a very low priority (what fool splits a package...) *but* because of how we handle hints on package visible types, we have split packages in spring-graalvm-native.  Depending on what order they ende

[2020-11-20 21:54] #367 closed

[2020-11-21 07:46] sdeleuze commented on #368
As analyzed by @aclement, the root issue is the `RouterFunction` lambda not it the classpath that make the reflection entry not taken in account.

We should probably wait 0.9.0 and #345 to fix it.

[2020-11-21 07:48] sdeleuze commented on #359
We will provide an update early December, please subscribe to #22 to follow our progress on that.

[2020-11-21 07:48] #359 closed

[2020-11-22 16:08] bitbaggi opened #372 "Fix GeoJsonConfiguration.class error with MongoDB + web support"
Hello all,

i have an repository with a basic Spring boot app and mongodb -> https://github.com/bitbaggi/native-web-application.
I want to create a native-image from it.

The native-image build running successfully, but when i try to run the application with docker i get an error:

**java.io.FileNotFoundException: class path resource [org/springframework/data/mongodb/config/GeoJsonConfiguration.cl

[2020-11-23 09:33] itzikiusa opened #373 "Issue when trying to start application"
Hi, getting the following error when trying to start application(native image build goes smoothly)
using:
r2dbc
elasticsearch
webflux
cloud config
cloud discovery

i don't know if it has affect but it is multi module app
probably i'm missing something, just trying to figure out what

getting the following error:
`2020-11-23 11:29:17.797  WARN 13888 --- [           main] onfigReactiveWebServerAppli

[2020-11-23 09:41] #370 closed

[2020-11-23 10:43] halimpuckjava opened #374 "Automatically configure resources from src/main/resources"
hi

i have some resources in classpath (database sql schema, assets, ....) so native image created with success but when launch it exceptions appear (resources not found) however when try to execute fat jar its work fine

i use spring boot 2.4.0 (kofu), graal maven plugin 20.3, graalvm 20.3.0 (based on java 8)

[2020-11-23 11:21] itzikiusa commented on #373
when moving to single module, seems better, though now getting the following error:
`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.transaction.annotation.ProxyTransactionManagementConfiguration': Initialization of bean failed; nested exception is org.springframework.core.annotation.AnnotationConfigurationException: Invalid declaration o

[2020-11-23 13:12] sdeleuze commented on #374
@aclement @bclozel @dsyer What about adding a build time transformation that create the right GraalVM resource config that includes by default project `src/main/resources/**`?

[2020-11-23 13:52] halimpuckjava commented on #374
@sdeleuze

its good idea

[2020-11-23 19:56] trisberg opened #376 "Not able to turn off boot banner when using 0.8.3"
We have `spring.main.banner-mode=off` in the `application.properties` but even though this file is included in `resource-config.json` we get the boot banner when the app starts.

In addition we can't turn it off using an env var either.

[code]

[2020-11-23 20:05] aclement commented on #376
can you turn it off in your app main whilst we dig into it?

[2020-11-23 20:13] trisberg commented on #376
yes, will do that for now, thanks

[2020-11-24 08:16] bitbaggi commented on #372
I've build a gitlab ci, there you can see the complete Build and run log.
https://gitlab.com/bitbaggi/native-web-application/-/jobs/868066281

[2020-11-24 09:59] sdeleuze opened #378 "Use org.springframework.nativex package"
`native` is a Java reserved keyword and can't be used in pckages.
`graalvm` is too specific.
`nativex` refers both to Native eXtensions and Native eXecutables.
`nativex.graalvm` subpackage could be used for GraalVM specific code.

[2020-11-24 10:00] #378 closed

[2020-11-24 10:54] halimpuckjava commented on #374
@sdeleuze

i hope to fix this issue in next version of spring native image (0.9.0)

[2020-11-24 14:51] sdeleuze commented on #237
There are indeed cross beans invocations in `WebSocketMessageBrokerConfigurationSupport` which can't be supported by native.

@rstoyanchev Any chance we could change `WebSocketMessageBrokerConfigurationSupport` to avoid cross `@Bean` invocation and allow using `@Configuration(proxyBeanMethods = false)` in `DelegatingWebSocketMessageBrokerConfiguration` in Spring Framework 5.3 timeframe or is it to

[2020-11-24 15:58] rstoyanchev commented on #237
Certainly something to consider soon and decide based on the result.

[2020-11-24 17:25] MuriloFtto commented on #237
Does that help ?, We modified the websocket to work.

https://github.com/MuriloFtto/WebscoketExample

This repository has a modified library

[2020-11-24 17:58] sdeleuze opened #380 "Measure and potentially fix build time regression"
My measurements on `webmvc-tomcat` sample
- 0.8.2 - 20.2.0 : 64.8s
- 0.8.2 - 20.3.0 : 60.9s
- 0.8.3 - 20.2.0 : 74.7s
- 0.8.3 - 20.3.0 : 71.8s

So there is a regression between 0.8.2 and 0.8.3 we should identify and remove.

Originally raised via https://spring.io/blog/2020/11/23/spring-native-for-graalvm-0-8-3-available-now#comment-5163901805.

[2020-11-24 20:38] ArjanSchouten opened #381 "Lombok copyable annotations not working with spring graalvm native"
The lombok feature `lombok.copyableannotations` (https://projectlombok.org/features/constructor) together with a RequiredArgsConstructor and a Spring `@Value` annotation do not work with the following code:

[code]
However this works:
[code]

The output when building with graalvm native is:
[code]

Steps to reproduce (requires docker):
[code]

Is this a bug in spring-graalvm-native?

**Spring-graa

[2020-11-24 21:26] ArjanSchouten commented on #381
To give some more info: if I want to use other tools that inspect the bytecode (pitest in my case) I also need to set
[code]
From the documentation:

lombok.addLombokGeneratedAnnotation = true

[2020-11-25 09:34] fer-marino opened #382 "Fix @ConstructorBinding on non nested class"
Hi everybody,
I have the following application: https://github.com/fer-marino/spring-native-issue

It is a spring boot 2.4 kotlin application that is supposed to be used from command line. It uses an application.yml file located in the classpath and mapped to data classes via the @ConfigurationProperty annotation. This works fine on the JVM but it doesn't with graal native. The application compile

[2020-11-25 10:01] christian-draeger commented on #247
according to the [example project for spring security](https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/security) you need to add the `--enable-all-security-services` (found it in the `compile.sh`).
had the same error as described and setting the flag at native-image helped. (i'm running a servlet app with basic auth)

[2020-11-25 10:08] sdeleuze commented on #247
@eleftherias As discussed previously, I have added required flags for dependency using a starter by starter granularity to the [support documentation](https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-docs/src/main/asciidoc/support.adoc). Since `master` branch is now targeting `0.9.0-SNAPSHOT`, feels free to add Spring Security  starter with th

[2020-11-25 10:39] christian-draeger opened #383 "Add scheduling support"
My native-image generation is crashing when using schedulers on my servlet application.
When i remove `@EnableScheduling` from my application class the error goes away.
Since I could find nothing about scheduling in the sample projects i assume it's a bug or not supported for now?

here is my stacktrace:

[code]

are there any workarounds how i could make this thing work?

[2020-11-25 15:40] sdeleuze opened #384 "Fix data-neo4j sample flaky sample on the CI"
I have been on the machine and found following output:
[code]
That's what I have on the machine so it does not seems to be artificially truncated.
And the `grep` is done on `QUERY BY EXAMPLE` so that's an expected failure.

`/var/log/neo4j/neo4j.log`
[code]

The same run on my laptop or when the CI is green is:
[code]
@christophstrobl @michael-simons Any thoughts on the reason of the failure based

[2020-11-25 15:45] sdeleuze opened #385 "Fix data-elasticsearch sample flaky sample on the CI"
Like #384 for Neo4J, the Elasticsearch sample has been broken on https://ci.spring.io/teams/spring-graalvm-native/pipelines/spring-graalvm-native/jobs/build-20.3-dev-java11-samples/builds/22 with a message:

[code]
I will ignore it for now, please remove the `.ignore` file when solved.

[2020-11-25 16:40] sdeleuze commented on #374
Yeah I think that's a simple one that would bring a lot of added value.

[2020-11-25 16:47] sdeleuze opened #386 "Reduce the need for reflection by using functional configuration"
Leveraging @dsyer work on https://github.com/spring-projects-experimental/spring-init. The scope is not to be 100% reflection-less but rather to limit the amount of reflection to lower the footprint and increase the compatibility. Reflection will typically remain for `@Controller` etc.

[2020-11-25 16:54] sdeleuze commented on #157
We could maybe use a similar build time transformation than the one described in #374.

[2020-11-25 19:27] ivangfr opened #387 "Document that --enable-https may be required for Elasticsearch"
Hi!

I've recently tried to build a spring-boot application that uses **Elasticsearch**. I am not using **Data-Elasticsearch** as in this [sample](https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/data-elasticsearch) but indexing/searching data using RestHighLevelClient.

Here is the application: https://github.com/ivangfr/graalvm-quark

[2020-11-26 10:53] doujs opened #388 "logback DEBUG log level is ALWAYS printed after compiled to exe"
After compiled to Exe , the output format for everything is **ALWAYS DEBUG** , no matter whatever log level is set in application.properties :
-----------
18:44:48.655 [http-nio-8081-exec-1] DEBUG org.hibernate.internal.util.EntityPrinter - Listing entities:
18:44:48.655 [http-nio-8081-exec-1] DEBUG org.hibernate.internal.util.EntityPrinter - com.test.aha.Student{name=new, ctime=null, id=5, school

[2020-11-26 15:35] Query-Interface commented on #303
Hi,

Progress status: I have written the new Hint class and updated pet-clinic jpa to support hsqldb. I have a last runtime issue with the class **org.hsqldb.lib.FrameworkLogger** which is looking for the java.home properties to reconfigure the logging manager (see [https://sourceforge.net/p/hsqldb/src/org/hsqldb/lib/FrameworkLogger.java#l364](https://sourceforge.net/p/hsqldb/svn/HEAD/tree/base/tr

[2020-11-27 12:23] richvim opened #389 "java.lang.IllegalArgumentException with OAuth2ClientAutoConfiguration"
Hey all!

I'm super excited to get my application compiled with graal-native, but I'm having an issue at runtime that I'm not sure how to investigate. The error that occurs is:

[code]

I know that auto-configuration is an issue with graal-native, but I'm not sure how to proceed with non-auto configuration. I've tried setting `spring.oauth2.client.clientId=` in `spring.factories`, but that didn't

[2020-11-27 13:54] richvim commented on #389
I fixed this issue by manually adding the following to my `reflect-config.json` inside the source tree after the first stage:

[code]

New issue now, but not related to this ticket.

[2020-11-27 13:54] #389 closed

[2020-11-27 14:20] richvim opened #390 "CommandLinePropertySource getProperty and containsProperty Final Methods Are Non-Proxyable"
While Graalifing my application, I ran into a compatibility issue in the `jasypt-spring-boot`, which I describe in an issue here: https://github.com/ulisesbocchio/jasypt-spring-boot/issues/246

This is the source of the offending function:

[code]

Looking at the comment, it seems that removing `final` from `getProperty` and `containsProperty` of `CommandLinePropertySource` in Spring would remove

[2020-11-28 05:00] jbiancot opened #391 "Pi4 2GB of ram, Ubuntu 20.04 - Image generator watchdog is aborting image generation. To configure the watchdog..."
Hi folks,

I have build successfully using:
Linux Ubuntu-20-04 5.4.0-54-generic #60-Ubuntu SMP Fri Nov 6 10:37:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 20.04.1 LTS, with 8 GB of RAM, that is a VM running on my Mac under Parallels Desktop v16 for Mac.
openjdk version "1.8.0_272"
OpenJDK Runtime Environment (build 1.8.0_272-b10)
OpenJDK 64-Bit Server VM GraalVM CE 20.3.0 (build 25.272-b10-j

[2020-11-28 16:10] VuDo98 opened #392 "RibbonAutoConfiguration error at build time"
Hi, I am getting this error at build time when using spring-cloud-starter-netflix-eureka-client with HOXTON.SR8. It looks like the error is caused by the dep itself. Is there any possible fix without waiting for the dep to be update or fixed?

`

Analyzing org.springframework.cloud.netflix.ribbon.RibbonAutoConfiguration reached by [[Ctx:org.springframework.cloud.netflix.ribbon.RibbonAutoConfigurat

[2020-11-29 00:59] mikrethor commented on #372
I have the same problem using 2.4.0 and maven. I am trying to find what to add to make it work using https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.3/spring-graalvm-native-docs-0.8.3.zip!/reference/index.html#_diagnosing_issues_with_the_feature

[2020-11-29 07:47] VuDo98 commented on #331
Hi @sdeleuze I am still seeing this error with the same previous one with spring graalvm 0.8.3, graalvm 20.3, and spring cloud deps 2020.0.0-SNAPSHOT follow the example in samples. Log (1) is attached. I am not sure if I can reproduce this on a minimal because I tried to run a minimal config on the discovery client sample but it gave me error like log (2).

[log 1.txt](https://github.com/spring-pr

[2020-11-30 05:55] christophstrobl commented on #372
Thanks for reporting we will look into this.

[2020-12-01 01:05] aclement commented on #392
Per the message you can run with `-Dspring.native.verify=false` to turn off the check, it may work. But yes, you are right, it highlights an issue in the dependency itself.

[2020-12-01 01:38] aclement commented on #383
Whilst waiting for proper support for scheduling, this works:

I just used the agent to collect config and my scheduling sample went fine. Here is what I did:

1. I used the spring guide for scheduling https://spring.io/guides/gs/scheduling-tasks/ - cloning the repo https://github.com/spring-guides/gs-scheduling-tasks

2. Using the 'complete' sub folder as my sample I updated it to Boot 2.4.0 and

[2020-12-01 01:38] VuDo98 commented on #392
I did try to build with `-Dspring.native.verify=false` but it still give the same error as if it is still verifying. Please correct me if my understanding is wrong.

[2020-12-01 07:50] magnus-larsson opened #393 "The actuator-webflux sample fails when adding the property management.server.port"
# Summary

**spring-graalvm-native version: 0.8.3**

I have tried to separate the port used by the actuator from the standard http port using the property `management.server.port`.
The native compiled Spring Boot app fails to start up. I guess the most important error message in the log ouput is:

[code]

**Note:** Using the property `server.port` to set the http port works fine.

# Steps to repro

[2020-12-01 15:44] gonella commented on #392
Same here. I used -Dspring.native.verify=false but it seems getting ignored. Besides that, what is exactly option to solve this issue? Is there any wiki showing guidelines to convert it?

Should I convert @Bean to what?  When mentioned about "instance injection", we need to add bean programmatically to Spring Web App Context?

with something like:

AutowireCapableBeanFactory.initializeBean(Object

[2020-12-01 17:54] VuDo98 opened #394 "com.sun.proxy.$Proxy cannot be cast with latest version"
Reopen of ticket #331

Hi @sdeleuze I am still seeing this error with the same previous one with spring graalvm 0.8.3, graalvm 20.3, and spring cloud deps 2020.0.0-SNAPSHOT follow the example in samples. Log `build with agent + test.txt` is attached. I am not sure if I can reproduce this on a minimal because I tried to run a minimal config on the discovery client sample but it gave me error like l

[2020-12-01 22:22] Query-Interface commented on #303
Hi,
I have sent the PR: https://github.com/spring-projects-experimental/spring-graalvm-native/pull/395

Regards,
Arnaud

[2020-12-02 07:28] magnus-larsson opened #396 "The data-mongodb-reactive sample fails when MongoDB requires authentication"
# Summary

**spring-graalvm-native version: 0.8.3**

I have tried to use username and password to authenticate the data-mongodb-reactive sample app.
It works when running the app as a normal jar-file but the native compiled Spring Boot app fails to start up.

Error message:

[code]

See below for the full log output.

# Steps to reproduce the error

1. Get the code:

[code]

2. Create a new `docke

[2020-12-02 09:57] sdeleuze commented on #391
Hi, native image compilation takes a lot of RAM, I think that's expected to not see it not working with 2G. If you still see a watchdog issue with more memory, I think this should be raised on https://github.com/oracle/graal side not here.

[2020-12-02 09:57] #391 closed

[2020-12-02 17:24] sdeleuze commented on #387
I think `--enable-https` could be required, could you try to add that to the `native-image` arguments? If that's fine, we should probably update the [support documentation](https://github.com/spring-projects-experimental/spring-graalvm-native/blob/master/spring-graalvm-native-docs/src/main/asciidoc/support.adoc).

[2020-12-02 17:49] sdeleuze commented on #388
Indeed I can reproduce, I have created a 0.8.4 milestone in order to fix that without waiting too much.

[2020-12-02 17:50] sdeleuze opened #397 "Upgrade to Spring Boot 2.4.1"

[2020-12-02 18:03] sdeleuze commented on #396
Could you please try to add `--enable-all-security-services` to `native-image` arguments to see if that fixes this issue?

[2020-12-02 18:27] sdeleuze commented on #390
CGLIB proxies are not supported on native images, so I think this will require #356 to be fixed.

[2020-12-02 18:27] #390 closed

[2020-12-02 20:06] magnus-larsson commented on #396
Yes, it did! Thanks a lot for helping out!

II also had to fix my own typo in `docker-compose-yml`, where I set the username for the mongo-app to `p` instead of `u` :-)

[2020-12-02 20:06] #396 closed

[2020-12-02 20:40] #376 closed

[2020-12-02 20:41] aclement commented on #376
We removed reflective config for `SpringApplication.class` to save vast amounts of image size (like 5m on commandlinerunner). Unfortunately that was going too far. We at least need `setBannerMode` access to enable property control of the banner to work. I've added reflective access to just this method, and property control is working.

[2020-12-02 20:45] ivangfr commented on #387
I added `--enable-https` to `native-image` call

[code]
Once the native image is built and I run it, I have the following exception
[code]

[2020-12-02 21:12] #393 closed

[2020-12-02 21:14] aclement commented on #393
Fixed - added hint for missing element. Unusual to need to add one for something ending `...Configuration` but it is introduced programmatically during event handling rather than discoverable purely statically from looking at annotations.

[2020-12-02 22:57] aclement commented on #392
[code]

That would be something like:

If you have this code below, which would trigger the verification problem (because the call to bar() is made directly, it normally requires proxy interception):

[code]

switch it to this where `bar()` is not called explicitly.

[code]

Now the error here is telling us about it occurring in a separate library on your class path, so nothing you can do in your

[2020-12-02 23:45] #383 closed

[2020-12-02 23:45] aclement commented on #383
I converted the agent collected config computed above into hints and pushed the sample into our samples folder. Will it work for every scheduling scenario? Unlikely but that sample is working right now that at least means something works.

[2020-12-03 05:54] aclement commented on #353
The problem here is we have a lovely system for analyzing mvc annotations. However, we don't currently run all that for things coming in from random jars on the classpath (separate to the main project that is being built). It's a known limitation and had to be addressed at some point, i guess this is the bug where we do it.

[2020-12-03 06:31] magnus-larsson commented on #393
Great, thanks!

Just want to confirm that after switching to the master branch and then rebuilding the native Docker image it simply worked!

[2020-12-03 09:55] sdeleuze commented on #387
Ok I will update the documentation accordingly.

Your controller is using is using [`@Validated` on a controller class](https://github.com/ivangfr/graalvm-quarkus-micronaut-springboot/blob/master/elasticsearch/springboot-elasticsearch/src/main/java/com/mycompany/springbootelasticsearch/rest/MoviesController.java#L21
)  which is likely not supported yet and wil required #356 to be supported. cc @ch

[2020-12-03 11:53] richvim commented on #356
This is a blocker for our applications, so absolutely would love to see this feature added.

[2020-12-03 13:54] sdeleuze commented on #394
Potentially related to the fact we force JDK proxies in all circumstances as pointed out by @aclement.

[2020-12-03 14:39] sdeleuze commented on #392
Ok so `RibbonAutoConfiguration` was indeed using cross `@Bean` invocations which is not a construct supported on native, but Ribbon is not supported anymore in upcoming 2020.0 release train (to be release shortly) so I would advise to wait this release whihc brings improved native compatibility and use Spring Cloud Loadbalancer instead of Ribbon. If Spring Cloud Loadbalancer shipped with 2020.0 do

[2020-12-03 14:39] #392 closed

[2020-12-03 14:41] sdeleuze commented on #374
Warning from @aclement : risk of shipping indirectly resources in JARs with similar path. I am not sure yet this is a blocking issue. That said do we have ways to avoid this? Not sure.

[2020-12-03 14:48] dsyer commented on #392
Spring Cloud Loadbalancer is also available in Hoxton (no guarantees it works with native images out of the box, but it's worth a try, and that would be a different issue anyway).

[2020-12-04 09:39] AndersClausen opened #398 "GraalJSEngineFactory was unintentionally initialized at build time error"
Hi all
I've got an API that uses spring-data-elasticsearch and spring-webflux and I'm running spring boot 2.4.0 with spring-graalvm-native 0.9.0-SNAPSHOT. I get the following error when doing `mvn spring-boot:build-image`:

[code]
This is my Elasticsearch configuration:

[code]

and finally, this is how I've configured my build plugin:

[code]

I don't think I should be using `-Dspring.native.veri

[2020-12-04 16:52] sdeleuze opened #399 "Refine buildpack integration"
After a discussion with @nebhale and @ekcasey about buildpacks, GraalVM, and Spring Native, we decided to improve build reproducibility with following upcoming changes:
 - Buildpacks will provide access to the latest minor of the 2 latest majors, for example next year 20.3.0 + 21.0.0 then 20.3.0 + 21.1.0 etc and a way to define the GraalVM version (`20.3.0` or 21.0.0` for example).
 - Setting `spr

[2020-12-04 18:45] VuDo98 commented on #394
Ok I wait till the beta for this issue to be fixed. Thank you

[2020-12-06 19:05] sdeleuze opened #400 "Avoid using reflection in ParameterNameDiscoverer"

[2020-12-06 19:31] sdeleuze commented on #388
My mistake, I can't reproduce.

[2020-12-06 19:31] #388 closed

[2020-12-07 11:38] sdeleuze commented on #237
This now should be possible thanks to [those changes](https://github.com/spring-projects/spring-framework/commit/017242463502f451c6c71a823b9c5232276dd78e) in Spring Framework. Notice it will require some reflection
configuration since `ParameterNameDiscoverer` needs to be able to recognize parameter names to differentiate the beans to inject.

[2020-12-07 15:57] #387 closed

[2020-12-07 17:44] sdeleuze commented on #289
Based on the comments, I think this should be fixed as of 0.8.3, please reopen if that's not the case.

[2020-12-07 17:44] #289 closed

[2020-12-07 18:38] #303 closed

[2020-12-07 18:38] #384 closed

[2020-12-07 18:38] #385 closed

[2020-12-07 23:57] aclement commented on #381
Yes I think we could do better here. If you want your app to work, place this in `src/main/resources/META-INF/native-image/reflect-config.json`:
[code]

[2020-12-08 00:08] aclement commented on #398
It looks to me like the configuration class in question was only recently changed to fix this issue, this commit addresses the problem described in the errors:
https://github.com/spring-projects/spring-data-elasticsearch/commit/54727229e1bfc8e88fdf45025b286c1e9bf29cfa#diff-38aecde9df319fccd77f2332233a02feb31b23f9e00c3e0d3917db36ae3af6d1

I wonder if there is a snapshot build of elastic search you

[2020-12-08 10:49] sdeleuze commented on #372
@aclement I tried to solve it by adding this hint to `MongoRepositoriesHints`:
[code]
But same `class path resource [org/springframework/data/mongodb/config/GeoJsonConfiguration.class] cannot be opened because it does not exist` error at runtime. In build logs I have:
[code]
Could it be possible that the multiple configurations for `GeoJsonConfiguration` make my resource config not taken in accoun

[2020-12-08 13:57] #297 closed

[2020-12-08 14:30] sdeleuze commented on #398
Fixed on Spring Data Elasticsearch `master` but not in the version shipped with Spring Boot 2.4.x so [I asked a backport](https://github.com/spring-projects/spring-data-elasticsearch/pull/557#issuecomment-740652557) as suggested by @mp911de. cc @christophstrobl

[2020-12-08 17:24] sdeleuze commented on #219
Closing this one for lack of feedback.

[2020-12-08 17:24] #219 closed

[2020-12-08 17:42] ArjanSchouten commented on #381
Thanks. Isn't it more a general issue with Lombok? For example using Lombok with Jackson won't work without a reflect-config.json.

[2020-12-08 20:00] #237 closed

[2020-12-08 23:30] aclement commented on #282
I don't think this is an issue any longer. We have code that looks at `spring.autoconfigure.exclude` and if something is listed and the feature was going to throw it out, we'll still add the reflective data for it so that the spring.autoconfig.exclude processing won't fail (effectively, ironically, the exclusion is going to make the image bigger and use more memory...).  Now this code only handles

[2020-12-08 23:30] #282 closed

[2020-12-08 23:32] aclement commented on #353
Fixed, I actually think this particular case came down to a missing hint rather than the analysis logic not working.

[2020-12-08 23:32] #353 closed

[2020-12-09 16:32] #174 closed

[2020-12-11 02:27] ahTy opened #403 "How can I use GraalVm agentlib in graalvm version 20.3.0"
How can I use GraalVm's reflection configuration assistant tool agentlib to assist in generating relevant configuration files in my spring cloud project (springcloud version 2020.0.0-SNAPSHOT, springboot version 2.4.0, graalvm version 20.3.0)

When i try to use
‘java -agentlib:native-image-agent=config-output-dir=./native-image/ -jar myproject.jar’
it break down and return me core error
![image](h

[2020-12-11 02:28] ahTy commented on #403
error info：
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fdb5418248a, pid=19138, tid=0x00007fdb5764a700
#
# JRE version: OpenJDK Runtime Environment (8.0_272-b10) (build 1.8.0_272-b10)
# Java VM: OpenJDK 64-Bit Server VM GraalVM CE 20.3.0 (25.272-b10-jvmci-20.3-b06 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# C  [libnative-i

[2020-12-11 10:18] sdeleuze commented on #403
Please report this bug on https://github.com/oracle/graal/issues and attach the `hs_err_pid19138.log` file.

[2020-12-11 10:18] #403 closed

[2020-12-11 15:41] #397 closed

[2020-12-12 13:35] geekrusice opened #404 "Add MyBatis support"
I used Springboot+[MybatisPlus](https://baomidou.com/en/) in the project When I did not add MybatisPlus, I could successfully build a native image and run it successfully.
Join MybatisPlus, although it can be compiled and generated native image, but the running error. Error memory is as follows:

[code]

## pom.xml

[code]

## Bootstrap Application

[code]

## Error screenshot

<img width="1440" a

[2020-12-14 10:31] sdeleuze opened #405 "Fix cloud-function-netty-fun sample"
Seems broken with Spring Cloud 2020.0.0-RC1.

[2020-12-14 14:04] sdeleuze opened #406 "Remove build time init for Hibernate validator"
And remove manual init config from all samples like Cloud ones.

[2020-12-14 14:04] dsyer commented on #405
Fixed in c7c043235 but could be improved by moving that hint to the feature.

[2020-12-14 14:20] #405 closed

[2020-12-14 19:34] hakandilek opened #407 "Proxying ReactiveCrudRepository"
Hello everyone,

I have a problem while creating an instance of a _Reactive_ Spring Data proxy extending a `ReactiveCrudRepository`

Here is my sample Repository:
[code]

During the build, I see that `ProductRepository` is recognized correctly:
[code]

`verbose` output also indicates that it's been handled:

[code]
In runtime it's not able to create a proxied-instance of the `ProductRepository`:
[

[2020-12-14 19:52] linux-china opened #408 "Reactive return type support for RSocket"
Add the Reactive return type for RSocket  like following:

[code]

 Start the RSocket server,  make a request, and exception stacktrace thrown like following:

[code]

[2020-12-14 21:00] AndersClausen commented on #398
@sdeleuze @aclement you were right that the Elasticsearch problem mentioned above had been fixed - I updated to Spring Boot 2.4.1 and I don't get that error any longer. Unfortunately I get a new error, which I don't believe is related to Elasticsearch, so not sure if you want me to to raise a new issue or continue in this thread?

The error I'm seeing now is this

[code]

Any ideas? Thank you.

[2020-12-14 22:39] jamesward opened #409 "Add support for Kotlin Coroutines"
I have a basic Kotlin coroutine controller method:
[code]

Works fine in the JVM but fails at runtime when using a native image (`org.springframework.experimental:spring-graalvm-native:0.8.4`):
[code]

Without the `suspend` it works as expected:
[code]

[2020-12-15 00:33] jamesward commented on #409
Here is a project that reproduces the error (`graalvm` branch):
https://github.com/jamesward/springboot-kotlin-reactive-demo/tree/graalvm

[2020-12-15 07:07] AndersClausen commented on #398
By the way, this was the stacktrace I got when adding `-H:+ReportExceptionStackTraces`

[code]

[2020-12-15 13:33] sdeleuze opened #410 "Test -H:+InlineBeforeAnalysis with 21.0.0-dev"
Check if that solves https://github.com/oracle/graal/issues/2594 (likely yes) and  https://github.com/oracle/graal/issues/2500 (not sure).

[2020-12-15 13:44] sdeleuze commented on #398
Looks like https://github.com/oracle/graal/issues/2991, could you please try to specify `-H:ServiceLoaderFeatureExcludeServiceProviders=com.oracle.truffle.js.scriptengine.GraalJSEngineFactory` command line argument and let us know if that fixes the issue? If so I think we should set it automatically until they fix it on GraalVM side.

[2020-12-15 14:22] sdeleuze commented on #373
Could you please try with `0.8.4`, which provides some early native scheduling support and let us know if the error still occurs?

[2020-12-15 14:36] sdeleuze commented on #382
I can reproduce it with 0.8.4, maybe a `@ConstructorBinding` support related issue?

[2020-12-15 15:57] fer-marino commented on #382
it is a possibility, as that annotation relies on reflection to infer the constructor to bind to. Unfortunately I have no experience with graal and I don't know how to proceed.
After a quick check anyway I can tell you that I see support for `@ConstructorBinding` annotation in this project, but I don't see support for `org.springframework.core.KotlinDetector` which is used here. Maybe this is kotl

[2020-12-15 16:29] itzikiusa commented on #373
@sdeleuze will try and update

about multi module support? it is known issue?

[2020-12-15 18:00] AndersClausen commented on #398
Thanks for the quick reply @sdeleuze - your suggestion didn't fix the error but brought out a slight variation of it:

[code]

The new output was
[code]

and this one

[code]

Please let me know if there's anything else you want me to try out. Cheers

[2020-12-15 18:16] juergenzimmermann opened #411 "Downloading graalvm-ce within the Gradle task is unbelievable slow"
Downloading https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.3.0/graalvm-ce-java11-linux-amd64-20.3.0.tar.gz within the Gradle task sometimes takes hours. It would be nice to have an option to specify a local installation path.

Please see this screenshot for the ultra-slow download speed while other accesses to GitHub work fine:
![grafik](https://user-images.githubusercontent.

[2020-12-15 19:04] jamesward commented on #411
Note that the Gradle Graal plugin caches it: https://github.com/palantir/gradle-graal
(Which might be harder with buildpacks)

[2020-12-15 19:19] bclozel commented on #411
See paketo-buildpacks/java#86

[2020-12-15 19:27] jamesward opened #412 "Support and document user provided hints"
I haven't been able to get JSON deserialization in `WebClient` working with Kotlin without manual decoding.

Jackson:
https://github.com/jamesward/springboot-kotlin-reactive-demo/tree/graalvm-kofu-jackson
[code]

KTX Serialization:
https://github.com/jamesward/springboot-kotlin-reactive-demo/tree/graalvm-kofu-ktx-serialization
[code]

[2020-12-15 20:05] juergenzimmermann commented on #411
@bclozel Setting `pullPolicy = org.springframework.boot.buildpack.platform.build.PullPolicy.IF_NOT_PRESENT` for the Gradle task `bootBuildImage` doesn't change anything.

[2020-12-16 09:15] halimpuckjava opened #413 "Spring graalvm native embeded default resource classpath in native executable"
@sdeleuze

i just ask if version 0.8.4  embedded resource classpath in native executable ?

[2020-12-16 10:14] sdeleuze commented on #413
Hi, no, please do not create issues for asking questions like that, we will update the related issue when that's released.

[2020-12-16 10:14] #413 closed

[2020-12-17 08:09] String123 opened #414 "com.oracle.svm.core.jdk.UnsupportedFeatureError: ObjectOutputStream.writeObject()"
java.lang.ExceptionInInitializerError: null
        at com.oracle.svm.core.classinitialization.ClassInitializationInfo.initialize(ClassInitializationInfo.java:291) ~[na:na]
        at org.springframework.data.redis.cache.RedisCacheManager.createRedisCache(RedisCacheManager.java:278) ~[data-redis:2.4.2]
        at org.springframework.data.redis.cache.RedisCacheManager.getMissingCache(RedisCacheMana

[2020-12-17 08:16] christophstrobl commented on #407
Thanks for reporting! While waiting for the fix to be applied you could remove the `@Repository` annotation from the `ProductRepository` as it is not required.

[2020-12-17 08:18] String123 commented on #414
https://github.com/String123/spring-graalvm-redis-test

[2020-12-17 08:36] bclozel commented on #414
Hello @String123

This is the expected behavior with GraalVM, [since Java serialization is not supported in that environment](https://www.graalvm.org/reference-manual/native-image/Limitations/#serialization).

You can fix that by configuring your redis cache to use a Jackson JSON serializer instead (or any other serializer that doesn't rely on Java serialization).

Thanks!

[2020-12-17 08:36] #414 closed

[2020-12-17 09:54] #407 closed

[2020-12-17 21:12] hakandilek commented on #407
Thanks for the advice and the fix. I am heavily testing the webflux/r2dbc combination and found several other issues. I'll report them separately.

[2020-12-18 10:00] sdeleuze commented on #398
Indeed this workaround does not work, I think we are blocked on oracle/graal#2991.

[2020-12-18 10:01] sdeleuze commented on #115
Blocked on oracle/graal#2991.

[2020-12-18 12:19] #408 closed

[2020-12-18 12:29] uqix commented on #411
@juergenzimmermann just FYI

https://paketo.io/docs/buildpacks/configuration/#bindings

https://paketo.io/docs/buildpacks/language-family-buildpacks/java/#connecting-to-a-private-maven-repository

https://github.com/spring-projects/spring-boot/issues/24556

https://github.com/paketo-buildpacks/bellsoft-liberica/issues/7

We have similar situation as yours,  I have set up a proxy to speed up the do

[2020-12-18 15:11] sdeleuze commented on #409
If have switch `KotlinDetector` initialization to build time and order to fix that, then added `Continuation` related reflection entries but that seems not sufficient, see https://github.com/spring-projects-experimental/spring-graalvm-native/tree/webflux-kotlin.

I suspect `kotlin-reflect` to be too reflection based and big to be really a good fit for native, so in parrallel on working on that I h

[2020-12-18 15:31] sdeleuze commented on #412
We should at least analyse it in 0.9.0, see potentially related https://github.com/spring-projects/spring-framework/issues/21546 issue.

[2020-12-18 15:39] hakandilek opened #417 "Transitive dependency/classpath resolution"
Hello everyone,

I receive a `java.lang.ClassNotFoundException: org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator`

If I add the `hibernate-validator` dependency, the issue is resolved:

[code]

I think this should not be necessary as this is pushed down by the `org.springframework.boot:spring-boot-dependencies` and forces migration of non-native projects to use native- ima

[2020-12-18 15:45] sdeleuze commented on #409
For the time being I have [documented that Coroutines are not supported yet](https://github.com/spring-projects-experimental/spring-graalvm-native/commit/219bbb015d3d8abe3a1b00cc15d637245658ec16).

[2020-12-18 17:39] bnau opened #418 "Dev Environment best practices"
Hi everyone,

I don't know if it's the right place to ask this question.

I have tested some of the samples with the three suggested ways (building an image from Maven/Gradle, running build.sh, running run-dev-container.sh). Everything works perfectly!

However, when I edit a single line of code, a complete rebuild will be triggered, which can be an issue in a development context as the process is

[2020-12-18 18:23] sdeleuze opened #419 "Add Kotlin reflection support"
I had to [revert the switch of `KotlinDetector` to build time init](https://github.com/spring-projects-experimental/spring-graalvm-native/commit/0e1d104526a839b340bc132175b3f636042fcfcf), because when Kotlin reflection detection works correctly, more reflection is needed (error message like `Class com.example.webmvc.Bar[] is instantiated reflectively but was never registered`).

Short term we shou

[2020-12-18 21:54] hakandilek opened #420 "Add support for Jackson Java7 handlers"
Hello everyone,

I'm not sure if this is something that needs to be solved by `spring-graalvm-native` or how it should be handled though here is the problem:

When I run the application. upon first HTTP-Request I get this logging:

[code]

This is where the instance of `com.fasterxml.jackson.databind.ext.Java7HandlersImpl` is being created via reflection:

(from `com.fasterxml.jackson.databind.ext

[2020-12-18 22:05] spencergibb commented on #420
This only supports java 11 and up, not sure if that makes a difference #350

[2020-12-18 22:12] hakandilek commented on #420
Yes, I'm on 11:
[code]

[2020-12-19 01:25] aclement commented on #420
We have other hints for Jackson, I'm not against extending that a little. I've seen these warnings too but they haven't broken anything so haven't done anything about them.

Can you calculate the suitable reflect configuration for what you want to work? Then we can work that into the hints.  This involves:

- create a file `src/main/resources/META-INF/native-image/reflect-config.json`

- in that f

[2020-12-19 01:30] aclement commented on #418
It is normal that native-image takes a long time - more RAM will speed it up, more optimized config will speed it up - the latter of which I think we are gradually working on in this project, but it isn't going to get you down to build times of a few seconds.

You are trading off instant startup of the deployable artifact for costly build times. Right now you are correct that you might only do the

[2020-12-19 13:39] hakandilek commented on #420
@aclement thanks for the help.This one seems to be enough for a fix:

[code]

But I suppose we might need another entry for `Java7SupportImpl` for a complete fix:

[code]

I this case `JacksonHints.java` should be extended with the following, right?

[code]

I'll prepare a PR if you think it's ok.

[2020-12-19 16:15] bnau commented on #418
Thanks a lot for your answer! I wanted to be sure that there were no better alternative.

Anyway, switching between traditional Java and native image for development is a reasonable option.

[2020-12-20 06:17] guofengzh opened #422 "java.lang.ClassNotFoundException: org.springframework.graalvm.utils.LiteConfigurationInitializer"
I used 0.8.3 and got the error. I found that 0.8.5 is released, so I tried 0.8.5, but still got the same error.

How to solve it? Your help is appreciated.

This is the url for the pom: https://github.com/guofengzh/service-loader-example-graal/blob/master/service-example/pom.xml

the following is the stacktrace when run service-example.exe:
[code]

[2020-12-20 16:48] dbuos opened #423 "Actuator prometheus endpoint not get registered"
When I build the app with the "io.micrometer:micrometer-registry-prometheus" dependency, this is supposed to enable prometheus scrapping endpoint, (when I run the jar in JVM it is).

But when I run the binary generated by graalvm native-image feature the prometheus endpoint is not registered and not available.

[2020-12-20 17:12] hakandilek opened #424 "Missing Hints for Hibernate Constraint Validators"
Hello everyone,

If I add the [hibernate-validators](https://github.com/hibernate/hibernate-validator) dependency on a reactive webflux project and use the standard validation annotations like `javax.validation.Valid` on `@RestController` endpoints for validating beans with constrains like `javax.validation.constraints.NotNull` I see the following error on requests on those endpoints:

`Failed to

[2020-12-22 05:15] yiyingcanfeng commented on #404
[code]
mybatis-spring-boot-starter not work too.

[2020-12-22 10:20] khaeghar opened #425 "-Dspring.native.verify=false check not working"
Hi

I've been trying to deactivate the -Dspring.native.verify check, but it is not working.

The command I launch is:

`native-image --verbose -Dspring.native.remove-yaml-support=true -Dspring.native.verify=false -H:Name=$ARTIFACT --initialize-at-build-time=javax.el -H:ConfigurationFileDirectories=./ -H:ResourceConfigurationFiles=./resource-config.json -H:ReflectionConfigurationFiles=./reflect-con

[2020-12-22 16:06] marpleg opened #426 "Application with MySQL db access throws Exception when sending POST Request"
Hi, I just tried spinning up my Spring Boot Application, which connects to a MYSQL database. The Native Image Build succeeds with spring-graalvm-native 0.8.5 with graalvm 20.3.0, but when running the application and trying a POST request it throws the following:

[code]

The Stacktrace goes on afterwards.

Am I missing some reflect configurations or is it a compatibility issue?

[code]
Let me know

[2020-12-24 07:36] itziklavon opened #427 "Add spring-aspects support"
getting an error regarding spring aspect
however, i have dependency for spring aop in different module
also issue with springfox, i removed it, and this is the error i get
this is the trace:
[code]

[2020-12-28 23:11] lemonprogis opened #428 "getting a ClassNotFoundException: sun.security.provider.ConfigFile"
Hello spring-graalvm-native!

First, thanks for y'alls continued work on this project. Having some trouble with a rather slim spring-boot application using webflux, spring data jdbc connecting to mssql using mssql-jdbc 8.4.1.jre11.

I can compile the jar fine, then i copy it into a multi-stage docker build where I extract out and run native-image on it. then copy that to a final image. We connect

[2020-12-31 06:22] noxymon opened #429 "Fix IllegalStateException with logback"
Using [this](https://github.com/noxymon/crypto-api/tree/graalvm-support) repository
i got this error when running native image :

java.lang.IllegalStateException: FileNamePattern [log/crawler.log.%d{yyyy-MM-dd}.%i.gz] does not contain a valid DateToken
	at ch.qos.logback.core.rolling.TimeBasedFileNamingAndTriggeringPolicyBase.start(TimeBasedFileNamingAndTriggeringPolicyBase.java:52)
	at ch.qos.log

[2020-12-31 16:18] nfrankel commented on #349
I'm facing the same issue with a regular `spring-boot:build-image` and the following configuration:

[code]

[2021-01-04 15:41] sdeleuze commented on #428
Hi, you have added the `--enable-all-security-services` flag so I would expect it to work. I suspect it is not Spring related, but worth to check and raise at the right place. Could you please try by adding `sun.security.provider.ConfigFile` to the reflection configuration and see if it solved? Maybe `--enable-all-security-services` does not cover this use case yet ...

[2021-01-04 16:42] sdeleuze commented on #422
The root cause seems to be that this sample [is not using `@SpringBootApplication` but just `@Configuration`.](https://github.com/guofengzh/service-loader-example-graal/blob/master/service-example/src/main/java/sukumaar/SpringBootLoaderApplication.java#L7), any reason for that?

[2021-01-04 16:52] sdeleuze commented on #420
It is probably better to just initialize those classes at build time, I will do this change and ask for tests on snapshots.

[2021-01-04 16:54] hakandilek commented on #420
Yes, sure.

[2021-01-04 17:03] #420 closed

[2021-01-04 17:08] sdeleuze commented on #424
Thanks for raising it.

Complementary note, I also see a `ClassNotFoundException: org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator` error on [this sample](https://github.com/guofengzh/service-loader-example-graal/blob/master/service-example/pom.xml) (modified to use `@SpringBootApplication` instead of `@Configuration` on the main class).

[2021-01-04 17:32] grekier opened #431 "Add application.yaml support"
Hi.

I might be mistaken but it seems to me that application.yaml files are ignored thus some auto-configured beans are missing when building a native image. Those are available when running on JVM locally or in container.
I could not find any mention of yaml support or not in the documentation except for the flag to remove support so I wanted to clarify (and eventually request support for this).

[2021-01-04 21:02] aclement commented on #425
There was a time when the check for verification off wasn't in place for all routes to the verifier. This has been fixed, can you try with 0.8.5 instead of 0.8.3?

[2021-01-05 09:10] sdeleuze commented on #233
I can now do some Windows 10 testing myself so I will take it from there.

[2021-01-05 09:14] sdeleuze opened #432 "Upgrade to Spring Boot 2.4.3"
Done:
 - Switch `ReactiveAdapterRegistry` to build time initialization ([see related commit on Spring Framework](https://github.com/spring-projects/spring-framework/commit/3113917c553197fc5e25282b02c6dcc504e46dca)).

TODO:
- Try to see if that's possible to enable Kotlin reflection in [`DefaultParameterNameDiscoverer`](https://github.com/spring-projects/spring-framework/blob/master/spring-core/src

[2021-01-05 09:27] sdeleuze commented on #426
That probably relates to https://github.com/oracle/graal/issues/460 and should be fixed as part of [GraalVM 21.0.0](https://www.graalvm.org/release-notes/version-roadmap/).

[2021-01-05 09:27] #426 closed

[2021-01-05 09:29] sdeleuze opened #433 "Upgrade to GraalVM 21.0.0"
To be released [Jan 19, 2021](https://www.graalvm.org/release-notes/version-roadmap/).

[2021-01-05 09:30] sdeleuze commented on #433
See related #410 issue.

[2021-01-05 09:57] sdeleuze commented on #431
Hum, indeed, it seems we have a regression here. I will dig into that bring back a sample to make sure this is tested.

[2021-01-05 10:17] sdeleuze commented on #431
@grekier In fact we just missed `application.yaml` resource configuration, only `application.yml` was configured. Could you confirm you are using `application.yaml` in your sample?

[2021-01-05 10:20] #431 closed

[2021-01-05 10:28] AndersClausen commented on #398
@sdeleuze just out of curiosity, do we know whether https://github.com/oracle/graal/issues/2991 is being worked on? I see it's a blocker for one of your other issues as well and wasn't quite sure what visibility you have on the Oracle issues. Thank you

[2021-01-05 10:42] sdeleuze commented on #429
I can reproduce it by adding `logging.file.name=log/crawler.log` in `application.properties` on a Spring Boot application with `spring-boot-starter-logging` (included by default).

[2021-01-05 11:04] #429 closed

[2021-01-05 11:08] sdeleuze commented on #423
@aclement Could you please have a look to this one when you have some time?

[2021-01-05 11:09] sdeleuze commented on #422
I close it for now, we will reopen if needed.

[2021-01-05 11:15] sdeleuze commented on #411
Please raise this issue on Paketo buildpack side, maybe as a comment on https://github.com/paketo-buildpacks/java/issues/86.

[2021-01-05 11:15] #411 closed

[2021-01-05 12:17] halimpuckjava opened #434 "Apache LogFactory initialize at build-time issue"
hi

spring boot 2.4.1 (kofu 0.4.3) + graalvm 20.3.0.r11-grl

[code]

[2021-01-05 13:17] MarioMO98 opened #435 "UnsupportedFeatureException: No instances of sun.nio.ch.Iocp are allowed"
Greetings,

we are getting problems compiling one of your samples in Windows 10 (https://github.com/spring-projects-experimental/spring-graalvm-native/tree/master/spring-graalvm-native-samples/cloud-function-netty).

We have followed the instructions detailed in the official documentation for GraalVM on Windows and we are using GraalVM v 20.3 for Java 8, and Spring GraalVM Native 0.9.0.

In first

[2021-01-05 14:17] sdeleuze commented on #434
Hi, please provide a repro.

[2021-01-05 14:25] sdeleuze commented on #435
Since it seems plaform specific, I would suggest to raise this issue on https://github.com/oracle/graal/issues side with a simple repro invoking `AsynchronousFileChannel.open(file.toPath(), StandardOpenOption.READ)`.

[2021-01-05 15:01] grekier commented on #431
Hi @sdeleuze

Thanks for the quick answer. And yes, I was using yaml extension on my files.

[2021-01-05 15:56] sdeleuze commented on #433
Let's use `-H:+InlineBeforeAnalysis` by default based on #410 findings in order to allow Spring and Tomcat to use utility methods for native image detection.

[2021-01-05 15:57] sdeleuze commented on #410
As expected oracle/graal#2594 is fixed (see [this comment](https://github.com/oracle/graal/issues/2594#issuecomment-754701898)) and oracle/graal#2500 not yet (see [this comment](https://github.com/oracle/graal/issues/2500#issuecomment-754722660)).

[2021-01-05 15:57] #410 closed

[2021-01-05 16:02] sdeleuze commented on #433
See related https://github.com/spring-projects/spring-framework/issues/25795 issue. I will test that all our sample works with `-H:+InlineBeforeAnalysis` enabled by default before implementing it.

[2021-01-05 16:17] khaeghar commented on #425
I changed to 0.8.5-SNAPSHOT and this happened:
[code]

It's the exact same app, the same command, 2.4.1 version of Spring boot. The only thing changed is the Spring GraalVM Native library version, from 0.8.3 to 0.8.5.

Should I try with the 0.9.0 with 2.4.1 of Spring Boot too?

[2021-01-05 17:13] sdeleuze commented on #427
Looking forward for somebody knowledgeable on spring-aspects to experiment on that one.

[2021-01-05 17:27] sdeleuze commented on #422
I currently see this error in `configclient-new` sample which is using `@SpringBootApplication`. Any thoughts on that one @aclement?

[2021-01-05 19:35] aclement commented on #425
I've never seen that error before. First I would say try with 0.8.5 release, not snapshot. Then I'd say I probably need a pointer to the repository? (or test sample). It is possible that the application is using something that just isn't supported yet, but hard to tell.  Or you could go back to the 0.8.3 and refactor your app so it doesn't trigger the verification problem since it looks like it is

[2021-01-06 08:06] sdeleuze opened #436 "Rename the project to spring-native"

[2021-01-06 08:10] #436 closed

[2021-01-06 10:05] sdeleuze opened #437 "Upgrade to Spring Cloud 2020.0.0"

[2021-01-06 10:06] #437 closed

[2021-01-06 12:05] mlakshminara opened #438 "Add support and sample for spring-boot-starter-activemq"
I took the Spring Pet Clinic JPA sample application and added enhancement to publish/subscribe JMS messages to ActiveMQ. I have used _native-image-maven-plugin_ to build the native image. Image construction works properly and when I start the application, application crashes and gives the below error.

In fact I tried analysing using agent but it crashed too. I wanted to know do we have support fo

[2021-01-06 12:19] mlakshminara commented on #438
The above error occurs when you include _spring-boot-starter-activemq_ dependency in your POM, even without creating JMS listener.

[2021-01-06 17:10] grekier opened #439 "r2dbc-mariadb issues"
Hi.

Not sure if it is the right place to add this but it shows up only on native image build so...

There is an issue I have been facing when trying to build an image with r2dbc-mariadb: It didn't build at all.

When digging a bit, it seems to be related to XML classes that shouldn't have been created at build time. This seems to come from logback.
Updating to r2dbc-mariadb version 1.0.0 (and not

[2021-01-06 21:12] jimbethancourt commented on #434
@halimpuckjava you'll need to add a reflect-config.json file and specify all of the classes in commons-logging where java.lang.Class methods are used that are called.

You'll also need to specify the following as build arguments passed to the native image builder:
- Specify the path to reflect-config.json file as an argument to -H:ReflectionConfugrationFiles
- Specify --initialize-at-build-time=or

[2021-01-07 00:31] aclement commented on #438
There are no jms samples so no guarantees it will work without extra configuration. so attempting to collect any missing config with the agent is the right idea. I am most surprised to see the agent crash it. I would recommend trying with the Java 11 20.3 GraalVM rather than Java8.  I will need to try a simpler sample, maybe https://spring.io/guides/gs/messaging-jms/ is a good starting point. Hope

[2021-01-07 15:53] sdeleuze commented on #422
`spring.factories` processing is skipped due to agent mode enabled automatically due to `org.springframework.boot.autoconfigure.SpringBootApplication` present in reflection config, hence this error.

[2021-01-07 15:53] #422 closed

[2021-01-07 16:01] khaeghar commented on #425
Hi,

For the second error I found what was happening. I had in my BOOT-INF folder two spring-graalvm-native versions. When erased the one that was not needed, it finally started the compilation again.

I changed the version to the 0.8.5 one, and the first error reported about the verification still occurs. I refactored my code so it won't throws this error, the library that's throwing this is one

[2021-01-08 09:23] sdeleuze commented on #399
@ekcasey Our buildpack support is broken since the `spring-graalvm-native` to `spring-native` rename, likely because the new dependency is not recognized and the `spring-graalvm-native-0.8.3-RC1` one is included by default. Could you please fix in priority https://github.com/paketo-buildpacks/spring-boot-native-image/issues/41 that I have just created in order to allow us to use builback support a

[2021-01-08 13:44] sdeleuze commented on #312
`@Bean` method are supported, but beware we don't have explicit support for SOAP webservices yet.

[2021-01-08 13:44] #312 closed

[2021-01-08 13:48] #223 closed

[2021-01-08 13:53] sdeleuze commented on #135
There is a need for working properly on Sleuth support since the outdated supported has recently been removed.

[2021-01-08 14:06] marcingrzejszczak commented on #135
What do you mean exactly?

[2021-01-08 15:51] sdeleuze commented on #135
A partial Sleuth support was added and tested in the `wavefront` sample, but we decided to use only metrics one because such support increased too much the footprint and was not properly designed and tested (I have no Sleuth knowledge myself).

During latest upgrade to Spring Cloud 2020.0.0, I figured out that a lot of configuration classes has been refactored and that was not tested, so I preferr

[2021-01-08 15:57] sdeleuze commented on #398
I have reached GraalVM team to ask it to be fixed asap.

[2021-01-08 16:12] sdeleuze commented on #373
I have not tested but it should be fine, if not please raise an issue with a repro. Any feedback on the scheduling support?

[2021-01-10 12:53] mlakshminara commented on #438
Hi,
I was able to start the agent with Java 11 & GraalVM v20.3  without error and see attached reflect-config.txt file for the list of java classes to add in reflect-config.json
[reflect-config.txt](https://github.com/spring-projects-experimental/spring-native/files/5792575/reflect-config.txt)

During application load, I also found that @Autowired and @Value annotations doesn't work in @Configurat

[2021-01-10 13:42] mlakshminara commented on #438
I was able to get the publishing working, solved the above error by adding the POJO class which one will pass as an argument to _jmsTemplate.convertAndSend_ method in _reflect-config.json_

Micronaut has @Introspected annotation. Do Spring is planning to introduce to generate introspection classes at compile time

[2021-01-10 14:48] masatotoro opened #440 "Fail to launch cloud-function-aws sample behind Amazon API Gateway"
I would like to launch cloud-function-aws sample behind Amazon API Gateway. But when I make an API call, I get the following error:

[code]

Please give me some advice on how to solve this problem. Should I use Jackson's ObjectMapper to set the Json of the String as the return value of the Function?

[2021-01-10 14:53] masatotoro commented on #440
I would like to suggest changing "function-aws" to "cloud-function-aws". It couldn't work without this change.

https://github.com/spring-projects-experimental/spring-native/blob/778fa914a36fe78cc861ff115018da196261745e/spring-native-samples/cloud-function-aws/src/shell/native/bootstrap#L5
https://github.com/spring-projects-experimental/spring-native/blob/778fa914a36fe78cc861ff115018da196261745e/s

[2021-01-10 17:03] mlakshminara commented on #438
The reflect-config configuration also works for consumers. sample DMLC configuration and Listener is as given below:

[code]
Sample JMS Listener: Need to add the Java Class in reflect-config.json

[code]

[2021-01-11 08:21] marcingrzejszczak commented on #135
cc @jonatan-ivanov

[2021-01-11 14:19] grekier opened #441 "@RequestHeader not working"
Hi.

I have a couple of projects where I use @RequestHeader to fetch a method parameter. Those do not work as far as I can tell (always comes with null value). Neither in webmvc nor webflux.

Workaround is to fetch them through `HttpServletRequest.getHeader` or `ServerWebExchange.getRequest().getHeaders()` but it would be nice to get this working.

Is there something I'm missing or is it a bug?

[2021-01-11 14:33] grekier commented on #441
I see that it is not mentioned in https://github.com/spring-projects-experimental/spring-native/blob/master/spring-native-configuration/src/main/java/org/springframework/web/bind/annotation/WebAnnotationHints.java nor https://github.com/spring-projects-experimental/spring-native/blob/master/spring-native-configuration/src/main/resources/proxies.json

I'd like to help with this but do not know how

[2021-01-11 15:28] grekier commented on #439
I've had some authentication issues as well using the driver with native build that I haven't been able to figure out. However, switching to
[code]
works fine

[2021-01-12 10:11] #441 closed

[2021-01-12 13:57] sdeleuze commented on #259
@aclement Should we close this issue and focus on #340?

[2021-01-12 14:29] sdeleuze commented on #406
Not possible given how it is designed, too much reflection.

[2021-01-12 14:29] #406 closed

[2021-01-12 15:27] #424 closed

[2021-01-12 16:16] sdeleuze commented on #347
My proposal is to remove the functional mode, rename `reflection` to`default`, integrate and improve what Spring Init brings in 0.9.1, specify hints with the right trigger in order to make sure there are not activated in Spring Fu apps while they should not, and let Spring Fu provide its own substitutions if needed.

[2021-01-12 17:26] #418 closed

[2021-01-13 08:47] khaeghar commented on #425
Nvm

It finally worked after updating the 0.8.5 version of GraalVM. My bad.

Sorry for the inconvenience and thanks for the help!

[2021-01-13 08:47] #425 closed

[2021-01-13 12:16] khaeghar opened #443 "Is Infinispan supported with Spring GraalVM?"
I was just wondering if Infinispan is meant to be supported by Spring GraalVM, as it is supported in Quarkus (https://infinispan.org/blog/tags/graalvm/)

[2021-01-13 16:39] sdeleuze commented on #443
Not yet, but worth [to ask them](https://issues.jboss.org/browse/ISPN) when 0.9.0 will be released since they maintain Spring Boot integration.

[2021-01-13 16:39] #443 closed

[2021-01-13 16:40] sdeleuze commented on #425
Np thanks for the update.

[2021-01-13 18:55] aclement commented on #259
Yes, I don't plan to do more here at the moment.

[2021-01-13 18:55] #259 closed

[2021-01-14 10:02] flaviu-muresan commented on #387
Hi @sdeleuze , looking at your comment above, is the @Validated problem fixed or is it still outstanding? I am currently using 0.9.0-SNAPSHOT version and I have the similar issue as mentioned above, so was wondering if it's only fixed in 0.8.5?

```Proxy class defined by interfaces [interface org.springframework.aop.SpringProxy, interface org.springframework.aop.framework.Advised, interface org.sp

[2021-01-14 11:29] khaeghar commented on #443
https://issues.redhat.com/browse/ISPN-12621

I'll add here the thread open in the redhat Jira.

Thanks for the info!

[2021-01-14 14:54] jimbethancourt commented on #382
I'm running into a similar problem with a Java application and nested yaml properties.  I can work around it to some extent, but it's not always the easiest to figure out how.

[2021-01-14 16:19] sdeleuze commented on #258
Does not make sense anymore due to #347, this issue is superseded by #386.

[2021-01-14 16:19] #258 closed

[2021-01-14 16:52] #216 closed

[2021-01-14 16:52] #347 closed

[2021-01-14 19:07] ivangfr opened #445 "Runtime exception when setting @EnableMongoAuditing"
Hi!

I have this [project](https://github.com/ivangfr/springboot-jsoup-html-parser) where I've configured the dependency `spring-graalvm-native` in order to build the docker native image of the apps.

The project has 2 applications, `game-score-api` and `game-score-collector`. I will here refer to the latter one.

When I set the annotation `@EnableMongoAuditing` (defined in [GameScoreCollectorAppl

[2021-01-15 10:52] AndersClausen commented on #374
Hi @sdeleuze @aclement I've got a bit of a different setup to @halimpuckjava however I've got a similar problem that a public/private key-pair in the src/main/resources folder aren't loaded at runtime.

I use spring boot 2.4.1, spring-graalvm-native 0.9.0-SNAPSHOT and create my native image by running `mvn spring-boot:build-image` (spring-boot-maven-plugin).

This is how we're currently loading th

[2021-01-15 11:25] dsyer commented on #374
This issue is unresolved so you would have to configure the resource access yourself (in `META-INF/native-image/resource-config.json`). There are some examples in the samples in this project.

[2021-01-15 11:27] AndersClausen commented on #374
Thanks @dsyer, your reply is much appreciated!

[2021-01-15 15:10] sdeleuze commented on #432
Native image creation with Boot 2.4.2 has been broken due to https://github.com/spring-projects/spring-boot/issues/24192, we need a buildpack update that only prepends `BOOT-INF/lib` if the entry doesn't already start with that, as pointed out by @wilkinsona.

[2021-01-15 15:23] AndersClausen opened #446 "Runtime error when upgrading to Spring Boot 2.4.2"
Hi

I'm running spring-graalvm-native 0.9.0-SNAPSHOT, Spring Boot 2.4.2 and java 11.0.9 AdoptOpenJDK.
mvn spring-boot:build-image completes successfully and when I run the docker image I get the error below.

```/workspace/com.shipment.security.AuthApplication: error while loading shared libraries: libz.so.1: cannot open shared object file: No such file or directory```

I'm not sure if this is a s

[2021-01-15 21:57] sdeleuze commented on #446
Yeah sorry for that breakage, we are aware of that and are working on a fix that will be available shortly on buildpack side, see https://github.com/spring-projects-experimental/spring-native/issues/432#issuecomment-760997377 related comment. I will close this issue when it will be fixed.

[2021-01-16 13:32] AndersClausen commented on #446
Please don't be sorry, I'm just happy that it's a known problem :-) Thanks for taking the time to confirm it though 👍🏻

[2021-01-18 14:03] sdeleuze commented on #387
On classes, this is not supported yet and will require #356.

[2021-01-20 14:27] #433 closed

[2021-01-21 08:49] #233 closed

[2021-01-21 08:51] sdeleuze commented on #233
I have been able to do various tests on Windows and adapt the documentation accordingly. Notice that performances with buildpack + Docker are great on Windows thanks for [Docker WSL2 backend](https://docs.docker.com/docker-for-windows/wsl/), so only Mac provide suboptimal container-based build performances.

[2021-01-21 09:09] sdeleuze commented on #440
@masatotoro I did the name changes, could  you please try again? (you may have to use Spring Boot 2.4.1 due to #446).

[2021-01-21 10:37] sdeleuze opened #448 "Bring back Logback XML substitution"
It has been disabled during the various refactorings.

[2021-01-21 10:49] #448 closed

[2021-01-21 15:20] sdeleuze commented on #363
I did a detailed diff between Java 8 and Java 11 on `webmvc-tomcat` and most differences seems just due to a richer API, inclusion of `jdk.internal.org.objectweb.asm.*`. The difference is likely amplified by our usage of reflection on configuration file, so #386 could reduce the pain.

`org.jcp.xml.dsig.internal.dom.ApacheTransform` seems also to trigger the loading of a bunch of XML classes, poin

[2021-01-21 18:01] sdeleuze commented on #399
Summary of our latest discussion with @ekcasey. Short term, the native image buildpack will be upgraded to GraalVM `21.0.0` and will fix the Spring Boot 2.4.2 classpath index issue reported in #446.

Currently https://paketo.io/docs/buildpacks/language-family-buildpacks/java-native-image/ supports only Spring apps (via `spring-graalvm-native` or `spring-native` dependency detection). It would make

[2021-01-21 18:53] aclement commented on #363
Yes, in looking at diffs, ApacheTransform and ApacheCanonicalizer stick out as things in 11 builds that aren't in 8. commandlinerunner shows over 1000 extra 'things' in an 11 built image. It is almost as if there is some XML file somewhere in 11 that isn't in 8 that pulls in the infrastructure to load it.

[2021-01-25 09:44] khaeghar opened #449 "The dependencies of some of the beans in the application context form a cycle"
Hi,

the problem I have is the following:

I do an injection of a bean in a service impl class:

[code]
Then I have two dependencies with two definitions of that bean:

Dependency 1:  dependency1.config.AutoConfig

[code]

Dependency 2:  dependency2.config.AutoConfiguration

[code]

The class runs perfectly in a JVM environment, but when I run the native compiled version of the service, the follow

[2021-01-25 15:40] khaeghar opened #450 "Proxy class defined by interfaces not found."
Hi,

I have a problem with a native compiled image I've created with Spring Graal Native.

I have a controller, in which I autowire an interface, which has an implementation for it.

CacheServiceController autowires a CacheService interface, and CacheServiceImpl is the implementation of it.

When I run the binary file, the following problem arise:

[code]

I've tried to create the correspondant en

[2021-01-25 16:03] iompo opened #451 "Docker native image fails at runtime with missing ProxyCachingConfiguration class"
Hi all,
I was able to build a native image for docker with spring native. However, when I try to start a container from it, I get the error:

[code]
I'm using spring boot 2.4.1, spring-graalvm-native 0.8.5, and java 11.

The application runs fine If I try to execute directly the generated jar file.
I also tried to check what's in it (the generated jar), the missing class is defined inside the depe

[2021-01-25 19:20] sdeleuze commented on #446
This is now fixed.

[2021-01-25 19:20] #446 closed

[2021-01-26 10:29] mmoayyed commented on #434
Just as an additional data point, this seems to also pop up with `spring-graalvm-native-plugin:1.4.2` which should be based on `0.8.5` of this extension here on top of `GraalVM 21.0.0`:

Repository:
https://github.com/apereo/cas-overlay-template/tree/graal

Test with:

[code]

Full stacktrace:

[code]

I will look into the manual configuration option and ` reflect-config.json`, as suggested above

[2021-01-26 10:56] mmoayyed commented on #434
Quick update: using `spring-graalvm-native-plugin:1.4.2`, the following configuration produces a successful build with Gradle 6.8.1 (key setting being `initializeAtBuildTime`).

[code]

[2021-01-26 12:18] pubxun opened #452 "Examples Project (webmvc-tomcat) compile.sh works well on linux， wondering how to compile single exe on windows"
I tried to simply use

[code]

It fall back to a need JDK exe ， I Wondering how to compile  “examples Project webmvc-tomcat” to a  single exe on windows

Thank you

[2021-01-26 16:12] aclement commented on #374
A first pass of this is now implemented *for the build time infrastructure mode*, not for the feature mode.

[2021-01-26 17:15] eleftherias commented on #247
Closing this issue, since initial Spring Security support is available.

This issue encompasses:

- Form login
- HTTP basic authentication
- OAuth 2.0
- RSocket Security
- Kotlin Security DSL for WebMvc applications

For any additional features new issues should be created.

[2021-01-26 17:20] bclozel commented on #345
Fixed with 5f94fd4674d15a151

[2021-01-26 17:20] #345 closed

[2021-01-26 17:20] sdeleuze commented on #452
This will be documented in the next version, you can check https://github.com/spring-projects-experimental/spring-native/commit/87fa2811d2228f4b05f745ddcf95391b6c94894f for now.

[2021-01-26 17:20] #452 closed

[2021-01-26 17:21] bclozel commented on #346
The first version of the build time infrastructure was introduced in 5f94fd4674. We're refining this arrangement with other issues.

[2021-01-26 17:21] #346 closed

[2021-01-26 17:22] bclozel opened #453 "Add Gradle plugin for build time infrastructure"
The build time transformation infrastructure is currently being called by a Maven plugin. We need a Gradle equivalent for that.

[2021-01-26 17:23] #247 closed

[2021-01-26 17:28] bclozel opened #454 "Introduce new variant of TypeSystem"
We're currently relying on a `org.springframework.nativex.type.TypeSystem` that is coupled with `asm-tree` and the ASM bytecode representations.

This issue is about introducing a variant of that in the `org.springframework.core.type.classreading` that could be possibly integrated in Spring Framework. We should only use Java object representations there and adopt as much as possible the API/mechan

[2021-01-26 18:09] bclozel opened #455 "Configure build time transformation infra for test sources"
The build time infrastructure needs to be involved for test sources/resources. Not doing so leads to compile/runtime issues with tests in JVM and native modes.

[2021-01-26 18:46] aclement opened #456 "build time infrastructure problem with running tests"
The `vanilla-thymeleaf` sample has the necessary profile in the pom to create a native-image using build time infrastructure. However it currently fails running the tests (before the image is constructed):

```mvn -Pbti-native clean package```

[code]

If you skip tests, it will build the image ok:

```mvn -DskipTests -Pbti-native clean package```

[2021-01-26 18:54] aclement opened #457 "build time infrastructure problem compiling StaticSpringFactories for some samples"
The `data-jdbc` sample is setup with the `bti-native` profile. If you try to compile it:

```mvn -Pbti-native clean package```

it will fail with a:

[code]

Think it might be a dot vs dollar issue. The `data-jpa` sample has a somewhat similar problem:
[code]

[2021-01-26 21:50] sdeleuze commented on #434
@mmoayyed Curious about this Gradle plugin, do you have more information about it?

[2021-01-27 06:06] mmoayyed commented on #434
Sure. Here it is:
https://github.com/ayltai/spring-graalvm-native-plugin

I did just push a PR so it can support the latest version of the spring-native here, and with the above configuration, I am able to produce a successful build via the aforementioned repo. Nonetheless, still seeing inexplicable crashes at startup. Would it be OK if I shared results here, separate issue, stackoverflow, etc?

[2021-01-27 16:12] aclement commented on #344
This is in good shape. I refactored the feature to separate the 'analysis' that computes the configuration from its GraalVM interactions. The GraalVM feature is loosely coupled to the analysis engine and the analysis engine has a collector framework on the backend. There is a default collector that just accumulates computed configuration in java collections, but optionally you can plug in a GraalV

[2021-01-27 16:12] #344 closed

[2021-01-28 08:59] #454 closed

[2021-01-28 09:09] AndersClausen commented on #398
Hi @sdeleuze
I saw your reply over in https://github.com/oracle/graal/issues/2991 - please let me know if you want me to test something.
Cheers

[2021-01-28 09:25] sdeleuze commented on #363
After a detailed analysis with the GraalVM team, it seems the related work need to happen on GraalVM side, see https://github.com/oracle/graal/issues/3162 and https://github.com/oracle/graal/issues/3163 related issues.

[2021-01-28 09:25] #363 closed

[2021-01-28 09:40] sdeleuze commented on #399
I close this issue since the remaining tasks need to happen on https://github.com/paketo-buildpacks/spring-boot-native-image side.

[2021-01-28 09:40] #399 closed

[2021-01-28 09:53] sdeleuze commented on #434
@mmoayyed Please create a dedicated issue.

[2021-01-28 10:09] sdeleuze commented on #434
@mmoayyed Could you also please share here the output of running the app with `--trace-class-initialization=org.apache.commons.logging.LogFactory` ? I tried with your repro + the Gradle plugin removing `initializeAtBuildTime = ["org.apache.commons.logging.LogFactory"]` but I get `Trace class initialization requested for org.apache.commons.logging.LogFactory but the class has not been instrumented

[2021-01-28 10:13] sdeleuze commented on #450
Shouldn't the proxy entry be ["org.springframework.aop.SpringProxy", "org.springframework.aop.framework.Advised", "org.springframework.core.DecoratingProxy"]?

[2021-01-28 10:14] sdeleuze commented on #451
It sounds like the hints need to be refined for caching, could you please provide a repro project?

[2021-01-28 10:18] khaeghar commented on #450
I added both the entries, the one that you mentioned without the interface for the implementation, then the one that I marked when I added the interface (rel. https://github.com/spring-projects-experimental/spring-native/issues/313). Both cases didn't work.

[2021-01-28 10:19] sdeleuze commented on #449
I don't think GraalVM native images should change something at that level, but a difference is that bean dependencies are supported only with parameter injection, see [this link](https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.5/spring-graalvm-native-docs-0.8.5.zip!/reference/index.html#_limitations) for more details.

We also have a mechanism that

[2021-01-28 10:23] sdeleuze commented on #445
Indeed, the related `MongoAuditingRegistrar` probably needs some hints. Feel free to provide a PR if you need it to fix asap, otheriwse we will take care when possible. cc @mp911de @christophstrobl.

[2021-01-28 10:26] mp911de commented on #445
`org.springframework.beans.factory.config.ObjectFactoryCreatingFactoryBean` gets created via reflection. Shouldn't that type get included with the general Spring Framework type hints?

[2021-01-28 10:39] sdeleuze commented on #394
Should be fixed by #355.

[2021-01-28 10:39] #394 closed

[2021-01-28 10:41] sdeleuze commented on #382
@jimbethancourt Could you please provide some details on the workaround you are using?

[2021-01-28 10:50] sdeleuze commented on #440
Since no feedback I assume it is fixed, please comment if that's not the case.

[2021-01-28 10:50] #440 closed

[2021-01-28 12:35] sdeleuze commented on #419
After discussing with Kotlin team, it should be possible to solve that on Kotlin side, see [KT-44594](https://youtrack.jetbrains.com/issue/) related issue.

[2021-01-28 14:10] sdeleuze commented on #386
See related https://github.com/spring-projects/spring-framework/issues/18353#issuecomment-769078694 comment.

[2021-01-28 14:33] jimbethancourt commented on #382
Hi @sdeleuze,
You bet - I'll put something together tonight.

Thanks,
Jim

[2021-01-28 14:42] mmoayyed commented on #434
@sdeleuze I modified the Gradle build as such:

[code]

Here is the full output of the build:

[code]

Does this help?

## Context

I should also note that using `initializeAtBuildTime = ["org.apache.commons.logging.LogFactory"]` allows this app to build, but I cannot run the native image. Seems like it immediately crashes on startup, after displaying a Spring Boot banner (which should not actuall

[2021-01-28 15:13] sdeleuze commented on #412
This issue is really interesting and is not specific to Kotlin as demonstrated [in this modified `webclient` sample](https://github.com/sdeleuze/spring-native/commit/webclient-pojo). What happens is that Jackson is using reflection to instantiate the Pojo, and we are in a use case where the related Pojo is not returned in a Spring controller endpoint or similar use case that could give us a chance

[2021-01-28 15:42] #434 closed

[2021-01-28 15:44] sdeleuze commented on #434
Yes it helps, `LogFactory` was indeed missing from the classes intialized at build time, and we need it since class like `ConfigurationWarningsApplicationContextInitializer`, `LoggingFailureAnalysisReporter` or `LiquibaseServiceLocatorApplicationListener` are intialized at build time themselves.

[2021-01-28 15:45] mmoayyed commented on #434
Wonderful, thanks for the fix. I might follow-up with an issue later once 0.9 is released. Look forward to the release :)

[2021-01-28 16:25] bclozel commented on #457
9f92af1de36aa02826148104e1f0ba7e815ebc58 fixed some of this problem instances. We can close this issue if it's fixed completely.

[2021-01-28 17:46] khaeghar commented on #450
UPDATE:

I have this in my Application.java

[code]

And when I put the proxy entry you mentioned, even tho it fails, the message is different:

[code]

[2021-01-28 20:26] aclement commented on #423
Sorting out the exact configuration to make it work is a long job.  But I have confirmed it works fine if you use the agent to collect the full configuration and build with that.

[2021-01-29 00:49] aclement commented on #412
Hints are actually already discoverable in two ways. They either are declared 'over there' separate to configuration on something implementing NativeImageConfiguration and have a trigger (and a service loader entry), or they can be specified directly on configuration and that configuration automatically acts as the trigger - we just never use it like that ourselves. If they are directly declared o

[2021-01-29 00:56] aclement commented on #457
It gets further but now fails (for me at least):
[code]

I will investigate.

[2021-01-29 02:37] jimbethancourt commented on #382
Hi @sdeleuze
I didn't have an opportunity to put something together tonight - I'll try to put something together very soon.

Short and sweet version is that I need to
1) Specify the top level prefix in the @ConfigurationProperties(prefix = "my.properties") for a parent class
2) Specify nested prefixes in the @ConfigurationProperties(prefix = "my.properties.that-are-nested") for a child class
3) De

[2021-01-29 14:41] mmoayyed opened #458 "Immediate crash after running native image for WAR [overlay]"
I am using [this plugin](https://github.com/ayltai/spring-graalvm-native-plugin) to build a GraalVM native image. The configuration of the build is as follows:

- GraalVM Enterprise 21
- Repository: https://github.com/apereo/cas-overlay-template/tree/graal
- Gradle 6.8.1
- spring-graalvm-native-plugin 1.4.2 which pulls in 0.8.5

The build.gradle file contains the following blob:

[code]

To build

[2021-01-29 23:21] mminella opened #459 "Unable to generate proxy for class that implements multiple interfaces."
In Spring Batch, there are two custom scopes `StepScope` and `JobScope`. In each of these scenarios, the bean's definition is proxied so that the underlying bean can be created later during execution. This functionality allows for things like the ability to inject job parameters into Spring Batch components.

However, the proxies being created when using a native image are based on the return type

[2021-01-29 23:21] mminella commented on #203
Depends on https://github.com/spring-projects-experimental/spring-native/issues/459

[2021-02-01 05:54] aclement commented on #457
Ok, definitely seems to be a problem with up front code gen. If i build the sample using:
[code]

Then I run the packaged jar (so not the native image), it fails with:
[code]

This is the same error you get if you try to run the native image that gets built. I've confirmed that using the 'bti' computed native image configuration with the feature mode of spring-native works in building a native ima

[2021-02-01 05:56] aclement commented on #457
(There is an issue with the SpringDataComponentProcessor I want to fix but as here it fails without building a native-image that doesn't seem to be the cause of this issue).

[2021-02-01 09:49] cemnura opened #460 "Spring Data JPA custom return type error"
Hello,

I was working on configuring a existing spring app to work on spring native for testing and comparison.

We ran into a issue when we used [JPQL Constructor Expressions](https://docs.oracle.com/html/E13946_05/ejb3_langref.html#ejb3_langref_constructor) in our `JpaRepository`.

The error is as the following:
[code]

This works when the app is runned with Java but has this error with native i

[2021-02-01 12:41] #226 closed

[2021-02-01 12:41] #301 closed

[2021-02-01 12:50] sdeleuze commented on #412
Ok so I think this issue should:
 - Check user provided hints still work with the new build-time infra
 - Refine related documentation
 - Update the webclient hint to desizerialize a Pojo + usage of such user-provided hints

[2021-02-01 12:57] sdeleuze commented on #325
@garyrussell Could you please provide us a `docker-compose.yml` file suitable for this sample?

[2021-02-01 13:49] bclozel commented on #456
Is this about the `webflux-thymeleaf` sample?

Right now the JVM version works fine, but the native image throws:

[code]

I'm not sure why this is the case since we're generating the same code as in other samples (which are fine):

[code]

[code]

The `ApplicationContextInitializer.class` instances are accessed and instantiated via reflection, should we generate reflection data no matter what?

[2021-02-01 14:12] sdeleuze commented on #451
Closing it due to lack of feedback. Please comment with a link to a repro.

[2021-02-01 14:14] sdeleuze commented on #459
Any thoughts on that one @aclement?

[2021-02-01 15:06] iompo commented on #451
Hi,
[here](https://github.com/iompo/proxy-config-error) a repo that can be used to reproduce the problem. Sorry, but the original code was part of a private project, so it took me a bit to extract only what was needed to reproduce the issue.

Marco.

[2021-02-01 15:42] AndersClausen opened #461 "No Encoder for class with preset Content-Type 'null'"
Hi

I'm using spring boot 2.4.2 with spring graalvm native 0.9.0-SNAPSHOT and it builds the native image just fine, however when I run it and send through a request I get the following error:

[code]

I'm using spring-boot-starter-webflux and only have reactive code.
I don't specify the Content-Type anywhere, so what are my options here? Is this a known problem?
Thanks for your help.

[2021-02-01 16:07] aclement commented on #428
@lemonprogis Did the steps above enable you to get further? Trying to work out if we may need to add config for that `ConfigFile` type.

[2021-02-01 16:36] aclement commented on #458
My first suspicion would be that the jar containing CasWebApplication was not built using:
[code]
The synthesis capability in the feature will not work if the components are in jars rather than in the application being built, as we can see from the output log for the build:

[code]
Anything with spring components in should be built with that dependency.

For a custom banner we need to make sure th

[2021-02-01 16:41] aclement commented on #461
Quickest option to get you going is to run with the agent to collect configuration you are missing:

https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.5/spring-graalvm-native-docs-0.8.5.zip!/reference/index.html#_missing_configuration

Minor addendum I might edit the resource-config.json produced by that agent run to remove spring.factories entries.

[2021-02-01 16:43] lemonprogis commented on #428
@aclement thanks! I tried it but it still seemed to not be found? Not sure if I need to add anything additional that the above.

[2021-02-01 17:33] aclement commented on #459
I wrestled with this one (with Michael) last week. My initial reaction was to make the proxy creation we have in spring a little smarter, but I haven't dug into it.  Right now we have that patch which says "if not native-image do the right thing, otherwise just give them a jdkproxy", I wondered about that native-image clause, making it do a little more analysis (certainly produce more diagnostics

[2021-02-01 18:25] aclement commented on #456
Things seem to have shifted with the recent changes. Digging into it - yes I meant `webflux-thymeleaf`, sorry I was using the original name :)

Feature mode native-image works fine. bti-native doesn't work. But not with the error you show:
[code]
which smells of configuration issue. So that's progress and I can work on fixing this.

For your error, I'm not sure why you got that. If createSpringFac

[2021-02-01 18:38] bclozel commented on #456
I was testing that on a local branch, so I might have broken something then. I'll keep digging into this and other related issues.

[2021-02-01 18:43] aclement commented on #456
I was just trying some other samples, no longer seeing NPE in tests but a new similar kind of thing when I run the apps. I wonder if there is now one common problem - the one I describe in https://github.com/spring-projects-experimental/spring-native/issues/457

[2021-02-01 19:00] bclozel commented on #456
I guess you're right.
With 775644bbbb01e3cd6280083d97aa8d7d11c0331e, I've moved the build-time infrastructure to the pre-package phase (meaning tests aren't running with the generated code for now) - I'm working on calling the infrastructure in the "process-test-classes" specifically for tests. I guess we can close this issue once that last part is done. I'll keep working on #457 as well.

[2021-02-01 19:23] aclement commented on #456
Just a random bit of thinking. I had an idea for running tests with a generated spring factories and yet avoiding including the test infrastructure in the image. You could generate the StaticSpringFactories for the full (app+test classpath) but within it have something aware of the difference (maybe?):
[code]

[2021-02-02 00:03] aclement commented on #456
I've fixed the `webflux-thymeleaf` sample. The remaining problem was that it didn't use the spring-content-indexer so no components are found. Fixing the pom made the sample behave.

[2021-02-02 00:03] #456 closed

[2021-02-02 09:07] #325 closed

[2021-02-02 17:17] sdeleuze commented on #412
After more thought, I think it is better to wait for a better native image configuration mechanism to be provided on GraalVM side, and just document and update the `webclient` sample with JSON native configuration.

[2021-02-02 21:35] AndersClausen commented on #461
Hi @aclement
Thank you very much for your advice - the agent worked like a charm and the error is now gone.
I'm intrigued by your final statement - are you asking me to contribute with a test to this project or are you suggesting I use the access-filter.json as described in the link you provided above?
Cheers.

[2021-02-03 05:56] #460 closed

[2021-02-03 05:57] aclement commented on #460
Missing a few AST nodes that come up when parsing the particular query in this sample. The modified sample you supplied is working for me now.

[2021-02-03 06:14] aclement commented on #461
Using the agent is ok but it is probably leading to a bigger image that you really need as the feature is normally discarding a bunch of things the agent is including in the reflection configuration. If you are happy then all good but at some point it'd be nice to work out which reflection entries are making it work and encode those properly as hints in the feature, and throw away the other few th

[2021-02-03 09:41] sdeleuze commented on #177
Let's move that on to 0.9.1 which will have a focus on tests.

[2021-02-03 09:44] sdeleuze commented on #423
Let's move that one to 0.9.1.

[2021-02-03 10:07] mmoayyed commented on #458
Thank you Andy for the follow-up. If I may,

- It's true that `spring-context-indexer` was not used when the jar containing CasWebApplication was built. I vaguely recall a few issues with indexer not quite allowing Spring to detect JPA entity classes that may be buried in some jar, but that was a long time ago and could have been a total miss on my part. I will give this another shot in the next f

[2021-02-03 14:39] sdeleuze commented on #382
This bug happens because only nested types are registered automatically, not the one returned by the getter.

[2021-02-03 15:31] sdeleuze commented on #382
@aclement I can reproduce it with the following modified `boot-features` sample and have crafted a draft fix for it (it fixed the issue) by adding configuration for return types instead of nested types, see https://github.com/sdeleuze/spring-native/commit/non-nested-configuration-properties. Could you provide me some guidance and/or take it from there?

Notice that with the log I added I see that

[2021-02-03 15:37] bclozel commented on #455
Closed with 19446ef

[2021-02-03 15:37] #455 closed

[2021-02-03 15:56] sdeleuze commented on #412
@aclement I confirm it works as you described, so I am ok to use it for now and document it. I will take this opportunity to document those annotations. Are you ok with the renaming proposed in my previous comment?

[2021-02-03 16:03] aclement commented on #412
Happy to take `Image` out of those names, I prefer the shorter ones anyway.  `trigger` to `target` meh, if you like, to me it is a trigger that activates the hint. But I know you can argue it is a target for where the hint should really live.  Generating service loader entries can follow once the bti is the default.

[2021-02-03 16:24] sdeleuze commented on #459
So we should have something more clever that tries to create a JDK proxy configuration for the various interfaces implemented by the related class?

[2021-02-03 16:49] sdeleuze commented on #412
I am fine to keep `trigger` for now.

[2021-02-03 17:34] #457 closed

[2021-02-03 17:46] mminella commented on #459
The creating a JDK proxy configuration for the various interfaces is what I thought I was attempting to do in my `BatchScopeComponentProcessor` here: https://github.com/mminella/spring-graalvm-native/blob/batch_io/spring-native-configuration/src/main/java/org/springframework/batch/core/configuration/annotation/BatchScopeComponentProcessor.java but to no avail.

[2021-02-03 19:02] aclement commented on #459
Something like that. But it is mixed up with when to fail fast - if the 'original spring' really wanted to create an objenesis proxy then maybe that's when we should fail fast. But how we'd recognize additionally "oh its spring batch, it just wants a proxy for that set of interfaces rather than a further proxy of the class, so let's just the interfaces of this class and return a proxy for those" I

[2021-02-04 03:02] aclement commented on #459
@sdeleuze I got something working vaguely along the lines I was thinking of. What do you think about this?
[code]
Basically it says "if we would have returned an objenesis proxy for a class target then lets at least try to return a more representative JDK proxy by adding the interfaces in the hierarchy of the target class to the proxy configuration".  It may not be fully polished, but it does work

[2021-02-04 08:38] christophstrobl opened #463 "Expose signature type information via ClassDescriptor & MethodDescriptor."
Read and expose type signature information for classes, methods (args, return type) via `ClassDescriptor` and `MethodDescriptor`.

[code]

[2021-02-04 08:44] sdeleuze commented on #459
Yes, I think that's better and useful for Spring Framework 6 preparation cc @jhoeller.

[2021-02-04 08:47] christophstrobl opened #464 "Read and expose fields via ClassDescriptor."
Provide ``FieldDescriptor``s for fields belonging to the class described by `ClassDescriptor`.

The exposed information should cover:
- name
- type
- signature
- annotations
- access level
- access methods (get/set/is/wither)

[2021-02-04 08:48] mmoayyed commented on #458
Following up, I included the the spring-context-indexer and rebuilt the entire application stack. I can see now that `spring.components` files are generated for relevant JARs, which I proceeded to install into my local maven repository as well.

Next, I switched over to the WAR overlay variant (`graal` branch in the forementioned repo) and I modified the WAR overlay to point at the newly-installed

[2021-02-04 10:37] #412 closed

[2021-02-04 14:38] sdeleuze opened #465 "Introduce initial caching support"
We have basic configuration for caching in `CachingHints`, but EhCache is not supported, and enabling caching support in PetClinic JPA with the following configuration:

[code]

Generates this error that seems to indicate the need for a processor:

[code]

We should also document what kind of caching is supported (see the list in `CacheType`) and bring back caching support in the `petclinic-jpa` s

[2021-02-04 14:45] #451 closed

[2021-02-04 14:46] sdeleuze commented on #451
Fixed but will require more work for proper caching support, see #465.

[2021-02-04 14:48] sdeleuze commented on #374
I think that's fine since we are to keep only the build time infrastructure mode for 0.9.0.

[2021-02-04 14:48] #374 closed

[2021-02-04 14:56] sdeleuze commented on #459
@aclement Does this upcoming change means that we should close #221 (Throw an exception if `@Transactional` is not in an interface) without implementing it?

[2021-02-04 14:57] sdeleuze opened #466 "Switch to bti by default and remove the feature module"
@aclement Please ping me when all sample are supported with bti, I can take care of the refactoring that will enable it by default, clarify the dependency required or not (hints, substitution) etc.

[2021-02-04 16:07] aclement commented on #458
aha, some progress, cool! Ok so the problem with import selectors is that they don't typically statically declare what they might select so we can't work out which configurations they might return when called to select an import. For this reason we usually want hints for them. There is a line or two in the troubleshooting docs on this: https://repo.spring.io/milestone/org/springframework/experimen

[2021-02-04 17:36] jimbethancourt commented on #382
@sdeleuze and @aclement do you need the sample I mentioned?  I apologise for not getting it to you yet.

[2021-02-04 20:22] aclement commented on #466
Samples and which are moved to new infrastructure:
- [x] commandlinerunner
- [x] webflux-netty
- [x] webmvc-tomcat
- [x] jdbc-tx
- [x] webflux-thymeleaf
- [x] security
- [ ] batch
- [ ] actuator-webmvc
- [ ] actuator-webflux
- [ ] boot-features
- [ ] hibernate
- [ ] petclinic-jdbc
- [ ] data-jpa
- [ ] data-mongodb
- [ ] validator
- [ ] logger
- [ ] cloud
- [ ] cloud-config
- [ ] cloud-discovery
-

[2021-02-04 23:45] sendev1 commented on #434
Hi @sdeleuze I hope you can help me here.  I am using spring-native:0.9.0-SNAPSHOT and I ran into this issue.

[code]

does it mean that the fix is not available in snapshot yet? or does it mean that the issue that I am facing is different that the OP issue? Thanks in advance.

[2021-02-04 23:57] sendev1 opened #467 "Can't find bundles collected by the tracing agent"
I am using spring boot:2.4.0 and spring_native: "0.9.0-SNAPSHOT". When I try to build native image the image build was success but I was facing this error while running image

`java.lang.IllegalArgumentException: Could not find class [springfox.documentation.spi.schema.ModelPropertyBuilderPlugin]`

swagger is user in the project for api documentation and for some reason spring-native did not captu

[2021-02-05 15:28] sendev1 opened #468 "Apache LogFactory initialize at build-time issue"
Hi @sdeleuze.I hope you can help me here.  I see that similar issue has been discussed here
https://github.com/spring-projects-experimental/spring-native/issues/434. But I am not sure if mine is same or different hence I created new issue.

 I am using spring-native:0.9.0-SNAPSHOT and I ran into this issue.

[code]

does it mean that the fix for #434  is not available in snapshot yet? or does it m

[2021-02-05 16:19] sdeleuze commented on #468
[It should](https://github.com/spring-projects-experimental/spring-native/blob/58367867479ad734b22db26b02546e8e15b4e39f/spring-native-configuration/src/main/java/LoggingInitHints.java#L22), please provide a repro to allow us to check why it does not work.

[2021-02-05 20:52] sendev1 commented on #468
I found that one of the transitive gradle dependency is pulling the apache commons.logging 1.2 in my actual project. I created simple spring boot project and added commons.logging into dependency and added log statement into spring boot main method and native image works fine. I am not able to reproduce this issue in sample spring boot app.

Steps I did to reproduce this issue

1. Created new spri

[2021-02-07 20:15] Crazyjavahacking opened #469 "Add Spring integration support"
I was wondering is Spring integration is supported or what is the current status of it?

[2021-02-08 07:05] sdeleuze commented on #469
No, it is not listed on https://github.com/spring-projects-experimental/spring-native/blob/master/spring-native-docs/src/main/asciidoc/support.adoc so it is not supported for now.

[2021-02-08 07:23] sdeleuze commented on #468
I followed those steps using buildpack instead of `compile.sh`, and it works as expected so maybe something is wrong in the script you copied.

[2021-02-08 07:23] #468 closed

[2021-02-08 17:36] #372 closed

[2021-02-08 17:47] sdeleuze commented on #368
@dsyer Could you please remind me how to reproduce the issue? Since we now have the build-time infrastructure we should be able to give it another try.

[2021-02-08 18:15] aclement commented on #340
Let me have a look - it isn't trivial because it isn't simply ConditionalOnProperty - actuators is all special condition classes. I could submit a PR for a review.

[2021-02-08 19:38] dsyer commented on #368
Just switch the sample from webflux to web MVC. That should do it.

[2021-02-09 08:44] sdeleuze commented on #382
@jimbethancourt No need for the repro thanks.

[2021-02-09 08:49] sdeleuze commented on #368
It seems this issue is now gone with GraalVM 21.0.0 and our new build-time infrastructure.

[2021-02-09 08:49] #368 closed

[2021-02-09 09:04] sdeleuze commented on #144
@martin-lizner Could you please provide a minimal repro for the issue you mentioned?

[2021-02-09 09:56] sdeleuze opened #471 "Replace NativePropertiesListener by a build-time transformation"

[2021-02-09 09:59] sdeleuze opened #472 "Adapt ActuatorMetricsEliminator and BackgroundPreInitializerDeactivator to build-time transformations"

[2021-02-09 16:57] aclement opened #473 "Verify Eclipse IDE experience with projects using bti infrastructure"

[2021-02-09 23:42] aclement commented on #472
@sdeleuze @bclozel - any thoughts on this:

The behaviour of `BackgroundPreInitializerDeactivator` in the feature is already implemented for bti - but in a rather harsh way perhaps. In the `DefaultFactoriesCodeContributor` that produces code for `StaticSpringFactories` it is filtered out. This effectively means using the BTI it doesn't give you an optimal fat jar JVM experience (because there is n

[2021-02-10 09:24] bclozel opened #474 "Add generated sources to IDE automatically"
We should ensure that both Maven and Gradle plugin do what's necessary to add generated sources to the IDE context.

We should also check how the feedback loop works when developers change sources and if the build-time infrastructure can be triggered automatically.

[2021-02-10 14:46] rakotkar opened #475 "Oauth2 related classes not found in spring boot 2.4.1"
Are below classes removed in spring security by spring boot 2.4.1

import org.springframework.security.oauth2.common.OAuth2AccessToken
import org.springframework.security.oauth2.provider.OAuth2Authentication
import org.springframework.security.oauth2.provider.OAuth2Request
import org.springframework.security.oauth2.provider.token.AuthorizationServerTokenServices
import org.springframework.security

[2021-02-10 21:54] grekier commented on #256
Might I suggest a note that the UID and GID running the application are different after building container as native compared to non native container.
Not relevant in many cases but took me some time to figure that one out when needed.

I also noted that kotlin data classes seems to fail if they are used as DTOs and have not a default set for all var in the constructor also same kind of issue if j

[2021-02-11 15:55] sdeleuze commented on #475
Is your question related to the native support ?

[2021-02-11 16:34] rakotkar commented on #475
I am getting compilation errors in my code as these are missing

[2021-02-11 16:52] rakotkar commented on #475
kindly suggest the replacements of these in latest spring security starters , that I have mentioned in the question

[2021-02-12 01:33] aclement commented on #472
With the shift of all the relevant feature code into the `buildtools` module, it actually becomes relative straightforward to utilize the exact same `ActuatorMetricsEliminator` and `BackgroundPreInitializerDeactivator`. They aren't particularly messy because they don't use the type system so aren't caught between old and new type system variants. So I've turned them on. (This works, but doesn't ad

[2021-02-12 01:33] aclement commented on #472
Let me know if you are OK with that @sdeleuze

[2021-02-12 01:47] aclement commented on #340
This is now active. The same processing the feature was using is active during build time processing.

So it works exactly like the docs describe already:
[code]

These can be specified in the sample build scripts like this:
[code]

(for commandlinerunner this saves 0.5M RSS)

[2021-02-12 01:47] #340 closed

[2021-02-12 12:31] sdeleuze commented on #472
Yes, thanks for handling this 😊